@require "../../variables"
@require "../../set"
@require "../../content"

/*
 * --=======================--
 *    App panels and layout
 * --=======================--
 */

/*
 * -=- Titlebars -=-
 */

.WindowsTitleBar
    &-container
        @extends $Panel-5
    // Title
    &-logo
        .LogoAndWordmarkV2-container
            fill: var(--NihilityTheme0)
            opacity: 50%
    // Buttons
    &-maximize-button
        .WindowsTitleBar-button-content
            border-color: fg-0
        &:hover .WindowsTitleBar-button-content
            border-color: fg-2
    &-minimize-button
        .WindowsTitleBar-button-content
            background-color: fg-0
        &:hover .WindowsTitleBar-button-content
            background-color: fg-2
    &-button:hover
        @extends $Panel-3
    &-close-button
        &:hover
            @extends $Panel-3
        // Icon
        .WindowsTitleBar-button-content
            @extends $SvgDarker
        &:hover .WindowsTitleBar-button-content
            @extends $SvgBadHighlight
/*
 * -=- Legacy nav bar -=-
 */

// Whole bar
.Navbar-container
    @extends $Panel-5
    --border-color: bg-0
// Guilded logo
.LogoAndWordmarkV2-container-theme-light
    @extends $SvgDark
// Guilded logo active
.LogoAndWordmarkV2-container-theme-gilded
    @extends $SvgThemeBleached
// User card
.NavbarUserControls-container
    --border-color: bg-0

/*
 * --- Buttons ---
 */

// The buttons
.ChatChannelIcon-icon-group, // DM icon
.NavbarNavExploreIcon-link .NavbarNavExploreIcon-icon // Explore stuff icons
    @extends $SvgDark
// Selected icons
.ChatChannelIcon-container-selected .ChatChannelIcon-icon-group
    @extends $SvgMedium

/*
 * -=- Server list -=-
 */

/*
 * --- Add servers ---
 */

.InlineAddItemControl
    // Server list add icon
    &-add-icon
        transition(background-color)
        @extends $SvgMedium
        // The SVG icon
        svg
            transition(fill)
        // Group add icon
        .GroupSelector-add-group &
            border-radius: 50%
            transition(border-radius, bounce)
        .GroupSelector-add-group:hover &
            @extends $RadiusSmall
    // Server list add text
    &-name
        transition(color)
        @extends $TextMedium
// Server list add
.InlineAddItemControl-container
    --inline-add-icon-background-color: bg-3
    // Hover
    &:hover, &-flavor-background-highlight.InlineAddItemControl-container-desktop:hover
        // Server list add icon hover
        .InlineAddItemControl-add-icon
            background-color: bg-5
            fill: fg-3
        // Server list add text hover
        .InlineAddItemControl-name
            @extends $TextLight

/*
 * --- Servers and tabs ---
 */

// Server list hovered server
.NavV4SelectorRow-container::after
    @extends $ContentGlare
    transition(opacity)
// Server list selected server
.NavSelectorItem-container-active .NavSelectorItem-contents::after
    @extends $SetBorderLight-2

// Server list switcher buttons
.NavV4SelectorRow-svg-icon
    @extends $SvgMedium
.NavV4TeamSelectorBottomOptionsList-label
    @extends $TextMedium
// Server list revealer
.NavV4ItemIcon-icon
    @extends $SvgDark
// Server list favourite icon
.FavoriteTeamButton-container
    @extends $SvgDark
    transition(fill)
    // Server list favourite hover
    &:hover
        @extends $SvgLight

/*
 * -=- Search -=-
 */

// Server search
.SearchBarV2-container.SearchBarV2-container-focused,
.TeamSearchBar-search-bar-input
    @extends $Panel-0
// In-server search, emote search
.SearchBarV2-container-unfocused::after,
.SearchBarInput-container-bordered,
.SearchBarV2-container
    border-radius: 10px
    @extends $OverrideContentBordered-darker
// Search focused
.SearchBarV2-container-unfocused::after
    @extends $ContentGlare

// Results
.TeamSearchBar-search-results
    @extends $ContentBordered-2
// Result item
.TeamSearchShallowResult
    &-container::before
        @extends $ContentGlare
    &-container-focused
        @extends $Panel-1
    // Channel icon
    &-icon-content-type
        @extends $SvgDark
    // Content
    &-title
        @extends $TextMedium
    &Subtitle-container
        @extends $TextDark
    // In ...
    &Description-container
        @extends $TextDarker

    // Type icon
    &-icon-search-category
        background-color: bg-1 !important
        // Colour based on type
        .icon-content
            fill: blue
        .icon-team-find
            fill: yellow
        .icon-hashtag-new
            fill: green
        .icon-profile
            fill: cyan
    &-container-focused &-icon-search-category
        background-color: bg-2

// Search result type icon
.AvatarIcon-container
    @extends $SvgMedium

.SearchBarV2-container
    // Search icon
    .SearchBarV2-icon
        @extends $SvgMedium
    // Search placeholder
    .SearchBarV2-input::placeholder
        @extends $TextDark

/*
 * -=- Sidebar -=-
 */

// Favourite server list
.NavV4FooterGlobalContextDisplay-teams-wrapper
    @extends $Panel-4
.NavV4BadgedItem-container
    width: auto
    // Favourite server hover
    &::after
        @extends $ContentGlare


/*
 * --- Groups ---
 */

// Sets group list width
body
    --group-selector-width: icon-size + 16px
// Group list
.NavV4Sidebar-container,
.GroupSelector-container,
// Group list in group editing
.GroupSelectorPreview-minimal-nav
    @extends $Panel-4
    --border-color: bg-0
// Group
.GroupSelectorItem-container
    --avatar-size: icon-size

.NavSelectorItem-container .GroupAvatar-container
    font-size: 1.2em

// Default group icon
//.GroupAvatar-container-non-base
//    font-size: 1.3em

// The border around status and group's emote
.GroupAvatarBadge-container-reaction,
.LoggedInUserAvatar-online-status
    @extends $Panel-4

// Group settings background
.CreateGroupLivePreview-LiveView
    background: bg-0

/*
 * --- User card ---
 */

// User card
.NavV4Footer-container
    @extends $Panel-4

// // User card's content
// .NavV4Footer-right,
// .NavV4Footer-footer-content
//     border-top-right-radius: radius-3

// User card's name
.LoggedInUserAvatar-name
    @extends $TextMedium
    transition(color)
    &:hover
        @extends $TextLight

.LoggedInUserStatus
    // User card's status
    &-content-with-status, &-container
        @extends $TextDark
        transition(color)
        // Hover
        &:hover
            @extends $TextMedium

// User card buttons
.TransientMenuTrigger-container
    @extends $SvgDark
    transition(fill)
    &.TransientMenuTrigger-container-desktop:hover .TransientMenuTrigger-icon
        @extends $SvgMedium

.NavIcon-container-type-vertical-nav
    @extends $SvgDark
    transition(fill)
    &:hover
        @extends $SvgMedium

// More button (1) sign
.CircleBadgeV2-container
    background-color: important

.NavV4Footer-footer-content,
.NavV4Footer-right,
.NavV4Sidebar-container
    @extends $Panel-5

/*
 * --- Header ---
 */

// Tourney header
.TournamentNavHeader-container
    @extends $PanelTransparent
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5)
    z-index: 105
// Server header name
.PageNavAvatarName-name-text
    @extends $TextLight
// Server header group name
.TeamNavGroupHeader-name
    @extends $TextMedium
// Server header hover
.TeamNavHeader-options-carat::after
    background-color: bg-hover
    transition(opacity)
// Server header caret
.TeamNavHeader-options-carat.TeamNavTeamOptionsCarat-icon
    @extends $SvgMedium
// Server header button
.TeamNavHeaderRowButton-container
    @extends $Panel-0
    // Server header button hovered
    &:not(.TeamNavHeaderRowButton-container-disabled)::after
        @extends $ContentGlare
// Server header button icon
.TeamNavHeaderRowButton-icon
    @extends $SvgMedium
// Server header button text
.TeamNavHeaderRowButton-text
    @extends $TextMedium

/*
 * --- Channels ---
 */

//
.TeamNavMenu-container,
// Channel list
.TeamPageNavV3-container,
// Channel list in group editing
.GroupNavPreview-nav-section
    @extends $Panel-4

// Section list header
.TeamNavSectionsList-header
    display: none
// Channel list header
.TeamChannelsList-container .ChannelListHeader-container-type-default
    // Don't display the text
    .ChannelListHeader-text
        display: none
    // Add 3 dots instead
    &::before
        position: relative
        content: '. . .'
        text-align: center
        margin-left: auto
        margin-right: auto
        @extends $TextDark


/*
 * -=- Screen header -=-
 */

// Channel header
.ScreenHeader-container
    @extends $Panel-4
    border-bottom: 0

// Screen header icon
.ScreenHeader-icon,
.TeamNavSectionItem-icon,
.ChannelIcon-icon-primary,
.TeamChannelItemContents-action-icon,
.ScreenHeader-icon-wrapper-size-lg .ScreenHeader-icon
    @extends $SvgDark

// Sets PFP border
.ScreenHeader-icon-wrapper
    --border-color: bg-0

// Screen header
.ScreenHeader
    // Title
    &-name
        @extends $TextMedium
    // Description
    &-description-child
        @extends $TextDark
.ChannelHeaderActionButtons
    // Screen header more button
    &-menu-button, &-more-options-button
        @extends $SvgDark
    // Screen header more button hover
    &-menu-trigger:hover &-menu-button,
    &-menu-trigger:hover &-more-options-button,
    &-options-menu-trigger:hover &-menu-button,
    &-options-menu-trigger:hover &-more-options-button
        @extends $SvgLight
// Screen header more pressed title
.ChannelHeaderMoreOptionsMenu-header
    @extends $TextDark

// Channel card
.TeamChannelItemContents-container-channel-content .TeamChannelItemContents-name,
.TeamChannelItemContents-container:not(.TeamChannelItemContents-container-selected):hover .TeamChannelItemContents-name
    @extends $TextMedium
// Channel
.TeamChannelItemContents-container,
.TeamNavSectionItem-container
    @extends $FullBorderTransparent
    // Channel hovered
    &::after
        background-color: bg-hover
        transition(opacity)
// Channel selected
// Because transparent border overrides it otherwise
.TeamChannelItemContents-container.TeamChannelItemContents-container-selected,
.TeamNavSectionItem-container.TeamNavSectionItem-container-selected
    @extends $ContentMildlyBordered-2
    transition(background-color, border-color)
// Unread channel
.TeamChannelItemContents-container-unread
    .TeamChannelItemContents-name
        color: mix(mark, fg-2, 35%)
    .ChannelIcon-icon-primary,
    .ChannelIcon-icon-background
        fill: shade(mix(mark, fg-2, 35%), 20%)
// Unread hovered channel
.TeamChannelItemContents-container.TeamChannelItemContents-container-unread:hover
    .TeamChannelItemContents-name
        color: mix(mark, fg-2, 15%)
    .ChannelIcon-icon-primary,
    .ChannelIcon-icon-background
        fill: shade(mix(mark, fg-2, 15%), 20%)
// Sub-icon/global icon
.ChannelIcon-icon-selected .ChannelIcon-icon-background,
.ChannelIcon-icon-background
    background-color: bg-0
    fill: fg-1
// Selected channel icons
.ChannelIcon-icon-selected,
.ChannelIcon-icon-selected .ChannelIcon-icon,
.TeamNavSectionItem-container-selected .TeamNavSectionItem-icon
    @extends $FontLight

// Invite others
.ChannelUpsell-container
    @extends $OverridePanelMildlyBordered-4

/*
 * -=- Members and Threads -=-
 */

// Member list
.SidebarWrapper-container,
// Member list in group editing
.CreateGroupUsersListLivePreview-members-section
    @extends $Panel-4

// Member list
//.PageSidebarWrapper
.SidebarWrapper-container
    position: relative
    top: 0
// Also remove padding that was made for member list
.ChannelWrapper-container-with-sidebar .ChannelWrapper-contents
    padding-right: 0
.TournamentPageContent-content,
.TeamPageContent-content
    margin-right: 0
// When it's collapsed, don't take space
@media ( max-width: 1000px )
    .SidebarWrapper-container-collapsed
        width: 0
        padding: 0

.SidebarInfoItem-container
    @extends $RadiusMedium

.SimpleIconTabMenuHeaderItem
    // Member/thread list tab hover
    &-container:hover, &-container:active, &-container:focus
        @extends $Panel-2
    // Member/thread list active tab
    &-container-selected::after
        background-color: fg-1
    // Member/thread list tab icon
    &-icon
        @extends $SvgDark
    // Member/thread list active tab icon
    &-icon
        @extends $SvgMedium

/*
 * --- Member list ---
 */

// Member list section (roles)
.TeamPageSidebarMembers-roles:not(:first-child)
    margin-top: spacing-6

.ChannelListHeader
    // Member list
    &-container-type-default
        // Member list icon
        .ChannelListHeader-display-icon
            @extends $SvgDark
        // Member list role name
        .ChannelListHeader-text
            @extends $TextMedium
    // Member list role amount
    &-amount
        color: fg-1
        padding: 0 spacing-2
        background-color: bg-0
        border-radius: radius-2

// Member list user hover
.SidebarUsersRoleInfo-user::after
    @extends $ContentGlare

.VoiceSidebarMembersDisplay-join-voice
    // Member list join voice icon
    &-icon
        @extends $SvgDark
        // Member list join voice button
        &-wrapper
            @extends $Panel-0
    // Member list join voice hover
    &:hover &-text,
    &:hover &-icon
        @extends $FontMedium

// Member list invite icon
.SidebarInviteButton-icon
    @extends $SvgDark
    transition(fill)
    // Member list invite button
    &-wrapper
        @extends $Panel-0
// Member list invite text
.GuildedText-container-color-gray
    @extends $TextDark
    transition(color)
// Member list invite hover
.SidebarInviteButton-container:hover
    .SidebarInviteButton-text, .SidebarInviteButton-icon
        @extends $FontMedium

/*
 * --- Thread list ---
 */

.ChannelThreadsInfo
    // Thread list "None"
    &-none
        @extends $TextDark
    // Thread list more
    &-more
        @extends $TextDark
        transition(color)
        // Thread list more hover
        &:hover
            @extends $TextMedium
// Thread card
.ChatChannelListItemInfo
    // Hover
    &-container-actionable::after
        @extends $ContentGlare

    // Last activity at
    &-last-at
        @extends $TextDark
        transition(color)
    // Last activity at hover
    &-container-actionable:hover &-last-at
        @extends $TextLight

    // Reply count
    &-reply-row &-num-replies
        @extends $TextDark
    // Last reply
    &-latest-message
        @extends $TextMedium


/*
 * -=- Guides -=-
 */

// Voice channel click guide
.NuxTargetGlowie-container
    &, &::after
        background-image: radial-gradient(circle at 50% 50%, alpha(important,0), alpha(important,0) 39%, important)