@use "../../base"
@use "../../set"
@use "../../borders"

/*
 * --=======================--
 *    App panels and layout
 * --=======================--
 */ 
    
/*
 * -=- Legacy nav bar -=-
 */

// Whole bar
.Navbar-container
    background-color: base.$bg-0
    --border-color: #{base.$bg-0}
// Guilded logo
.LogoAndWordmarkV2-container-theme-light
    fill: base.$fg-1
// Guilded logo active
.LogoAndWordmarkV2-container-theme-gilded
    fill: var(--NihilityTheme2)
// User card
.NavbarUserControls-container
    --border-color: #{base.$bg-0}

/*
 * --- Buttons ---
 */

// The buttons
.ChatChannelIcon-icon-group, // DM icon
.NavbarNavExploreIcon-link .NavbarNavExploreIcon-icon // Explore stuff icons
    fill: base.$fg-1
// Selected icons
.ChatChannelIcon-container-selected .ChatChannelIcon-icon-group
    fill: base.$fg-2

/*
 * -=- Server list -=-
 */

/*
 * --- Add servers ---
 */

.InlineAddItemControl
    // Server list add icon
    &-add-icon
        @include set.transition(background-color)
        fill: base.$fg-2
        // The SVG icon
        svg
            @include set.transition(fill)
        // Group add icon
        .GroupSelector-add-group &
            border-radius: 50%
            @include set.transition(border-radius, base.$bounce)
        .GroupSelector-add-group:hover &
            border-radius: base.$radius-2
    // Server list add text
    &-name
        @include set.transition(color)
        color: base.$fg-2
// Server list add
.InlineAddItemControl-container
    --inline-add-icon-background-color: #{base.$bg-3}
    // Hover
    &:hover, &-flavor-background-highlight.InlineAddItemControl-container-desktop:hover
        // Server list add icon hover
        .InlineAddItemControl-add-icon
            background-color: base.$bg-5
            fill: base.$fg-3
        // Server list add text hover
        .InlineAddItemControl-name
            color: base.$fg-3

/*
 * --- Servers and tabs ---
 */
    
// Server list hovered server
.NavV4SelectorRow-container::after
    background-color: base.$bg-hover
    @include set.transition(opacity)
// Server list selected server
.NavSelectorItem-container-active .NavSelectorItem-contents::after
    @extend %SetBorderLight-2

// Server list switcher buttons
.NavV4SelectorRow-svg-icon
    fill: base.$fg-2
.NavV4TeamSelectorBottomOptionsList-label
    color: base.$fg-2
// Server list revealer
.NavV4ItemIcon-icon
    fill: base.$fg-1
// Server list favourite icon
.FavoriteTeamButton-container
    fill: base.$fg-1
    @include set.transition(fill)
    // Server list favourite hover
    &:hover
        fill: base.$fg-3

/*
 * -=- Search -=-
 */

// Server search
.TeamSearchBar-search-bar-input,
.SearchBarV2-container.SearchBarV2-container-focused
    background-color: base.$bg-5
// In-server search, emote search
.SearchBarInput-container-bordered,
.SearchBarV2-container-unfocused::after,
.SearchBarV2-container
    border-radius: 10px
    @extend %OverrideContentBordered-darker
// Search focused
.SearchBarV2-container-unfocused::after
    background-color: base.$bg-hover

.SearchBarV2-container
    // Search icon
    .SearchBarV2-icon
        fill: base.$fg-2
    // Search placeholder
    .SearchBarV2-input::placeholder
        color: base.$fg-1

/*
 * -=- Sidebar -=-
 */

// Favourite server list
.NavV4FooterGlobalContextDisplay-teams-wrapper
    background-color: base.$bg-1
.NavV4BadgedItem-container
    width: auto
    // Favourite server hover
    &::after
        background-color: base.$bg-hover


/*
 * --- Groups ---
 */

// Sets group list width
body
    --group-selector-width: #{base.$icon-size + 16px}
// Group list
.NavV4Sidebar-container,
.GroupSelector-container,
// Group list in group editing
.GroupSelectorPreview-minimal-nav
    background-color: base.$bg-1
    --border-color: #{base.$bg-0}
// Group
.GroupSelectorItem-container
    --avatar-size: #{base.$icon-size}

.NavSelectorItem-container .GroupAvatar-container
    font-size: 1.2em

// Default group icon
//.GroupAvatar-container-non-base
//    font-size: 1.3em
        
// The border around status and group's emote
.GroupAvatarBadge-container-reaction,
.LoggedInUserAvatar-online-status
    background-color: base.$bg-1

// Group settings background
.CreateGroupLivePreview-LiveView
    background: base.$bg-0

/*
 * --- User card ---
 */

// User card
.NavV4Footer-container
    background-color: base.$bg-1

// User card's content
.NavV4Footer-right,
.NavV4Footer-footer-content
    border-top-right-radius: base.$radius-3

// User card's name
.LoggedInUserAvatar-name
    color: base.$fg-2
    @include set.transition(color)
    &:hover
        color: base.$fg-3

.LoggedInUserStatus
    // User card's status
    &-content-with-status, &-container
        color: base.$fg-1
        @include set.transition(color)
        // Hover
        &:hover
            color: base.$fg-2

// User card buttons
.TransientMenuTrigger-container
    fill: base.$fg-1
    @include set.transition(fill)
    &.TransientMenuTrigger-container-desktop:hover .TransientMenuTrigger-icon
        fill: base.$fg-2

.NavIcon-container-type-vertical-nav
    fill: base.$fg-1
    @include set.transition(fill)
    &:hover
        fill: base.$fg-2

// More button (1) sign
.CircleBadgeV2-container
    background-color: base.$important

.NavV4Footer-footer-content,
.NavV4Footer-right,
.NavV4Sidebar-container
    background-color: base.$bg-0

/*
 * --- Header ---
 */

// Tourney header
.TournamentNavHeader-container
    background-color: transparent
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5)
    z-index: 105
// Server header name
.PageNavAvatarName-name-text
    color: base.$fg-3
// Server header group name
.TeamNavGroupHeader-name
    color: base.$fg-2
// Server header hover
.TeamNavHeader-options-carat::after
    background-color: base.$bg-hover
    @include set.transition(opacity)
// Server header caret
.TeamNavHeader-options-carat.TeamNavTeamOptionsCarat-icon
    fill: base.$fg-2
// Server header button
.TeamNavHeaderRowButton-container
    background-color: base.$bg-5
    // Server header button hovered
    &:not(.TeamNavHeaderRowButton-container-disabled)::after
        background-color: base.$bg-hover
// Server header button icon
.TeamNavHeaderRowButton-icon
    fill: base.$fg-2
// Server header button text
.TeamNavHeaderRowButton-text
    color: base.$fg-2

/*
 * --- Channels ---
 */

// 
.TeamNavMenu-container,
// Channel list
.TeamPageNavV3-container,
// Channel list in group editing
.GroupNavPreview-nav-section
    background-color: base.$bg-1

// Section list header
.TeamNavSectionsList-header
    display: none
// Channel list header
.TeamChannelsList-container .ChannelListHeader-container-type-default
    // Don't display the text
    .ChannelListHeader-text
        display: none
    // Add 3 dots instead
    &::before
        position: relative
        content: '. . .'
        text-align: center
        margin:
            left: auto
            right: auto
        color: base.$fg-1


/*
 * -=- Screen header -=-
 */

// Channel header
.ScreenHeader-container
    background-color: base.$bg-1
    border-bottom: 0

// Screen header icon
.ScreenHeader-icon,
.TeamNavSectionItem-icon,
.ChannelIcon-icon-primary,
.TeamChannelItemContents-action-icon,
.ScreenHeader-icon-wrapper-size-lg .ScreenHeader-icon
    fill: base.$fg-1

// Sets PFP border
.ScreenHeader-icon-wrapper
    --border-color: #{base.$bg-0}

// Screen header
.ScreenHeader
    // Title
    &-name
        color: base.$fg-2
    // Description
    &-description-child
        color: base.$fg-1
.ChannelHeaderActionButtons
    // Screen header more button
    &-menu-button, &-more-options-button
        fill: base.$fg-1
    // Screen header more button hover
    &-menu-trigger:hover &-menu-button,
    &-menu-trigger:hover &-more-options-button,
    &-options-menu-trigger:hover &-menu-button,
    &-options-menu-trigger:hover &-more-options-button
        fill: base.$fg-3
// Screen header more pressed title
.ChannelHeaderMoreOptionsMenu-header
    color: base.$fg-1

// Channel card
.TeamChannelItemContents-container-unread .TeamChannelItemContents-name,
.TeamChannelItemContents-container-channel-content .TeamChannelItemContents-name,
.TeamChannelItemContents-container:not(.TeamChannelItemContents-container-selected):hover .TeamChannelItemContents-name
    color: base.$fg-2
// Channel
.TeamChannelItemContents-container,
.TeamNavSectionItem-container
    border: solid 1px transparent
    // Channel hovered
    &::after
        background-color: base.$bg-hover
        @include set.transition(opacity)
// Channel selected
// Because transparent border overrides it otherwise
.TeamChannelItemContents-container.TeamChannelItemContents-container-selected,
.TeamNavSectionItem-container.TeamNavSectionItem-container-selected
    @extend %ContentMildlyBordered-2
    @include set.transition(background-color, border-color)
// Sub-icon/global icon
.ChannelIcon-icon-selected .ChannelIcon-icon-background,
.ChannelIcon-icon-background
    fill: base.$fg-1
    background-color: base.$bg-0
// Selected channel icons
.ChannelIcon-icon-selected,
.ChannelIcon-icon-selected .ChannelIcon-icon,
.TeamNavSectionItem-container-selected .TeamNavSectionItem-icon
    fill: base.$fg-3
    color: base.$fg-3

// Invite others
.ChannelUpsell-container
    background-color: base.$bg-1
    @extend %SetBorderDark-0

/*
 * -=- Members and Threads -=-
 */

// Member list
.SidebarWrapper-container,
// Member list in group editing
.CreateGroupUsersListLivePreview-members-section
    background-color: base.$bg-1

// Member list
//.PageSidebarWrapper
.SidebarWrapper-container
    position: relative
    top: 0
// Also remove padding that was made for member list
.ChannelWrapper-container-with-sidebar .ChannelWrapper-contents
    padding-right: 0
.TournamentPageContent-content,
.TeamPageContent-content
    margin-right: 0
// When it's collapsed, don't take space
@media ( max-width: 1000px )
    .SidebarWrapper-container-collapsed
        width: 0
        padding: 0

.SidebarInfoItem-container
    border-radius: base.$radius-3

.SimpleIconTabMenuHeaderItem
    // Member/thread list tab hover
    &-container:hover, &-container:active, &-container:focus
        background-color: base.$bg-3
    // Member/thread list active tab
    &-container-selected::after
        background-color: base.$fg-1
    // Member/thread list tab icon
    &-icon
        fill: base.$fg-1
    // Member/thread list active tab icon
    &-icon
        fill: base.$fg-2

/*
 * --- Member list ---
 */

// Member list section (roles)
.TeamPageSidebarMembers-roles:not(:first-child)
    margin-top: base.$spacing-5

.ChannelListHeader
    // Member list
    &-container-type-default
        // Member list icon
        .ChannelListHeader-display-icon
            fill: base.$fg-1
        // Member list role name
        .ChannelListHeader-text
            color: base.$fg-2
    // Member list role amount
    &-amount
        color: base.$fg-1
        padding: 0 base.$spacing-1
        background-color: base.$bg-0
        border-radius: base.$radius-2

// Member list user hover
.SidebarUsersRoleInfo-user::after
    background-color: base.$bg-hover

.VoiceSidebarMembersDisplay-join-voice
    // Member list join voice icon
    &-icon
        fill: base.$fg-1
        // Member list join voice button
        &-wrapper
            background-color: base.$bg-5
    // Member list join voice hover
    &:hover &-text,
    &:hover &-icon
        @include set.color(base.$fg-2)

// Member list invite icon
.SidebarInviteButton-icon
    fill: base.$fg-1
    @include set.transition(fill)
    // Member list invite button
    &-wrapper
        background-color: base.$bg-5
// Member list invite text
.GuildedText-container-color-gray
    color: base.$fg-1
    @include set.transition(color)
// Member list invite hover
.SidebarInviteButton-container:hover
    .SidebarInviteButton-text, .SidebarInviteButton-icon
        @include set.color(base.$fg-2)

/*
 * --- Thread list ---
 */

.ChannelThreadsInfo
    // Thread list "None"
    &-none
        color: base.$fg-1
    // Thread list more
    &-more
        color: base.$fg-1
        @include set.transition(color)
        // Thread list more hover
        &:hover
            color: base.$fg-2
// Thread card
.ChatChannelListItemInfo
    // Hover
    &-container-actionable::after
        background-color: base.$bg-hover
    
    // Last activity at
    &-last-at
        color: base.$fg-1
        @include set.transition(color)
    // Last activity at hover
    &-container-actionable:hover &-last-at
        color: base.$fg-3
    
    // Reply count
    &-reply-row &-num-replies
        color: base.$fg-1
    // Last reply
    &-latest-message
        color: base.$fg-2


/*
 * -=- Guides -=-
 */

// Voice channel click guide
.NuxTargetGlowie-container
    &, &::after
        background-image: radial-gradient(circle at 50% 50%, rgba(base.$important,0), rgba(base.$important,0) 39%, base.$important)