@require "../../variables"
@require "../../content"
@require "../../set"
@require "../guilded-variables"

/*
 * -=- Banners -=-
 */

BannerWithButtonType(toExtend, colour)
    @extends {toExtend}

    // .GuildedText-container-type-subtextBodyWhite
    //     color: colour
    .BannerWithButton-icon
        fill: colour


// Archive info bar, bot role warning
.BannerWithButton
    &-icon
        @extends $SvgMedium
    &-container
        @extends $SetMildContentLight
        &-theme-warning
            BannerWithButtonType($PanelWarning, warning)
        &-theme-info
            BannerWithButtonType($PanelInfo, info)
        &-theme-error
            BannerWithButtonType($PanelCaution, bad-1)
// "Nicknames are visible to everyone in the server"
.ChangeNicknameOverlay-info
    @extends $PanelWarning

/*
 * --- Status ---
 */

StatusMessageType(colour)
    background-color: bg-colour[1]
    border-left: solid 3px colour
    // transition: border-left
    // transition-duration: 0.1s
    // &:hover
    //     border-left-width: 9px

// Status
.StatusMessage-container
    @extends $TextMedium
    // Status info
    &-type-info
        // Pops up and vanishes (No mic detected)
        &.StatusMessage-container-ephemeral,
        // Always there (Published on)
        &.StatusMessage-container-persistent
            @extends $SubContentLight
    // Status hover
    &-desktop.StatusMessage-container-clickable::after
        @extends $ContentGlare
    &-ephemeral
        box-sizing: border-box
        background-color: bg-colour[1]
        border: solid 1px border-light[0]
        // Copy invite alert
        &.StatusMessage-container-type-success
            StatusMessageType(good-0)
            //@extends $PanelSuccess
            // Icon
            .StatusMessage-icon
                @extends $SvgGood
        // Invalid URL
        &.StatusMessage-container-type-error
            StatusMessageType(bad-0)
            //@extends $PanelCaution
            // @extends $PanelDark
            // @extends $TextBad
            // // Icon
            // .StatusMessage-icon
            //     @extends $SvgBad
        // No mic detected
        &.StatusMessage-container-type-info
            StatusMessageType(info)
            //@extend $PanelInfo
        // Add-on custom
        &.StatusMessage-container-type-warning
            StatusMessageType(info)
            //@extend $PanelWarning
    &-persistent
        // Persistent "Published bla bla bla" header
        &.PostDisplayV2-publish-banner
            @extends $PanelInfo

// Status text
.StatusMessage
    // Icon
    &-icon
        @extends $SvgMedium

// Connecting
.NetworkReconnectionDisplay
    // Loading bar
    &-container, &-container-reconnecting
        @extends $PanelReallyDark
    // Connected
    &-container
        .NetworkReconnectionDisplay-icon
            @extends $SvgGood
        .NetworkReconnectionDisplay-text
            @extends $TextGood

// Status message as a banner
.StatusMessage-container-persistent
    // Message
    .StatusMessage-content
        @extends $TextLight
    // Make it dark with a border
    &.StatusMessage-container-type-banner
        background: bg-colour[1]
        border-bottom: solid 1px active
        .StatusMessage-content
            color: active
    // Same with stream mode, but purple
    &.StatusMessage-container-banner-type-streamer-mode
        background: bg-colour[1]
        border-bottom: solid 1px stream
        .StatusMessage-content
            color: stream

/*
 * -=- Text -=-
 */

// Text
.GH1-container
    @extends $TextLight
.GH2-container
    @extends $TextMedium
.GH3-container
    @extends $TextDark

.GuildedText-container
    &-type
        &-heading1,
        &-heading2,
        &-heading3,
        &-heading4
            @extends $TextLight
        &-subheading
            @extends $TextLight
        &-subtext
            @extends $TextDark
    &-color
        &-bodyWhite
            color: var(--body-text-color)
        &-errorRed
            @extends $TextBad
// SVGs
+prefix-classes("SVGIcon")
    .WithTooltip-container
        @extends $SvgDark
        // Normal clickable
        &-clickable:hover
            @extends $SvgLight
            .WithTooltip-icon
                @extends $SvgLight
            .WithTooltip-inline-text
                @extends $TextLight
        // Buttons
        &-flavor-hover-bleach
            @extends $PanelDark
            .WithTooltip-icon
                @extends $SvgDark
            .WithTooltip-inline-text
                @extends $TextDark
            &:hover .WithTooltip-icon
                @extends $SvgMedium
            &:hover .WithTooltip-inline-text
                @extends $TextMedium
        // Delete
        &-flavor-filled-remove
            @extends $PanelBad
            .-icon
                fill: black

// Link/Hyperlink
.MediaUploaderDropImageInstructions-browse-link,
.TeamListItemsCompletedHeader-show-complete,
.CustomFormIndividualResults-toggle-expand,
.LandingPageV3InternalLinkColumn-link,
.UserSettingsEmailPage-select-button,
.ChatV2MessageEditHelper-action,
.HoverContext-container-linkify,
.TeamSettingsWebhookPage-link,
.LandingFooterSEOLinks-link,
.InlineTextLink-container,
.CardGames-overflow-link,
.LandingFooterApps-link,
.EventCardMetadata-link,
.ChatEmbedContent-link,
.EmbedCardFooter-link,
.CancelText-container,
.CardList-label-link,
.StatusMessage-link,
.RouteLink-linkify,
.LinkRenderer
    // Link normally
    &, &:visited, &:focus
        @extends $TextThemeDull
    // Link clicked and hovered over
    &:hover, &:active
        @extends $TextThemeBleached

/*
 * --- Custom animations ---
 */

// Message avatar bouncing
.ChatV2MessageHeader-avatar-wrapper, .ChatV2MessageHeader-avatar
    @extends $TransitionBounce

    .ChatV2Message-header:hover &
        @extends $RadiusSmall

.PlayerCardProfilePicture-avatar
    @extends $TransitionBounce

    // Announcement & forum bouncing
    .TeamWidgetProfileDetails-container:hover &,
    // Member list avatar bouncing
    .SidebarUsersRoleInfo-user:hover &,
    // Doc bouncing
    .DocReader-header:hover &
        @extends $RadiusSmall

// Favourite server bouncing
.NavV4BadgedItem-image, .NavV4BadgedItem-icon-wrapper
    border-radius: 50%
    @extends $TransitionBounce

    .NavV4BadgedItem-container:hover &
        @extends $RadiusSmall

.GroupAvatar
    // Group icon bouncing
    &TextLabel
        &-base-layer
            @extends $RadiusRounded
            // Inside group list
            .GroupSelector-container &
                @extends $TransitionBounce
            // Group in preview
            .GroupSelectorPreview-container &
                @extends $RadiusSmall
        &-filled-layer
            @extends $TransitionBounce
            @extends $RadiusRounded
        &-filled-layer&-filled-layer-active
            @extends $RadiusSmall
    &-container
        @extends $RadiusRounded
    &-container-non-base
        @extends $PanelMild


/*
 * --- Tab buttons ---
 */

.HorizontalTab,
.SimpleIconTabMenuHeaderItem
    // Tab
    &-container
        &:hover, &:active, &:focus
            background-color: alpha(bg-hover, 0.1)
        // Text
        .GH2-container
            @extends $TextMedium
        &-selected .GH2-container
            @extends $TextLight
        // Icon
        .SimpleIconTabMenuHeaderItem-icon
            @extends $SvgMedium
        &-selected .SimpleIconTabMenuHeaderItem-icon
            @extends $SvgLight
.HorizontalTab-container
    &:hover, &:active, &:focus
        .HorizontalTab-tab-text
            @extends $TextLight
// Tab highlighter
.SimpleIconTabMenuHeaderItem-container-selected::after,
.HorizontalTab-highlighter
    background-color: fg-colour[1]

/*
 * -=- Animated -=-
 */

// Flash when scrolling to a message or a forum post
.ScrollFlasher-container
    @extends $PanelImportant

/*
 * -=- Mention icons and notifications -=-
 */

// Mentions
.BadgeV2-container,
.NavIcon-dot
    background-color: mention

// Notifications
.NavSelectorItem-container-orientation-horizontal.NavSelectorItem-container-unread,
.NavSelectorItem-container-orientation-vertical.NavSelectorItem-container-unread,
.NavV4BadgedItem-container-unread .NavV4BadgedItem-icon-wrapper,
.NavV4SelectorRow-container-unread,
.NavV4ItemIcon-icon-unread
    SetNotification()

/*
 * -=- Bars -=-
 */

// Container scrollbar
.UserAliasAdditionalInfoDisplayWrapper-container,
.TeamSettingsListItems-container-desktop:hover,
.Sheet-container-scrollable .Sheet-content,
.OnboardingTeamGameInfoStage-form-wrapper,
.NestedSettingsWrapper-second-child,
.TeamMemberRolesDisplay-list,
.Scrollable-container:hover,
.TeamNavMenu-wrapper:hover,
.ChatV2Sidebar-container,
.SimpleDrawer-container,
.ModalV2-modal-content,
.InsertGifPicker-gifs,
.Scrollable-container
    SetScrollbar()

// Upload/XP progress bar
.GoldenProgressBar
    // Background
    &-container,
    &-container-theme-dark
        @extends $PanelReallyDark
    // Progress
    &-progress
        background-color: progress