@require "../../variables"

/*
 * --- Draggable item overlay ---
 */

.DraggableContext
    // Channel dragging line
    &-target
        @extends $SetBorderTheme
    // Group highlight
    &-drop-target-style::after
        background-color: alpha(important, 0.1)
    // Channel drag shadow
    //&-portal
