@require "../../variables"
@require "../../set"
@require "../../content"
@require "../guilded-variables"

/*
 * --==========================--
 *    Floating boxes and menus
 * --==========================--
 */

/*
 * -=- New messages / Alert bar -=-
 */

.ChatChannelAlertBar
    // Alert bar icon
    &-icon
        @extends $SvgMedium
    &-leading-icon-private-thread
        fill: tint(private, 25%)

    // Any alert bar
    &-container
        font-color(fg-colour[2])
        background-color: bg-colour[1] !important
        border-color: border-light[2]
        // Hover
        &::after
            @extends $ContentGlare

        // Viewing older messages
        &-type-viewing-older-messages,
        // Unread messages
        &-type-unread-messages,
        // New messages
        &-type-new-messages,
        &-type-new-replies,
        // New mentions
        &-type-new-mentions
            background-color: bg-colour[1] !important

        // New mentions and new forum replies
        &-type-new-replies,
        &-type-new-mentions
            color: mention !important
            fill: mention !important
            border-color: alpha(mention, 0.5)
            // New mentions icon
            & ^[0]-icon-click-wrapper ^[0]-icon
                fill: mention

        // Unread messages
        &-type-unread-messages
            color: active !important
            fill: active !important
            border-color: alpha(active, 0.5)
            // Unread messages icon
            & ^[0]-icon-click-wrapper ^[0]-icon
                fill: active

/*
 * -=- Team cards -=-
 */

// Role card's background
.TeamRoleCardOverlay-container,
// Profile card's background
.ProfileHoverCardOverlay-container
    @extends $ContentDark

// Section's header
.UserAttributionDisplay-header,
.TeamMemberRolesDisplay-header,
.UserTeamXpDisplay-level-display .GuildedText-container
    @extends $TextLight

// Total XP needed
.UserTeamXpDisplay-level-display .GuildedText-container.GuildedText-container-type-subtext2
    @extends $TextDark
    // XP user has
    .GuildedText-container-weight-bold
        @extends $TextMedium

// Socials
.OverviewWidgetItem
    // Icon
    &-icon
        @extends $SvgDark
    // Text
    &-text, &-input
        @extends $TextMedium

.TeamRoleCardOverlay
    // Background for buttons
    &-menu
        @extends $PanelDark
    // Member count
    &-info-count
        @extends $ContentLight

// Button gap
.ProfileCardMenuItem-container:not(:first-child)::before
    display: none

// Bubble actions
.ActionBubbleButton
    // Icon
    &-icon
        @extends $SvgDarkTransition
        &-container
            @extends $ContentLight
    &-label
        @extends $TextDarkTransition
    // Hover
    &-container:hover:not(&-disabled)
        & ^[0]-icon
            @extends $SvgMedium
            &-container
                @extends $PanelMediumHighlighted
        & ^[0]-label
            @extends $TextMedium

/*
 * -=- Guides -=-
 */

// Voice channel click guide
.NuxTargetGlowie-container
    &, &::after
        background-image: radial-gradient(circle at 50% 50%, alpha(important,0), alpha(important,0) 39%, important)