@use "../../variables"
@use "../../set"
@use "../../content"
@use "sass:color"

/*
 * --==========================--
 *    Floating boxes and menus
 * --==========================--
 */

/*
 * -=- New messages / Alert bar -=-
 */

.ChatChannelAlertBar
    // Alert bar icon
    &-icon
        @extend %SvgMedium
    &-leading-icon-private-thread
        fill: color.adjust(variables.$private, variables.$whiteness: 25%)

    // Any alert bar
    &-container
        @include set.font-color(variables.$fg-2)
        background-color: variables.$bg-0 !important
        @extend %SetBorderDark-0
        // Hover
        &::after
            @extend %ContentGlare

        // Viewing older messages
        &-type-viewing-older-messages,
        // Unread messages
        &-type-unread-messages,
        // New messages
        &-type-new-messages,
        &-type-new-replies,
        // New mentions
        &-type-new-mentions
            background-color: variables.$bg-0 !important

        // New mentions and new forum replies
        &-type-new-replies,
        &-type-new-mentions
            color: variables.$mention !important
            fill: variables.$mention !important
            // New mentions icon
            .ChatChannelAlertBar-icon-click-wrapper .ChatChannelAlertBar-icon
                fill: variables.$mention

        // Unread messages
        &-type-unread-messages
            color: variables.$active !important
            fill: variables.$active !important
            // Unread messages icon
            .ChatChannelAlertBar-icon-click-wrapper .ChatChannelAlertBar-icon
                fill: variables.$active

/*
 * -=- Tooltips -=-
 */

// Tooltip
.HoverContextTooltip
    // Base
    &-text-wrapper
        @extend %Panel-4
        border: solid 2px
            color: variables.$border-dark-1
        opacity: variables.$floating-opacity
    // Arrow/Pointer
    &-arrow
        @extend %Panel-5

// Keybinds
.Glyph-container
    background-color: variables.$bg-5
    color: variables.$fg-2

/*
 * -=- Reactions -=-
 */

// Reaction normally
.ReactionPickerButton-container-type-content,
.ReactionBadge-container-content
    @extend %ContentMildlyBordered-4
// Reaction hovered
.ReactionBadge-container-content:hover,
.ReactionBadge-container:not(.ReactionBadge-container-disabled):not(.ReactionBadge-container-active):hover .ReactionBadge-container-content
    @extend %ContentBordered-4

.ReactionPickerButton-container-type-content
    transition-duration: variables.$transition

    // When reaction is hovered over
    &:hover
        @extend %Panel-5

// Text after the reaction button
.ReactionPickerButton-container-with-label::after
    @extend %TextDark
    transition-duration: variables.$transition

// Reaction icon
.ReactionPickerButton
    // Normally
    &-container &-icon
        @extend %FontMedium
        transition-duration: variables.$transition
    // Hover
    &-container:hover &-icon
        @extend %FontLight
// Reaction counter
.ReactionBadge-container
    &:not(&-disabled):hover .ReactionBadge-count
        @extend %TextLight
    // Active
    &.ReactionBadge-container-active
        // Normal active reaction
        .ReactionBadge-container-content
            background-color: mix(variables.$bg-1, variables.$active, 90%)
            border-color: rgba(variables.$active, 0.1)
            // Active reaction label
            .ReactionBadge-count
                color: variables.$active
        // Active reaction hover
        &.ReactionBadge-container:not(.ReactionBadge-container-disabled):hover .ReactionBadge-container-content
            background-color: mix(variables.$bg-1, variables.$active, 95%)

/*
 * -=- Team cards -=-
 */

// Role card's background
.TeamRoleCardOverlay-container,
// Profile card's background
.ProfileHoverCardV2Overlay-container
    @extend %Panel-0

// Section's header
.UserAttributionDisplay-header,
.UserTeamXpDisplay-level-display .GuildedText-container // Level
    @extend %TextLight

// Total XP needed
.UserTeamXpDisplay-level-display .GuildedText-container.GuildedText-container-type-subtext2
    @extend %TextDark
    // XP user has
    .GuildedText-container-weight-bold
        @extend %TextMedium

// Socials
.OverviewWidgetItem
    // Icon
    &-icon
        @extend %SvgDark
    // Text
    &-text, &-input
        @extend %TextMedium

// Background for buttons
.TeamRoleCardOverlay-menu,
.ProfileHoverCardV2Overlay-action-menu
    @extend %Panel-2

/*
 * --- Menu ---
 */

// Menu container
.TransientMenu-container-style-default
    @extend %OverrideContentRoughBordered-4

// Plus menu
.ContextMenuItem-container
    &-section-type-rows
        // Description
        .ContextMenuItem-body
            @extend %TextDark
    &:hover
        // Description
        .ContextMenuItem-body
            @extend %TextMedium
// Button
.ContextMenu
    // Icon
    &-content
        @extend %SvgDark
    // Text
    &Item-label
        @extend %TextMedium
// Menu item
.ContextMenuItem
    &-container
        @extend %FontMedium
        // Text and icon on hover
        &:hover
            // Text
            .ContextMenuItem-label
                @extend %TextLight
            // Icon
            .ContextMenuIcon-container-icon
                @extend %SvgLight
        // Menu item hover glare
        &::after
            @extend %ContentGlare
    // Menu item download app highlighted
    &-highlighted
        background-color: transparent
        fill: variables.$important
        // Text
        .ContextMenuItem-label
            color: variables.$important
        // Icon
        .ContextMenuIcon-container-icon
            color: variables.$important

// Highlighted
.ContextMenuItem-container.ContextMenuItem-highlighted
    .ContextMenuItem-icon, .ContextMenuItem-label
        color: variables.$highlight
        fill: variables.$highlight

// Overflow icon
.ContextMenuTrigger
    &-container &-icon
        @extend %SvgDark
        @include set.transition(fill)
    &-container-desktop:hover &-icon
        @extend %SvgMedium

/*
 * --- Emote picker ---
 */

// Emote picker
.ReactionPicker
    &-container
        @extend %FullBorderLight-1
    // Emote picker content
    &-content
        @extend %Panel-2
    // Emote icon
    &Icon-container
        @extend %FullBorderTransparent
    &Icon-container:hover,
    &Icon-container:focus
        @extend %Panel-1
        border: solid 1px var(--NihilityTheme0)

    // Bottom bar
    &Footer-container,
    // Top bar
    &Navbar-container
        @extend %OverrideContentBordered-3

    // Emote name in grid
    &-section-label
        @extend %TextLight
    // Emote name in footbar
    &Preview-reaction-name
        @extend %TextMedium
    // Emote server title
    &Preview-team
        @extend %TextDark
    // Emote picker tab's icon
    &NavbarItem-icon
        @extend %SvgDark
        .ReactionPickerNavbarItem:hover &
            @extend %SvgMedium
        .ReactionPickerNavbarItem-active &
            @extend %SvgLight

.ReactionPickerNavbarItem-active
    border-bottom-color: var(--NihilityTheme0)

/*
 * --- Misc menus ---
 */

// Server search wrapper
.MinimalNavSearchBar-search-results
    opacity: variables.$floating-opacity
.GlobalSearchResult
    // Server search
    &s
        &-container
            @extend %Panel-3
        // Public servers header
        &-header
            @extend %TextDark
    // Server search item
    &-container-desktop
        // Server search item focused
        &.GlobalSearchResult-container-focused
            @extend %Panel-2
        // Hovered over
        &::after
            @extend %ContentGlare