/*
 * --==========================--
 *    Floating boxes and menus
 * --==========================--
 */

/*
 * --- New messages / Alert bar ---
 */

// Alert bar icon
.ChatChannelAlertBar-icon
    fill: $nihility-fg-2

// Any alert bar
.ChatChannelAlertBar-container
    @include set-color($nihility-fg-2)
    background-color: $nihility-bg-0 !important
    border-color: $nihility-bg-4
    // Hover
    &::after
        background-color: $nihility-bg-hover
    
    // Viewing older messages
    &-type-viewing-older-messages,
    // Unread messages
    &-type-unread-messages,
    // New messages
    &-type-new-messages,
    &-type-new-replies,
    // New mentions
    &-type-new-mentions
        background-color: $nihility-bg-0 !important
    
    // New mentions and new forum replies
    &-type-new-replies,
    &-type-new-mentions
        color: $nihility-mention !important
        fill: $nihility-mention !important
        // New mentions icon
        .ChatChannelAlertBar-icon-click-wrapper .ChatChannelAlertBar-icon
            fill: $nihility-mention
    
    // Unread messages
    &-type-unread-messages
        color: $nihility-active !important
        fill: $nihility-active !important
        // Unread messages icon
        .ChatChannelAlertBar-icon-click-wrapper .ChatChannelAlertBar-icon
            fill: $nihility-active

/*
 * --- Tooltips ---
 */

// Tooltip
.HoverContextTooltip
    // Base
    &-text-wrapper
        background-color: $nihility-bg-1
        border: solid 0.15rem
        border-color: $nihility-bg-0
        opacity: $nihility-floating-opacity
    // Arrow/Pointer
    &-arrow
        background-color: $nihility-bg-0

// Keybinds
.Glyph-container
    background-color: $nihility-bg-4
    color: $nihility-fg-2

/*
 * --- Reactions ---
 */

// Reaction normally
.ReactionPickerButton-container-type-content,
.ReactionBadge-container-content,
.ReactionBadge-container-content:hover,
.ReactionBadge-container:not(.ReactionBadge-container-disabled):not(.ReactionBadge-container-active):hover .ReactionBadge-container-content
    background-color: rgba(0, 0, 0, 0.3)

.ReactionPickerButton-container-type-content
    transition-duration: $nihility-transition

    // When reaction is hovered over
    &:hover
        background-color: $nihility-bg-1

// Text after the reaction button
.ReactionPickerButton-container-with-label::after
    color: $nihility-fg-1
    transition-duration: $nihility-transition

// Reaction icon
.ReactionPickerButton
    // Normally
    &-container &-icon
        color: $nihility-fg-2
        fill: $nihility-fg-2
        transition-duration: $nihility-transition
    // Hover
    &-container:hover &-icon
        color: $nihility-fg-3
        fill: $nihility-fg-3
// Reaction counter
.ReactionBadge-container
    &:not(&-disabled):hover .ReactionBadge-count
        color: $nihility-fg-3
    // Active
    &.ReactionBadge-container-active
        // Normal active reaction
        .ReactionBadge-container-content
            background-color: rgba($nihility-active, 0.1)
            // Active reaction label
            .ReactionBadge-count
                color: $nihility-active
        // Active reaction hover
        &.ReactionBadge-container:not(.ReactionBadge-container-disabled):hover .ReactionBadge-container-content
            background-color: rgba($nihility-active, 0.15)

/*
 * --- Member card ---
 */

// Member card's background
.ProfileHoverCardV2Overlay-container
    background-color: $nihility-bg-4

// Section's header
.UserAttributionDisplay-header,
.UserTeamXpDisplay-level-display .GuildedText-container // Level
    color: $nihility-fg-3

// Total XP needed
.UserTeamXpDisplay-level-display .GuildedText-container.GuildedText-container-type-subtext2
    color: $nihility-fg-1
    // XP user has
    .GuildedText-container-weight-bold
        color: $nihility-fg-2

// Socials
.OverviewWidgetItem
    // Icon
    &-icon
        fill: $nihility-fg-1
    // Text
    &-text, &-input
        color: $nihility-fg-2

// Background for buttons
.ProfileHoverCardV2Overlay-action-menu
    background-color: $nihility-bg-3

// Button
.ContextMenu
    // Icon
    &-content
        fill: $nihility-fg-1
    // Text
    &Item-label
        color: $nihility-fg-2

/*
 * --- Mention icons ---
 */


.BadgeV2-container,
.NavIcon-dot
    background-color: $nihility-mention


/*
 * --- Menu ---
 */

// Menu container
.ItemManagerFilterWrapper-container,
.TransientMenu-container-style-default
    background-color: $nihility-bg-1
    border-color: $nihility-bg-0

// Menu item
.ContextMenuItem
    &-container
        color: $nihility-fg-2
        fill: $nihility-fg-2
        // Text and icon on hover
        &:hover
            // Text
            .ContextMenuItem-label
                color: $nihility-fg-3
            // Icon
            .ContextMenuIcon-container-icon
                fill: $nihility-fg-3
        // Menu item hover glare
        &::after
            background-color: $nihility-bg-hover
    // Menu item download app highlighted
    &-highlighted
        background-color: transparent
        fill: $nihility-important
        // Text
        .ContextMenuItem-label
            color: $nihility-important
        // Icon
        .ContextMenuIcon-container-icon
            color: $nihility-important

// Overflow icon
.ContextMenuTrigger
    &-container &-icon
        fill: $nihility-fg-1
        @include nihility-transition(fill)
    &-container-desktop:hover &-icon
        fill: $nihility-fg-2


/*
 * --- Emote picker ---
 */

// Emote picker
.ReactionPicker
    // Emote picker content
    &-content
        background-color: $nihility-bg-3
    // Emote icon
    &Icon-container:hover, &Icon-container:focus
        background-color: $nihility-bg-1
    
    // Bottom bar
    &Footer-container,
    // Top bar
    &Navbar-container
        color: $nihility-fg-2
        background-color: $nihility-bg-1
        border-color: $nihility-bg-0

    // Emote name
    &-section-label
        color: $nihility-fg-3
    // Emote server title
    &Preview-team
        color: $nihility-fg-1
    // Emote picker tab's icon
    &NavbarItem-icon
        fill: $nihility-fg-1
        .ReactionPickerNavbarItem:hover &
            fill: $nihility-fg-2
        .ReactionPickerNavbarItem-active &
            fill: $nihility-fg-3

.ReactionPickerNavbarItem-active
    border-bottom-color: $nihility-theme

// Footer skintone's arrow
.IconMenuInput-container
    &-gray, &-white,
        .IconMenuInput-chevron-down, .IconMenuInput-selected-value-icon
            fill: $nihility-fg-1

/*
 * --- Misc menus ---
 */

// Filter menu search
.ItemManagerFilterWrapper-search
    background-color: $nihility-bg-lighter
// Filter menu hover
.ItemManagerFilterOption-container:hover
    background-color: $nihility-bg-lighter

// Server search wrapper
.MinimalNavSearchBar-search-results
    opacity: $nihility-floating-opacity
.GlobalSearchResult
    // Server search
    &s
        &-container
            background-color: $nihility-bg-2
        // Public servers header
        &-header
            color: $nihility-fg-1
    // Server search item
    &-container-desktop
        // Server search item focused
        &.GlobalSearchResult-container-focused
            background-color: $nihility-bg-3
        // Hovered over
        &::after
            background-color: $nihility-bg-hover