@require "../../variables"
@require "../../set"
@require "../../content"
@require "../guilded-variables"

/*
 * --=======================--
 *    Custom & Native forms
 * --=======================--
 */

$FormDropdown
    border: solid 1px transparent
    border-radius: radius-0
$FormDropdownFocused
    @extends $ContentBordered-1
$FormDropdownActive
    background-color: bg-4
    border: solid 1px border-light-1
    border-left: solid 2px var(--accent-0)
$FormDropdownActiveFocused
    background-color: bg-4
    border: solid 1px border-light-1
    border-left: solid 2px var(--accent-0)

/*
 * -=- Basic -=-
 */

.Form
    &-header
        @extends $TextLight
    &-description
        @extends $TextMedium

// Section name
.FormSection-section-header
    @extends $TextLight

    // Custom form header name ("Question 1")
    &&-style-result
        @extends $TextDark

// Label of most fields
.FormFieldLabel
    // Normal
    &-container
        @extends $TextMediumTransition
    // Error
    &-container-invalid
        @extends $TextBad
    &-container-flavor
        &-subtle
            @extends $TextDark
    // Form "(optional)"
    &-optional
        @extends $TextDarker
        transition: color
        // Hover
        &:hover
            @extends $TextMedium
// Description of all fields
.FormFieldDescription
    &-container
        @extends $TextDark

.FormResultDisplayFieldWrapper-field-header
    &-icon
        @extends $SvgDark
    &-text
        @extends $TextMedium


/*
 * -=- Sections & Types -=-
 */

// Streamer mode
.FormSection-container-section-background-inset
    @extends $ContentMildlyBordered-3
// Settings account info
.DefaultReadonlyEditableForm-container
    @extends $ContentMildlyBordered-3

/*
 * -=- Fields -=-
 */

/*
 * --- Text ---
 */

.TextInputWithLabel
    // Form input
    &-container
        @extends $SetBorderLight-2
    &-container-has-value &-input-element
        -webkit-text-fill-color: fg-2
        @extends $TextMedium
    // Hover
    &-container-desktop:hover
        @extends $SetBorderLight-3
    // Focused
    &-container-focused, &-container-focused:hover
        @extends $SetBorderThemeDull
        &::placeholder
            @extends $FontThemeDull

    // Label
    &-typeahead-suggestion, &-floating-label
        @extends $TextDark

    // Form input label invalid
    &-container.TextInputWithLabel-container-invalid
        @extends $SetBorderBad

        &:hover
            @extends $SetBorderBad

        .TextInputWithLabel-floating-label,
        &:hover .TextInputWithLabel-floating-label
            @extends $SetBorderBad

// Form input valid
.TextInputWithLabel-container-valid.TextInputWithLabel-container-focused
    @extends $SetBorderGood

// Form input icon
.ValidityIndicator-container
    // Invalid
    &-invalid
        border-color: bad-0
        fill: bad-0
    // Valid
    &-valid
        @extends $SvgGood

// Form input with a typeahead
.TextInputWithLabel
    &-container-dropdown
        @extends $ContentMildlyBordered-2
        border-radius: radius-2
        // Hover
        &.TextInputWithLabel-container-desktop:hover
            @extends $OverrideContentBordered-1
        // Focused
        &.TextInputWithLabel-container-focused,
        &.TextInputWithLabel-container-focused:hover
            background-color: bg-4
            border-color: var(--accent-1) !important
    &-container-dropdown &-floating-label
        @extends $TextMedium
// Form input with a typeahead menu
.SelectMenu-container
    @extends $Panel-3
.SelectMenuItem-container
    @extends $FormDropdown
    &-desktop:hover
        @extends $FormDropdownFocused
        .SelectMenuItem-label
            @extends $TextLight
    &-selected
        @extends $FormDropdownFocused
        .SelectMenuItem-label
            @extends $TextLight
    // Game selector first item
    &-border-bottom
        @extends $SetBorderLight-0

// Big form input
.TextAreaInput
    &-text-area
        border-color: border-light-0
        background-color: bg-3
        color: fg-2
        transition: border-color, background-color
        SetScrollbar()
        // Big form input hover
        &:hover
            @extends $OverrideContentBordered-1
        // Big form input focus
        &:focus
            background-color: bg-4
            border-color: var(--accent-1)
    &-container &-text-area::placeholder
        @extends $TextDark
    &-container-error &-text-area
        @extends $SetBorderBad

// Form input word count
.CharacterCount
    // Circle
    &-circle
        // Background
        &-background
            stroke: bg-0
        // Character count
        &-valid, &-invalid-min
            stroke: good-0
        // Too many symbols
        &-invalid-max
            stroke: bad-0
    // Label too many symbols
    &-container-invalid-max
        @extends $TextBad

// Tag input
.GuildedTagCreator-container-input-border
    // Normally
    .Select-control
        border-bottom-color: border-light-2 !important
        transition: border-bottom
    // Hover
    &:hover .Select-control
        border-bottom-color: border-light-3 !important
    // Focused
    .Select.is-focused .Select-control
        border-bottom-color: var(--accent-1) !important
// Tags
.GuildedTagCreator-container-dark .Select-value
    // Tag's background
    @extends $OverridePanelMildlyBordered-4
    // Tag's text
    &-label
        @extends $TextMedium
// "Tags (optional)" label
.TextFieldLabel-container-size-sm
    @extends $TextDark

/*
 * --- Toggles ---
 */

// Toggle/switch field
.ToggleFieldWrapper
    // Toggle field title
    &-container-size-sm &-label,
    &-label
        @extends $TextBad
        font-weight: bold
        transition: color
    // Toggle field toggled title
    &-container-size-sm &-label.ToggleFieldWrapper-label-active,
    &-label-active
        @extends $TextGood
    // Moderator view tooltip icon
    &-tooltip-icon
        @extends $SvgMedium
    // All day checkmark icon
    &-icon
        @extends $SvgDark

.SwitchInput
    &-container
        width: 33.5px
        height: 16.5px
    // Slider off
    &-container &-slide
        @extends $PanelBad
        // // Shiny effect
        // background-gradient: to bottom right, bad-0, shade(bad-0, 20%) 90%
        // border: solid 1px alpha(bad-1, 50%)
        width: 33.5px
        height: 16.5px
        border-radius: 10px
        flex-shrink: 0
    // Slider on
    &-container-on &-slide
        @extends $PanelGood
        // // Shiny effect
        // background-gradient: to bottom right, good-0, shade(good-0, 20%) 90%
        // border-color: alpha(good-1, 50%)
    // Slider thumb
    &-tab
        @extends $Panel-4
        top: 2px
        left: 2px
        width: 12.5px
        height: 12.5px
        // Disabled
        .SwitchInput-container-disabled &
            @extends $Panel-1

.TriStateInputWrapper-container
    @extends $SetBorderLight-0

.TriStateInputButton-container
    // Types
    &-type
        &-passThrough
            border-left: none
            border-right: none
        // All
        &-on,
        &-passThrough,
        &-off
            @extends $Panel-3
        // All selected
        &-on.TriStateInputButton-container-selected,
        &-passThrough.TriStateInputButton-container-selected,
        &-off.TriStateInputButton-container-selected
            @extends $Panel-2
        // Permission allowed
        &-on
            // Icon
            .TriStateInputButton-icon
                @extends $SvgDarker
            // Icon hover
            &:hover .TriStateInputButton-icon
                @extends $SvgDark
            // Selected
            &.TriStateInputButton-container-selected
                // Selected icon
                .TriStateInputButton-icon
                    @extends $SvgGood
                // Selected hover
                &:hover .TriStateInputButton-icon
                    @extends $SvgGoodHighlight
        // Permission inherit
        &-passThrough
            // Icon
            .TriStateInputButton-icon
                @extends $SvgDarker
            // Icon hover
            &:hover .TriStateInputButton-icon
                @extends $SvgDark
            // Selected
            &.TriStateInputButton-container-selected
                // Selected icon
                .TriStateInputButton-icon
                    @extends $SvgNeutral
                // Selected hover
                &:hover .TriStateInputButton-icon
                    @extends $SvgNeutralHighlight
        // Permission denied
        &-off
            // Icon
            .TriStateInputButton-icon
                @extends $SvgDarker
            // Icon hover
            &:hover .TriStateInputButton-icon
                @extends $SvgDark
            // Selected
            &.TriStateInputButton-container-selected
                // Selected icon
                .TriStateInputButton-icon
                    @extends $SvgBad
                // Selected hover
                &:hover .TriStateInputButton-icon
                    @extends $SvgBadHighlight
    // States
    &-disabled
        opacity: 1
        .TriStateInputButton-icon
            opacity: 0.3
    &-highlighted:not(.TriStateInputButton-container-selected)
        @extends $Panel-1

/*
 * --- Option-based ---
 */

// --- CHECKBOX & CHECKBOX RADIO ---

.CheckboxV2
    &-checkmark
        @extends $CheckboxCheck
        // Make it actual radio
        .RadioOptionPanel-container &,
        .RadioInput-container &
            fill: transparent
            width: 10px
            height: 10px
            background-color: var(--accent-foreground)
            border-radius: 50%
            // Align to center horizontally
            transform: none
            display: inline-block
            margin: 0 auto
    // Checkmark box
    &-box
        @extends $CheckboxUnchecked
        // Align it center vertically in radio
        .RadioOptionPanel-container &,
        .RadioInput-container &
            display: flex
            align-items: center
    &-box:not(&-box-circular)
        @extends $RadiusSmall
    &-container-desktop:hover &-box
        @extends $CheckboxUncheckedHover
    &-container-checked &-box
        @extends $CheckboxChecked
    &-container-checked:hover &-box
        @extends $CheckboxCheckedHover
    // Name
    &-label-wrapper
        @extends $TextBad
    &-label
        @extends $TransitionColour
    &-container-desktop:hover &-label
        @extends $TextBad
    &-container-checked &-label
        @extends $TextGood
    &-container-checked:hover &-label
        @extends $TextGood
    // Description
    &-description
        @extends $TextDark
    &-container-checked &-description
        @extends $TextMedium
    // Sizes
    &-container-size-md &-box &-checkmark
        height: 18px


// --- CHECKBOX RADIO PANELS ---

.RadioOptionPanel
    // Panel's label overrides the unchecked
    &-label
        @extends $TextBad
    // Container
    &-container
        @extends $ContentMildlyBordered-2
    &-container:not(&-container-disabled)::after
        @extends $ContentGlare
    &-container-selected
        @extends $ContentMildlyBordered-1
    // Channel selection
    &-icon
        @extends $SvgDark
    &-container:hover
        @extend $SvgMedium
    &-container-selected &-icon
        @extend $SvgTheme
    &-container-selection-border.RadioOptionPanel-container-selected
        @extends $FullBorderTheme
    &-container-selection-border:not(.RadioOptionPanel-container-selected):hover
        @extend $SetBorderLight-0

.CheckboxPanel
    &-container
        @extends $ContentMildlyBordered-2
    // Hover
    &-container.CheckboxPanel-container-clickable.CheckboxPanel-container-flavor-default:hover
        @extends $Panel-0
    &-container-selected
        @extends $Panel-1
    // Selected hover
    &-container-selected.CheckboxPanel-container-clickable.CheckboxPanel-container-flavor-default:hover
        @extends $Panel-0

    // Checkmark
    &-container-clickable:hover
        .CheckmarkIcon-circle
            @extends $CheckboxUncheckedHover

    // Searchable list items
    &-container&-container-clickable&-container-flavor-transparent:hover::after
        @extends $ContentGlare
    &-container-clickable:focus .CheckmarkIcon-circle
        border: solid 2px var(--accent-1)

// --- SELECTION DROPDOWN ---

.GuildedSelect-container
    // Label
    &.GuildedSelect-container-dark:not(&-has-label-type) .GuildedSelect-label
        @extends $TextMedium
    // Form selector
    .Select-control
        border-color: border-light-0 !important
        background-color: bg-3 !important
        transition: border-color, background-color
    // Form selector hover
    &.GuildedSelect-container-dark:hover, &:hover
        .Select .Select-control
            border-color: border-light-1 !important
            background-color: bg-4 !important

    // Form selector arrow
    .Select-arrow
        border-top-color: fg-0 !important
        transition: border-top-color
    // Form selector placeholder
    .Select-placeholder
        @extends $TextDark
    // Form selector value
    .Select-value-label
        color: fg-2 !important
    // Form select menu
    &&-dark .Select-menu-outer
        @extends $OverrideContentMildlyBordered-4

    // Form selector focused
    &&-dark
        .Select-menu-outer .Select-menu
            SetScrollbar()
        .Select.is-focused
            .Select-control
                border: solid 1px var(--accent-1) !important
                background-color: bg-4 !important
            .Select-arrow
                border-top-color: var(--accent-0) !important
    // Code container stuff
    &-option-color-gray
        // Label in editor
        .GuildedSelect-default-option-wrapper
            @extends $TextDark
        // Label's arrow in editor
        .Select-arrow
            border-top-color: fg-0
    &-no-border&-dark,
    &-no-border
        .Select.is-focused .Select-control
            border-color: transparent !important
    &-no-border&-dark .Select.is-focused .Select-control,
    &-no-border&-dark:hover .Select .Select-control,
    &-no-border .Select.is-focused .Select-control,
    &-no-border:hover .Select .Select-control,
    &-no-border&-dark .Select-control,
    &-no-border .Select-control
        background-color: transparent !important

// Form selector icon
.GuildedSelectIcon-container
    @extends $SvgDark

.Select
    // Form selector options
    &-menu
        @extends $Panel-3
        padding: spacing-1
        border-radius: radius-0
        &-outer
            opacity: floating-opacity
            @extends $OverridePanelBordered-4

    // Form selector option
    &-option
        @extends $TextMedium
        @extends $FormDropdown
        // Normally
        .GuildedSelect-container.GuildedSelect-container-dark &
            @extends $TextMedium
        // Already selected
        &.is-selected,
        .GuildedSelect-container &.is-selected,
        .GuildedSelect-container.GuildedSelect-container-dark &.is-selected
            @extends $FormDropdownActive
        // Focused
        &.is-focused
            @extends $FormDropdownFocused
            .GuildedSelect-container.GuildedSelect-container-dark &
                @extends $TextLight
        &.is-selected.is-focused,
        .GuildedSelect-container &.is-selected.is-focused,
        .GuildedSelect-container.GuildedSelect-container-dark &.is-selected.is-focused
            @extends $FormDropdownActiveFocused
    // No results found - code container/blocks
    .GuildedSelect-container.GuildedSelect-container-dark &-noresults,
    &-noresults
        @extends $Panel-3
    // Label's arrow acitve in editor
    &.is-open > &-control &-arrow
        border-top-color: fg-2


// --- ICON DROPDOWN ---

.IconMenuInput-container
    &-gray, &-white,
        .IconMenuInput-chevron-down, .IconMenuInput-selected-value-icon
            @extends $SvgDark
    &-desktop:hover
        .IconMenuInput-chevron-down, .IconMenuInput-selected-value-icon
            @extends $SvgMedium

/*
 * --- Numeric ---
 */

$SliderBackground
    background-color: bg-inner

// Voice volume slider
.RangeSlider
    &-container-type-gilded
        // Background
        .RangeSlider-rail
            @extends $SliderBackground
        // Current volume
        .RangeSlider-selected-rail
            background: progress
.RangeSliderStep
    &-label
        @extends $TextDarker
    &-step-type-gilded
        @extends $SliderBackground
    &-step-filled
        background-color: tint(progress, 10%)
.KnobAndLabel-label
    @extends $TextMedium
// Video volume rail
.RangeSlider
    &-rail,
    &-container-type-light &-rail,
    &-container-type-light:hover &-rail
        background-color: alpha(bg-inner, 0.7)
    &-selected-rail,
    &-container-type-light &-selected-rail,
    &-container-type-light:hover &-selected-rail
        background-color: alpha(progress, 0.9)
// Video volume knob
.SliderKnob-container
    background-color: bg-1
    border: solid 2px progress
    .RangeSlider-knob[style="left: 0%;"] &
        border-color: fg-1

/*
 * --- Timed ---
 */

// Date & Time input
.FormBoxAndLabel
    &-box
        border-color: border-light-0
        background-color: bg-3
        border-radius: radius-2
        transition: border-color, background-color
    &-container-focused &-box,
    &-container-desktop:hover &-box
        @extends $ContentBordered-1
    // Icon
    &-form-icon
        @extends $SvgDark
    // Text inside input
    &-main-text
        @extends $TextMedium
// Time input
.TimeInput
    // Part selected
    &-input:focus
        background-color: var(--accent-selection)
    // : delimeter
    &-delimiter
        @extends $TextDark

.TimeInput, .DateInput
    &-error
        .FormBoxAndLabel-box
            @extends $SetBorderBad
// Timezone label
.TimeFieldWrapper-timezone-label
    @extends $TextDark

/*
 * --- Buttons ---
 */

// Name functions
button-filled-selector(type)
    "&-container.FormConfirmButtonV2-container-filled.FormConfirmButtonV2-container-type-" + type
button-filled-hover-selector(type)
    "&-container-desktop.FormConfirmButtonV2-container-filled.FormConfirmButtonV2-container-type-" + type + ":hover"
button-hollow-selector(type)
    "&-container.FormConfirmButtonV2-container-hollow.FormConfirmButtonV2-container-type-" + type
button-hollow-hover-selector(type)
    "&-container-desktop.FormConfirmButtonV2-container-hollow.FormConfirmButtonV2-container-type-" + type + ":hover"
// Body mixins
button-filled-body(border-colour, text-colour)
    background: bg-2
    border: solid 1px border-colour
    .FormConfirmButtonV2-button-content
        font-color(text-colour)
button-hollow-body(border-colour, text-colour)
    border: solid 1px border-colour
    .FormConfirmButtonV2-button-content
        font-color(text-colour)

// Combined mixins
button-define(type, primary-colour, highlight-colour)
    // Filled
    {button-filled-selector(type)}
        button-filled-body(alpha(primary-colour, 0.15), primary-colour)
    {button-filled-hover-selector(type)}
        button-filled-body(alpha(primary-colour, 0.25), highlight-colour)
    // Hollow
    {button-hollow-selector(type)}
        button-hollow-body(primary-colour, primary-colour)
    {button-hollow-hover-selector(type)}
        button-hollow-body(primary-colour, highlight-colour)


blue-glow = tint($blue, 20%)

.FormConfirmButtonV2
    // Gilded button
    &-container&-container-type-gilded
        box-shadow: none
        background: bg-2
        @extends $SetBorderThemeTransparent
        //@extends $SetBorderLight-1
    // Gilded button hover
    &-container-desktop&-container-filled:hover
        box-shadow: none
        //@extends $SetBorderLight-2
        & ^[0]-button-content
            font-color(var(--accent-1))
    // Gilded button text
    &-button-content
        font-color(var(--accent-0))

    // Hollow gilded
    &-container&-container-hollow
        background: none
        position: relative
        button-hollow-body(var(--accent-transparent), var(--accent-1))
    // Increase border's opacity
    &-container-type-gilded&-container-hollow::before
        content: ""
        // Make it cover the whole space, including 1px border
        position: absolute
        top: -1px
        bottom: -1px
        right: -1px
        left: -1px
        // Replicate the border
        // TODO: var(--accent-0) and opacity could be used instead
        border-radius: 4px
        border: solid 1px var(--accent-transparent)
    // Hollow gilded hover
    &-container-desktop&-container-hollow:hover
        button-hollow-body(var(--accent-transparent), var(--accent-1))
    // Hollow gilded text
    &-container-hollow &-button-content
        @extends $FontTheme

    // Delete button
    button-define("delete", bad-0, bad-1)

    // Success button
    button-define("success", good-0, good-1)

    // Stripe button
    button-define("stripe", $blue, blue-glow)

    // White buttons
    $WhiteButtonFilled
        button-filled-body(alpha(fg-2, 0.15), fg-2)
    $WhiteButtonFilledHover
        button-filled-body(alpha(fg-2, 0.25), fg-3)
    $WhiteButtonHollow
        button-hollow-body(border-light-2, fg-2)
    $WhiteButtonHollowHover
        button-hollow-body(border-light-2, fg-3)

    for btnType in "white" "whiteBg" "bleached" "monochrome"
        // Filled
        {button-filled-selector(btnType)}
            @extends $WhiteButtonFilled
        {button-filled-hover-selector(btnType)}
            @extends $WhiteButtonFilledHover
        // Hollow
        {button-hollow-selector(btnType)}
            @extends $WhiteButtonHollow
        {button-hollow-hover-selector(btnType)}
            @extends $WhiteButtonHollowHover

    // Disabled
    &-container&-container-filled&-container-disabled,
    &-container&-container-desktop&-container-filled&-container-disabled:hover
        @extends $OverrideContentBordered-5
        & ^[0]-button-content
            @extends $FontDarker

    // Disabled hollow
    &-container&-container-hollow&-container-disabled,
    &-container&-container-desktop&-container-hollow&-container-disabled:hover
        button-hollow-body(border-light-1, fg-0)
/*
 * --- Visual ---
 */

// Role colour
.ColorInputOption
    // Colour
    &-container-dot
        &-selected
            @extends $SetBorderThemeDull
    &-container-size-lg &-container-dot
        border-radius: radius-3
    &-container-size-sm &-container-dot
        border-radius: radius-2
    // Colour hover
    &-hover-container:hover &-container-dot:not(&-container-dot-selected),
    &-container-size-lg &-container-dot:not(&-container-dot-selected):hover
        @extends $SetBorderLight-3
.CustomColorInputOption
    &-default
        background-gradient: 135deg, var(--accent-0) 0%, var(--accent-2) 100%
    &-container
        border-radius: radius-3
    &-container &-icon
        fill: var(--accent-foreground)
// PFP and banner upload
.ImageInput
    &-label
        @extends $TextMedium
    &-instructions
        @extends $TextDark

// Role description
.TeamRolesListInstructions-container
    @extends $TextDark


/*
 * --- Others ---
 */

// Reorder groups
.GroupSettingsPanel-avatar
    font-size: 22px

/*
 * -=- Related -=-
 */

// .DropdownPanel-container
//     @extends $Panel-3
.SimpleToggle
    &-label
        @extends $TextBad
        font-weight: bold
    &-container-on &-label
        @extends $TextGood