@use "sass:color"
@use "../../variables"
@use "../../set"
@use "../../content"

/*
 * --=======================--
 *    Custom & Native forms
 * --=======================--
 */

/*
 * -=- Basic -=-
 */

// Section name
.FormSection-section-header
    @extend %TextLight

// Custom form header name ("Question 1")
.FormSection-section-header-style-result
    @extend %TextDark

// Form "(optional)"
.FormFieldLabel-optional
    @extend %TextDarker
    @include set.transition(color)
    // Hover
    &:hover
        @extend %TextMedium

/*
 * -=- Sections & Types -=-
 */

// Streamer mode
.FormSection-container-section-background-inset
    @extend %PanelBordered-3
// Settings account info
.DefaultReadonlyEditableForm-container
    @extend %PanelBordered-4

/*
 * -=- Fields -=-
 */

/*
 * --- Text ---
 */

.TextInputWithLabel
    // Form input
    &-container
        @extend %SetBorderLight-2
    &-container-has-value &-input-element
        -webkit-text-fill-color: variables.$fg-2
        @extend %TextMedium
    // Hover
    &-container-desktop:hover
        @extend %SetBorderLight-3
    // Focused
    &-container-focused, &-container-focused:hover
        @extend %SetBorderThemeDull
        &::placeholder
            @extend %FontThemeDull

    // Label
    &-typeahead-suggestion, &-floating-label
        @extend %TextDark

    // Form input label invalid
    &-container.TextInputWithLabel-container-invalid
        @extend %SetBorderBad

        &:hover
            @extend %SetBorderBad

        .TextInputWithLabel-floating-label,
        &:hover .TextInputWithLabel-floating-label
            @extend %SetBorderBad

// Form input valid
.TextInputWithLabel-container-valid.TextInputWithLabel-container-focused
    @extend %SetBorderGood

// Form input icon
.ValidityIndicator-container
    // Invalid
    &-invalid
        border-color: variables.$bad-0
        fill: variables.$bad-0
    // Valid
    &-valid
        @extend %SvgGood

// Big form input
.TextAreaInput
    &-text-area
        border-color: variables.$border-light-2
        color: variables.$fg-2
        @include set.transition(border-color)
        // Big form input hover
        &:hover
            @extend %SetBorderLight-3
        // Big form input focus
        &:focus
            @extend %SetBorderThemeDull
    &-container &-text-area::placeholder
        @extend %TextMedium
    &-container-error &-text-area
        @extend %SetBorderBad

// Form input word count
.CharacterCount
    // Circle
    &-circle
        // Background
        &-background
            stroke: variables.$bg-1
        // Character count
        &-valid, &-invalid-min
            stroke: variables.$good-0
        // Too many symbols
        &-invalid-max
            stroke: variables.$bad-0
    // Label too many symbols
    &-container-invalid-max
        @extend %TextBad

// Tag input
.GuildedTagCreator-container-input-border
    // Normally
    .Select-control
        border-bottom-color: variables.$border-light-2 !important
        @include set.transition(border-bottom)
    // Hover
    &:hover .Select-control
        border-bottom-color: variables.$border-light-3 !important
    // Focused
    .Select.is-focused .Select-control
        border-bottom-color: var(--NihilityTheme2) !important
// Tags
.GuildedTagCreator-container-dark .Select-value
    // Tag's background
    @extend %OverridePanelMildlyBordered-4
    // Tag's text
    &-label
        @extend %TextMedium
// "Tags (optional)" label
.TextFieldLabel-container-size-sm
    @extend %TextDark

/*
 * --- Toggles ---
 */

// Toggle/switch field
.ToggleFieldWrapper
    // Toggle field title
    &-label
        @extend %TextBad
        font-weight: bold
        @include set.transition(color)
    // Toggle field toggled title
    &-label-active
        @extend %TextGood
    // Moderator view tooltip icon
    &-tooltip-icon
        @extend %SvgMedium
    // All day checkmark icon
    &-icon
        @extend %SvgDark

.SwitchInput
    // Slider off
    &-container .SwitchInput-slide
        @extend %PanelBad
        width: 37px
        height: 20px
        border-radius: 10px
        flex-shrink: 0
    // Slider on
    &-container-on .SwitchInput-slide
        @extend %PanelGood
    // Slider thumb
    &-tab
        @extend %Panel-2
        top: 2px
        left: 2px
        // Disabled
        .SwitchInput-container-disabled &
            @extend %Panel-4

.TriStateInputWrapper-container
    @extend %SetBorderLight-1

.TriStateInputButton-container
    // Types
    &-type
        // All
        &-on,
        &-passThrough,
        &-off
            @extend %Panel-5
        // All selected
        &-on.TriStateInputButton-container-selected,
        &-passThrough.TriStateInputButton-container-selected,
        &-off.TriStateInputButton-container-selected
            @extend %Panel-2
        // Permission allowed
        &-on
            // Icon
            .TriStateInputButton-icon
                @extend %SvgDarker
            // Icon hover
            &:hover .TriStateInputButton-icon
                @extend %SvgDark
            // Selected
            &.TriStateInputButton-container-selected
                // Selected icon
                .TriStateInputButton-icon
                    @extend %SvgGood
                // Selected hover
                &:hover .TriStateInputButton-icon
                    @extend %SvgGoodHighlight
        // Permission inherit
        &-passThrough
            // Icon
            .TriStateInputButton-icon
                @extend %SvgDarker
            // Icon hover
            &:hover .TriStateInputButton-icon
                @extend %SvgDark
            // Selected
            &.TriStateInputButton-container-selected
                // Selected icon
                .TriStateInputButton-icon
                    @extend %SvgNeutral
                // Selected hover
                &:hover .TriStateInputButton-icon
                    @extend %SvgNeutralHighlight
        // Permission denied
        &-off
            // Icon
            .TriStateInputButton-icon
                @extend %SvgDarker
            // Icon hover
            &:hover .TriStateInputButton-icon
                @extend %SvgDark
            // Selected
            &.TriStateInputButton-container-selected
                // Selected icon
                .TriStateInputButton-icon
                    @extend %SvgBad
                // Selected hover
                &:hover .TriStateInputButton-icon
                    @extend %SvgBadHighlight
    // States
    &-disabled
        opacity: 1
        .TriStateInputButton-icon
            opacity: 0.3
    &-highlighted:not(.TriStateInputButton-container-selected)
        @extend %Panel-1

/*
 * --- Option-based ---
 */

%CheckboxUnchecked
    @extend %SetBorderLight-2
%CheckboxUncheckedHover
    @extend %SetBorderThemeDull
%CheckboxChecked
    @extend %PanelTheme
%CheckboxCheckedHover
    @extend %SetBorderThemeDull
%CheckboxCheck
    fill: var(--NihilityThemeFg)

// --- CHECKBOX & CHECKBOX RADIO ---

.CheckboxV2
    &-checkmark
        @extend %CheckboxCheck
    // Checkmark box
    &-box
        @extend %CheckboxUnchecked
    &-box:not(&-box-circular)
        @extend %RadiusSmall
    &-container-desktop:hover &-box
        @extend %CheckboxUncheckedHover
    &-container-checked &-box
        @extend %CheckboxChecked
    &-container-checked:hover &-box
        @extend %CheckboxCheckedHover
    // Name
    &-label-wrapper
        @extend %TextBad
    &-label
        @include set.transition(color)
    &-container-desktop:hover &-label
        @extend %TextBad
    &-container-checked &-label
        @extend %TextGood
    &-container-checked:hover &-label
        @extend %TextGood
    // Description
    &-description
        @extend %TextDark
    &-container-checked &-description
        @extend %TextMedium


// --- CHECKBOX RADIO PANELS ---

.RadioOptionPanel
    // Panel's label overrides the unchecked
    &-label
        @extend %TextBad
    // Container
    &-container
        @extend %PanelBordered-3
    &-container:not(&-container-disabled)::after
        @extend %ContentGlare
    &-container-selected
        @extend %Panel-4

.CheckboxPanel
    &-container
        @extend %PanelBordered-3
    // Hover
    &-container.CheckboxPanel-container-clickable.CheckboxPanel-container-flavor-default:hover
        @extend %Panel-2
    &-container-selected
        @extend %Panel-4
    // Selected hover
    &-container-selected.CheckboxPanel-container-clickable.CheckboxPanel-container-flavor-default:hover
        @extend %Panel-3

    // Checkmark
    &-container-clickable:hover, &-container-clickable:hover
        .CheckmarkIcon-circle
            @extend %CheckboxUncheckedHover

.CheckmarkIcon
    &-circle
        @extend %CheckboxUnchecked
    &-container-selected &-circle
        @extend %CheckboxChecked

// --- SELECTION DROPDOWN ---

.GuildedSelect-container
    // Label
    &.GuildedSelect-container-dark:not(&-has-label-type) .GuildedSelect-label
        @extend %TextMedium
    // Form selector
    .Select-control
        border-color: variables.$border-light-2 !important
        @include set.transition(border-color)
    // Form selector hover
    &.GuildedSelect-container-dark:hover .Select .Select-control,
    &:hover .Select .Select-control
        border-color: variables.$border-light-3 !important

    // Code container stuff
    &-option-color-gray
        // Label in editor
        .GuildedSelect-default-option-wrapper
            @extend %TextDark
        // Label's arrow in editor
        .Select-arrow
            border-top-color: variables.$fg-0
    // Form selector arrow
    .Select-arrow
        border-top-color: variables.$fg-0 !important
        @include set.transition(border-top-color)
    // Form selector placeholder
    .Select-placeholder
        @extend %TextDark
    // Form selector value
    .Select-value-label
        color: variables.$fg-2 !important
    // Form select menu
    &.GuildedSelect-container-dark .Select-menu-outer,
    &.GuildedSelect-container-light .Select-menu-outer
        @extend %OverrideContentMildlyBordered-4

// Form selector focused
.GuildedSelect-container.GuildedSelect-container-dark .Select.is-focused
    .Select-control
        border: solid 1px var(--NihilityTheme2) !important
    .Select-arrow
        border-top-color: var(--NihilityTheme2) !important

// Form selector icon
.GuildedSelectIcon-container
    @extend %SvgDark

.Select
    // Form selector options
    &-menu
        @extend %Panel-2
        padding: variables.$spacing-1
        border-radius: variables.$radius-0
        &-outer
            opacity: variables.$floating-opacity
            @extend %OverridePanelBordered-4

    // Form selector option
    &-option
        border-radius: variables.$radius-0
        @extend %TextMedium
        border: solid 1px transparent
        // Normally
        .GuildedSelect-container.GuildedSelect-container-dark &,
        .GuildedSelect-container.GuildedSelect-container-light &
            @extend %TextMedium
        // Already selected
        &.is-selected,
        .GuildedSelect-container &.is-selected,
        .GuildedSelect-container.GuildedSelect-container-dark &.is-selected,
        .GuildedSelect-container.GuildedSelect-container-light &.is-selected
            background-color: variables.$bg-5
            border: solid 1px variables.$border-light-0
                left: solid 2px var(--NihilityTheme0)
        // Focused
        &.is-focused
            @extend %ContentBordered-0
            .GuildedSelect-container.GuildedSelect-container-dark &,
            .GuildedSelect-container.GuildedSelect-container-light &
                @extend %TextLight
        &.is-selected.is-focused,
        .GuildedSelect-container &.is-selected.is-focused,
        .GuildedSelect-container.GuildedSelect-container-dark &.is-selected.is-focused,
        .GuildedSelect-container.GuildedSelect-container-light &.is-selected.is-focused
            background-color: variables.$bg-6
            border: solid 1px variables.$border-light-1
                left: solid 2px var(--NihilityTheme1)
    // No results found - code container/blocks
    .GuildedSelect-container.GuildedSelect-container-light &-noresults,
    .GuildedSelect-container.GuildedSelect-container-dark &-noresults,
    &-noresults
        @extend %Panel-2
    // Label's arrow acitve in editor
    &.is-open > &-control &-arrow
        border-top-color: variables.$fg-2


// --- ICON DROPDOWN ---

.IconMenuInput-container
    &-gray, &-white,
        .IconMenuInput-chevron-down, .IconMenuInput-selected-value-icon
            @extend %SvgDark
    &-desktop:hover
        .IconMenuInput-chevron-down, .IconMenuInput-selected-value-icon
            @extend %SvgMedium

/*
 * --- Numeric ---
 */

// Voice volume slider
.RangeSlider
    &-container-type-gilded
        // Background
        .RangeSlider-rail
            @extend %Panel-5
        // Current volume
        .RangeSlider-selected-rail
            background: variables.$progress
.RangeSliderStep
    &-label
        @extend %TextDarker
    &-step-type-gilded
        @extend %Panel-4
    &-step-filled
        background-color: color.adjust(variables.$progress, $whiteness: 10%)
.KnobAndLabel-label
    @extend %TextMedium
// Video volume rail
.RangeSlider
    &-rail,
    &-container-type-light &-rail,
    &-container-type-light:hover &-rail
        background-color: rgba(variables.$bg-2, 0.7)
    &-selected-rail,
    &-container-type-light &-selected-rail,
    &-container-type-light:hover &-selected-rail
        background-color: rgba(variables.$progress, 0.9)
// Video volume knob
.SliderKnob-container
    background-color: variables.$bg-1
    box-shadow: variables.$shadow

/*
 * --- Timed ---
 */

// Date & Time input
.FormBoxAndLabel
    &-box
        border-color: variables.$border-light-2
        border-radius: variables.$radius-2
        @include set.transition(border-color)
    &-container-focused &-box,
    &-container-desktop:hover &-box
        @extend %SetBorderLight-3
    // Icon
    &-form-icon
        @extend %SvgDark
    // Text inside input
    &-main-text
        @extend %TextMedium
// Time input
.TimeInput
    // Part selected
    &-input:focus
        background-color: var(--NihilitySelect)
    // : delimeter
    &-delimiter
        @extend %TextDark

.TimeInput-error, .DateInput-error
    .FormBoxAndLabel-box
        @extend %SetBorderBad
// Timezone label
.TimeFieldWrapper-timezone-label
    @extend %TextDark

/*
 * --- Buttons ---
 */

@mixin button-typed($border-colour, $text-colour)
    background: variables.$shading-1
    border: solid 1px $border-colour
    .FormConfirmButtonV2-button-content
        @include set.font-color($text-colour)
@mixin button-typed-hollow($border-colour, $text-colour)
    border: solid 1px $border-colour
    .FormConfirmButtonV2-button-content
        @include set.font-color($text-colour)

.FormConfirmButtonV2
    // Gilded button
    &-container.FormConfirmButtonV2-container-type-gilded
        box-shadow: none
        background: variables.$bg-0
        @extend %SetBorderLight-1
    // Gilded button hover
    &-container-desktop.FormConfirmButtonV2-container-filled:hover
        box-shadow: none
        @extend %SetBorderLight-2
        .FormConfirmButtonV2-button-content
            @include set.font-color(var(--NihilityTheme1))
    // Gilded button text
    &-button-content
        @include set.font-color(var(--NihilityTheme0))

    // Hollow gilded
    &-container.FormConfirmButtonV2-container-hollow
        background: none
        @include button-typed(variables.$border-light-2, var(--NihilityTheme0))
    // Hollow gilded hover
    &-container-desktop.FormConfirmButtonV2-container-hollow:hover
        @include button-typed(variables.$border-light-2, var(--NihilityTheme1))
    // Hollow gilded text
    &-container-hollow &-button-content
        @extend %FontTheme

    // Delete button
    &-container.FormConfirmButtonV2-container-filled.FormConfirmButtonV2-container-type-delete
        @include button-typed(rgba(variables.$bad-0, 0.15), variables.$bad-0)
    &-container-desktop.FormConfirmButtonV2-container-filled.FormConfirmButtonV2-container-type-delete:hover
        @include button-typed(rgba(variables.$bad-0, 0.25), variables.$bad-1)

    // Success button
    &-container.FormConfirmButtonV2-container-filled.FormConfirmButtonV2-container-type-success
        @include button-typed(rgba(variables.$good-0, 0.15), variables.$good-0)
    &-container-desktop.FormConfirmButtonV2-container-filled.FormConfirmButtonV2-container-type-success:hover
        @include button-typed(rgba(variables.$good-0, 0.25), variables.$good-1)

    // Delete hollow
    &-container.FormConfirmButtonV2-container-hollow.FormConfirmButtonV2-container-type-delete
        @include button-typed-hollow(variables.$bad-0, variables.$bad-0)
    &-container-desktop.FormConfirmButtonV2-container-hollow.FormConfirmButtonV2-container-type-delete:hover
        @include button-typed-hollow(variables.$bad-1, variables.$bad-1)

    // Success hollow
    &-container.FormConfirmButtonV2-container-hollow.FormConfirmButtonV2-container-type-success
        @include button-typed-hollow(variables.$good-0, variables.$good-0)
    &-container-desktop.FormConfirmButtonV2-container-hollow.FormConfirmButtonV2-container-type-success:hover
        @include button-typed-hollow(variables.$good-1, variables.$good-1)

    // Normal hollow
    &-container.FormConfirmButtonV2-container-type-bleached
        @include button-typed-hollow(variables.$border-light-2, variables.$normal-0)
    &-container-desktop.FormConfirmButtonV2-container-type-bleached.FormConfirmButtonV2-container-hollow:hover
        @include button-typed-hollow(variables.$border-light-2, variables.$normal-1)

    // Disabled
    &-container.FormConfirmButtonV2-container-filled.FormConfirmButtonV2-container-disabled,
    &-container.FormConfirmButtonV2-container-desktop.FormConfirmButtonV2-container-filled.FormConfirmButtonV2-container-disabled:hover
        @extend %OverrideContentBordered-5
        .FormConfirmButtonV2-button-content
            @extend %FontDarker

    // Disabled hollow
    &-container.FormConfirmButtonV2-container-hollow.FormConfirmButtonV2-container-disabled,
    &-container.FormConfirmButtonV2-container-desktop.FormConfirmButtonV2-container-hollow.FormConfirmButtonV2-container-disabled:hover
        @include button-typed-hollow(variables.$fg-0, variables.$fg-0)
/*
 * --- Colours (Role colours) ---
 */

// Selected colour
.ColorInputOption-container-dot-selected
    border-color: var(--NihilityTheme1)
    @extend %SetBorderThemeDull
// Colour hover
.ColorInputOption-container-size-lg .ColorInputOption-container-dot:not(.ColorInputOption-container-dot-selected):hover
    border-color: variables.$fg-0
// Role description
.TeamRolesListInstructions-container
    @extend %TextDark

/*
 * --- Others ---
 */

// Reorder groups
.GroupSettingsPanel-avatar
    font-size: 22px

/*
 * -=- Related -=-

.DropdownPanel-container
    @extend %Panel-3