/*
 * --=======================--
 *    Custom & Native forms
 * --=======================--
 */

/*
 * -=- Basic -=-
 */

// Section name
.FormSection-section-header
    color: $fg-3

// Custom form header name ("Question 1")
.FormSection-section-header-style-result
    color: $fg-1

// Form "(optional)"
.FormFieldLabel-optional
    color: $fg-0
    @include set-transition(color)
    // Hover
    &:hover
        color: $fg-2

/*
 * -=- Fields -=-
 */

/*
 * --- Text ---
 */

.TextInputWithLabel
    // Form input
    &-container
        border-color: $fg-0
    &-container-has-value &-input-element
        -webkit-text-fill-color: $fg-2
        color: $fg-2
    // Hover
    &-container-desktop:hover
        border-color: $fg-0
    
    // Label
    &-typeahead-suggestion, &-floating-label
        color: $fg-1

    // Form input label invalid
    &-container.TextInputWithLabel-container-invalid
        border-color: $bad-0

        &:hover
            border-color: $bad-0
        
        .TextInputWithLabel-floating-label,
        &:hover
            .TextInputWithLabel-floating-label
                border-color: $bad-0

// Form input valid
.TextInputWithLabel-container-valid.TextInputWithLabel-container-focused
    border-color: $good-0

// Form input icon
.ValidityIndicator-container
    // Invalid
    &-invalid
        border-color: $bad-0
        fill: $bad-0
    // Valid
    &-valid
        fill: $good-0


// Big form input
.TextAreaInput-text-area
    border-color: $fg-0
    color: $fg-2
    @include set-transition(border-color)
    // Big form input hover
    &:hover
        border-color: $border-light-1
    // Big form input focus
    &:focus
        border-color: var(--NihilityTheme2)


// Form input word count
.CharacterCount
    // Circle
    &-circle
        // Background
        &-background
            stroke: $bg-1
        // Character count
        &-valid, &-invalid-min
            stroke: $good-0
        // Too many symbols
        &-invalid-max
            stroke: $bad-0
    // Label too many symbols
    &-container-invalid-max
        color: $bad-0

/*
 * --- Toggles ---
 */

// Toggle/switch field
.ToggleFieldWrapper
    // Toggle field title
    &-label
        color: $bad-0
        font-weight: bold
        @include set-transition(color)
    // Toggle field toggled title
    &-label-active
        color: $good-0
        font-weight: bolder
    // Moderator view tooltip icon
    &-tooltip-icon
        fill: $fg-2
    // All day checkmark icon
    &-icon
        fill: $fg-1

.SwitchInput
    // Slider off
    &-container .SwitchInput-slide
        background-color: $bad-0
    // Slider on
    &-container-on .SwitchInput-slide
        background-color: $good-0
    // Slider thumb
    &-tab
        background-color: $bg-3
        // White shadow
        box-shadow: $shadow
        // Disabled
        .SwitchInput-container-disabled &
            background-color: $bg-1

.TriStateInputWrapper-container
    border-color: $border-light-0

.TriStateInputButton-container-type
    // All
    &-on,
    &-passThrough,
    &-off
        background-color: $bg-0
    // All selected
    &-on.TriStateInputButton-container-selected,
    &-passThrough.TriStateInputButton-container-selected,
    &-off.TriStateInputButton-container-selected
        background-color: $bg-3
    // Permission allowed
    &-on
        // Icon
        .TriStateInputButton-icon
            fill: $fg-0
        // Icon hover
        &:hover .TriStateInputButton-icon
            fill: $fg-1
        // Selected
        &.TriStateInputButton-container-selected
            // Selected icon
            .TriStateInputButton-icon
                fill: $good-0
            // Selected hover
            &:hover .TriStateInputButton-icon
                fill: $good-1
    // Permission inherit
    &-passThrough
        // Icon
        .TriStateInputButton-icon
            fill: $fg-0
        // Icon hover
        &:hover .TriStateInputButton-icon
            fill: $fg-1
        // Selected
        &.TriStateInputButton-container-selected
            // Selected icon
            .TriStateInputButton-icon
                fill: $neutral-0
            // Selected hover
            &:hover .TriStateInputButton-icon
                fill: $neutral-1
    // Permission denied
    &-off
        // Icon
        .TriStateInputButton-icon
            fill: $fg-0
        // Icon hover
        &:hover .TriStateInputButton-icon
            fill: $fg-1
        // Selected
        &.TriStateInputButton-container-selected
            // Selected icon
            .TriStateInputButton-icon
                fill: $bad-0
            // Selected hover
            &:hover .TriStateInputButton-icon
                fill: $bad-1

/*
 * --- Option-based ---
 */

// Form checkbox
.CheckmarkIcon-container .CheckmarkIcon-circle,
.CheckboxV2-container-desktop .CheckboxV2-box
    border-color: $fg-0
// Form checkbox hover
.CheckmarkIcon-container:hover .CheckmarkIcon-circle,
.CheckboxV2-container-desktop:hover .CheckboxV2-box
    border-color: var(--NihilityTheme1)
// Form checkbox checked
.CheckmarkIcon-container-selected .CheckmarkIcon-circle,
.CheckboxV2-container-checked .CheckboxV2-box
    background-color: var(--NihilityTheme1)
    border-color: var(--NihilityTheme0)
// Form checkbox checked hover
.CheckmarkIcon-container-clickable:hover.CheckmarkIcon-container-selected .CheckmarkIcon-circle
    background-color: var(--NihilityTheme2)
    border-color: var(--NihilityTheme1)

// Form checkbox label
.CheckboxV2-label,
.RadioOptionPanel-label,
.CheckboxV2-label-wrapper
    color: $fg-1

.CheckboxV2-container-unchecked:hover .CheckboxV2-label,
.RadioInput-container-unselected:hover .CheckboxV2-label,
.RadioInput-container-unselected:hover .RadioOptionPanel-label,
.CheckboxV2-container-checked .CheckboxV2-label,
.RadioOptionPanel-container-selected .CheckboxV2-label,
.RadioOptionPanel-container-selected .RadioOptionPanel-label
    color: $fg-2
// Form checkbox description
.CheckboxV2-description
    color: $fg-1
.CheckboxV2-container-checked .CheckboxV2-description
    color: $fg-2

.GuildedSelect-container
    // Form selector hover
    &.GuildedSelect-container-dark:hover .Select .Select-control,
    &:hover .Select .Select-control
        border-color: $fg-0 !important
    // Form selector
    .Select-control
        border-color: $fg-0 !important

// Form selector focused
.GuildedSelect-container.GuildedSelect-container-dark .Select.is-focused .Select-control
    border-color: var(--NihilityTheme2) !important

// Form selector icon
.GuildedSelectIcon-container
    fill: $fg-1

.GuildedSelect-container
    // Form selector arrow
    .Select-arrow
        border-top-color: var(--NihilityTheme0)
    // Form selector placeholder
    .Select-placeholder
        color: $fg-1
    // Form selector value
    .Select-value-label
        color: $fg-2

.Select
    // Form selector options
    &-menu
        background-color: $bg-4
        &-outer
            opacity: $floating-opacity
            border-color: $border-dark-1 !important

    // Form selector option
    &-option
        color: $fg-2
        &.is-focused
            background-color: $bg-5
        &.is-selected,
        .GuildedSelect-container &.is-selected,
        .GuildedSelect-container.GuildedSelect-container-dark &.is-selected
            background-color: $bg-3
        // &.is-focused.is-selected
        //     background-color: $bg-3
    // No results found - code container/blocks
    .GuildedSelect-container.GuildedSelect-container-dark &-noresults,
    &-noresults
        background-color: $bg-4

/*
 * --- Timed ---
 */

// Date input
.FormBoxAndLabel
    &-box
        border-color: $fg-0
        @include set-transition(border-color)
    &-container-focused &-box,
    &-container-desktop:hover &-box
        border-color: $border-light-1
    // Icon
    &-form-icon
        fill: $fg-1
    // Text inside input
    &-main-text
        color: $fg-3
// Time input
.TimeInput
    // Part selected
    &-input:focus
        background-color: var(--NihilitySelect)
    // : delimeter
    &-delimiter
        color: $fg-1
// Timezone label
.TimeFieldWrapper-timezone-label
    color: $fg-1

/*
 * --- Buttons ---
 */

@mixin button-typed($border-colour, $text-colour)
    background: $shading-1
    border: solid 1px $border-colour
    .FormConfirmButtonV2-button-content
        @include set-color($text-colour)
@mixin button-typed-hollow($border-colour, $text-colour)
    border: solid 1px $border-colour
    .FormConfirmButtonV2-button-content
        @include set-color($text-colour)

.FormConfirmButtonV2
    // Gilded button
    &-container.FormConfirmButtonV2-container-type-gilded
        background: $shading-1
        box-shadow: none
        border-color: $border-light-0
    // Gilded button hover
    &-container-desktop.FormConfirmButtonV2-container-filled:hover
        box-shadow: none
        border-color: $border-light-1
        .FormConfirmButtonV2-button-content
            @include set-color(var(--NihilityTheme1))
    // Gilded button text
    &-button-content
        @include set-color(var(--NihilityTheme0))
    
    // Hollow gilded
    &-container.FormConfirmButtonV2-container-hollow
        background: none
        border-color: $fg-0
    // Hollow gilded hover
    &-container-desktop.FormConfirmButtonV2-container-hollow:hover
        border-color: $fg-1
        .FormConfirmButtonV2-button-content
            @include set-color(var(--NihilityTheme1))
    // Hollow gilded text
    &-container-hollow &-button-content
        @include set-color(var(--NihilityTheme0))

    // Delete button
    &-container.FormConfirmButtonV2-container-filled.FormConfirmButtonV2-container-type-delete
        @include button-typed($border-light-0, $bad-0)
    &-container-desktop.FormConfirmButtonV2-container-filled.FormConfirmButtonV2-container-type-delete:hover
        @include button-typed($border-light-1, $bad-1)
    
    // Success button
    &-container.FormConfirmButtonV2-container-filled.FormConfirmButtonV2-container-type-success
        @include button-typed($border-light-0, $good-0)
    &-container-desktop.FormConfirmButtonV2-container-filled.FormConfirmButtonV2-container-type-success:hover
        @include button-typed($border-light-0, $good-1)
    
    // Delete hollow
    &-container.FormConfirmButtonV2-container-hollow.FormConfirmButtonV2-container-type-delete
        @include button-typed-hollow($bad-0, $bad-0)
    &-container-desktop.FormConfirmButtonV2-container-hollow.FormConfirmButtonV2-container-type-delete:hover
        @include button-typed-hollow($bad-1, $bad-1)
    
    // Success hollow
    &-container.FormConfirmButtonV2-container-hollow.FormConfirmButtonV2-container-type-success
        @include button-typed-hollow($good-0, $good-0)
    &-container-desktop.FormConfirmButtonV2-container-hollow.FormConfirmButtonV2-container-type-success:hover
        @include button-typed-hollow($good-1, $good-1)
    
    // Normal hollow
    &-container.FormConfirmButtonV2-container-type-bleached
        @include button-typed-hollow($fg-0, $normal-0)
    &-container-desktop.FormConfirmButtonV2-container-type-bleached.FormConfirmButtonV2-container-hollow:hover
        @include button-typed-hollow($fg-1, $normal-1)

    // Disabled
    &-container.FormConfirmButtonV2-container-filled.FormConfirmButtonV2-container-disabled,
    &-container.FormConfirmButtonV2-container-desktop.FormConfirmButtonV2-container-filled.FormConfirmButtonV2-container-disabled:hover
        background-color: $bg-0
        border-color: $border-light-0
        .FormConfirmButtonV2-button-content
            @include set-color($fg-0)

    // Disabled hollow
    &-container.FormConfirmButtonV2-container-hollow.FormConfirmButtonV2-container-disabled,
    &-container.FormConfirmButtonV2-container-desktop.FormConfirmButtonV2-container-hollow.FormConfirmButtonV2-container-disabled:hover
        @include button-typed-hollow($fg-0, $fg-0)
/*
 * --- Colours (Role colours) ---
 */

// Selected colour
.ColorInputOption-container-dot-selected
    border-color: var(--NihilityTheme1)
// Colour hover
.ColorInputOption-container-size-lg .ColorInputOption-container-dot:not(.ColorInputOption-container-dot-selected):hover
    border-color: $fg-0
// Role description
.TeamRolesListInstructions-container
    color: $fg-1