@require "../../variables.styl"

/*
 * -=- Server list -=-
 */

/*
 * --- Add servers ---
 */

.InlineAddItemControl
    // Server list add icon
    &-add-icon
        @extends $TransitionBackground
        @extends $SvgMedium
        // The SVG icon
        svg
            @extends $TransitionFill
        // Group add icon
        .GroupSelector-add-group &
            border-radius: 50%
            @extends $TransitionBounce
        .GroupSelector-add-group:hover &
            @extends $RadiusSmall
    &-container.InlineAddItemControl-container-desktop:hover &-add-icon
        @extends $SvgLight
    // Server list add text
    &-name
        @extends $TextMediumTransition
    &-container.InlineAddItemControl-container-desktop:hover &-name
        @extends $TextLight
// Server list add
.InlineAddItemControl-container
    --inline-add-icon-background-color: bg-3
    // Hover
    &:hover, &-flavor-background-highlight.InlineAddItemControl-container-desktop:hover
        // Server list add icon hover
        .InlineAddItemControl-add-icon
            background-color: bg-5
            fill: fg-3
        // Server list add text hover
        .InlineAddItemControl-name
            @extends $TextLight

/*
 * --- Current navigation ---
 */

// Server list server
.NavV4SelectorRow
    &-container
        local-spacing = spacing-0 - 1px
        margin: 0 local-spacing
        @extends $FullBorderTransparent
        // Hover
        &::after
            transition(opacity)
        &:hover
            @extends $ContentMildlyBordered-4
        // Has notifications
        &-unread
            &::before
                @extends $Notification
                left: -(local-spacing) - 5px
            .NavV4TeamSelectorRow-team-name
                color: mark-text
            &:hover .NavV4TeamSelectorRow-team-name
                color: mark-text-hover
    // The ring around the server
    &-container-icon-outline:hover &-icon-container::after
        opacity: 0
    &-container-icon-outline.NavV4SelectorRow-container-active &-icon-container::after
        border: solid 2px active
        opacity: 1

    // Server list switcher buttons
    &-svg-icon
        @extends $SvgMedium

.NavV4TeamSelectorBottomOptionsList-label
    @extends $TextMedium
// Server list revealer
.NavV4ItemIcon-icon
    @extends $SvgDark
// Server list favourite icon
.FavoriteTeamButton-container
    @extends $SvgDarkTransition
    // Server list favourite hover
    &:hover
        @extends $SvgLight

// Server list item content
.NavV4TeamSelectorRow
    &-team-name
        @extends $TextMedium
    &-member-count
        @extends $TextDark

// Favourite server list
.NavV4FooterGlobalContextDisplay-teams-wrapper
    @extends $Panel-4
.NavV4BadgedItem-container
    width: auto
    // Favourite server hover
    &::after
        @extends $ContentGlare

/*
 * --- Legacy navigation ---
 */

// Whole bar
.Navbar-container
    @extends $Panel-5
    --border-color: bg-0
// Guilded logo
.LogoAndWordmarkV2-container-theme-light
    @extends $SvgDark
// Guilded logo active
.LogoAndWordmarkV2-container-theme-gilded
    @extends $SvgThemeBleached
// User card
.NavbarUserControls-container
    --border-color: bg-0

// The buttons
.ChatChannelIcon-icon-group, // DM icon
.NavbarNavExploreIcon-link .NavbarNavExploreIcon-icon // Explore stuff icons
    @extends $SvgDark
// Selected icons
.ChatChannelIcon-container-selected .ChatChannelIcon-icon-group
    @extends $SvgMedium


/*
 * --- Search ---
 */

// Server search
.SearchBarV2-container.SearchBarV2-container-focused,
.TeamSearchBar-search-bar-input
    @extends $Panel-0
// In-server search, emote search
.SearchBarV2-container-unfocused::after,
.SearchBarInput-container-bordered,
.SearchBarV2-container
    border-radius: 10px
    @extends $OverrideContentBordered-darker
// Search focused
.SearchBarV2-container-unfocused::after
    @extends $ContentGlare

// Results
.TeamSearchBar-search-results
    @extends $ContentBordered-2
// Result item
.TeamSearchShallowResult
    &-container::before
        @extends $ContentGlare
    &-container-focused
        @extends $Panel-1
    // Channel icon
    &-icon-content-type
        @extends $SvgDark
    // Content
    &-title
        @extends $TextMedium
    &Subtitle-container
        @extends $TextDark
    // In ...
    &Description-container
        @extends $TextDarker

    // Type icon
    &-icon-search-category
        background-color: bg-1 !important
        // Colour based on type
        .icon-content
            fill: $blue
        .icon-team-find
            fill: $yellow
        .icon-hashtag-new
            fill: $green
        .icon-profile
            fill: $cyan
    &-container-focused &-icon-search-category
        background-color: bg-2

// Search result type icon
.AvatarIcon-container
    @extends $SvgMedium

.SearchBarV2-container
    // Search icon
    .SearchBarV2-icon
        @extends $SvgMedium
    // Search placeholder
    .SearchBarV2-input::placeholder
        @extends $TextDark

//---- Search Results ----//

// Server search wrapper
.MinimalNavSearchBar-search-results
    opacity: floating-opacity
.GlobalSearchResult
    // Server search
    &s
        &-container
            @extends $Panel-3
        // Public servers header
        &-header
            @extends $TextDark
    // Server search item
    &-container-desktop
        // Server search item focused
        &.GlobalSearchResult-container-focused
            @extends $Panel-2
        // Hovered over
        &::after
            @extends $ContentGlare



/*
 * -=- User card -=-
 */

// User card
.NavV4Footer-container
    @extends $Panel-4

// // User card's content
// .NavV4Footer-right,
// .NavV4Footer-footer-content
//     border-top-right-radius: radius-3

// User card's name
.LoggedInUserAvatar-name
    @extends $TextMediumTransition
    &:hover
        @extends $TextLight

.LoggedInUserStatus
    // User card's status
    &-content-with-status, &-container
        color: fg-1
        transition(color)
        // Hover
        &:hover
            @extends $TextMedium

// User card buttons
.TransientMenuTrigger-container
    @extends $SvgDarkTransition
    &.TransientMenuTrigger-container-desktop:hover .TransientMenuTrigger-icon
        @extends $SvgMedium

.NavIcon-container-type-vertical-nav
    @extends $SvgDarkTransition
    &:hover
        @extends $SvgMedium

// More button (1) sign
.CircleBadgeV2-container
    background-color: important

.NavV4Footer-footer-content,
.NavV4Footer-right,
.NavV4Sidebar-container
    @extends $Panel-5


/*
 * -=- Groups -=-
 */

// Sets group list width
body
    --group-selector-width: icon-size + 16px
// Group list
.NavV4Sidebar-container,
.GroupSelector-container,
// Group list in group editing
.GroupSelectorPreview-minimal-nav
    @extends $Panel-4
    --border-color: bg-0
// Group
.GroupSelectorItem-container
    --avatar-size: icon-size

// Groups and legacy nav servers
.NavSelectorItem
    &-container .GroupAvatar-container
        font-size: 1.2em
    // Don't show it on hovered groups
    &-container-highlighted:not(&-container-active) &-contents,
    &-container-desktop:not(&-container-active):hover &-contents
        &::after
            opacity: 0
    // Actual active border
    &-container-active &-contents::after
        border: solid 2px alpha(mix(active, fg-0, 50%), 70%)

// Default group icon
//.GroupAvatar-container-non-base
//    font-size: 1.3em

// The border around status and group's emote
.GroupAvatarBadge-container-reaction,
.LoggedInUserAvatar-online-status
    @extends $Panel-4

// Group settings background
.CreateGroupLivePreview-LiveView
    background: bg-0


/*
 * -=- Header -=-
 */

// Tourney header
.TournamentNavHeader-container
    @extends $PanelTransparent
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5)
    z-index: 105
// Server header name
.PageNavAvatarName-name-text
    @extends $TextLight
// Server header group name
.TeamNavGroupHeader-name
    @extends $TextMedium
// Server header hover
.TeamNavHeader-options-carat::after
    background-color: bg-hover
    transition(opacity)
// Server header caret
.TeamNavHeader-options-carat.TeamNavTeamOptionsCarat-icon
    @extends $SvgMedium
// Server header button
.TeamNavHeaderRowButton-container
    @extends $Panel-0
    // Server header button hovered
    &:not(.TeamNavHeaderRowButton-container-disabled)::after
        @extends $ContentGlare
// Server header button icon
.TeamNavHeaderRowButton-icon
    @extends $SvgMedium
// Server header button text
.TeamNavHeaderRowButton-text
    @extends $TextMedium