@require "../../variables"
@require "../../set"
@require "../../content"
@require "../guilded-variables"

/*
 * --===============--
 *    Guilded pages
 * --===============--
 */

/*
 * -=- DMs -=-
 */

// Side bar
.WebAppV2-sidebar
    @extends $PanelDark
.ChatChannelList
    &-container
        @extends $PanelDark
    &-items, &-items:hover
        SetScrollbar()

.ChatChannelListItem
    &-container
        --border-color: bg-colour[2]
        border: solid 1px transparent
        &-unread::before
            @extends $Notification
    // Selected DMs
    &-container&-container-selected
        @extends $ContentLight
        --border-color: bg-colour[4]
    // Hovered DMs
    &-container:not(&-container-selected):hover
        @extends $MildContentLight
        --border-color: bg-colour[3]
    // Remove DMs crossmark
    &-container:not(&-container-selected):hover &-remove-icon,
    &-container-selected &-remove-icon
        background-color: transparent
        fill: fg-colour[1]
        transition: fill
        // Remove DMs crossmark hover
        &:hover
            @extends $SvgLight
    // Selected DMs content
    &Info-container-selected
        // Name
        .ChatChannelListItemInfo-name
            @extends $TextLight
        // Text
        .ChatChannelListItemInfo-latest-message
            @extends $TextMedium
        // Timestamp
        .ChatChannelListItemInfo-last-at
            @extends $TextDark
    // Unread DMs
    &-container-unread
        .ChatChannelListItemInfo
            &-latest-message, &-name
                @extends $TextLight

// User typing in DMs
.TypingIndicator-container
    @extends $PanelLight

// Removed DMs background
.ChatSummary-container
    @extends $PanelMedium

/*
 * -=- Tournaments -=-
 */

/*
 * --- Sidebar ---
 */

// Sidebar
.NavV4SectionSidebar-container
    @extends $PanelTransparent

// Selected tab
.NavV4SectionSidebarOption-container-active
    @extends $SubContentLightHighlighted
    // Selected tab icon
    .NavV4SectionSidebarOption-icon
        @extends $SvgLight
    // Selected tab text
    .NavV4SectionSidebarOption-label
        @extends $TextLight

/*
 * --- Content ---
 */

// Tournament page
.TournamentsPortal
    // Container
    &Page-container
        @extends $PanelDark
        SetScrollbar()
    // Video
    &Header-video-mask
        background-image: linear-gradient(to bottom, alpha(bg-colour[2], 0.85) 20%, rgba(0, 0, 0, 0) 65%, alpha(bg-colour[2], 0.95))
// Tournament card
.TournamentCard-container
    @extends $ContentLight
// Information icon
.TournamentSummaryItem
    &-container-size-sm &-icon
        @extends $SvgDark
    // Information text
    &-text
        @extends $TextMedium
// This group is archived
.GroupUpsell-container-archived
    @extends $PanelMedium

/*
 * -=- API -=-
 */

.RestApiDocs
    &-container
        @extends $PanelMedium
    &-sidebar
        SetScrollbar()
    &-logo
        opacity: 35%
    &-content
        @extends $TextMedium
    // Endpoint header
    &-api-callout
        color: info
    &SchemaItem-verb
        color: action
    // Required permissions
    &PermissionItem-container
        @extends $ContentDark
    // Events
    &WebSocketsSection
        &-name
            @extends $InlineCode
    // Tables
    &TableRow-container
        @extends $SubContentDark
        border-bottom-color: bg-colour[4]
        &:nth-child(2n)
            @extends $ContentDark
        &-flavor-dark
            @extends $TextMedium

.GuildedTableBase-row-container
    SetScrollbar()

.Collapsible
    &Group-container
        @extends $PanelMediumHighlighted
        position: relative
        &::before
            SetBorderOverlay(border-light[0], 4px)
        &-flavor-grey
            @extends $PanelMediumHighlighted
    &ItemHeader-container
        @extends $PanelDark
        ^[0]Group-container-flavor-grey &
            @extends $PanelDark
        &-desktop::after
            @extends $ContentGreyHighlight
/*
 * -=- Explore -=-
 */

// Background of explore pages
.ExplorePage-container
    @extends $PanelDark
// Sidebar page list
.NavbarNavIcon-container
    &:hover
        background-color: alpha(bg-hover, 0.1)
    // Selected
    &-selected
        @extends $PanelMedium

// Find a server tabs
.IconNavMenuButton-icon
    @extends $SvgDarkTransition
    .IconNavMenuButton-container-desktop:hover &
        @extends $SvgMedium
// Find a server tabs containers
.IconNavMenuButton-container
    @extends $TransitionColour
    &, &:visited, &:active, &:focus
        @extends $TextDark
    &:hover
        @extends $TextMedium

.CardList
    // Title
    &-label
        @extends $TextLight
// "A new way to scrim" Description
.TitleAndDescriptionPanel-description
    @extends $TextDark
// No scrims description
.ScrimFinderRecentMatches-none
    @extends $TextDark
// Scrim team
.ScrimFinderLeaderboardTeam
    &-name
        @extends $TextLight
    // Index
    &-rank
        @extends $TextDark

// Post card
.ContentCard
    &-container
        @extends $PanelMedium
    // Footer
    &-metas
        @extends $PanelMild
        // Footer hover
        &::after
            @extends $ContentGlare

// Profile post card
.ProfilePostCard
    &-title
        @extends $TextLight
    &-metas-time
        @extends $TextDark

// Invite progressbar
.PercentageBar
    // Empty
    &-backplate-div
        background-color: bg-colour[2] !important
    // Progress
    &-progress-div
        background-color: progress !important
    // Progressbar
    &-container-type-success .PercentageBar-progress-div
        @extends $SetBorderDark-1
// Invite text
.RequirementProgressBar-unsatisfied-text
    @extends $TextDark

// Explore servers and players game selector
.TypeaheadInput-container-dropdown .TypeaheadInput-typeahead-options-list,
.TypeaheadMenu-container
    @extends $SetMildContentLight
    .SelectMenuItem-label
        @extends $TextMedium

// /*
//  * -=- Jobs -=-
//  */

// .LandingPageNavBar-container-theme-gilded
//     @extends $PanelLight
// .LogoAndWordmarkV2-container-theme-dark
//     fill: $gold
// .LandingPageNavBarLinks-container-theme-dark .LandingPageNavBarLinks-link
//     &, &:focus, &:active, &:visited, &:hover
//         color: $gold
// .JobLandingHeader
//     &-container::before
//         @extends .LandingPageNavBar-container-theme-gilded
//     &-title
//         color: $gold
//     &-description
//         color: $gold
// .JobOpeningHeader
//     &-icon
//         fill: $gold
//     &-container
//         color: $gold
//         .ParagraphRenderer
//             color: $gold

// $JobsSectionHeading
//     @extends $TextLight
// $JobsSectionDescription
//     @extends $TextMedium
// $JobsItemHeading
//     @extends $TextMedium
// $JobsItemDescription
//     @extends $TextDark
// // Jobs
// .JobLandingOpenings
//     &-heading
//         @extends $JobsSectionHeading
//     &-description
//         @extends $JobsSectionDescription
//     &-job
//         @extends $ContentLight
//         &:hover
//             @extends $PanelMediumHighlighted
//         &-icon, svg
//             @extends $SvgDark
//         &:hover svg
//             fill: $gold
//         &-fill-light-blue:hover svg
//             fill: $blue
//         &-fill-green:hover svg
//             fill: $green
//         &-title
//             @extends $JobsItemHeading
//         &-subtext
//             @extends $JobsItemDescription
// // Perks
// .JobsPerks
//     &-container
//         @extends $PanelMedium
//     &-header
//         @extends $JobsSectionHeading
//     &-description
//         @extends $JobsSectionDescription
// .JobsPerk
//     &-icon
//         fill: $gold
//     &-name
//         @extends $JobsItemHeading
//     &-description
//         @extends $JobsItemDescription
// // Learn more
// .JobLearnMore
//     &-header
//         @extends $JobsSectionHeading
//     &-description
//         @extends $JobsSectionDescription