@use "../../base"
@use "../../set"
@use "../../borders"

/*
 * --===============--
 *    Guilded pages
 * --===============--
 */

/*
 * -=- Profiles -=-
 */

// Profile content
.UserProfileV3-container
    background-color: base.$bg-3

// Tab header
.NavV4SectionSidebarOptionGroup-header
    color: base.$fg-1
.NavV4SectionSidebarOption
    // Tab icon
    &-icon
        fill: base.$fg-1
        // Active
        .NavV4SectionSidebarOption-container-active &
            fill: base.$fg-2
    // Tab text
    &-label
        color: base.$fg-2
        // Active
        .NavV4SectionSidebarOption-container-active &
            color: base.$fg-3
    // Hover
    &-container-inactive::after
        background-color: base.$bg-hover
.UserProfilePictureControl
    // Status icon
    &-online-status
        border-color: base.$border-dark-1
        right: 0
    // Avatar
    &-picture
        border-radius: base.$radius-4

/*
 * --- Posts ---
 */

// Tagline
.OverviewWidgetItem-text-paragraph
    color: base.$fg-2

// Profile setting buttons
.UserProfileActionRow-button-icon
    fill: base.$fg-2

// Game overview arrow
.OverviewPageWidgetHeader-container-desktop .OverviewPageWidgetHeader-link-icon
    fill: base.$fg-1
    @include set.transition(fill)
    // Game overview arrow hovered
    &:hover
        fill: base.$fg-2
// Game
.UserGameSummaryCard-container
    background-color: base.$bg-1
// Game property
.UserInfoSummaryItem
    // Label
    &-label
        color: base.$fg-1
    // Value
    &-summary-content
        color: base.$fg-2

// Post
.UserProfilePostPanel-container
    border-radius: base.$radius-2
    @extend %PanelBordered-2
    // Post highlighted(currently all)
    &-highlight
        // Until it gets fixed, remove the highlight
        border-top: none
        //border-top-color: var(--NihilityTheme0)
// Post author's name
.UserName-container,
.TeamMemberBubble-name,
.UserBasicInfoDisplay-name,
.TeamWidgetProfileDetails-name
    color: base.$fg-3
// No more posts text
.NullState-container
    color: base.$fg-1
// No more posts SVG
.GuildedBotAvatar-container
    fill: base.$fg-1

/*
 * --- Games ---
 */

// Game
.PlayerAliasCard-container-type-game
    background-color: base.$bg-1
// Game border
.CardWrapper-container:not(.CardWrapper-container-highlighted)::after
    border-color: base.$border-dark-1
// Game header
.PlayerCard
    // Container
    &-container
        background-color: transparent
    // Game's name
    &GameInfo-name
        color: base.$fg-3
// Game header player's name
.GameAliasDisplay-container
    color: base.$fg-1
    @include set.transition(color)
    // Name hover
    &:hover
        color: var(--NihilityTheme2)
// Game info
.PlayerAliasCard-container-type-game .PlayerAliasCard-info
    background-color: transparent
// Game info no accounts linked
.UserSocialPresence-no-other-links
    color: base.$fg-1
// Game info handle
.UserRichSocialLink
    // Icon
    &-avatar
        fill: base.$fg-1
    // Text
    &-handle
        color: base.$fg-2
    // Details
    &-metadata
        color: base.$fg-1

/*
 * --- Friends ---
 */

// A button when hovering over friends
.FriendsList-actions .FriendList-action-icon
    background-color: base.$bg-2

/*
 * -=- DMs -=-
 */

// Side bar
.ChatChannelList-container,
.WebAppV2-sidebar
    background-color: base.$bg-1

.ChatChannelListItem
    &-container
        --border-color: #{base.$bg-1}
    // Selected DMs
    &-container-selected
        background-color: base.$bg-4
        --border-color: #{base.$bg-3}
    // Hovered DMs
    &-container:not(&-container-selected):hover
        background-color: base.$bg-3
        --border-color: #{base.$bg-2}
    // Remove DMs crossmark
    &-container:not(&-container-selected):hover &-remove-icon,
    &-container-selected &-remove-icon
        background-color: transparent
        fill: base.$fg-1
        @include set.transition(fill)
        // Remove DMs crossmark hover
        &:hover
            fill: base.$fg-3
    // Selected DMs content
    &Info-container-selected
        // Name
        .ChatChannelListItemInfo-name
            color: base.$fg-3
        // Text
        .ChatChannelListItemInfo-latest-message
            color: base.$fg-2
        // Timestamp
        .ChatChannelListItemInfo-last-at
            color: base.$fg-1

// User typing in DMs
.TypingIndicator-container
    background-color: base.$bg-5

/*
 * -=- Tournaments -=-
 */

/*
 * --- Sidebar ---
 */

// Sidebar
.NavV4SectionSidebar-container
    background-color: transparent

// Selected tab
.NavV4SectionSidebarOption-container-active
    background-color: base.$bg-4
    // Selected tab icon
    .NavV4SectionSidebarOption-icon
        fill: base.$fg-3
    // Selected tab text
    .NavV4SectionSidebarOption-label
        color: base.$fg-3

/*
 * --- Content ---
 */

// Tournament page
.TournamentsPortal
    // Container
    &Page-container
        background-color: base.$bg-3
    // Video
    &Header-video-mask
        background-image: linear-gradient(to bottom, rgba(base.$bg-3, 0.85) 20%, rgba(0, 0, 0, 0) 65%, rgba(base.$bg-3, 0.95))
// Tournament card
.TournamentCard-container
    background-color: base.$bg-4
// Information icon
.TournamentSummaryItem
    &-container-size-sm &-icon
        fill: base.$fg-1
    // Information text
    &-text
        color: base.$fg-2
// This group is archived
.GroupUpsell-container-archived
    background-color: base.$bg-3

/*
 * -=- Flow -=-
 */

.ApiDocs
    &-container
        background-color: base.$bg-3
    &-api-callout
        color: base.$info
.RestApiDocs
    &Table-row
        @extend %PanelBordered-3
    &SchemaItem-verb
        color: base.$action

/*
 * -=- Explore -=-
 */

// Background of explore pages
.ExplorePage-container
    background-color: base.$bg-3
// Sidebar page list
.NavbarNavIcon-container
    &:hover
        background-color: rgba(base.$bg-hover, 0.1)
    // Selected
    &-selected
        background-color: base.$bg-3

// Find a server tabs
.IconNavMenuButton-icon
    fill: base.$fg-1
    @include set.transition(fill)
    .IconNavMenuButton-container-desktop:hover &
        fill: base.$fg-2
// Find a server tabs containers
.IconNavMenuButton-container
    @include set.transition(color)
    &, &:visited, &:active, &:focus
        color: base.$fg-1
    &:hover
        color: base.$fg-2

.CardList
    // Title
    &-label
        color: base.$fg-3
// "A new way to scrim" Description
.TitleAndDescriptionPanel-description
    color: base.$fg-1
// No scrims description
.ScrimFinderRecentMatches-none
    color: base.$fg-1
// Scrim team
.ScrimFinderLeaderboardTeam
    &-name
        color: base.$fg-3
    // Index
    &-rank
        color: base.$fg-1

// Post card
.ContentCard
    &-container
        background-color: base.$bg-3
    // Footer
    &-metas
        background-color: base.$bg-2
        // Footer hover
        &::after
            background-color: base.$bg-hover

// Profile post card
.ProfilePostCard
    &-title
        color: base.$fg-3
    &-metas-time
        color: base.$fg-1
        @include set.transition(color)
        .ContentCard-container:hover &
            color: base.$fg-3

// Invite progressbar
.PercentageBar
    // Empty
    &-backplate-div
        background-color: base.$bg-1 !important
    // Progress
    &-progress-div
        background-color: base.$progress !important
    // Progressbar
    &-container-type-success .PercentageBar-progress-div
        border-color: base.$border-dark-1
// Invite text
.RequirementProgressBar-unsatisfied-text
    color: base.$fg-1

// Explore servers and players game selector
.TypeaheadInput-container-dropdown .TypeaheadInput-typeahead-options-list,
.TypeaheadMenu-container
    background-color: base.$bg-4
    border-color: base.$border-dark-1
    .SelectMenuItem-label
        color: base.$fg-2

// Game selector input
.TextInputWithLabel-container-dropdown
    border-color: base.$border-light-2
    // Hover
    &.TextInputWithLabel-container-desktop:hover
        border-color: base.$border-light-2
    // Focused
    &.TextInputWithLabel-container-focused,
    &.TextInputWithLabel-container-focused:hover
        border-color: var(--NihilityTheme0) !important
// Add background to it as well
.SelectMenu-container
    background-color: base.$bg-4
// Game selector item
.SelectMenuItem-container
    &-desktop:hover
        background-color: base.$bg-3
        .SelectMenuItem-label
            color: base.$fg-3
    &-selected
        background-color: base.$bg-2
        .SelectMenuItem-label
            color: base.$fg-3
    // Game selector first item
    &-border-bottom
        border-color: base.$border-dark-1

/*
 * -=- Jobs -=-
 */

.LandingPageNavBar-container-theme-gilded
    background-color: base.$bg-4
.LogoAndWordmarkV2-container-theme-dark
    fill: base.$gold
.LandingPageNavBarLinks-container-theme-dark .LandingPageNavBarLinks-link
    &, &:focus, &:active, &:visited, &:hover
        color: base.$gold
.JobLandingHeader
    &-container::before
        @extend .LandingPageNavBar-container-theme-gilded
    &-title
        color: base.$gold
    &-description
        color: base.$gold
.JobOpeningHeader
    &-icon
        fill: base.$gold
    &-container
        color: base.$gold
        @extend .JobLandingHeader-container
        .ParagraphRenderer
            color: base.$gold

%JobsSectionHeading
    color: base.$fg-3
%JobsSectionDescription
    color: base.$fg-2
%JobsItemHeading
    color: base.$fg-2
%JobsItemDescription
    color: base.$fg-1
// Jobs
.JobLandingOpenings
    &-heading
        @extend %JobsSectionHeading
    &-description
        @extend %JobsSectionDescription
    &-job
        background-color: base.$bg-3
        &:hover
            background-color: base.$bg-4
        &-icon, svg
            fill: base.$fg-1
        &:hover svg
            fill: base.$gold
        &-fill-light-blue:hover svg
            fill: base.$blue
        &-fill-green:hover svg
            fill: base.$green
        &-title
            @extend %JobsItemHeading
        &-subtext
            @extend %JobsItemDescription
// Perks
.JobsPerks
    &-container
        background-color: base.$bg-3
    &-header
        @extend %JobsSectionHeading
    &-description
        @extend %JobsSectionDescription
.JobsPerk
    &-icon
        fill: base.$gold
    &-name
        @extend %JobsItemHeading
    &-description
        @extend %JobsItemDescription
// Learn more
.JobLearnMore
    &-header
        @extend %JobsSectionHeading
    &-description
        @extend %JobsSectionDescription