@use "../../base"
@use "../../set"
@use "../../content"

/*
 * --===============--
 *    Guilded pages
 * --===============--
 */

/*
 * -=- Profiles -=-
 */

// Profile content
.UserProfileV3-container
    @extend %Panel-2

// Tab header
.NavV4SectionSidebarOptionGroup-header
    @extend %TextDark
.NavV4SectionSidebarOption
    // Tab icon
    &-icon
        @extend %SvgDark
        // Active
        .NavV4SectionSidebarOption-container-active &
            @extend %SvgMedium
    // Tab text
    &-label
        @extend %TextMedium
        // Active
        .NavV4SectionSidebarOption-container-active &
            @extend %TextLight
    // Hover
    &-container-inactive::after
        @extend %ContentGlare
.UserProfilePictureControl
    // Status icon
    &-online-status
        border-color: base.$bg-1
        right: 0
    // Avatar
    &-picture
        border-radius: base.$radius-4

/*
 * --- Posts ---
 */

// Tagline
.OverviewWidgetItem-text-paragraph
    @extend %TextMedium

// Profile setting buttons
.UserProfileActionRow-button-icon
    @extend %SvgMedium

// Game overview arrow
.OverviewPageWidgetHeader-container-desktop .OverviewPageWidgetHeader-link-icon
    @extend %SvgDark
    @include set.transition(fill)
    // Game overview arrow hovered
    &:hover
        @extend %SvgMedium
// Game
.UserGameSummaryCard-container
    @extend %Panel-4
// Game property
.UserInfoSummaryItem
    // Label
    &-label
        @extend %TextDark
    // Value
    &-summary-content
        @extend %TextMedium

// Post
.UserProfilePostPanel-container
    border-radius: base.$radius-2
    @extend %PanelBordered-3
    // Post highlighted(currently all)
    &-highlight
        // Until it gets fixed, remove the highlight
        border-top: none
        //border-top-color: var(--NihilityTheme0)
// Post author's name
.UserName-container,
.TeamMemberBubble-name,
.UserBasicInfoDisplay-name,
.TeamWidgetProfileDetails-name
    @extend %TextLight
// No more posts text
.NullState-container
    @extend %TextDark
// No more posts SVG
.GuildedBotAvatar-container
    @extend %SvgDark

/*
 * --- Games ---
 */

// Game
.PlayerAliasCard-container-type-game
    @extend %Panel-4
// Game border
.CardWrapper-container:not(.CardWrapper-container-highlighted)::after
    @extend %SetBorderDark-1
// Game header
.PlayerCard
    // Container
    &-container
        @extend %PanelTransparent
    // Game's name
    &GameInfo-name
        @extend %TextLight
// Game header player's name
.GameAliasDisplay-container
    @extend %TextDark
    @include set.transition(color)
    // Name hover
    &:hover
        @extend %TextThemeBleached
// Game info
.PlayerAliasCard-container-type-game .PlayerAliasCard-info
    @extend %PanelTransparent
// Game info no accounts linked
.UserSocialPresence-no-other-links
    @extend %TextDark
// Game info handle
.UserRichSocialLink
    // Icon
    &-avatar
        @extend %SvgDark
    // Text
    &-handle
        @extend %TextMedium
    // Details
    &-metadata
        @extend %TextDark

/*
 * --- Friends ---
 */

// A button when hovering over friends
.FriendsList-actions .FriendList-action-icon
    @extend %Panel-3

/*
 * -=- DMs -=-
 */

// Side bar
.ChatChannelList-container,
.WebAppV2-sidebar
    @extend %Panel-4

.ChatChannelListItem
    &-container
        --border-color: #{base.$bg-1}
    // Selected DMs
    &-container-selected
        @extend %Panel-0
        --border-color: #{base.$bg-3}
    // Hovered DMs
    &-container:not(&-container-selected):hover
        @extend %Panel-2
        --border-color: #{base.$bg-2}
    // Remove DMs crossmark
    &-container:not(&-container-selected):hover &-remove-icon,
    &-container-selected &-remove-icon
        background-color: transparent
        fill: base.$fg-1
        @include set.transition(fill)
        // Remove DMs crossmark hover
        &:hover
            @extend %SvgLight
    // Selected DMs content
    &Info-container-selected
        // Name
        .ChatChannelListItemInfo-name
            @extend %TextLight
        // Text
        .ChatChannelListItemInfo-latest-message
            @extend %TextMedium
        // Timestamp
        .ChatChannelListItemInfo-last-at
            @extend %TextDark

// User typing in DMs
.TypingIndicator-container
    background-color: base.$bg-6

// Removed DMs background
.ChatSummary-container
    @extend %Panel-2

/*
 * -=- Tournaments -=-
 */

/*
 * --- Sidebar ---
 */

// Sidebar
.NavV4SectionSidebar-container
    @extend %PanelTransparent

// Selected tab
.NavV4SectionSidebarOption-container-active
    @extend %Panel-0
    // Selected tab icon
    .NavV4SectionSidebarOption-icon
        @extend %SvgLight
    // Selected tab text
    .NavV4SectionSidebarOption-label
        @extend %TextLight

/*
 * --- Content ---
 */

// Tournament page
.TournamentsPortal
    // Container
    &Page-container
        @extend %Panel-2
    // Video
    &Header-video-mask
        background-image: linear-gradient(to bottom, rgba(base.$bg-3, 0.85) 20%, rgba(0, 0, 0, 0) 65%, rgba(base.$bg-3, 0.95))
// Tournament card
.TournamentCard-container
    @extend %Panel-0
// Information icon
.TournamentSummaryItem
    &-container-size-sm &-icon
        @extend %SvgDark
    // Information text
    &-text
        @extend %TextMedium
// This group is archived
.GroupUpsell-container-archived
    @extend %Panel-2

/*
 * -=- Flow -=-
 */

.ApiDocs
    &-container
        @extend %Panel-2
    &-api-callout
        color: base.$info
.RestApiDocs
    &Table-row
        @extend %PanelBordered-4
    &SchemaItem-verb
        color: base.$action

/*
 * -=- Explore -=-
 */

// Background of explore pages
.ExplorePage-container
    @extend %Panel-2
// Sidebar page list
.NavbarNavIcon-container
    &:hover
        background-color: rgba(base.$bg-hover, 0.1)
    // Selected
    &-selected
        @extend %Panel-2

// Find a server tabs
.IconNavMenuButton-icon
    @extend %SvgDark
    @include set.transition(fill)
    .IconNavMenuButton-container-desktop:hover &
        @extend %SvgMedium
// Find a server tabs containers
.IconNavMenuButton-container
    @include set.transition(color)
    &, &:visited, &:active, &:focus
        @extend %TextDark
    &:hover
        @extend %TextMedium

.CardList
    // Title
    &-label
        @extend %TextLight
// "A new way to scrim" Description
.TitleAndDescriptionPanel-description
    @extend %TextDark
// No scrims description
.ScrimFinderRecentMatches-none
    @extend %TextDark
// Scrim team
.ScrimFinderLeaderboardTeam
    &-name
        @extend %TextLight
    // Index
    &-rank
        @extend %TextDark

// Post card
.ContentCard
    &-container
        @extend %Panel-2
    // Footer
    &-metas
        @extend %Panel-3
        // Footer hover
        &::after
            @extend %ContentGlare

// Profile post card
.ProfilePostCard
    &-title
        @extend %TextLight
    &-metas-time
        @extend %TextDark
        @include set.transition(color)
        .ContentCard-container:hover &
            @extend %TextLight

// Invite progressbar
.PercentageBar
    // Empty
    &-backplate-div
        background-color: base.$bg-1 !important
    // Progress
    &-progress-div
        background-color: base.$progress !important
    // Progressbar
    &-container-type-success .PercentageBar-progress-div
        @extend %SetBorderDark-1
// Invite text
.RequirementProgressBar-unsatisfied-text
    @extend %TextDark

// Explore servers and players game selector
.TypeaheadInput-container-dropdown .TypeaheadInput-typeahead-options-list,
.TypeaheadMenu-container
    @extend %OverridePanelBordered-0
    .SelectMenuItem-label
        @extend %TextMedium

// Game selector input
.TextInputWithLabel-container-dropdown
    @extend %SetBorderLight-2
    // Hover
    &.TextInputWithLabel-container-desktop:hover
        @extend %SetBorderLight-2
    // Focused
    &.TextInputWithLabel-container-focused,
    &.TextInputWithLabel-container-focused:hover
        border-color: var(--NihilityTheme0) !important
// Add background to it as well
.SelectMenu-container
    @extend %Panel-0
// Game selector item
.SelectMenuItem-container
    &-desktop:hover
        @extend %Panel-2
        .SelectMenuItem-label
            @extend %TextLight
    &-selected
        @extend %Panel-3
        .SelectMenuItem-label
            @extend %TextLight
    // Game selector first item
    &-border-bottom
        @extend %SetBorderDark-1

/*
 * -=- Jobs -=-
 */

.LandingPageNavBar-container-theme-gilded
    @extend %Panel-0
.LogoAndWordmarkV2-container-theme-dark
    fill: base.$gold
.LandingPageNavBarLinks-container-theme-dark .LandingPageNavBarLinks-link
    &, &:focus, &:active, &:visited, &:hover
        color: base.$gold
.JobLandingHeader
    &-container::before
        @extend .LandingPageNavBar-container-theme-gilded
    &-title
        color: base.$gold
    &-description
        color: base.$gold
.JobOpeningHeader
    &-icon
        fill: base.$gold
    &-container
        color: base.$gold
        @extend .JobLandingHeader-container
        .ParagraphRenderer
            color: base.$gold

%JobsSectionHeading
    @extend %TextLight
%JobsSectionDescription
    @extend %TextMedium
%JobsItemHeading
    @extend %TextMedium
%JobsItemDescription
    @extend %TextDark
// Jobs
.JobLandingOpenings
    &-heading
        @extend %JobsSectionHeading
    &-description
        @extend %JobsSectionDescription
    &-job
        @extend %Panel-2
        &:hover
            @extend %Panel-0
        &-icon, svg
            @extend %SvgDark
        &:hover svg
            fill: base.$gold
        &-fill-light-blue:hover svg
            fill: base.$blue
        &-fill-green:hover svg
            fill: base.$green
        &-title
            @extend %JobsItemHeading
        &-subtext
            @extend %JobsItemDescription
// Perks
.JobsPerks
    &-container
        @extend %Panel-2
    &-header
        @extend %JobsSectionHeading
    &-description
        @extend %JobsSectionDescription
.JobsPerk
    &-icon
        fill: base.$gold
    &-name
        @extend %JobsItemHeading
    &-description
        @extend %JobsItemDescription
// Learn more
.JobLearnMore
    &-header
        @extend %JobsSectionHeading
    &-description
        @extend %JobsSectionDescription