@require "../../set"
@require "../guilded-variables"

/*
 * -=- Channels -=-
 */

//
.TeamNavMenu-container,
// Channel list
.TeamPageNavV3-container,
// Channel list in group editing
.GroupNavPreview-nav-section
    @extends $PanelDark

// Section list header
.TeamNavSectionsList-header
    display: none
// Channel list header
.TeamChannelsList-container .ChannelListHeader-container-type-default
    // Don't display the text
    .ChannelListHeader-text
        display: none
    // Add 3 dots instead
    &::before
        position: relative
        content: '. . .'
        text-align: center
        margin-left: auto
        margin-right: auto
        @extends $TextDark

// Category's name
.ChannelListHeader-container-type-category .ChannelListHeader-text
    @extends $TextDark

// Channel and section common stuff
$ChannelHoverGlare
    background-color: bg-hover
    transition: opacity
ChannelNormal()
    border: solid 1px transparent
    transition: background-color
    &::after
        @extends $ChannelHoverGlare
ChannelContent(className, textPlaceholder, svgPlaceholder)
    .ChannelIcon-icon-primary,
    .ChannelIcon-icon-secondary,
    {className}-icon
        @extends {svgPlaceholder}
    {className}-name
        @extends {textPlaceholder}
ChannelSelected()
    @extends $ContentLight
ChannelSelectedContent()
    &-container-selected &-icon
        @extends $SvgLight
    &-container-selected
        .ChannelIcon-icon-primary,
        .ChannelIcon-icon-secondary
            @extends $SvgLight
    &-container-selected &-name
        @extends $TextLight

SetChannel(className)
    ChannelSelectedContent()
    &-container
        ChannelNormal()
        ChannelContent(className, "$TextDark", "$SvgDark")

    &-name
        @extends $TransitionColour
    &-icon
        @extends $TransitionFill
    // Hover
    &-container:not(&-container-selected):hover
        ChannelContent(className, "$TextMedium", "$SvgMedium")
    // Selected
    &-container&-container-selected
        ChannelSelected()
    // Unread
    &-container-unread
        ChannelContent(className, "$TextNotification", "$SvgNotification")
        SetNotification()
        ^[0]-container&:hover
            ChannelContent(className, "$TextNotificationHover", "$SvgNotificationHover")
// Section
.TeamNavSectionItem
    SetChannel(".TeamNavSectionItem")
// Channel
.TeamChannelItemContents
    SetChannel(".TeamChannelItemContents")
.TeamChannelItemBadgedContent-container
    ChannelContent(".TeamChannelItemContents", "$TextMention", "$SvgMention")
    &.TeamChannelItemContents-container:hover
        ChannelContent(".TeamChannelItemContents", "$TextMentionHover", "$SvgMentionHover")

.ChannelIcon-icon-primary,
.ChannelIcon-icon-secondary
    @extends $SvgDarkTransition
// Sub-icon background
.ChannelIcon-icon-selected .ChannelIcon-icon-background,
.ChannelIcon-icon-background
    background-color: bg-colour[1]

// Invite others
.ChannelUpsell-container
    @extends $SetContentDark

/*
 * -=- Screen header -=-
 */

// Channel header
.ScreenHeader-container
    @extends $PanelDark
    border-bottom: 0

// Screen header icon
.ScreenHeader-icon,
.TeamChannelItemContents-action-icon,
.ScreenHeader-icon-wrapper-size-lg .ScreenHeader-icon
    @extends $SvgDark

// Sets PFP border
.ScreenHeader-icon-wrapper
    --border-color: bg-colour[1]

// Screen header
.ScreenHeader
    // Title
    &-name
        @extends $TextMedium
    // Description
    &-description-child
        @extends $TextDark
.ChannelHeaderActionButtons
    // Screen header more button
    &-menu-button, &-more-options-button
        @extends $SvgDark
    // Screen header more button hover
    &-menu-trigger:hover &-menu-button,
    &-menu-trigger:hover &-more-options-button,
    &-options-menu-trigger:hover &-menu-button,
    &-options-menu-trigger:hover &-more-options-button
        @extends $SvgLight
// Screen header more pressed title
.ChannelHeaderMoreOptionsMenu-header
    @extends $TextDark

/*
 * -=- Members and Threads -=-
 */

// Member list
.SidebarWrapper-container,
// Member list in group editing
.CreateGroupUsersListLivePreview-members-section
    @extends $PanelDark

// Member list
//.PageSidebarWrapper
.SidebarWrapper-container
    position: relative
    top: 0
// Also remove padding that was made for member list
.ChannelWrapper-container-with-sidebar .ChannelWrapper-contents
    padding-right: 0
.TournamentPageContent-content,
.TeamPageContent-content
    margin-right: 0
// When it's collapsed, don't take space
@media ( max-width: 1000px )
    .SidebarWrapper-container-collapsed
        width: 0
        padding: 0

.SidebarInfoItem-container
    @extends $RadiusMedium

.SimpleIconTabMenuHeaderItem
    // Member/thread list tab hover
    &-container:hover, &-container:active, &-container:focus
        @extends $PanelMedium
    // Member/thread list active tab
    &-container-selected::after
        background-color: fg-colour[1]
    // Member/thread list tab icon
    &-icon
        @extends $SvgDark
    // Member/thread list active tab icon
    &-icon
        @extends $SvgMedium

/*
 * --- Member list ---
 */

// Member list section (roles)
.TeamPageSidebarMembers-roles:not(:first-child)
    margin-top: spacing-7

.ChannelListHeader
    // Member list
    &-container-type-default
        // Member list icon
        .ChannelListHeader-display-icon
            @extends $SvgDark
        // Member list role name
        .ChannelListHeader-text
            @extends $TextMedium
    // Member list role amount
    &-amount
        color: fg-colour[1]
        padding: 0 spacing-2
        background-color: bg-colour[1]
        border-radius: radius-2

// Member list user hover
.SidebarUsersRoleInfo-user::after
    @extends $ContentGlare

.VoiceSidebarMembersDisplay-join-voice
    // Member list join voice icon
    &-icon
        @extends $SvgDark
        // Member list join voice button
        &-wrapper
            @extends $PanelLight
    // Member list join voice hover
    &:hover &-text,
    &:hover &-icon
        @extends $FontMedium

// Member list invite icon
.SidebarInviteButton-icon
    @extends $SvgDarkTransition
    // Member list invite button
    &-wrapper
        @extends $PanelLight
// Member list invite hover
.SidebarInviteButton-container:hover
    .SidebarInviteButton-text, .SidebarInviteButton-icon
        @extends $FontMedium

/*
 * --- Thread list ---
 */

.ChannelThreadsInfo
    // Thread list "None"
    &-none
        @extends $TextDark
    // Thread list more
    &-more
        @extends $TextDarkTransition
        // Thread list more hover
        &:hover
            @extends $TextMedium
// Thread card
.ChatChannelListItemInfo
    // Hover
    &-container-actionable::after
        @extends $ContentGlare

    // Last activity at
    &-last-at
        @extends $TextDark

    // Reply count
    &-reply-row &-num-replies
        @extends $TextDark
    // Last reply
    &-latest-message
        @extends $TextMedium