@use "sass:color"

/* === Absolute Nihility ===
 * Credits:
 * Contributors:
 * - IdkGoodName
 */

/*
 * --- Variables ---
 */

// Background
$nihility-bg-0: #090909
$nihility-bg-1: #0c0c0c
$nihility-bg-2: #0e0e0e
$nihility-bg-3: #111111
$nihility-bg-4: #171717
$nihility-bg-5: #212121
$nihility-bg-hover: #777777

$nihility-skeleton-0: #252525
$nihility-skeleton-1: linear-gradient(270deg, $nihility-bg-5, $nihility-skeleton-0, $nihility-skeleton-0, $nihility-bg-5)

// Text
$nihility-fg-0: #626262
$nihility-fg-1: #727272
$nihility-fg-2: #AAAAAA
$nihility-fg-3: #DDDDDD
$nihility-mark: #AAAAAA

// Formatting
$nihility-fg-link: #d6a284
$nihility-fg-link-hover: #d4b3a4
$nihility-fg-format: $nihility-fg-3
$nihility-fg-code: #d69e9e

// Code formatting
$nihility-code-string: #e26751
$nihility-code-special: #a46ce4
$nihility-code-value: #76d463

$nihility-code-keyword: #d682a2

$nihility-code-name: #89aae7
$nihility-code-variable: #ebe0c1
$nihility-code-class-name: #c581ec
$nihility-code-function: #ecca81
$nihility-code-property: #82d6d6

// Spacing
$nihility-spacing-top: 0.2rem
$nihility-spacing-side: 0.4rem

$nihility-spacing-0: 0.5rem
$nihility-spacing-1: 1rem
$nihility-spacing-2: 1.5rem
$nihility-spacing-3: 2rem
$nihility-spacing-4: 3rem
$nihility-spacing-5: 4rem

// Misc colours
$nihility-theme: #595959
$nihility-theme-2: #676767
$nihility-theme-3: #848484
$nihility-bar: #060606

// Noticable colours
$nihility-important: #b67070

$nihility-active: #53a6da
$nihility-mention: #c75e5e
$nihility-mentioned: #d89a4e

$nihility-active-hover: #8bb9d6
$nihility-mention-hover: #cc8787
$nihility-mentioned-hover: #ddb98e

$nihility-bad: #b36060
$nihility-good: #73ad67
$nihility-neutral: #b38c60

$nihility-bad-2: #fc8080
$nihility-good-2: #84e970
$nihility-neutral-2: #fcbc80

// Blurs and Opacity
$nihility-floating-opacity: 0.95
$nihility-mild-opacity: 0.55
$nihility-skeleton-opacity: 0.3
$nihility-blur: 1px
$nihility-grey: 100%
// Misc
$nihility-transition: 0.2s
$nihility-animation: 2s
$nihility-roundness-small: 0.5rem
$nihility-roundness: 1.2rem
$nihility-roundness-big: 2rem

/*
 * --- Mixins ---
 */

// Sets both color and fill
@mixin set-color($color)
    color: $color
    fill: $color
// CSS variables can't contain SASS variables for some odd reason, so this mixin is used instead
@mixin set-var($name, $value)
    #{$name}: $value

// For setting transition in a lot of places
@mixin nihility-transition($property)
    transition: $property
    transition-duration: $nihility-transition