// Misc colours
mark = #f0b177

accent-0 = #f19548
accent-1 = #ffbc65
accent-2 = #ffdea0
accent-fg = black
bar = rgba(255,255,255,0.08)

// Colourful
$red = #f0664d
$yellow = #f0a94d
$gold = #f7b336
$green = #61d157
$cyan = #6adac7
$blue = #6c6aec
$purple = #a36ee9

highlight = #ec7f9a
mention = #e94343
waiting = $yellow
active = $yellow
progress = $purple
stream = #e73e63

replying = $blue
private-mod-view = #856ee9
private = #e96eb2
mentioned = #e96d57

verified = #61d157
$default = $blue
important = $red
warning = #f09c4d
info = #a989f5
action = #89c1f5

// Status
bad-0 = #cc5353
bad-1 = #fc8080
normal-0 = #9b9b9b
normal-1 = #cccccc
neutral-0 = #c48c4d
neutral-1 = #e9b170
good-0 = #6aca57
good-1 = #84e970

// Background
bg-0 = #090909
bg-1 = #0c0c0c
bg-2 = #0f0f0f
bg-3 = #121212
bg-4 = #161616
bg-5 = #181818
bg-6 = #222222
bg-hover = rgba(119, 119, 119, 0.7)
bg-lighter = alpha(bg-hover, .1)

shading-0 = rgba(0, 0, 0, .07)
shading-1 = rgba(0,0,0,.15)
shading-2 = rgba(0,0,0,.2)

skeleton-0 = #252525
skeleton-1 = linear-gradient(270deg, bg-6, skeleton-0, skeleton-0, bg-6)

guilded-image-transform = grayscale(100%)
guilded-null-image-transform = guilded-image-transform opacity(60%)
guilded-subscriptions-transform = guilded-image-transform opacity(20%)

// Text
fg-0 = #656565
fg-1 = #747474
fg-2 = #AAAAAA
fg-3 = #DDDDDD

// Formatting
fg-format = fg-3
fg-code = #da8484

// Code formatting
// code-string = #e26751
// code-special = #a46ce4
// code-value = #76d463

// code-keyword = #d682a2

// code-name = #89aae7
// code-variable = #ebe0c1
// code-class-name = #c581ec
// code-function = #ecca81
// code-property = #82d6d6

code-string = #fc7d98
code-special = #74f8d4
code-value = #c998f9

code-keyword = #fe603f

code-name = #9c74f8
code-variable = #d0ccd4
code-class-name = #ffb95e
code-function = #bcec6a
code-property = #74a6f8

code-inserted = #bcec6a
code-changed = #ffb95e
code-deleted = #fe603f

// Borders
border-light-0 = rgba(255, 255, 255, 0.07)
border-light-1 = rgba(255, 255, 255, 0.1)
border-light-2 = rgba(255, 255, 255, 0.15)
border-light-3 = rgba(255, 255, 255, 0.25)
border-dark-0 = rgba(0, 0, 0, 0.15)
border-dark-1 = rgba(0, 0, 0, 0.25)