// Misc colours
notification = #eeb37b

accent-0 = #f19548
accent-1 = #ffbc65
accent-2 = #ffdea0
accent-fg = black
bar = rgba(255,255,255,0.08)

// Colourful
$red = #f0664d
$yellow = #f0a94d
$gold = #f7b336
$green = #61d157
$cyan = #6adac7
$blue = #6c6aec
$purple = #a36ee9

highlight = #ec7f9a
mention = #eb4848
waiting = $yellow
active = $yellow
progress = $purple
stream = #e73e4c

replying = $blue
private-mod-view = #856ee9
private = #e96eb2
mentioned = #e96d57

verified = #61d157
$default = $blue
important = $red
warning = #f09c4d
info = #a989f5
action = #89c1f5

// Status
bad-0 = #c24b5f
bad-1 = #fc6b7f
normal-0 = #9b9b9b
normal-1 = #cccccc
neutral-0 = #c4734d
neutral-1 = #e99c70
good-0 = #5bca57
good-1 = #70e976

// Background
bg-colour = #000 #060606 #0c0c0c #101010 #181818 #1E1E1E #242424 #262626
bg-hover = rgba(119, 119, 119, 0.7)
bg-lighter = alpha(bg-hover, .1)

shading = rgba(0,0,0,.15) rgba(0,0,0,.2)

skeleton-0 = #313131
skeleton-1 = linear-gradient(270deg, bg-colour[7], skeleton-0, skeleton-0, bg-colour[7])

guilded-image-transform = grayscale(100%)
guilded-null-image-transform = guilded-image-transform opacity(45%)
guilded-subscriptions-transform = guilded-image-transform opacity(32%)

// Text
fg-colour = #656565 #747474 #AAAAAA #DDDDDD

// Formatting
fg-code = #dd7d7d

// Code formatting
// code-string = #e26751
// code-special = #a46ce4
// code-value = #76d463

// code-keyword = #d682a2

// code-name = #89aae7
// code-variable = #ebe0c1
// code-class-name = #c581ec
// code-function = #ecca81
// code-property = #82d6d6

// Borders
border-light-base = #FFF
border-dark-base = #000
border-light = alpha(border-light-base, 0.04) alpha(border-light-base, 0.09) alpha(border-light-base, 0.12) alpha(border-light-base, 0.19)
border-dark = alpha(border-dark-base, 0.20) alpha(border-dark-base, 0.30)