// Misc colours
notification = #e3b3ff

accent-0 = #c77cf3
accent-1 = #c89af3
accent-2 = #d0bbf1
accent-fg = black
bar = rgba(235, 211, 255, 0.08)

// Colourful
$red = #f0664d
$yellow = #f0a94d
$gold = #f7b336
$green = #61d157
$cyan = #6adac7
$blue = #6a7eec
$purple = #bc6ee9

highlight = #ec7fac
mention = #e9436d
waiting = $yellow
active = #bb8be7
progress = #bc6ee9
stream = #e65b5b

replying = $blue
private-mod-view = #856ee9
private = #e96eb2
mentioned = #e95777

verified = #d1578a
$default = $blue
important = $red
warning = #f07b4d
info = #a989f5
action = #89c1f5

// Status
bad-0 = #cf4e84
bad-1 = #fc80ba
normal-0 = #9b9b9b
normal-1 = #cccccc
neutral-0 = #6aa8db
neutral-1 = #7aadf0
good-0 = #57ca7a
good-1 = #70e99e

// Background
bg-colour-1 = #302a3d
bg-colour = #000 #070403 #0e0705 #0C0712 #15091A #180F20 #1B1026 #1F1528
bg-hover = rgba(102, 81, 114, 0.7)
bg-lighter = alpha(bg-hover, .1)

shading = rgba(0,0,0,.15) rgba(0,0,0,.2)

skeleton-0 = #2f243a
skeleton-1 = linear-gradient(270deg, bg-colour[7], skeleton-0, skeleton-0, bg-colour[7])

guilded-image-transform = saturate(500%) hue-rotate(15deg)
guilded-null-image-transform = guilded-image-transform opacity(40%)
guilded-subscriptions-transform = opacity(20%)

// Text
fg-colour = #745f85 #826e8f #b5aac9 #e7e7e7

// Formatting
fg-code = #eb6ec1

// Borders
border-light-base = #eadfff
border-light-dark = #0d0b11

border-light = alpha(border-light-base, 0.05) alpha(border-light-base, 0.08) alpha(border-light-base, 0.12) alpha(border-light-base, 0.18)
border-dark = alpha(border-light-dark, 0.10) alpha(border-light-dark, 0.20)