// Misc colours
notification = #e3b3ff

accent-0 = #de66ee
accent-1 = #c98fff
accent-2 = #d7beff
accent-fg = black
bar = rgba(235, 211, 255, 0.08)

// Colourful
$red = #f0664d
$yellow = #f0a94d
$gold = #f7b336
$green = #61d157
$cyan = #6adac7
$blue = #6a7eec
$purple = #bc6ee9

highlight = #ec7fac
mention = #e9436d
waiting = $yellow
active = #bb8be7
progress = #bc6ee9
stream = #e65b5b

replying = $blue
private-mod-view = #856ee9
private = #e96eca
mentioned = #e95788

verified = #d15780
$default = $blue
important = $red
warning = #f07b4d
info = #a989f5
action = #89c1f5

// Status
bad-0 = #d43f71
bad-1 = #ff6d99
normal-0 = #9b9b9b
normal-1 = #cccccc
neutral-0 = #5d7eda
neutral-1 = #7aadf0
good-0 = #52c582
good-1 = #6aeb9b

// Background
bg-colour-1 = #302a3d
bg-colour = #000 #040305 #07060A #0B080D #141015 #17101B #1A1921 #1C1B23
bg-hover = rgba(102, 81, 114, 0.7)
bg-lighter = alpha(bg-hover, .1)

shading = rgba(0,0,0,.15) rgba(0,0,0,.2)

skeleton-0 = #2f243a
skeleton-1 = linear-gradient(270deg, bg-colour[7], skeleton-0, skeleton-0, bg-colour[7])

guilded-image-transform = saturate(500%) hue-rotate(15deg)
guilded-null-image-transform = guilded-image-transform opacity(40%)
guilded-subscriptions-transform = opacity(23%)

// Text
fg-colour = #745f85 #826e8f #b5aac9 #e7e7e7

// Formatting
fg-code = #e969af

// Borders
border-light-base = #efeaff
border-light-dark = #0d0b11

border-light = alpha(border-light-base, 0.04) alpha(border-light-base, 0.09) alpha(border-light-base, 0.12) alpha(border-light-base, 0.19)
border-dark = alpha(border-light-dark, 0.10) alpha(border-light-dark, 0.20)