// Misc colours
mark = #e3b3ff

accent-0 = #c77cf3
accent-1 = #c89af3
accent-2 = #d0bbf1
accent-fg = black
bar = rgba(235, 211, 255, 0.08)

// Colourful
$red = #f0664d
$yellow = #f0a94d
$gold = #f7b336
$green = #61d157
$blue = #6a7eec
$cyan = #6adac7

highlight = #ec7fac
mention = #e9436d
waiting = $yellow
active = #bb8be7
progress = #bc6ee9
stream = #e65b5b

replying = $blue
private-mod-view = #856ee9
private = #e96eb2
mentioned = #e95777

verified = #d1578a
$default = $blue
important = $red
warning = #f07b4d
info = #a989f5
action = #89c1f5

// Status
bad-0 = #cc5390
bad-1 = #fc80ba
normal-0 = #9b9b9b
normal-1 = #cccccc
neutral-0 = #9475c5
neutral-1 = #cea6e9
good-0 = #57ca7a
good-1 = #70e99e

// Background
bg-0 = #0d0b11
bg-1 = #100d14
bg-2 = #131018
bg-3 = #17141d
bg-4 = #1b1822
bg-5 = #1e1b25
bg-6 = #24202c
bg-hover = rgba(102, 81, 114, 0.7)
bg-lighter = alpha(bg-hover, .1)

shading-0 = rgba(0, 0, 0, .07)
shading-1 = rgba(0,0,0,.15)
shading-2 = rgba(0,0,0,.2)

skeleton-0 = #2f243a
skeleton-1 = linear-gradient(270deg, bg-6, skeleton-0, skeleton-0, bg-6)

// Text
fg-0 = #745f85
fg-1 = #826e8f
fg-2 = #b5aac9
fg-3 = #e7e7e7

// Formatting
fg-format = fg-3
fg-code = #eb6ec1

// Code formatting
code-string = #fc7d98
code-special = #74f8d4
code-value = #c998f9

code-keyword = #fe603f

code-name = #9c74f8
code-variable = #d0ccd4
code-class-name = #ffb95e
code-function = #bcec6a
code-property = #74a6f8

code-inserted = #bcec6a
code-changed = #ffb95e
code-deleted = #fe603f

// Borders
border-light-0 = rgba(234, 223, 255, 0.07)
border-light-1 = rgba(234, 223, 255, 0.1)
border-light-2 = rgba(234, 223, 255, 0.15)
border-light-3 = rgba(234, 223, 255, 0.25)
border-dark-0 = rgba(13, 11, 17, 0.15)
border-dark-1 = rgba(13, 11, 17, 0.2)