// Misc colours
mark = #c2ffcf

accent-0 = #60ecb2
accent-1 = #77f7d7
accent-2 = #aaf7f7
accent-fg = black
bar = rgba(211, 255, 238, 0.08)

// Colourful
$red = #f0664d
$yellow = #f0a94d
$gold = #f7b336
$green = #61d157
$blue = #6a7eec
$cyan = #6adac7

highlight = #ec7fac
mention = #e94343
waiting = $yellow
active = $blue
progress = #bc6ee9
stream = #a367d4

replying = $blue
private-mod-view = #856ee9
private = #e96eb2
mentioned = #e95777

verified = #d1578a
$default = $blue
important = $red
warning = #f07b4d
info = #a989f5
action = #89c1f5

// Status
bad-0 = #c24646
bad-1 = #fc4545
normal-0 = #9b9b9b
normal-1 = #cccccc
neutral-0 = #c4c575
neutral-1 = #e9e8a6
good-0 = #57ca83
good-1 = #70e9a7

// Background
bg-0 = #0d1111
bg-1 = #101414
bg-2 = #141818
bg-3 = #191d1d
bg-4 = #1d2221
bg-5 = #1e2122
bg-6 = #272c2c
bg-hover = rgba(88, 116, 108, 0.7)
bg-lighter = alpha(bg-hover, .1)

shading-0 = rgba(0, 0, 0, .07)
shading-1 = rgba(0,0,0,.15)
shading-2 = rgba(0,0,0,.2)

skeleton-0 = #243a30
skeleton-1 = linear-gradient(270deg, bg-6, skeleton-0, skeleton-0, bg-6)

// Text
fg-0 = #648684
fg-1 = #75918d
fg-2 = #aac0c0
fg-3 = #e7e7e7

// Formatting
fg-format = fg-3
fg-code = #87eb6e

// Code formatting
code-string = #fc7d98
code-special = #74f8d4
code-value = #c998f9

code-keyword = #fe603f

code-name = #9c74f8
code-variable = #d0ccd4
code-class-name = #ffb95e
code-function = #bcec6a
code-property = #74a6f8

code-inserted = #bcec6a
code-changed = #ffb95e
code-deleted = #fe603f

// Borders
border-light-0 = rgba(223, 255, 244, 0.07)
border-light-1 = rgba(223, 255, 244, 0.1)
border-light-2 = rgba(223, 255, 244, 0.15)
border-light-3 = rgba(223, 255, 244, 0.25)
border-dark-0 = rgba(11, 17, 15, 0.15)
border-dark-1 = rgba(11, 17, 15, 0.2)