// Misc colours
mark = #ebd393

accent-0 = #f15c48
accent-1 = #ff9665
accent-2 = #ffc6a0
accent-fg = white
bar = rgba(255, 190, 160, 0.08)

// Colourful
$red = #f0664d
$yellow = #f0a94d
$gold = #f7b336
$green = #61d157
$cyan = #6adac7
$blue = #6a7eec
$purple = #9c6aec

highlight = #ec7f9a
mention = #f3634a
waiting = $yellow
active = $red
progress = #e99b6e
stream = #e7493e

replying = $blue
private-mod-view = #856ee9
private = #e96eb2
mentioned = #e98d57

verified = #dd7a41
$default = $blue
important = $red
warning = #f09c4d
info = #a989f5
action = #89c1f5

// Status
bad-0 = #cf6044
bad-1 = #ff6449
normal-0 = #9b9b9b
normal-1 = #cccccc
neutral-0 = #bb8676
neutral-1 = #e4ad97
good-0 = #b5ca57
good-1 = #e1e970

// Background
bg-inner = #050504
bg-0 = #0a0908
bg-1 = #0e0a09
bg-2 = #110d0b
bg-3 = #130f0d
bg-4 = #181310
bg-5 = #1a1411
bg-6 = #271f1a
bg-hover = rgba(119, 98, 90, 0.7)
bg-lighter = alpha(bg-hover, .1)

shading-0 = rgba(0, 0, 0, .07)
shading-1 = rgba(0,0,0,.15)
shading-2 = rgba(0,0,0,.2)

skeleton-0 = #291d1a
skeleton-1 = linear-gradient(270deg, bg-6, skeleton-0, skeleton-0, bg-6)

guilded-image-transform = saturate(200%) hue-rotate(140deg)
guilded-null-image-transform = guilded-image-transform opacity(50%)
guilded-subscriptions-transform = guilded-image-transform opacity(15%)

// Text
fg-0 = #796a65
fg-1 = #887b77
fg-2 = #beb0aa
fg-3 = #dddddd

// Formatting
fg-format = fg-3
fg-code = #df5a5a

// Code formatting
code-string = #fc7d98
code-special = #74f8d4
code-value = #c998f9

code-keyword = #fe603f

code-name = #9c74f8
code-variable = #d0ccd4
code-class-name = #ffb95e
code-function = #bcec6a
code-property = #74a6f8

code-inserted = #bcec6a
code-changed = #ffb95e
code-deleted = #fe603f

// Borders
border-light-0 = rgba(255, 255, 255, 0.06)
border-light-1 = rgba(255, 255, 255, 0.1)
border-light-2 = rgba(255, 255, 255, 0.15)
border-light-3 = rgba(255, 255, 255, 0.25)
border-dark-0 = rgba(0, 0, 0, 0.15)
border-dark-1 = rgba(0, 0, 0, 0.25)