// Misc colours
notification = #ebd393

accent-0 = #f15c48
accent-1 = #ff9665
accent-2 = #ffc6a0
accent-fg = black
bar = rgba(255, 190, 160, 0.08)

// Colourful
$red = #f0664d
$yellow = #f0a94d
$gold = #f7b336
$green = #61d157
$cyan = #6adac7
$blue = #6a7eec
$purple = #9c6aec

highlight = #ec7f9a
mention = #f3634a
waiting = $yellow
active = $red
progress = #e99b6e
stream = #e7493e

replying = $blue
private-mod-view = #856ee9
private = #e96eb2
mentioned = #e98d57

verified = #dd7a41
$default = $blue
important = $red
warning = #f09c4d
info = #a989f5
action = #89c1f5

// Status
bad-0 = #cf6044
bad-1 = #ff6449
normal-0 = #9b9b9b
normal-1 = #cccccc
neutral-0 = #bb8676
neutral-1 = #e4ad97
good-0 = #b5ca57
good-1 = #e1e970

// Background
bg-colour-1 = #281715
bg-colour = #000 #050403 #0A0706 #0D0B08 #151410 #1B1710 #211A19 #231C1B
bg-hover = rgba(119, 98, 90, 0.7)
bg-lighter = alpha(bg-hover, .1)

shading = rgba(0,0,0,.15) rgba(0,0,0,.2)

skeleton-0 = #291d1a
skeleton-1 = linear-gradient(270deg, bg-colour[7], skeleton-0, skeleton-0, bg-colour[7])

guilded-image-transform = saturate(200%) hue-rotate(140deg)
guilded-null-image-transform = guilded-image-transform opacity(45%)
guilded-subscriptions-transform = guilded-image-transform opacity(15%)

// Text
fg-colour = #796a65 #887b77 #beb0aa #dbcdc7

// Formatting
fg-code = #df5a5a

// Borders
border-light-base = #FEE
border-dark-base = #000

border-light = alpha(border-light-base, 0.04) alpha(border-light-base, 0.09) alpha(border-light-base, 0.12) alpha(border-light-base, 0.19)
border-dark = alpha(border-dark-base, 0.10) alpha(border-dark-base, 0.20)