@require "../guilded-variables"
@require "../../fake"

/*
 *
 * -=- Formatting -=-
 *
 */

/*
 * --- Paragraph ---
 */

// Paragraph with only emotes
.ParagraphRenderer-only-reaction
    font-size: 200%
    // If there is only emote paragraph above, remove margin
    & + &
        margin-top: 0 !important
// Emote
.ReactionRenderer-child
    padding: 0
    border: 0
.ReactionRenderer-image
    top: 0

/*
 * --- Title ---
 */

.SlateHeadingRenderer
    @extends $TextLight


/*
 * --- Quote block ---
 */

.BlockQuoteContainerRenderer
    //background-color: shading[0]
    @extends $BlockQuote
    &.SlateContainerRenderer.slate-margin-lg
        padding: spacing-3 spacing-3 spacing-3 spacing-4
    // Darker
    .ChatMessageThread-thread-parent-message &
        background-color: shading[1]

/*
 * --- Code block ---
 */

// Whole code block
.CodeContainerRenderer-container,
// Code block in Markdown plain text
.PrismTokenCodeBlockRenderer-container
    @extends $PanelDarkest
    SetScrollbar()
    // Make sure Markdown code block also gets it
    code
        font-family: 'Courier', monospace

// Code block line
.CodeLineRenderer
    @extends $PanelTransparent

// Code block
.CodeContainerRenderer
    &-language-indicator
        .CalloutBadge-container
            color: fg-code
    &-header
        @extends $PanelReallyDark

// Highlighted tokens
.PrismTokenGenericLanguageRenderer
    &-punctuation, &-operator
        @extends $TextDark
    &-preprocessor, &-macro, &-comment, &-prolog, &-doctype, &-cdata
        @extends $TextDarker
    // DIFF
    &-coord
        @extends $TextDark
    // Markdown
    &-blockquote, &-list
        @extends $TextDark
    &-title
        font-weight: bolder
        color: fg-colour[3]
    &-bold, &-italic
        color: fg-colour[3]

/*
 * --- Lists ---
 */

.UnorderedListRenderer
    // Every odd nest
    &, & & &, & & & & &
        list-style-type: square
    // Every even nest
    & &, & & & &, & & & & & &
        list-style-type: circle

/*
 * --- Formatting marks ---
 */

.MarkRenderer
    // Bold text
    &-bold
        @extends $TextLight
    // Inline code
    &-inline-code, &-inline-code-v2
        @extends $InlineCode

.PrismToken
    &InlineRenderer-container-type
        // Embed/Markdown plain text inline code
        &-code
            // Inline code consistency
            @extends $InlineCode

            // // Specifically in embeds
            // .ChatEmbed-container &
            //     @extends $PanelDarkest
        // Embed/Markdown plain text bold
        &-bold
            @extends $TextLight
    // Embed/Markdown plain text link
    &UrlRenderer-link
        Link()

// Template parameters
.TemplateParameter-container,
// Channel mentions
.ChannelPill-container
    @extends $TextMedium
    background-color: alpha(bg-hover, 0.2)
// Template icon
.TemplateParameter-icon
    @extends $SvgDark

// Spoilers
.SpoilerRenderer-container
    @extends $PanelReallyDark
    border-radius: radius-2
    padding: 0 spacing-side spacing-top spacing-side

// Override bold/italic highlighting
.LinkRenderer
    &, &:visited, &:focus
        @extends $TextThemeDullTransition
        .MarkRenderer-read-only
            @extends $TextThemeDullTransition
    &:active, &:hover
        @extends $TextThemeBleached
        .MarkRenderer-read-only
            @extends $TextThemeBleached

@media only screen and (min-width: 770px)
    .LinkRenderer:hover
        @extends $TextThemeBleached

/*
 * --- Images & Files ---
 */

// Images and videos
.MediaRenderer-content,
// Inner video
.RawVideoPlayer-video,
// Video overlay
.GradientOverlay-container.GradientOverlay-container-subtle-2
    @extends $RadiusSmall

// Selected images and videos
.MediaRenderer-content-selected
    @extends $SetBorderSelection

.RawVideoPlayer
    // Play arrow
    &-play-icon
        @extends $VideoPlayerButton
// Video buttons
.TeamStreamPlayerButton-container,
.TeamStreamVolumeControl-volume-icon,
.TeamStreamVolumeControl-volume-icon-wrapper:hover .TeamStreamVolumeControl-volume-icon
    @extends $VideoPlayerButton

// Image caption
.MediaCaptionLineRenderer
    @extends $TextDark
// Caption itself
.MediaRenderer-caption
    border-color: border-light[1]
// Image caption being edited
.MediaRenderer-caption-selected,
.MediaRenderer-caption-has-text,
.MediaRenderer-caption-placeholder
    background-color: shading[0]

// Don't show it on the image caption that isn't being edited
.MediaRenderer-read-only
    @extends $PanelTransparent
    @extends $SetBorderTransparent

// Formatting in caption
.MediaCaptionLineRenderer .MarkRenderer
    // Bold text
    &-bold
        color: shade(fg-colour[3], 20%)
    // Inline code
    &-inline-code, &-inline-code-v2
        @extends $PanelDarkest
        color: shade(fg-code, 20%)

.FileUploadRenderer
    &-container
        @extends $SetContentDark
    &-file-size
        @extends $TextDark
    &-file-icon
        @extends $SvgDark
    &-icon-download-container:hover
        @extends $SvgMedium

/*
 * -=- Embeds -=-
 */

/*
 * --- Content info ---
 */

.ContentEmbed
    // Content info not loaded
    &CardError-container
        background-color: bg-colour[4]
        color: fg-colour[1]
    // Container selected in editor
    &Renderer-container-selected
        @extends $SetBorderSelection

    &CardHeader-icon
        @extends $SvgDark
    &CardHeader-container
        @extends $TextMedium
    &CardFooter-channel-name
        @extends $FakeMention

.ListItemEmbedCard-assigned-to-wrapper
    @extends $TextDark
.CalendarEventEmbedCard-time
    @extends $TextDark

// Content info
.DefaultContentEmbedCard-content
    // Wrapper
    &-wrapper
        @extends $SetContentLightHighlighted
        // Hovered over
        &:not(&-disabled)::after
            @extends $ContentGlare
    // Fading
    &-fade-overflow::after
        //mask-image: linear-gradient(to bottom, black, transparent 95%)
        //&::after
        //display: none
        background-gradient: to bottom, transparent, bg-colour[4] 20px

/*
 * --- Website Embeds ---
 */

// Embed itself
.ChatEmbed-container,
.OpenGraphEmbed-content,
.TeamEmbedCard-container
    background-color: bg-colour[3]
    border-color: border-light[1]
    border-radius: radius-2
    border-style: solid
    overflow: hidden
    &:not([style])
        border-left: solid 1px border-light[1]

// Embed
.ChatEmbed,
.OpenGraphEmbed
    &Content
        // Hovered over
        &-container::after
            background-color: bg-hover
            border-radius: radius-2
        &-description
            @extends $TextMedium
    &-content:not([style])
        border-left: solid 1px border-light[1]

.OpenGraphEmbedContent-domain
    @extends $TextDark
    // Domain icon
    &-icon
        @extends $SvgDark

.ChatEmbedContent-image,
.OpenGraphEmbedImage-image,
.ChatEmbedContent-thumbnail-image
    @extends $RadiusMinimal

// Footer background
.ChatEmbedFooter-container,
.ContentEmbedCardFooter-container
    border-top: solid 1px border-dark[1]
    background-color: bg-colour[2]
    color: fg-colour[0]

// Content
.ChatEmbedContent
    &-title, &-field-name
        @extends $TextLight
    &-container
        @extends $TextNormal

+prefix-classes("ChatEmbed")
    .Author
        &-text
            @extends $TextLight
            font-weight: normal
        &-link
            Link()
        &-icon
            icon-size = 22px
            flex-basis: icon-size
            width: icon-size
            height: icon-size
            border-radius: 100%

/*
 * --- Server invites ---
 */

.TeamCardV2
    &-container
        .TeamBanner-image-banner
            height: 80px
            opacity: 100%
            .StretchFadeBackground-stretch-bg
                -webkit-mask-image: none
                mask-image: none
    &-content
        grid-template-columns: 1fr
        padding: spacing-7 spacing-7
    &-avatar
        padding: spacing-2
        border-radius: 100%
        width: 100px
        height: 100px
        grid-row: 1
        grid-column: 1
        @extends $PanelMedium
        svg
            border-radius: 100%
    &-header
        grid-row: 2
        grid-column: 1
    &-games
        margin-top: spacing-0
        grid-row: 3
        grid-column: 1


.TeamEmbedCard
    // Server's description
    &-description
        @extends $TextMedium
    // Server invite hover
    &-container
        &::after
            @extends $ContentGlare
    &-content
        padding: spacing-3 spacing-6
    &-title
        padding: spacing-2 spacing-3 0 spacing-2
        margin-bottom: 0
        margin-left: 114px
        border-top-left-radius: radius-2
        border-top-right-radius: radius-2
        @extends $PanelMild
    &-info-wrapper
        flex-direction: row-reverse
    &-info
        padding: 0 spacing-3
        border-bottom-left-radius: 4px
        border-bottom-right-radius: 4px
        @extends $PanelMild
    &-image
        width: 90px
        height: 90px
        padding: spacing-2
        border-radius: 100%
        margin-left: 0
        margin-right: spacing-6
        @extends $PanelMild
    &-image-banner.StretchFadeBackground-container-type-half-left .StretchFadeBackground-stretch-bg
        mask-image: none
        -webkit-mask-image: none

// .TournamentBanner-banner .StretchFadeBackground-stretch-bg,
.TeamEmbedCard-container .GradientBackground-container-type-quarter-left
    -webkit-mask-image: none
    mask-image: none
.TeamAvatarWithGameIcon-team-image
    width: 100%
    height: 100%
    border-radius: 100%

.TournamentAvatar-container
    border-radius: 100%

.TournamentInviteEmbedCard
    &-container
        @extends $PanelDark
        &::after
            @extends $ContentGlare

// Member and follower count
.EmphasizedLabel-container-type-subtle
    @extends $TextDark

// Member and follower seperator dot
.TeamFollowerMemberCount-separator
    background-color: fg-colour[0]

/*
 * -=- Polls/Forms -=-
 */

// Form
.FormsRenderer
    @extends $RadiusSmall
    SetScrollable()
    &-selected
        @extends $SetBorderSelection
.CustomFormWrapper-container-standalone
    @extends $MildContentLightHighlighted
    // Form border
    &::after
        @extends $RemoveBorder

// Form's title
.CustomFormHeader-title
    @extends $TextLight
// Form's description
.CustomFormHeader-description
    @extends $TextMedium

// Form response embed
.CustomFormIndividualResponse
    &-container
        @extends $FullBorderLight-1
        border-radius: radius-3
        overflow: hidden

/*
 * -=- Misc -=-
 */

.ReplyingToUserHeader-post-link
    @extends $TextDarker