@require "../guilded-variables"

/*
 * -=- Banners -=-
 */

BannerWithButtonType(toExtend, colour)
    @extends {toExtend}

    // .GuildedText-container-type-subtextBodyWhite
    //     color: colour
    .BannerWithButton
        &-icon
            fill: colour
        &-title-has-text,
        &-description
            color: colour

// Archive info bar, bot role warning
.BannerWithButton
    &-icon
        @extends $SvgMedium
    &-container
        @extends $SetMildContentLight
        &-theme-warning
            BannerWithButtonType($PanelWarning, warning)
        &-theme-info
            BannerWithButtonType($PanelInfo, info)
        &-theme-error
            BannerWithButtonType($PanelCaution, bad-1)

.RestApiDocksResponseItem-banner.BannerWithButton-container-theme-info
    BannerWithButtonType($PanelSuccess, good-1)


// "Nicknames are visible to everyone in the server"
.ChangeNicknameOverlay-info
    @extends $PanelWarning

/*
 * --- Status ---
 */

StatusMessageType(colour)
    background-color: bg-colour[1]
    border: solid 1px alpha(colour, 0.25)
    color: colour
    transition: border
    &:hover
        border-color: alpha(colour, 0.45)
    // transition: border-left
    // transition-duration: 0.1s
    // &:hover
    //     border-left-width: 9px

// Status
.StatusMessage-container
    @extends $TextMedium
    // Status hover
    &-desktop.StatusMessage-container-clickable::after
        @extends $ContentGlare
    &-ephemeral
        box-sizing: border-box
        background-color: bg-colour[1]
        border: solid 1px border-light[0]
        // Copy invite alert
        &.StatusMessage-container-type-success
            StatusMessageType(good-0)
            //@extends $PanelSuccess
            // Icon
            .StatusMessage-icon
                @extends $SvgGood
        // Invalid URL
        &.StatusMessage-container-type-error
            StatusMessageType(bad-0)
            //@extends $PanelCaution
            // @extends $PanelDark
            // @extends $TextBad
            // // Icon
            // .StatusMessage-icon
            //     @extends $SvgBad
        // No mic detected
        &.StatusMessage-container-type-info
            StatusMessageType(info)
            //@extend $PanelInfo
        // Add-on custom
        &.StatusMessage-container-type-warning
            StatusMessageType(info)
            //@extend $PanelWarning
    &-persistent
        // Persistent "Published bla bla bla" header
        &.PostDisplayV2-publish-banner
            @extends $PanelInfo

// Status text
.StatusMessage
    // Icon
    &-icon
        @extends $SvgMedium

// Connecting
.NetworkReconnectionDisplay
    // Loading bar
    &-container, &-container-reconnecting
        @extends $PanelReallyDark
    // Connected
    &-container
        .NetworkReconnectionDisplay-icon
            @extends $SvgGood
        .NetworkReconnectionDisplay-text
            @extends $TextGood

// Status message as a banner
.StatusMessage-container-persistent
    // Message
    .StatusMessage-content
        @extends $TextLight
    // Make it dark with a border
    &.StatusMessage-container-type-banner
        background: bg-colour[1]
        border-bottom: solid 1px active
        .StatusMessage-content
            color: active
    // Same with stream mode, but purple
    &.StatusMessage-container-banner-type-streamer-mode
        background: bg-colour[1]
        border-bottom: solid 1px stream
        .StatusMessage-content
            color: stream

/*
 * -=- Mention icons and notifications -=-
 */

// Mentions
.BadgeV2-container,
.NavIcon-dot
    background-color: mention

.BadgeV2-count
    @extends $TextThemeContrast

// Notifications
.NavSelectorItem-container-orientation-horizontal.NavSelectorItem-container-unread,
.NavSelectorItem-container-orientation-vertical.NavSelectorItem-container-unread,
.NavV4BadgedItem-container-unread .NavV4BadgedItem-icon-wrapper,
.NavV4SelectorRow-container-unread,
.NavV4ItemIcon-icon-unread
    SetNotification()