@require "../variables"

code-keyword = #fe603f
code-special = #74f8d4
code-important = #000
code-deleted = #fe603f
code-inserted = #bcec6a
code-changed = #ffb95e
code-string = #fc7d98
code-value = #c998f9
code-name = #9c74f8
code-property = #74a6f8
code-class-name = #ffb95e

// Code highlight
.PrismTokenGenericLanguageRenderer
    // Special
    &-atrule, &-atrule-line, &-keyword, &-tag
        color: code-keyword
    &-annotation
        color: code-special
    &-important
        color: code-important

    // DIFF
    &-deleted, &-deleted-sign
        color: code-deleted
    &-deleted-arrow
        color: code-deleted
    &-inserted, &-inserted-sign
        color: code-inserted
    &-inserted-arrow
        color: code-inserted
    &-diff
        color: code-changed

    // Values
    &-template-string, &-string
        color: code-string
    &-attr-value, &-number, &-boolean, &-regex
        color: code-value
    &-null
        color: code-special

    // Named
    &-selector
        color: code-name
    &-property, &-property-line
        color: code-property
    &-class-name, &-builtin
        color: code-class-name
    &-function
        color: code-function
    &-variable
        color: code-variable
    &-less-variable, &-variable-line
        color: code-class-name

    // Formatting
    &-underline
        text-decoration: underline solid
    &-strike
        text-decoration: line-through solid
    &-url
        text-decoration: underline solid
        color: var(--accent-1)
    &-url-reference
        color: var(--accent-2)

    // Code
    &-code
        color: fg-code