@require "../guilded-variables"

/*
 * -=- Context Menu -=-
 */

// Menu container
.TransientMenu-container-style-default
    @extends $SetContentRoughDark
    overflow: hidden

+prefix-classes("ContextMenuItem")
    .-container
        @extends $FontMedium

        &-section-type-rows
            // Text
            .-label
                @extends $TextMedium
            // Description
            .-body
                @extends $TextDark
        &:not(.-disabled):not(.-highlighted):hover
            // Text
            .-label
                @extends $TextLight
            // Icon
            .-icon
                @extends $SvgLight
            // Description
            .-body
                @extends $TextMedium
        // Menu item hover glare
        &::after
            @extends $ContentGlare
    // Name
    .-label
        @extends $TextMedium

    // Menu item download app highlighted
    .-container.-highlighted
        // Text
        .-label
            @extends $TextImportant
        // Icon
        .-icon
            @extends $SvgImportant
    // Delete action
    .-destructive-action .-label
        @extends $TextBad
    .-container:not(.-disabled):not(.-highlighted):hover.-destructive-action
        .-label
            @extends $TextBadHighlight
        .-icon
            @extends $SvgBadHighlight

.ContextMenuIcon
    &-container-destructive-action
        @extends $SvgBad

// Button
.ContextMenu
    // Icon
    &-content
        @extends $SvgDark
    // Text
    &Item-label
        @extends $TextMedium

.ActionMenu
    &-section:not(:first-child)
        @extends $SetBorderLight-1
    &Section-section-header
        @extends $TextDark

/*
 * -=- Context Tooltips -=-
 */

// Tooltip
.HoverContextTooltip
    // Base
    &-text-wrapper
        background-color: bg-colour[1]
        border: solid 2px border-dark[1]
        opacity: floating-opacity
    // Pointer
    &-arrow
        @extends $PanelReallyDark

    &-text,
    &-container-ephemeral &-text
        @extends $TextMedium

// Keybinds
.Glyph-container
    background-color: bg-colour[6]
    color: fg-colour[2]

// Reaction tooltip
.ReactionTooltip
    &-container
        @extends $TextMedium
    &-count, &-reaction-name
        @extends $TextLight
    &-view-all-button
        @extends $TextThemeDullTransition
        &:hover
            @extends $TextThemeBleached