@require "../../content"
@require "../guilded-variables"

/*
 * -=- Context Menu -=-
 */

// Menu container
.TransientMenu-container-style-default
    @extends $SetContentRoughDark
    overflow: hidden

+prefix-classes("ContextMenuItem")
    .-container
        @extends $FontMedium

        &-section-type-rows
            // Text
            .-label
                @extends $TextMedium
            // Description
            .-body
                @extends $TextDark
        &:not(.-disabled):not(.-highlighted):hover
            // Text
            .-label
                @extends $TextLight
            // Icon
            .-icon
                @extends $SvgLight
            // Description
            .-body
                @extends $TextMedium
        // Menu item hover glare
        &::after
            @extends $ContentGlare
    // Name
    .-label
        @extends $TextMedium

    // Menu item download app highlighted
    .-container.-highlighted
        // Text
        .-label
            @extends $TextImportant
        // Icon
        .-icon
            @extends $SvgImportant

// Button
.ContextMenu
    // Icon
    &-content
        @extends $SvgDark
    // Text
    &Item-label
        @extends $TextMedium

// Overflow icon
.ContextMenuTrigger
    &-container &-icon
        @extends $SvgDarkTransition
    &-container-desktop:hover &-icon
        @extends $SvgMedium

.ActionMenu
    &-section:not(:first-child)
        @extends $SetBorderLight-1
    &Section-section-header
        @extends $TextDark

/*
 * -=- Tooltips -=-
 */

// Tooltip
.HoverContextTooltip
    // Base
    &-text-wrapper
        background-color: bg-0
        border: solid 2px border-dark-1
        opacity: floating-opacity
    // Pointer
    &-arrow
        @extends $PanelReallyDark

    &-text,
    &-container-ephemeral &-text
        @extends $TextMedium

// Keybinds
.Glyph-container
    background-color: bg-5
    color: fg-2

// Reaction tooltip
.ReactionTooltip
    &-container
        @extends $TextMedium
    &-count, &-reaction-name
        @extends $TextLight