@require "../../content"
@require "../guilded-variables"

/*
 * -=- Context Menu -=-
 */

// Menu container
.TransientMenu-container-style-default
    @extends $OverrideContentRoughBordered-4

.ContextMenuItem
    &-container
        @extends $FontMedium

        &-section-type-rows
            // Description
            & ^[0]-body
                @extends $TextDark
        &:not(^[0]-disabled):not(^[0]-highlighted):hover
            // Text
            & ^[0]-label
                @extends $TextLight
            // Icon
            & ^[0]-icon
                @extends $SvgLight
            // Description
            & ^[0]-body
                @extends $TextMedium
        // Menu item hover glare
        &::after
            @extends $ContentGlare
    // Name
    &-label
        @extends $TextMedium

    // Menu item download app highlighted
    &-container&-highlighted
        // Text
        & ^[0]-label
            color: important
        // Icon
        & ^[0]-icon
            fill: important

// Button
.ContextMenu
    // Icon
    &-content
        @extends $SvgDark
    // Text
    &Item-label
        @extends $TextMedium

// Overflow icon
.ContextMenuTrigger
    &-container &-icon
        @extends $SvgDarkTransition
    &-container-desktop:hover &-icon
        @extends $SvgMedium

/*
 * -=- Tooltips -=-
 */

// Tooltip
.HoverContextTooltip
    // Base
    &-text-wrapper
        @extends $Panel-4
        border: solid 2px border-dark-1
        opacity: floating-opacity
    // Pointer
    &-arrow
        @extends $Panel-5

    &-text,
    &-container-ephemeral &-text
        @extends $TextMedium

// Keybinds
.Glyph-container
    background-color: bg-5
    color: fg-2

// Reaction tooltip
.ReactionTooltip
    &-container
        @extends $TextMedium
    &-count, &-reaction-name
        @extends $TextLight