@require "../../variables"
@require "../../set"
@require "../../content"
@require "../guilded-variables"

/*
 * -=- Message plus menus -=-
 */

// Dashed border
.UploadMediaBox-container
    border-color: alpha(fg-0, 0.3)

// Media upload
.MediaUploaderDropImageInstructions
    // Upload icon
    &-icon
        @extends $SvgMedium
    // Drop media
    &-drop-image-text
        @extends $TextMedium
    // Or browse your files
    &-or-browse-text
        @extends $TextDark
// Media upload paste
.MediaUploaderPasteInstructions
    &-container
        @extends $ContentRoughDark
    // Icon
    &-link-icon
        @extends $SvgDark
    // Text
    &-paste-instructions
        @extends $TextDark

/*
 * -=- Create Server -=-
 */

// Tiled background
.OnboardingExperience-background
    @extends $PanelReallyDark
// Background's tile
.LandingPageV3WhimsicalIcon-icon
    @extends $TextDarker
    opacity: 15%
    transition: opacity
    // Background's tile
    &:hover
        opacity: 45%
// Creation container
.FullScreenFlowStageWrapper-contents-wrapper
    @extends $PanelMedium
// Enter your server name above
.TextInputWithLabel-container-label-retracted .TextInputWithLabel-floating-label-validity
    @extends $TextDarker
// Server name is too short
.TextInputWithLabel-container.TextInputWithLabel-container-invalid .TextInputWithLabel-floating-label,
.TextInputWithLabel-container.TextInputWithLabel-container-invalid:hover .TextInputWithLabel-floating-label
    @extends $TextBad
// Server name is too short icon
.ValidityIndicator-container-invalid
    @extends $SvgBad
// Server name looks good
.TextInputWithLabel-container-valid .TextInputWithLabel-floating-label-validity
    @extends $TextGood
// Upload avatar container
.NewTeamUpsellIcon-container
    border-color: fg-0
// Upload avatar icon
.NewTeamUpsellIcon-icon
    @extends $SvgMedium
// Upload avatar icon hover
.NewTeamUpsellIcon-container:hover .NewTeamUpsellIcon-icon
    @extends $SvgLight
// Upload avatar plus sign
.NewTeamUpsellIcon-plus-icon
    background: var(--accent-0)
    @extends $SvgMedium
// Upload avatar plus sign hover
.NewTeamUpsellIcon-container:hover .NewTeamUpsellIcon-plus-icon
    background: var(--accent-1)
    @extends $SvgLight

// Games selected
.ItemChooser
    &-info
        @extends $TextDark
    &-items-wrapper-scrollable
        SetScrollbar()
// Game
.ItemChooserItemWrapper-container
    @extends $SetContentLight
    // Game hover
    &:hover
        @extends $PanelLight

/*
 * -=- Join through invite -=-
 */

.InvitePage
    // Invite page background
    &-container
        @extends $PanelReallyDark
    // The information area of the invite
    &-panel
        @extends $PanelMedium

.MemberCountPill
    // X members, Y online pills
    &-container
        @extends $PanelLight
    // Member count circle
    &-circle
        &-green
            @extends $PanelGood
        &-grey
            background-color: fg-2
// Accept invite and join Y server
.SocialContextHeader-header-text
    @extends $TextMedium
// This is how you'll appear to your teammates
.AcceptTeamInviteControl-user-profile-preview
    @extends $TextDark

/*
 * -=- Other -=-
 */

// Fixes media preview clipping through the screen
.MediaSplitView-container
    width: 100%
    &-desktop
        height: 100%

// Group settings icon
.AddGroupOverlayDisplay-settings-icon
    @extends $SvgDarkTransition
    // Group settings hover
    &:hover
        @extends $SvgMedium

/*
 * --- Invite ---
 */

// Copy invite title
.CopyToClipboardControlV2-title
    @extends $TextLight
// Invite input
.CopyableTextbox
    // The container itself
    &-container
        @extends $ContentLight
        transition: border-color
        border-radius: radius-2
    &-container-desktop:hover
        @extends $SetBorderLight-2
    // Copy button
    &-container-type-text &-copy-button
        @extends $TextMediumTransition
    // Link
    &-url-wrapper-text
        @extends $TextThemeDull
        ^[0]-container-desktop:hover &
            @extends $TextThemeBleached
        ^[0]-container-type-text &
            @extends $TextMediumTransition
        ^[0]-container-type-text^[0]-container-desktop:hover &
            @extends $TextLight
// Copy invite button hover
.SocialShareButtonV2-container-desktop:hover::after
    @extends $ContentGlare

/*
 * --- Images ---
 */

// Open original
.MaximizedImageOverlay-open-original
    @extends $TextDark
    // Active
    &:hover, &:active, &:focus
        @extends $TextMedium
// Image share icon
.MaximizedImageOverlay-share-icon
    @extends $SvgDark
    transition: transition
    // Hover
    &:hover
        @extends $SvgMedium

/*
 * --- Activity list ---
 */

// Activity menu
.ChannelActivityDisplay
    &-group-header,
    &-container
        @extends $PanelDark
    &-item
        @extends $ContentLight
// Activity menu content
.ChannelActivityItem
    // Text
    &-header
        @extends $TextLight
    &-footer
        @extends $TextDark
    // Unread activity menu item
    &-container.ChannelActivityItem-container-unread
        @extends $ContentLightHighlighted
        SetNotification()
        .ChannelActivityItem-header
            @extends $TextNotification
            font-weight: bold
        &:hover .ChannelActivityItem-header
            @extends $TextNotificationHover
    // Type icons
    &-icon
        // Wrapper
        .AvatarIcon-container
            background-color: bg-0 !important
        // Icon types
        .icon-application
            fill: $gold
        .icon-reply-filled-no-padding,
        .icon-toolbar-mention
            fill: $yellow
        .icon-calendar-new
            fill: $red
        .icon-toolbar-emoji
            fill: $blue

/*
 * --- Channel Switcher ---
 */

// Channel switcher
.ChatChannelSwitcherOverlay
    &-container
        background-color: bg-1
        color: fg-1
    &-results-container
        SetScrollbar()
    &Footer-container
        @extends $PanelReallyDark
// Channel switcher channel
.ChatChannelSwitcherRow
    &-container
        @extends $TextMedium
        // Header of the channels
        &-header
            @extends $TextDark
        // Selected
        &-selected
            @extends $ContentLight
        &:not(&-header)
            margin: 0 spacing-2
            // Hovered over
            &::after
                @extends $ContentGlare

/*
 * --- Role Picker ---
 */

.ToggleRoleControl-container
    @extends $MildContentLight

/*
 * --- Webhook ---
 */

.ManageWebhookOverlay
    &-container
        @extends $TextNormal
        & ^[0]-image-input-label
            @extends $TextDark

/*
 * --- Message pin and deletion confirmation ---
 */

.ChatV2MessagePinOverlay-message-wrapper
    @extends $PanelMild

/*
 * -=- Form view -=-
 */

// Poll percentage
.HorizontalPercentageBar
    // Percentage bar
    &-bar
        background-color: bg-inner
        // Progress
        &-highlight
            background: progress
    // Percentage label
    &-value,
    // The name of the poll item
    &-label
        @extends $TextLight
    // Item voted for
    &-vote-icon
        @extends $SvgLight
.CustomFormControls
    // Successful voting
    &-success
        &-message
            @extends $TextGood
        &-icon
            @extends $SvgGood
    &-edit-response
        BasicLink()
// Question X
.CustomFormSummaryResultSection-header
    @extends $TextDark
// Title
.CustomFormResultHeader-container
    @extends $TextLight
// Text response in a form
.CustomFormSummaryTextResponse-container
    @extends $MildContentLight

// Individual response header
.CollapsibleItemHeader
    &-container
        @extends $PanelDark
        // Hover
        &-desktop::after
            @extends $ContentGlare
    // Date
    &-subtitle
        @extends $TextDarkTransition
    &-container:hover &-subtitle
        @extends $TextLight
// Individual response container
.CustomFormIndividualResponse-result-display
    @extends $MildContentLight
// Individual response message input text
.TextAreaFieldDisplayRenderer-container
    color: var(--body-text-color)
    cursor: text
