@require "../../variables"
@require "../../set"
@require "../../content"

// // Whole container
// .TransientMenuPortalContext-portal-container
//     opacity: floating-opacity
// Overlay
.ModalWrapper-container-unstyled > .Overlay-status-context
    margin: spacing-3
    width: 95%

// Modal
.ModalV2-container
    border-color: border-light-1
    background-color: alpha(bg-1, 92%)
    //@extends $OverrideContentBordered-4
// Field input title
.FormFieldLabel-container
    @extends $TextMedium
// Field input description
.FormFieldDescription-container
    @extends $TextDark

/*
 * --- Modal with header ---
 */

// Modal's header
.ModalHeaderV2-container
    @extends $PanelTransparent
.ModalHeaderV2-header
    @extends $TextLight
// Modal with header's content
.ModalV2-container-has-header .ModalV2-modal-content
    border-top-color: transparent //border-light-1
.ConfirmationOverlay-text
    @extends $TextMedium
// Modal's footer
.ModalFooter-container
    border-top: none

// Fullscreen modal(settings)
.ModalV2-container-fullscreen
    @extends $ContentMildlyBordered-4
    //opacity: floating-opacity
    width: 100%
    height: 100%
// Rounds the modal - :not() makes sure that the modal isn't "Unsaved changes" and similar
.ModalV2-container:not(.ModalV2-container-has-header),
.ModalV2-container:not(.ModalV2-container-has-header) .ModalV2-modal-content
    @extends $RadiusHigh
// Modal close button
.ModalV2CloseButton-container
    @extends $SvgDarkTransition
    // Modal close button hover
    &:hover
        @extends $SvgMedium
