@require "../../variables"
@require "../../set"
@require "../../content"

/*
 * -=- Search -=-
 */

/*
 * --- Deep Search ---
 */

.DeepSearchOverlay
    &-container
        @extends $PanelDark
        @extends $TextDark
    &-search-input.Editor-container
        @extends $ContentTransparent
    &Footer-content-icon, &Footer-content-command
        @extends $ContentRoughDark

.DeepSearchResult
    &Row-container
        @extends $FullBorderTransparent
        &-selected
            @extends $ContentLight
        &-hovered::after
            @extends $ContentGlare
    &Info-preview
        @extends $MildContentLight
        @extends $TextMedium

/*
 * -=- Filter -=-
 */

.FilterWrapper
    &-container
        @extends $ContentRoughDark
    &-header
        @extends $SetBorderLight-1
    &-search
        @extends $ContentLight
.Filter-container
    padding: 0 spacing-1
.FilterOption
    &-container
        @extends $FullBorderTransparent
        &:hover
            @extends $ContentLight
        &-active&:hover,
        &-active
            @extends $ContentLightHighlighted
    