@require "../../variables"
@require "../../set"
@require "../../content"
@require "../guilded-variables"

/*
 * -=- Settings -=-
 */


// Section tabs
.PersistentActionMenu-menu-section
    padding: 0 spacing-2

// Tabs
.OptionsMenu
    &-container-desktop .OptionsMenu-options-control
        @extends $PanelTransparent
    &-option-content
        SetScrollbar()
    // Options page
    &PageWrapper-container
        @extends $PanelTransparent
// Tab section header
.DesktopOptionsControlOptionHeader-container
    padding: 0 20px
// Tabs section header title
.DesktopOptionsControlOptionHeader-header-text
    @extends $TextMedium

// Tab text
.DesktopOptionsControlItemTemplate-label-text
    @extends $TextDark
.DesktopOptionsControlItemTemplate-container
    border-radius: radius-1
    padding: 6px 12px
    @extends $FullBorderTransparent
    // Tab hover
    &:hover::after
        @extends $ContentGlare
    // Tab hover text
    &:hover .DesktopOptionsControlItemTemplate-label-text
        @extends $TextMedium
    // Tab active
    &-active, &-active:hover
        @extends $ContentMildlyBordered-3
        .DesktopOptionsControlItemTemplate-label-text
            @extends $TextLight

// Gilded tab
.DesktopOptionsControlItemTemplate
    &-container-type-gilded &-label-text
        color: $gold
    &-container-type-gilded&-container-desktop &-label-text
        color: tint($gold, 40%)
    &-container-type-gilded&-container-active &-label-text
        @extends $TextLight
/*
 * -=- User settings -=-
 */

// 2FA
.PersistentUpsell
    &-container-flavor-settings
        @extends $ContentMildlyBordered-2
    &-title
        @extends $TextLight
    &-subtitle
        @extends $TextDark
// Connections/integrations
.SocialLinkPanel-header
    @extends $ContentMildlyBordered-2
.UserSettings
    &ConnectionsPage,
    &SecurityPage,
    &BillingPage,
    &EmailPage,
    &Payments
        &-header
            @extends $TextLight
    // User settings subscription info
    &ServerSubscriptionsUpsell-container
        @extends $ContentMildlyBordered-2
.UserPrivacySettingsPage-header
    @extends $TextLight
// Server to subscribe to
.ServerSubscriptionBar-container
    @extends $ContentMildlyBordered-2
// Payment
.UserPaymentsHistory-none,
.PanelList-container-none
    @extends $TextMedium
.PaymentInstrumentSelector-add-method:hover
    @extends $TextThemeBleached

/*
 * -=- Server Settings -=-
 */

.TeamSettings
    &IntegrationsPage,
    &InvitesPage,
    &RolesList
        &-header
            @extends $TextLight

// Channel or category notifications header
.GuildedTableHeader-column-header-group, .GuildedTableHeader-column-header
    @extends $TextMedium
// Placeholder
.GuildedTableField-empty-text
    @extends $TextDark
// Category/channel hover
.GuildedTableRowInputWrapper-container-desktop::after
    @extends $ContentGlare
// Category/channel icon
.GuildedTableRowInputWrapper-icon
    @extends $SvgDark
// Category/channel title
.GuildedTableRowInputWrapper-name
    @extends $TextMedium
// X channels
.GuildedTableRowInputWrapper-description
    @extends $SvgDark
// Remove icon
.GuildedTableRowNotificationOverridesInput-remove
    @extends $TextBad

// Content(flow)
.UserCTAPanel-container
    @extends $ContentMildlyBordered-2
// // Content inner(flow)
// .UserCTAPanel-container-style-bordered
//     border: 0
// Content inner(flow) 2
.UserCTAPanel-container-style-bordered .UserCTAPanel-contents:not(.UserCTAPanel-container-disabled)
    @extends $PanelTransparent
.UserCTAPanel-container-style-bordered .UserCTAPanel-contents:not(.UserCTAPanel-container-disabled):hover
    @extends $Panel-2
    @extends $TransitionBackground
// Flow connection
.PanelList-option-connector
    background-color: border-light-1
// Flow's title
.PanelInfo-title
    @extends $TextLight
// Flow's description
.PanelInfo-description
    @extends $TextDark
// Flow's icon
.BotFlowDisplay-icon
    @extends $SvgDark

/*
 * -=- All Channels Settings -=-
 */

// Settings title
.PanelListTitle-container
    @extends $TextLight
// Channel null state
.SearchAndSelectControl-none
    @extends $TextDark
// Restorable channel
.PanelInfoArchiveRestore
    @extends $ContentMildlyBordered-2
    &-channel-icon
        @extends $SvgDark
    &-details
        @extends $TextDark

/*
 * -=- Settings Tabs -=-
 */

/*
 * --- Integrations ---
 */

// Team integrations
.TeamSettingsAddIntegration-container
    @extends $ContentMildlyBordered-2
// Twitch integration
.TeamSettingsAddIntegration-container-type-twitch .TeamSettingsAddIntegration-icon
    fill: stream

/*
 * --- Groups ---
 */

// Group
.GroupSettingsPanel-container
    @extends $ContentMildlyBordered-2
    // Group hover
    &:hover
        @extends $Panel-1
// Group gripper
.GroupSettingsPanel-icon
    @extends $SvgDark

/*
 * --- Subscriptions ---
 */

.ServerSubscriptionsSetupUpsell
    // Image
    &-header
        filter: guilded-subscriptions-transform
    // Subscriptions bg
    &-content
        @extends $Panel-2
    // Points
    &List-icon
        &-swap
            fill: $blue
        &-plus
            fill: $purple
        &-currency
            fill: $green
        // Info icon
        &-fees
            @extends $SvgDark
// Subscription enabling
.ModalWrapper-container.ModalWrapper-container-required:not(.ModalWrapper-background-style-transparent)
    background: rgba(0, 0, 0, 0.6)

/*
 * --- Roles ---
 */

// Role list item selected
.TeamSettingsPermissionsItem-container
    @extends $FullBorderTransparent
    &-selected
        @extends $ContentMildlyBordered-2
// Role list item hover
.TeamSettingsPermissionsItem-container-desktop .TeamSettingsPermissionsItem-content::after
    @extends $ContentGlare
// Add role
.TeamSettingsAddButton
    &-icon
        @extends $SvgDarkTransition
    &-text
        @extends $TextDarkTransition
// Add role hover
.TeamSettingsAddButton-container:hover
    // Icon
    .TeamSettingsAddButton-icon
        @extends $SvgMedium
    // Text
    .TeamSettingsAddButton-text
        @extends $TextMedium

// Permission syncing
.TeamChannelRoleSyncControl
    &-container
        @extends $ContentMildlyBordered-2
    // Syncing text
    &-info
        @extends $TextMedium
    &-category-name
        @extends $TextLight
        font-weight: bold
    // Synced icon
    &-icon
        @extends $SvgDark
