@use "../../base"
@use "../../set"
@use "../../content"

// Whole container
.TransientMenuPortalContext-portal-container
    opacity: base.$floating-opacity
// Overlay
.ModalWrapper-container-unstyled > .Overlay-status-context
    margin: base.$spacing-3
    width: 95%

// Modal
.ModalV2-container
    @extend %OverrideContentBordered-2
// Modal's title
.Form-header
    @extend %TextMedium
// Avatar/banner input title
.ImageInput-label
    @extend %TextLight
// Field input title
.FormFieldLabel-container
    @extend %TextMedium
// Field input description
.FormFieldDescription-container
    @extend %TextDark

/*
 * --- Modal with header ---
 */

// Modal's header
.ModalHeaderV2-container
    @extend %Panel-3
.ModalHeaderV2-header
    @extend %TextLight
// Modal with header's content
.ModalV2-container-has-header .ModalV2-modal-content
    border-top-color: base.$border-light-1
.ConfirmationOverlay-text
    @extend %TextMedium
// Modal's footer
.ModalFooter-container
    border-top: none

// Fullscreen modal(settings)
.ModalV2-container-fullscreen
    @extend %Panel-2
    opacity: base.$floating-opacity
    width: 100%
    height: 100%
// Rounds the modal - :not() makes sure that the modal isn't "Unsaved changes" and similar
.ModalV2-container:not(.ModalV2-container-has-header),
.ModalV2-container:not(.ModalV2-container-has-header) .ModalV2-modal-content
    border-radius: base.$radius-4
// Modal close button
.ModalV2CloseButton-container
    @extend %SvgDark
    @include set.transition(fill)
    // Modal close button hover
    &:hover
        @extend %SvgMedium
