@use "../../base"
@use "../../set"
@use "../../content"

/*
 * -=- Message plus menus -=-
 */

// Dashed border
.UploadMediaBox-container
    border-color: rgba(base.$fg-0, 0.3)

// Media upload
.MediaUploaderDropImageInstructions
    // Upload icon
    &-icon
        @extend %SvgMedium
    // Drop media
    &-drop-image-text
        @extend %TextMedium
    // Or browse your files
    &-or-browse-text
        @extend %TextDark
// Media upload paste
.MediaUploaderPasteInstructions
    &-container
        @extend %PanelBordered-3
    // Icon
    &-link-icon
        @extend %SvgDark
    // Text
    &-paste-instructions
        @extend %TextDark

/*
 * -=- Create Server -=-
 */

// Tiled background
.OnboardingExperience-background
    @extend %Panel-5
// Background's tile
.LandingPageV3WhimsicalIcon-icon
    @extend %TextDarker
    opacity: 15%
    @include set.transition(opacity)
    // Background's tile
    &:hover
        opacity: 45%
// Creation container
.FullScreenFlowStageWrapper-contents-wrapper
    @extend %Panel-2
// Enter your server name above
.TextInputWithLabel-container-label-retracted .TextInputWithLabel-floating-label-validity
    @extend %TextDarker
// Server name is too short
.TextInputWithLabel-container.TextInputWithLabel-container-invalid .TextInputWithLabel-floating-label,
.TextInputWithLabel-container.TextInputWithLabel-container-invalid:hover .TextInputWithLabel-floating-label
    @extend %TextBad
// Server name is too short icon
.ValidityIndicator-container-invalid
    @extend %SvgBad
// Server name looks good
.TextInputWithLabel-container-valid .TextInputWithLabel-floating-label-validity
    @extend %TextGood
// Upload avatar container
.NewTeamUpsellIcon-container
    border-color: base.$fg-0
// Upload avatar icon
.NewTeamUpsellIcon-icon
    @extend %SvgMedium
// Upload avatar icon hover
.NewTeamUpsellIcon-container:hover .NewTeamUpsellIcon-icon
    @extend %SvgLight
// Upload avatar plus sign
.NewTeamUpsellIcon-plus-icon
    background: var(--NihilityTheme0)
    @extend %SvgMedium
// Upload avatar plus sign hover
.NewTeamUpsellIcon-container:hover .NewTeamUpsellIcon-plus-icon
    background: var(--NihilityTheme1)
    @extend %SvgLight

// Games selected
.ItemChooser-info
    @extend %TextDark
// Game
.ItemChooserItemWrapper-container
    @extend %OverridePanelBordered-2
    // Game hover
    &:hover
        @extend %Panel-0

/*
 * -=- Join through invite -=-
 */

// Invite page background
.InvitePage-container
    @extend %Panel-5
// The information area of the invite
.InvitePage-panel
    @extend %Panel-2

// Accept invite
.GuildedText-container-type-bigBody
    @extend %TextDark
.MemberCountPill
    // X members, Y online pills
    &-container
        @extend %Panel-0
    // Member count circle
    &-circle
        &-green
            @extend %PanelGood
        &-grey
            background-color: base.$fg-2
// Accept invite and join Y server
.SocialContextHeader-header-text
    @extend %TextMedium
// This is how you'll appear to your teammates
.AcceptTeamInviteControl-user-profile-preview
    @extend %TextDark

/*
 * -=- Other -=-
 */

// Fixes media preview clipping through the screen
.MediaSplitView-container-desktop
    height: 100%
.MediaSplitView-container
    width: 100%

// Group settings icon
.AddGroupOverlayDisplay-settings-icon
    @extend %SvgDark
    @include set.transition(fill)
    // Group settings hover
    &:hover
        @extend %SvgMedium

/*
 * --- Invite ---
 */

// Copy invite title
.CopyToClipboardControlV2-title
    @extend %TextLight
// Invite input
.CopyableTextbox
    // The container itself
    &-container
        @extend %Panel-4
        border-color: base.$fg-0
        @include set.transition(border-color)
    &-container-desktop:hover
        border-color: base.$fg-0
    // Link
    &-url-wrapper-text
        @extend %TextLink
    &-container-desktop:hover &-url-wrapper-text
        @extend %TextLinkHighlight
// Copy invite button hover
.SocialShareButtonV2-container-desktop:hover::after
    @extend %ContentGlare

/*
 * --- Images ---
 */

// Open original
.MaximizedImageOverlay-open-original
    @extend %TextDark
    // Active
    &:hover, &:active, &:focus
        @extend %TextMedium
// Image share icon
.MaximizedImageOverlay-share-icon
    @extend %SvgDark
    @include set.transition(transition)
    // Hover
    &:hover
        @extend %SvgMedium

/*
 * --- Activity list ---
 */

// Activity menu
.ChannelActivityDisplay
    &-group-header,
    &-container
        @extend %Panel-2
    &-item
        @extend %PanelBordered-3
// Activity menu content
.ChannelActivityItem
    // Text
    &-header
        @extend %TextLight
    &-footer
        @extend %TextDark
    // Unread activity menu item
    &-container.ChannelActivityItem-container-unread
        @extend %Panel-4

/*
 * --- Channel Switcher ---
 */

// Channel switcher
.ChatChannelSwitcherOverlay
    &-container
        background-color: base.$bg-3
        color: base.$fg-1
    &Footer-container
        @extend %Panel-4
// Channel switcher channel
.ChatChannelSwitcherRow
    &-container
        @extend %TextMedium
        // Header of the channels
        &-header
            @extend %TextDark
        // Selected
        &-selected
            @extend %Panel-0
        // Hovered over
        &:not(&-header)::after
            @extend %ContentGlare

/*
 * --- Role Picker ---
 */

.ToggleRoleControl-container
    @extend %PanelBordered-3

/*
 * -=- Form view -=-
 */

// Poll percentage
.HorizontalPercentageBar
    // Percentage bar
    &-bar
        @extend %Panel-3
        // Progress
        &-highlight
            background: base.$progress
    // Percentage label
    &-value,
    // The name of the poll item
    &-label
        @extend %TextLight
    // Item voted for
    &-vote-icon
        @extend %SvgLight
// Successful voting
.CustomFormControls-success
    &-message
        @extend %TextGood
    &-icon
        @extend %SvgGood
// Question X
.CustomFormSummaryResultSection-header
    @extend %TextDark
// Text response in a form
.CustomFormSummaryTextResponse-container
    @extend %Panel-3
    border-left: 0

// Individual response header
.CollapsibleItemHeader
    &-container
        @extend %Panel-4
        // Hover
        &-desktop::after
            @extend %ContentGlare
    // Date
    &-subtitle
        @extend %TextDark
        @include set.transition(color)
    &-container:hover &-subtitle
        @extend %TextLight
// Individual response container
.CustomFormIndividualResponse-result-display
    @extend %Panel-3
// Individual response message input text
.TextAreaFieldDisplayRenderer-container
    @extend %TextMedium
    cursor: text
