/*
 * -=- Settings -=-
 */

// Options
.OptionsMenuPageWrapper-container
    background-color: $bg-3
// Tabs
.OptionsMenu-container-desktop .OptionsMenu-options-control
    background-color: $bg-0
// Tab text
.DesktopOptionsControlItemTemplate-label-text
    color: $fg-1
// Tabs title
.DesktopOptionsControlOptionHeader-header-text
    color: $fg-2

.DesktopOptionsControlItemTemplate-container
    // Tab hover
    &:hover::after
        background-color: $bg-hover
    // Tab hover text
    &:hover .DesktopOptionsControlItemTemplate-label-text
        color: $fg-3
// Tab active
.DesktopOptionsControlItemTemplate-container-active
    background-color: $bg-3

/*
 * -=- User settings -=-
 */

// Streamer mode
.FormSection-container-section-background-inset
    background-color: $bg-2
// Settings account info
.DefaultReadonlyEditableForm-container
    background-color: $bg-1
// 2FA thing
.PersistentUpsell-container-flavor-settings
    background-color: $bg-1
// Connections/integrations
.SocialLinkPanel-header
    background-color: $bg-1
// Email settings header
.UserSettingsEmailPage-header
    color: $fg-3

/*
 * -=- Server Settings -=-
 */

// Channel or category notifications header
.GuildedTableHeader-column-header-group, .GuildedTableHeader-column-header
    color: $fg-2
// Placeholder
.GuildedTableField-empty-text
    color: $fg-1
// Category/channel hover
.GuildedTableRowInputWrapper-container-desktop::after
    background-color: $bg-hover
// Category/channel icon
.GuildedTableRowInputWrapper-icon
    fill: $fg-1
// Category/channel title
.GuildedTableRowInputWrapper-name
    color: $fg-2
// X channels
.GuildedTableRowInputWrapper-description
    fill: $fg-1
// Remove icon
.GuildedTableRowNotificationOverridesInput-remove
    color: $bad-0

// Content(flow)
.UserCTAPanel-container
    background-color: $bg-1
// Content inner(flow)
.UserCTAPanel-container-style-bordered
    border: 0
// Content inner(flow) 2
.UserCTAPanel-container-style-bordered .UserCTAPanel-contents:not(.UserCTAPanel-container-disabled)
    background-color: transparent
.UserCTAPanel-container-style-bordered .UserCTAPanel-contents:not(.UserCTAPanel-container-disabled):hover
    background-color: $bg-1
    @include set-transition(background)
// Flow connection
.PanelList-option-connector
    background-color: $bg-1
// Flow's title
.PanelInfo-title
    color: $fg-3
// Flow's description
.PanelInfo-description
    color: $fg-1
// Flow's icon
.BotFlowDisplay-icon
    fill: $fg-1

// Selection buttons
.RadioOptionPanel-container
    background-color: $bg-2
    border-color: $border-dark-1
    // Selection button hover
    &:not(&-disabled)::after
        background-color: $bg-hover
    // Channel type selection
    &-selection-border
        // Hover
        &:not(.RadioOptionPanel-container-selected):hover
            border-color: $border-dark-0
            background-color: $bg-3
        // Selected
        &.RadioOptionPanel-container-selected
            border-color: var(--NihilityTheme0)
    // Channel type selected icon
    &-selected .RadioOptionPanel-icon
        fill: var(--NihilityTheme0)

// Selection checkbox
.CheckboxPanel-container
    background-color: $bg-2
    border-color: $border-dark-1
    // Hover
    &.CheckboxPanel-container-clickable.CheckboxPanel-container-flavor-default:hover
        background-color: $bg-4
    // Icon
    &-clickable:hover .CheckmarkIcon-circle, &-clickable:focus .CheckmarkIcon-circle
        border-color: var(--NihilityTheme0)

/*
 * -=- Settings Tabs -=-
 */

/*
 * --- Integrations ---
 */

// Team integrations
.TeamSettingsAddIntegration-container
    background-color: $bg-1
// Twitch integration
.TeamSettingsAddIntegration-container-type-twitch .TeamSettingsAddIntegration-icon
    fill: $stream

/*
 * --- Groups ---
 */

// Group
.GroupSettingsPanel-container
    background-color: $bg-1
    // Group hover
    &:hover
        background-color: $bg-0
// Group gripper
.GroupSettingsPanel-icon
    fill: $fg-1

/*
 * --- Subscriptions ---
 */

// Subscriptions bg
.ServerSubscriptionsSetupUpsell-content
    background-color: $bg-4
// Subscription points
.GuildedText-container-type-subtextBodyWhite
    color: $fg-2
// Subscription enabling
.ModalWrapper-container.ModalWrapper-container-required:not(.ModalWrapper-background-style-transparent)
    background: rgba(0, 0, 0, 0.6)

/*
 * --- Roles ---
 */

// Role list item selected
.TeamSettingsPermissionsItem-container-selected
    background-color: $bg-4
// Role list item hover
.TeamSettingsPermissionsItem-container-desktop .TeamSettingsPermissionsItem-content::after
    background-color: $bg-hover
// Add role
.TeamSettingsAddButton-icon
    fill: $fg-1
    @include set-transition(fill)
.TeamSettingsAddButton-text
    color: $fg-1
    @include set-transition(color)
// Add role hover
.TeamSettingsAddButton-container:hover
    // Icon
    .TeamSettingsAddButton-icon
        fill: $fg-2
    // Text
    .TeamSettingsAddButton-text
        color: $fg-2

// Permission syncing
.TeamChannelRoleSyncControl
    &-container
        background-color: $bg-2
    // Syncing text
    &-info
        color: $fg-2
    &-category-name
        color: $fg-3
        font-weight: bold
    // Synced icon
    &-icon
        fill: $fg-1
