.ContentMetadataCreationInfo-from-now-link
    &, &:visited, &:active, &:focus
        color: $fg-1
    &:hover
        color: $fg-2

// Pinned announcements
.TeamPostRow-container
    background-color: $bg-4

// Unread announcement
.TeamAnnouncementItem-container-unread .TeamAnnouncementItem-widget-wrapper
    background-color: $bg-2

/*
 * --- Role label ---
 */


// Role name
.TeamWidgetProfileRank-rank-name
    color: $fg-1
    @include set-transition(color)
    // Role name hover
    &:hover
        color: $fg-2

/*
 * --- Comment section ---
 */

// Replies preview
.LastReplyDisplay-container
    --nihility-local-fg: #{$fg-2}
    &:hover
        --nihility-local-fg: #{$fg-3}
// Preview text
.LastReplyDisplayContent-message-summary
    @include set-transition(color)
// View more
.CircleImageStack-label
    color: $fg-1
    // View more hovered over
    .CircleImageStack-container-actionable:hover &
        color: $fg-2

.LastReplyDisplay
    // Timestamp
    &Content-timestamp
        color: $fg-1
        transition: color 0.2s
    // Comment hovered over should make time stamp brighter
    &-container:hover &Content-container &Content-timestamp
        color: $fg-2
