@require "../../variables"
@require "../../set"
@require "../../content"

.ContentMetadataCreationInfo-from-now-link
    &, &:visited, &:active, &:focus
        @extends $TextDark
    &:hover
        @extends $TextMedium

// Unread announcement
.TeamAnnouncementItem
    &-container-unread
        SetNotification()
        & ^[0]-widget-wrapper
            @extends $ContentBordered-2

/*
 * --- Role label ---
 */


// Role name
.TeamWidgetProfileRank-rank-name
    @extends $TextDarkTransition
    // Role name hover
    &:hover
        @extends $TextMedium

/*
 * --- Comment section ---
 */

// Replies preview
.LastReplyDisplay-container
    --body-text-color: fg-2
    &:hover
        --body-text-color: fg-3
// Preview text
.LastReplyDisplayContent-message-summary
    @extends $TransitionColour
// View more
.CircleImageStack
    &-label
        @extends $TextDark
        // View more hovered over
        .CircleImageStack-container-actionable:hover &
            @extends $TextMedium
    &-image
        @extends $Panel-3

.LastReplyDisplay
    // Timestamp
    &Content-timestamp
        @extends $TextDark
        transition: color 0.2s
    // Comment hovered over should make time stamp brighter
    &-container:hover &Content-container &Content-timestamp
        @extends $TextMedium
