/*
 * -=- Page -=-
 */

// All channels
.LayeredPageContent-content,
.ChannelWrapper-container
    background-color: bg-1
    color: fg-2
    --body-text-color: fg-2

// Chat channel
.ChatChannelContents-container
    @extends $Panel-2

/*
 * -=- Member list -=-
 */

.SidebarInfoItem-container
    @extends $ContentMildlyBordered-2
.TeamPageContentSidebarAbout-games
    border: none