/*
 * -=- Page -=-
 */

// All channels
.LayeredPageContent-content,
.ChannelWrapper-container
    background-color: bg-colour[2]
    color: fg-colour[2]
    --body-text-color: fg-colour[2]

// Chat channel
.ChatChannelContents-container
    @extends $PanelMedium

/*
 * -=- Member list -=-
 */

.TeamPageSidebarMembersV2-container,
.SidebarInfoItem-container
    @extends $ContentLight
.TeamPageContentSidebarAbout-games
    border: none !important
    background-color: transparent !important