/*
 * -=- Page -=-
 */

// All channels
.LayeredPageContent-content,
.ChannelWrapper-container
    background-color: bg-1
    color: fg-2
    --body-text-color: fg-2

// Chat channel
.ChatChannelContents-container
    @extends $PanelMedium

/*
 * -=- Member list -=-
 */

.SidebarInfoItem-container
    @extends $ContentLight
.TeamPageContentSidebarAbout-games
    @extends $RemoveBorder