@require "../../variables"
@require "../../content"

/*
 * --- Settings ---
 */

// Highlighted text
.TeamRecruitmentStatus-status
    // Open
    .TeamRecruitmentStatus-container-status-open &
        @extends $TextGood
    // Closed
    .TeamRecruitmentStatus-container-status-closed &
        @extends $TextBad

// Application selector wrapper
.TeamApplicationInlineLink-container
    @extends $PanelBordered-3

/*
 * --- View ---
 */

// Application info
.RecruitmentApplicantViewer
    // Wrapper
    &-applicant-card
        @extends $Panel-4
    // Application values
    &-form-results
        @extends $Panel-4
// Result icon
.FormResultDisplayFieldWrapper-field-header-icon
    @extends $SvgDark
// Application info
.ApplicantSummaryCard-container
    .ApplicantSummaryCard-votes, .ApplicantSummaryCard-buttons-applied-date
        @extends $Panel-4
// Application status
.ApplicationStatusBadge-icon
    // Accepted
    .ApplicationStatusBadge-container-accepted &
        @extends $SvgGood
    // Declined
    .ApplicationStatusBadge-container-declined &
        @extends $SvgBad
.ApplicationStatusBadge-text
    // Accepted
    .ApplicationStatusBadge-container-accepted &
        @extends $TextGood
    // Declined
    .ApplicationStatusBadge-container-declined &
        @extends $TextBad

/*
 * --- All Applications ---
 */

// Application
.ApplicantDisplayItem-container
    @extends $PanelBordered-3
    // Hover
    &-desktop::after
        @extends $ContentGlare
// Application status
.ApplicantSummaryAcceptDeclineForm-applicant-status
    .ApplicantSummaryAcceptDeclineForm-container-accepted &
        @extends $TextGood
// Application server's name
.TeamAvatarDetails-name.TeamAvatarDetails-name-bold
    @extends $TextLight
// Application timestamp
.ApplicantGameDateDisplay-date-text
    @extends $TextDark

// Application status
.ApplicationItemStatus-label
    .ApplicationItemStatus-container-status-1 &
        @extends $TextGoodHighlight
    .ApplicationItemStatus-container-status-0 &
        @extends $TextBadHighlight

/*
 * --- Application modal ---
 */

// Background
.ApplyToTeam-container
    @extends $Panel-2