@require "../../variables"
@require "../../content"
@require "../guilded-variables"

/*
 * --- Settings ---
 */

.TeamRecruitmentStatus
    // Highlighted text
    &-status
        // Open
        ^[0]-container-status-open &
            @extends $TextGood
        // Closed
        ^[0]-container-status-closed &
            @extends $TextBad
    &-toggle
        @extends $SvgDarkTransition
        &:hover
            @extends $SvgMedium

// Application selector wrapper
.TeamApplicationInlineLink-container
    @extends $ContentMildlyBordered-3

/*
 * --- View ---
 */

// Application info
.RecruitmentApplicantViewer
    // Wrapper
    &-applicant-card
        @extends $Panel-4
    // Application values
    &-form-results
        @extends $Panel-4
// Application info
.ApplicantSummaryCard
    &-container
        & ^[0]-votes, & ^[0]-buttons-applied-date
            @extends $Panel-4
// Application status
+prefix-classes("ApplicationStatusBadge")
    .-icon
        // Accepted
        .-container-accepted &
            @extends $SvgGood
        // Declined
        .-container-declined &
            @extends $SvgBad
    .-text
        // Accepted
        .-container-accepted &
            @extends $TextGood
        // Declined
        .-container-declined &
            @extends $TextBad

/*
 * --- All Applications ---
 */

// Application
.ApplicantDisplayItem-container
    @extends $PanelBordered-3
    // Hover
    &-desktop::after
        @extends $ContentGlare
// Application status
.ApplicantSummaryAcceptDeclineForm-applicant-status
    .ApplicantSummaryAcceptDeclineForm-container-accepted &
        @extends $TextGood
// Application server's name
.TeamAvatarDetails-name.TeamAvatarDetails-name-bold
    @extends $TextLight
// Application timestamp
.ApplicantGameDateDisplay-date-text
    @extends $TextDark

// Application status
.ApplicationItemStatus
    &-label
        & ^[0]-container-status-1 &
            @extends $TextGoodHighlight
        & ^[0]-container-status-0 &
            @extends $TextBadHighlight

/*
 * --- Application modal ---
 */

// Background
.ApplyToTeam-container
    @extends $Panel-2