@use "../../base"
@use "../../borders"

/*
 * --- Settings ---
 */

// Highlighted text
.TeamRecruitmentStatus-status
    // Open
    .TeamRecruitmentStatus-container-status-open &
        color: base.$good-0
    // Closed
    .TeamRecruitmentStatus-container-status-closed &
        color: base.$bad-0

// Application selector wrapper
.TeamApplicationInlineLink-container
    @extend %PanelBordered-2

/*
 * --- View ---
 */

// Application info
.RecruitmentApplicantViewer
    // Wrapper
    &-applicant-card
        background-color: base.$bg-1
    // Application values
    &-form-results
        background-color: base.$bg-1
// Result icon
.FormResultDisplayFieldWrapper-field-header-icon
    fill: base.$fg-1
// Application info
.ApplicantSummaryCard-container
    .ApplicantSummaryCard-votes, .ApplicantSummaryCard-buttons-applied-date
        background-color: base.$bg-1
// Application status
.ApplicationStatusBadge-icon
    // Accepted
    .ApplicationStatusBadge-container-accepted &
        fill: base.$good-0
    // Declined
    .ApplicationStatusBadge-container-declined &
        fill: base.$bad-0
.ApplicationStatusBadge-text
    // Accepted
    .ApplicationStatusBadge-container-accepted &
        color: base.$good-0
    // Declined
    .ApplicationStatusBadge-container-declined &
        color: base.$bad-0

/*
 * --- All Applications ---
 */

// Application
.ApplicantDisplayItem-container
    @extend %PanelBordered-2
    // Hover
    &-desktop::after
        background-color: base.$bg-hover
// Application status
.ApplicantSummaryAcceptDeclineForm-applicant-status
    .ApplicantSummaryAcceptDeclineForm-container-accepted &
        color: base.$good-0
// Application server's name
.TeamAvatarDetails-name.TeamAvatarDetails-name-bold
    color: base.$fg-3
// Application timestamp
.ApplicantGameDateDisplay-date-text
    color: base.$fg-1

// Application status
.ApplicationItemStatus-label
    .ApplicationItemStatus-container-status-1 &
        color: base.$good-1
    .ApplicationItemStatus-container-status-0 &
        color: base.$bad-1

/*
 * --- Application modal ---
 */

// Background
.ApplyToTeam-container
    background-color: base.$bg-3