@use "../../variables"
@use "../../set"
@use "../../content"
@use "sass:color"

/*
 * --- Messages ---
 */

// Thread header
.TemporalChannelInstructions
    // Title
    &-header
        @extend %TextMedium
    // Description
    &-optimistic, &-instructions
        @extend %TextDark

// Chat area
.SidebarInfoItem-container,
.LayeredPageContent-content,
.ChannelWrapper-container
    background-color: variables.$bg-3
    color: variables.$fg-3
    --body-text-color: #{variables.$fg-2}

// Text
.LastReplyDisplayContent-message-summary,
.SystemMessageRendererWrapper-container,
.LayeredPageContent-content,
.ChannelWrapper-container,
.BlockQuoteLineRenderer,
.ParagraphRenderer
    color: var(--body-text-color)
    @include set.transition(color)


@mixin define-message-type($colour)
    background-color: rgba($colour, 0.05)
    // Hover
    &:hover
        background-color: rgba($colour, 0.02)
    // Side
    &::after
        background-color: $colour
    &:hover::after
        background-color: color.adjust($colour, $whiteness: variables.$hover-brightness)
    // Reactions
    .ReactionBadge-container.ReactionBadge-container-active
        // Normal active reaction
        .ReactionBadge-container-content
            background-color: mix(variables.$bg-1, $colour, 85%)
            border-color: rgba($colour, 0.1)
            // Active reaction label
            .ReactionBadge-count
                color: $colour
        // Active reaction hover
        &.ReactionBadge-container:not(.ReactionBadge-container-disabled):hover .ReactionBadge-container-content
            background-color: mix(variables.$bg-1, $colour, 90%)

.ChatV2Message-container
    // Message
    &:not(&-editing):not(&-threads-disabled)
        @include set.transition(background)
    &.ChatV2Message-container-type-default
        color: var(--body-text-color)
    // Hovered message
    &:not(&-editing):hover, &.ChatV2Message-container-replying
        @extend %Panel-0
        --body-text-color: #{variables.$fg-3}
    // Right click active
    &-active
        @extend %Panel-0

    // Replying
    &:not(&-editing).ChatV2Message-container-replying
        @include define-message-type(variables.$replying)

    // Mentioned message
    &:not(&-editing):not(&-replying):not(&-private).ChatV2Message-container-mentioned
        @include define-message-type(variables.$mentioned)

    // Private reply
    &:not(&-editing):not(&-replying):not(&-mentioned):not(&-private-other).ChatV2Message-container-private,
    // Private mention
    &:not(&-editing):not(&-replying):not(&-private-other).ChatV2Message-container-private
        @include define-message-type(variables.$private)

    // Private reply mod view
    &:not(&-editing):not(&-replying):not(&-mentioned):not(&-private).ChatV2Message-container-private-other,
    // Private mention mod view
    &:not(&-editing):not(&-replying):not(&-private).ChatV2Message-container-private-other
        @include define-message-type(variables.$private-mod-view)

    // Right clicked
    &-active:not(&-editing)
        @extend %Panel-0
        --body-text-color: #{variables.$fg-3}

    // Removes messages' margin
    & + &:not(&-with-header):not(&-type-system)
        margin-top: 0

// (edited)
.EditedMarker-container
    @extend %TextDark
    @include set.transition(color)
    // (edited) hover
    .ChatV2Message-container.ChatV2Message-container-type-default:hover &
        @extend %TextMedium

/*
 * --- Message input ---
 */

// Slow mode
.SlowModeInfoLabel
    &-icon
        @extend %SvgDarker
    &-container
        @extend %TextDark
    // Seconds left
    &-cooldown-text
        color: variables.$warning

// Failed to send
.ChatV2Message-retry-control
    fill: variables.$warning
    .SVGIcon-icon
        fill: variables.$warning

// Replying to
.ChatChannelInputStatusBar
    // Box
    &-container
        @extend %ContentBordered-4
    // Label
    &-replying-to-text
        @extend %TextDark

    // Close icon
    &Buttons
        &-close-icon
            @extend %SvgDark
            @include set.transition(fill)
        &-hover:hover &-close-icon
            @extend %SvgBad
.PrivateReplyButton
    &-icon
        @extend %SvgDark
        @include set.transition(fill)
        &-enabled
            fill: color.adjust(variables.$private, variables.$whiteness: 25%)
    &-container:hover:not(&-container-disabled) &-icon:not(&-icon-enabled)
        @extend %SvgMedium
.ReplyPingButton-ping
    &-icon
        @extend %SvgDark
        @include set.transition(fill)
    &-enabled &-icon
        fill: color.adjust(variables.$mention, variables.$whiteness: 25%)

.ChatChannelInput-editor
    border: none

// Reply headers
.ChatV2MessageReplyHeader-container
    // Reply header
    &, &-highlighted
        // Reply line
        &::after
            border-color: variables.$fg-0
            opacity: 30%
            height: 24px
        &:first-child::after
            height: 12px
    // Reply header line thread
    &-thread::after, &-thread:first-child::after
        height: 44px

.ChatV2MessageReplyHeader
    // Text in the reply
    &-message-summary
        // Non-deleted summary
        &:not(&-deleted)
            @include set.transition(color)
            &:hover
                @extend %TextMedium
    // Username in the reply
    &-user-info .UserBasicInfoDisplay-name-and-status-wrapper
        font-weight: bolder

// Message editing actions
.ChatV2MessageEditHelper-container
    @extend %TextDark

/*
 * --- Special messages ---
 */

// Pinned message
.ChatV2MessageContents-container-pinned .ChatV2MessageContents-display
    @extend %PanelTransparent

// Event message icon
.SystemMessageRendererWrapper-container .SystemMessageRendererWrapper-icon
    @extend %SvgDark

// Pinned message label
.PinnedByMessage
    // Text
    &-word
        @extend %TextDark
    // Icon
    &-icon
        @extend %SvgDark
// Pinned messages list
.ChannelPinnedMessages
    // "Pinned messages" title
    &-header
        @extend %TextDark
    // Box
    &-container
        @extend %Panel-4
// Pinned message
.ChatV2PinnedMessage-message-wrapper
    @extend %Panel-2
    @extend %RadiusSmall
    .ChatV2Message-container
        @extend %RadiusSmall

// "Private message" label
.PrivateMessageLabel
    // Eye icon
    &-icon
        @extend %SvgDark
    // Text
    &-container .GuildedText-container
        @extend %TextDark

/*
 * --- Divider ---
 */

.WordDividerLine
    // Normal
    &-line
        background-color: variables.$bg-6
        &:last-child
            width: 600px
    &-container-word-style-chat &-word,
    &-word
        @extend %TextDark
    // New messages
    &-container-type-alert
        .WordDividerLine-line
            background: variables.$important
    &-container-type-alert
        .WordDividerLine-word
            color: variables.$important

/*
 * --- Threads ---
 */

// Thread label
.ChatMessageThread
    // Text
    &-thread-header
        @extend %TextDark
    // Icon
    &-icon-chat-thread
        @extend %SvgDark

// Threaded message
.ChatMessageThread-container
    @extend %PanelBordered-3
    --border-color: #{variables.$bg-5}
    // Threaded message hover
    &::after
        display: none

.LastReplyDisplay-container
    // Thread reply bar
    &::before
        background-color: var(--NihilityTheme0)
    // Thread reply bar when the user is in it
    &.LastReplyDisplay-container-participant:not(&-unread)::before
        background-color: var(--NihilityTheme2)

// Threaded message's arrow
.LastReplyDisplay-icon-chevron
    @extend %TextThemeDull

/*
 * --- Header ---
 */

// Timestamp
.ChatV2MessageTimestamp-container.ChatV2MessageHeader-timestamp,
.ChatV2MessageTimestamp-container.SystemMessageRendererWrapper-timestamp
    @extend %TextDark
    @include set.transition(color)
    // Timestamp hovered
    .ChatV2Message-container.ChatV2Message-container-type-default:hover &,
    .ChatV2Message-container.ChatV2Message-container-type-system:hover &
        @extend %TextMedium

/*
 * --- Menu ---
 */


// Message hover menu
.QuickActionBar-container
    @extend %PanelBordered-4

// Message hover menu icons
.QuickActionBar-action
    @extend %SvgMedium
    // Buttons hovered over
    &-wrapper:hover .QuickActionBar-action,
    &:hover
        background-color: variables.$bg-3
        fill: variables.$fg-3
        // Change the fill of the SVG icon
        .SVGIcon-container
            @extend %SvgLight
    // Change the fill of the SVG icon
    .SVGIcon-container
        @extend %SvgMedium
    // Delete icon
    &-wrapper.QuickActionBar-action-wrapper-destructive
        .QuickActionBar-action
            @extend %SvgBad
        // Delete icon hover
        &:hover .QuickActionBar-action
            @extend %SvgBadHighlight

// Remove hover from the message in deletion menu
.ConfirmationOverlay-item .ChatV2Message-container
    // Since it doesn't work for ::after, don't add it here
    // .ChatChannelMessages-delete-message
    //     @include set.transition(background-color)
    // Give it to contents
    &:hover
        @extend %PanelTransparent
        .ChatChannelMessages-delete-message
            @extend %Panel-0
// Message delete menu fading
.ChatChannelMessages-delete-message::after
    background: linear-gradient(to bottom, transparent, variables.$bg-3 75px)
    // Doesn't work
    // @include set.transition(background)
    // When the message gets hovered over, change the fading too
    .ChatV2Message-container:not(.ChatV2Message-container-editing):hover &
        background: linear-gradient(to bottom, transparent, variables.$bg-5 75px)

/*
 * --- Thread menu ---
 */


// Message thread menu
.ChatV2MessageReplyTooltip
    // Base
    &-content-wrapper
        @extend %OverridePanelMildlyBordered-3
        opacity: variables.$floating-opacity
    // Arrow/Pointer
    &-arrow
        @extend %OverridePanelMildlyBordered-3
    // Message thread menu header
    &Header
        // Icon
        &-icon
            @extend %SvgDark
        // Message thread add a title
        &-add-title
            &, &:visited, &:active, &:focus
                @extend %TextDark
            // Hovered
            &:hover
                @extend %TextMedium

// Message thread menu send
.SlateEditor-send-icon
    @extend %SvgThemeBleached
    // Message thread menu cannot send
    &.SlateEditor-send-icon-disabled
        @extend %SvgDarker

.ContentEditableInput
    &-placeholder-text, &-input, &-actual-text-display
        @extend %TextMedium

// Thread menu title input placeholder
.ChannelTitleInput-input-placeholder
    @extend %TextDarker

// Thread menu title input icon
.ChannelTitleInput-icon,
.ChatV2MessageReplyTooltipInput-title-icon
    @extend %SvgMedium