@require "../../variables"
@require "../guilded-variables"

/*
 * -=- Editor menus -=-
 */

//---- Emote picker ----//

.ReactionPicker
    &-container
        @extends $FullBorderLight-1
    // Emote picker content
    &-content
        @extends $PanelMedium
    &-content, &-list
        SetScrollbar()
    // Emote icon
    &Icon-container
        @extends $FullBorderTransparent
        &:hover,
        &:focus
            @extends $ContentGreyHighlight
            // background-color: var(--accent-transparent)
            // border: solid 1px var(--accent-0)

    // Bottom bar
    &Footer-container,
    // Top bar
    &Navbar-container
        overflow-x: hidden
        @extends $SetContentDark

    // Emote name in grid
    &-section-label
        @extends $TextLight
    // Emote name in footbar
    &Preview-reaction-name
        @extends $TextMedium
    // Emote server title
    &Preview-team
        @extends $TextDark
    // Emote picker tab's icon
    &NavbarItem-icon
        @extends $SvgDark
        .ReactionPickerNavbarItem:hover &
            @extends $SvgMedium
        .ReactionPickerNavbarItem-active &
            @extends $SvgLight

.ReactionPickerNavbarItem-active
    border-bottom-color: var(--accent-0)

/*
 * -=- Reactions -=-
 */

// Reaction normally
.ReactionPickerButton-container-type-content,
.ReactionBadge-container-content
    @extends $ContentDark
    .MediaInfoPane-post-metadata &
        @extends $MildContentLight
// Reaction hovered
.ReactionBadge-container-content:hover,
.ReactionBadge-container:not(.ReactionBadge-container-disabled):not(.ReactionBadge-container-active):hover .ReactionBadge-container-content
    @extends $ContentRoughDark
    .MediaInfoPane-post-metadata &
        @extends $ContentLightHighlighted

.ReactionPickerButton-container-type-content
    transition-duration: global-transition-period

    // When reaction is hovered over
    &:hover
        @extends $PanelReallyDark

// Text after the reaction button
.ReactionPickerButton-container-with-label
    &::after
        @extends $TextDark
        transition-duration: global-transition-period
    &:hover::after
        @extends $TextMedium

// Reaction counter
.ReactionBadge-container
    &:not(&-disabled):hover .ReactionBadge-count
        @extends $TextLight
    // Active
    &.ReactionBadge-container-active
        // Normal active reaction
        .ReactionBadge-container-content
            background-color: mix(bg-colour[2], active, 85%)
            border-color: alpha(active, 0.1)
            // Active reaction label
            .ReactionBadge-count
                color: active
        // Active reaction hover
        &.ReactionBadge-container:not(.ReactionBadge-container-disabled):hover .ReactionBadge-container-content
            background-color: mix(bg-colour[2], active, 90%)

/*
 * -=- Image Upload -=-
 */

// Upload image
.ImageUploaderButton
    // Container
    &-container
        @extends $ContentDark
        // Hover
        &::after
            @extends $ContentGlare
    // Icon
    &-icon
        @extends $SvgMedium
    // Text
    &-text
        @extends $TextMedium

.CreateGroupOverlayWrapper-upload-avatar
    @extends $ContentDark
    .SVGIcon-icon
        @extends $SvgMedium
    &:hover
        @extends $PanelMedium

/*
 * -=- List and radio checkmarks -=-
 */

.CheckmarkIcon
    &-circle
        @extends $CheckboxUnchecked
    &-container-clickable:hover
        & ^[0]-circle
            @extends $CheckboxUncheckedHover
        & ^[0]-icon
            @extends $CheckboxCheck
    &-container-selected
        & ^[0]-circle
            @extends $CheckboxChecked
        & ^[0]-icon
            @extends $CheckboxCheck
    &-container-clickable.CheckmarkIcon-container-selected:hover
        & ^[0]-circle
            @extends $CheckboxCheckedHover
        & ^[0]-icon
            @extends $CheckboxCheck
    // Disabled
    &-container-disabled
        & ^[0]-circle
            @extends $CheckboxUncheckedDisabled
    &-container-disabled&-container-selected
        & ^[0]-circle
            @extends $CheckboxCheckedDisabled
        & ^[0]-icon
            @extends $CheckboxCheck

.CheckboxPanel-container-clickable.CheckboxPanel-container-selected:hover
    .CheckmarkIcon
        &-circle
            @extends $CheckboxChecked
        &-icon
            @extends $CheckboxCheck
/*
 * -=- Badges & Pills -=-
 */

/*
 * --- General purpose badge ---
 */

.CalloutBadge-container
    @extends $TextMedium
    background: bg-colour[1] !important
    border: solid 1px border-dark[0] !important

/*
 * --- Pills ---
 */

$RolePill
    border-radius: radius-1
    border: solid 1px border-light[0] !important
    background: bg-colour[3]

.TeamMemberRolePill
    &-container
        @extends $RolePill
    &-name
        @extends $TextMedium
    &-remove-icon
        @extends $SvgBad

.UserAliasesListDisplayPill
    &-container
        @extends $RolePill
        &-hoverable&:hover
            background: bg-colour[4] !important
            border: solid 1px border-light[1] !important
    &-label
        @extends $TextMedium
    &-remove-icon
        @extends $SvgBad

// Add role
.TeamAddRoleButton-container .CircularPlusButton
    &-container
        @extends $SvgMedium
    &-container-size-md
        @extends $SetContentDark


/*
 * --- User badges ---
 */

$Badge
    color: fg-colour[2]
    background: bg-colour[1] !important
    border: solid 1px border-dark[0] !important

.UserBadge
    // // If there is an icon in the badge, remove the name
    // &-image ~ &-name
    //     display: none
    // Override all colours for badges
    &-container:not(.UserFlairRow-icon)
        @extends $Badge
        & ^[0]-name
            @extends $TextMedium
// [MEMBER]
.GroupMembershipBadge-container
   color: verified

/*
 * --- Channel & Settings badges ---
 */

// [BETA] in settings
.PersistentActionMenuItem-container .CalloutBadge-container,
// [BETA] in channel list
.TeamChannelItemContents-label,
// [BETA] in screen header
.ScreenHeader-label,
// [BETA] in channel creation
.RadiosField-option-details-header-badge
    color: info
    background: bg-colour[0] !important

// [LIVE]
// .TeamChannelItemContents-label-wrapper
//     .CalloutBadge-container
//         color: stream
// Group reorder [DEFAULT]
.GroupSettingsPanel-name-wrapper .CalloutBadge-container
    color: $blue

.ReGuildedBadges-type
    // [NEW] in the changelog
    &-new
        color: $red
    // [ADDON] for addon settings
    &-addon
        color: #cc5555

/*
 * --- Tournament badges ---
 */

// Status badge
.TournamentStatusBadge-container-status
    &-in-progress, &-unpublished
        @extends $Badge
    &-in-progress
        color: active
    &-unpublished
        color: waiting
.TournamentBadges-badge
    &-type
        &-featured
            @extends $TextImportant

/*
 * -=- Inputs -=-
 */

/*
 * --- Copy input ---
 */

.TextButton
    &-container&-container-type-default
        @extends $TextMedium
    &-container-desktop:hover&-container-type-default
        @extends $TextLight

/*
 * -=- Misc -=-
 */

// Overview socials
.IconAndLabel-icon
    @extends $SvgDark
// Form add new field
.SectionedIconLabel
    &-icon
        @extends $SvgDarkTransition
        ^[0]-container-desktop:hover &
            @extends $SvgMedium
    &-label
        @extends $TextDark
    // Division
    &-left, &-right
        background-color: border-light[1]
    // Hover glare
    &-container-desktop::after
        @extends $ContentGlare

.ToggleControlButton-container.ToggleControlButton-container
    // Showcase event buttons hover
    &-desktop:hover .ToggleControlButton-icon
        @extends $SvgMedium
    &-selected
        .ToggleControlButton-icon
            @extends $SvgTheme

        button-list = { name: "Going", placeholder: "$SvgGood" } { name: "Maybe", placeholder: "$SvgNeutral" } { name: "Declined", placeholder: "$SvgBad" }

        for type in button-list
            // Have to use a hack
            name = attribute-value(type.name)

            &[title={name}]
                .ToggleControlButton-icon
                    @extends {type.placeholder}

// Event accepted member badge
.TeamWidgetProfileBadge
    &-container-type
        &-success
            @extends $PanelReallyDark
            & ^[0]-icon
                @extends $SvgGood
        &-error
            @extends $PanelReallyDark
            & ^[0]-icon
                @extends $SvgBad
        &-info
            @extends $PanelReallyDark
            & ^[0]-icon
                fill: info
        &-discord
            @extends $PanelReallyDark
            & ^[0]-icon
                fill: info
    &-icon
        @extends $SvgLight

// Overview carousel
.CarouselList
    for side in left right
        // // Fading
        // &-container-size-sm .CarouselList-blur-light.CarouselList-{side}-blur
        //     background-gradient: to side, alpha(bg-colour[2], 0), bg-colour[2] 75%
        // Arrow hover
        &-controls-{side}:hover &-controls-arrow
            @extends $SvgMedium
    // Arrows
    &-controls-arrow
        @extends $SvgDarkTransition

define-carousel-fade(bg-colour[2])

// User info
+prefix-classes("TeamWidgetProfileDetails")
    .-container.-container-size-xmd-lg,
    .-container.-container-size-md-lg,
    .-container.-container-size-lg
        .-additional-info, .-tag-line
            @extends $TextDark
