/*
 * --- Document list ---
 */

// Document in the list
.DocDisplayItem-container
    background-color: $bg-3

// Document in the list info
.ReplyPanel-container-viewing,
.DocSummaryInfo-container
    background-color: $bg-1


/*
 * --- Text ---
 */

.GuildedText-container-type-heading3
    color: $fg-3

.DocSummaryInfo-subtitle
    color: $fg-1


/*
 * --- Tags ---
 */

// Tag creation label
.GuildedTagCreatorPanel-title
    color: $fg-1
// Tag creation
.GuildedTagCreator-container
    color: $fg-2
// Remove tag
.TagsDisplayV2-delete-icon
    background-color: $fg-1
    @include set-transition(background-color)
    &:hover
        background-color: $bad-0

.TagDisplayItemV2
    // Tag's background
    &-container
        border-color: $border-dark-0
        background-color: $bg-1
    // Tag's text
    &-tag
        color: $fg-2


/*
 * --- Post a comment and reactions ---
 */

.RepliesAddon-header-text
    color: $fg-3
