@use "../../variables"
@use "../../set"
@use "../../content"
@use "../../fake"

/*
 * --- Document list ---
 */

// Document in the list
.DocDisplayItem-container
    @extend %Panel-2

// Document in the list info
.ReplyPanel-container-viewing,
.DocSummaryInfo-container
    @extend %PanelBordered-3

// "Drafts" title
.DocsDisplayV2-title
    @extend %TextLight
// Add [DRAFT] badge
.TeamDocs-drafts-docs-display .DocSummaryInfo-title::after
    content: 'draft'
    color: variables.$waiting
    @extend %FakeBadge


/*
 * --- Text ---
 */

.GuildedText-container-type-heading3
    @extend %TextLight

.DocSummaryInfo-subtitle
    @extend %TextDark


/*
 * --- Tags ---
 */

// Tag creation label
.GuildedTagCreatorPanel-title
    @extend %TextDark
// Tag creation
.GuildedTagCreator-container
    @extend %TextMedium
// Remove tag
.TagsDisplayV2-delete-icon
    background-color: variables.$fg-1
    @include set.transition(background-color)
    &:hover
        @extend %PanelBad

.TagDisplayItemV2
    // Tag's background
    &-container
        @extend %OverrideContentMildlyBordered-4
    // Tag's text
    &-tag
        @extend %TextMedium


/*
 * --- Post a comment and reactions ---
 */

.RepliesAddon-header-text
    @extend %TextLight
