@require "../../variables"
@require "../../set"
@require "../../content"
@require "../../fake"

/*
 * --- Document list ---
 */

// Document in the list
.DocDisplayItem-container
    @extends $PanelMedium
    &::after
        @extends $SetBorderLight-1

// Document in the list info
.DocSummaryInfo
    &-container
        @extends $SubContentDark
        &-unread
            SetNotification()
            & ^[0]-title
                @extends $TextNotification
            &:hover ^[0]-title
                @extends $TextNotificationHover

// "Drafts" title
.DocsDisplayV2-title
    @extends $TextLight
// // Add [DRAFT] badge
// .TeamDocs-drafts-docs-display .DocSummaryInfo-title::after
//     content: 'draft'
//     color: waiting
//     @extends $FakeBadge


/*
 * --- Text ---
 */

.DocViewer-reader-editor
    padding: spacing-3 spacing-5
    border-radius: radius-2
    @extends $ContentLight

.DocSummaryInfo-subtitle
    @extends $TextDark


/*
 * --- Tags ---
 */

// Tag creation label
.GuildedTagCreatorPanel-title
    @extends $TextDark
// Tag creation
.GuildedTagCreator-container
    @extends $TextMedium
// Remove tag
.TagsDisplayV2-delete-icon
    background-color: fg-colour[1]
    transition: background-color
    &:hover
        @extends $PanelBad

.TagDisplayItemV2
    // Tag's background
    &-container
        @extends $SetMildContentLight
        .DocViewer-tags-display &
            @extends $SetContentDark
    // Tag's text
    &-tag
        @extends $TextMedium


/*
 * --- Post a comment and reactions ---
 */

.RepliesAddon-header-text
    @extends $TextLight

// Comment
.ReplyPanel-container-viewing
    @extends $ContentLight