@require "../../variables"
@require "../../set"
@require "../../content"
@require "../guilded-variables"

/*
 * -=- Calendar Placeholders -=-
 */

$CalendarDayDifferentMonth
    @extends $PanelMild
$CalendarDayNormal
    @extends $PanelMedium
$CalendarDayHovered
    @extends $PanelMediumHighlighted
$CalendarDayToday
    @extends $PanelMediumHighlighted
$CalendarDayTodayHighlight
    background-color: var(--game-color)
    color: var(--accent-foreground) !important

/*
 * -=- Calendar -=-
 */

// Day cards
+prefix-classes("FullSizedCalendar")
    // Week day header
    .WeekdayHeader-day
        @extends $TextDark
    // Calendar days and weeks
    .-week
        @extends $MildContentLight
    .-day
        @extends $CalendarDayNormal
        // Day numbers
        .DayHeader-date
            @extends $TextMedium
    // Event creation
    .Day-container-desktop.Day-container-can-create
        @extends $TransitionBackground
        &:hover
            @extends $CalendarDayHovered
    .Day-new-event-icon
        @extends $SvgDark
        transition: opacity
    // Calendar special days
    .-day.Day-container-in-past,
    .-day.Day-container-different-month
        @extends $CalendarDayDifferentMonth
        // Don't make text stand out
        .DayHeader-date
            @extends $TextDarker
    .Day-container-today
        @extends $CalendarDayToday
        // Highlight the date
        .DayHeader-date
            @extends $CalendarDayTodayHighlight
    // Event name
    .Event-name
        @extends $TextMedium
    .Event-details
        @extends $TextDark
    // Unread event
    .Event-container-unread
        SetNotification()
    .Event-container-unread:not(&Event-container-full-day)
        @extends $PanelDark
    // Whole day calendar
    .Event-container-full-day
        .Event-details, .Event-name
            @extends $TextLight
    // Event hover
    .Event-container-with-start-time.Event-container-desktop::after
        @extends $ContentGlare

// Month switching
.DateSwitcher
    &-month-name
        @extends $TextLight
    &-button
        @extends $SvgDarkTransition
    &-button:hover
        @extends $SvgMedium

// Upcoming
.UpcomingCalendar
    &Day-container, &-container
        @extends $PanelDark
    &Event-container-desktop:hover
        @extends $PanelMedium

/*
 * --- Date picker Pop-up ---
 */

// Date input pop-up
.DateInput-menu
    //@extends $PanelMild
    @extends $FullBorderLight-2
.DayPicker
    // Month name
    &-header
        color: fg-colour[3]
        background-color: bg-colour[1]
    &-arrow
        @extends $SvgDark
    // Week day
    &-day-label
        @extends $TextDark
    // Day
    &-day
        @extends $CalendarDayNormal
        transition: background-color
        &-contents
            @extends $TextMedium
            // color: fg-colour[2] // !important
    &-day&-day-next-month
        @extends $CalendarDayDifferentMonth
        .DayPicker-day-contents
            // color: fg-colour[0]
            @extends $TextDarker
    // Selectable day hover
    &-day:hover
        @extends $CalendarDayHovered
    &-container-desktop &-day:hover &-day-contents
        background-color: transparent
        color: active
    // Current day
    &-day-today
        @extends $CalendarDayToday
    &-container-desktop &-day-today:hover,
    &-day-today
        .DayPicker-day-contents
            @extends $CalendarDayTodayHighlight

    // Selected day hover
    &-container-desktop &-day-selected&-day:hover &-day-contents,
    // Selected day
    &-day-selected &-day-contents
        background: active
        color: var(--accent-foreground) !important

/*
 * --- Calendar Card ---
 */

.EventCard
    // When it starts and ends
    &Metadata-subtitle
        @extends $TextDark
    // The description of it
    &Description-container
        @extends $TextMedium
        @extends $SetBorderLight-1
    &Header
        // The name of the event in the pop up
        &-name
            @extends $TextLight
        // The header text and colour
        &-details
            height: 55px
    // Whether the user is going or not
    &-status-toggle
        @extends $SetBorderLight-1

// Pop-up top-level
.TransientMenu-container-style-card
    // overflow: hidden
    @extends $SetContentRoughDark

/*
 * --- View ---
 */

// Header
.EventTemporalChannelDisplay
    &-container
        @extends $ContentLight
        --border-color: bg-colour[1]
    &-icon
        @extends $SvgDark
// Details
.TeamEventDetails
    &-status
        @extends $MildContentLight
    &-post-metadata, &-item
        @extends $ContentLight
.EventCardMetadata
    // Container
    &-container-size-lg
        @extends $ContentLight
    // Icon
    &-icon
        @extends $SvgDark
    &-link
        Link()
@media only screen and (min-width: 770px)
    .EventCardMetadata-link:hover
        @extends $TextThemeBleached

// Description
.TeamEventDescription
    // Icon
    &-icon
        @extends $SvgDark
    // Text
    &-placeholder
        --body-text-color: fg-colour[2]

.EventAttendanceHeader-status
    &-going
        @extends $TextMedium
    &:not(:first-child)
        @extends $TextDark
        &::before
            background-color: fg-colour[1]
.TeamEventRsvps-container
    --border-color: bg-colour[1]

.EventRsvpsHeader
    // See all link
    &-attendance-see-all
        @extends $TextThemeDullTransition
    &-container-desktop:not(&-container-rsvps-disabled):hover &-attendance-see-all
        @extends $TextThemeBleached
    // Maybe, invited, declined
    &-container-desktop:not(&-container-rsvps-disabled):hover &-attendance .EventAttendanceHeader-status
        @extends $TextMedium

// Invite
.TeamEventInviteMembers
    &-title
        @extends $TextLight