/*
 * --- Calendar ---
 */

// Day cards
.FullSizedCalendar
    // Week day header
    &WeekdayHeader-day
        color: $fg-1
    // Calendar days and weeks
    &-week
        background-color: $bg-4
    &-day
        border-width: 1px
        border-style: solid
        border-color: $border-dark-1
        background-color: $bg-4
        // Day numbers
        .FullSizedCalendarDayHeader-date
            color: $fg-2
    // Event creation
    &Day-container-desktop.FullSizedCalendarDay-container-can-create
        @include set-transition(background-color)
        &:hover
            background-color: $bg-5
    &Day-new-event-icon
        fill: $fg-1
        @include set-transition(opacity)
    // Calendar special days
    &Day-container-in-past,
    &Day-container-different-month
        background-color: $bg-3
        color: $fg-1
        // Don't make text stand out
        .FullSizedCalendarDayHeader-date
            color: $fg-0
    &Day-container-today
        background-color: $bg-5
        // Highlight the date
        .FullSizedCalendarDayHeader-date
            background-color: var(--NihilityTheme0)
            color: white
    // Event name
    &Event-name
        color: $fg-3

// Buttons
.ToggleControl-container
    border-color: $fg-0
.ToggleControlButton-container.ToggleControlButton-container
    &-desktop:hover, &-selected
        color: var(--NihilityTheme0)
        background-color: $bg-1
    &-selected:focus, &-selected:active
        color: var(--NihilityTheme0)
// Month switching
.DateSwitcher
    &-month-name
        color: $fg-3
    &-button
        fill: $fg-1

// Upcoming
.UpcomingCalendar
    &Day-container, &-container
        background-color: $bg-1
    &Event-container-desktop:hover
        background-color: $bg-3

// Date input
.FormBoxAndLabel
    &-box
        border-color: $fg-0
        @include set-transition(border-color)
    &-container-focused &-box,
    &-container-desktop:hover &-box
        border-color: $border-light-1
    // Icon
    &-form-icon
        fill: $fg-1
    // Text inside input
    &-main-text
        color: $fg-3
// Time input
.TimeInput
    // Part selected
    &-input:focus
        background-color: var(--NihilitySelect)
    // : delimeter
    &-delimiter
        color: $fg-1
// Timezone label
.TimeFieldWrapper-timezone-label
    color: $fg-1

/*
 * --- Pop up ---
 */

// Pop-up top-level
.TransientMenu-container-style-card
    overflow: hidden
    background-color: $bg-3
// Pop up banner
.GlassySplashHeader
    &-image-wrapper &-image
        mask-image: linear-gradient(to bottom, black, transparent 7rem)
    // Remove its highlighting
    .EventCard-container:hover &-container
        background-color: transparent
/*
 * --- View ---
 */

// Header
.EventTemporalChannelDisplay-container
    background-color: $bg-1
    @include set-var(--border-color, $bg-0)
// Details
.TeamEventDetails
    &-post-metadata, &-status, &-item
        background-color: $bg-2
.EventCardMetadata
    // Container
    &-container-size-lg
        background-color: $bg-2
    // Icon
    &-icon
        fill: $fg-1
    // Server URL
    &-link
        &, &:visited, &:active, &:focus
            color: var(--NihilityLink)
        &:hover
            color: var(--NihilityLinkHover)

// Description
.TeamEventDescription
    // Icon
    &-icon
        fill: $fg-1
    // Text
    &-placeholder
        @include set-var(--nihility-local-fg, $fg-2)

.EventAttendanceHeader-status
    &-going
        color: $fg-2
    &:not(:first-child)
        color: $fg-1
        &::before
            background-color: $fg-1

.EventRsvpsHeader
    // See all link
    &-attendance-see-all
        color: var(--NihilityLink)
    &-container-desktop:not(&-container-rsvps-disabled):hover &-attendance-see-all
        color: var(--NihilityLinkHover)
    // Maybe, invited, declined
    &-container-desktop:not(&-container-rsvps-disabled):hover &-attendance .EventAttendanceHeader-status
        color: $fg-2
