@require "../../variables"
@require "../../set"
@require "../../content"
@require "../guilded-variables"

/*
 * --- Calendar ---
 */

// Day cards
+prefix-classes("FullSizedCalendar")
    // Week day header
    .WeekdayHeader-day
        @extends $TextDark
    // Calendar days and weeks
    .-week
        @extends $PanelLight
    .-day
        @extends $SetSubContentLight
        // Day numbers
        .DayHeader-date
            @extends $TextMedium
    // Event creation
    .Day-container-desktop.Day-container-can-create
        @extends $TransitionBackground
        &:hover
            background-color: bg-6
    .Day-new-event-icon
        @extends $SvgDark
        transition: opacity
    // Calendar special days
    .Day-container-in-past,
    .Day-container-different-month
        background-color: bg-3
        color: fg-0
        // Don't make text stand out
        .DayHeader-date
            @extends $TextDarker
    .Day-container-today
        background-color: bg-6
        // Highlight the date
        .DayHeader-date
            background-color: var(--game-color)
            color: var(--accent-foreground)
    // Event name
    .Event-name
        @extends $TextMedium
    .Event-details
        @extends $TextDark
    // Unread event
    .Event-container-unread
        SetNotification()
    .Event-container-unread:not(&Event-container-full-day)
        @extends $PanelDark
    // Whole day calendar
    .Event-container-full-day
        .Event-details, .Event-name
            @extends $TextLight
    // Event hover
    .Event-container-with-start-time.Event-container-desktop::after
        @extends $ContentGlare

// Buttons
.ToggleControl-container
    @extends $SetBorderLight-2
    overflow: hidden
.ToggleControlButton-container.ToggleControlButton-container
    &-desktop:hover, &-selected
        color: var(--accent-0)
        background-color: bg-3
    &-selected:focus, &-selected:active
        @extends $TextTheme
// Month switching
.DateSwitcher
    &-month-name
        @extends $TextLight
    &-button
        @extends $SvgDark

// Upcoming
.UpcomingCalendar
    &Day-container, &-container
        @extends $PanelDark
    &Event-container-desktop:hover
        @extends $PanelMedium

/*
 * --- Calendar Pop-up ---
 */

// Date input pop-up
.DateInput-menu
    //@extends $PanelMild
    @extends $FullBorderLight-2
.DayPicker
    // Month name
    &-header
        color: fg-3
        background-color: bg-2
    &-arrow
        @extends $SvgDark
    // Week day
    &-day-label
        @extends $TextDark
    // Day
    &-day
        @extends $PanelLight
        transition: background-color
        &-contents
            color: fg-2 !important
    &-day-next-month
        @extends $PanelMild
        .DayPicker-day-contents
            color: fg-0 !important
    &-day:hover
        background-color: bg-6
    // Day numbers
    &-container-desktop &-day:hover &-day-contents,
    &-container-desktop &-day-selected.DayPicker-day:hover &-day-contents
        @extends $PanelTransparent
    &-day-selected &-day-contents
        background-color: var(--game-color)
        color: #FFF !important

/*
 * --- Pop up ---
 */

// Pop-up top-level
.TransientMenu-container-style-card
    overflow: hidden
    @extends $PanelMedium
// Pop up banner
.GlassySplashHeader
    &-image-wrapper &-image
        mask-image: linear-gradient(to bottom, black, transparent 112px)
    // Remove its highlighting
    .EventCard-container:hover &-container
        @extends $PanelTransparent
/*
 * --- View ---
 */

// Header
.EventTemporalChannelDisplay
    &-container
        @extends $ContentLight
        --border-color: bg-0
    &-icon
        @extends $SvgDark
// Details
.TeamEventDetails
    &-post-metadata, &-status, &-item
        @extends $MildContentLight
.EventCardMetadata
    // Container
    &-container-size-lg
        @extends $MildContentLight
    // Icon
    &-icon
        @extends $SvgDark

// Description
.TeamEventDescription
    // Icon
    &-icon
        @extends $SvgDark
    // Text
    &-placeholder
        --body-text-color: fg-2

.EventAttendanceHeader-status
    &-going
        @extends $TextMedium
    &:not(:first-child)
        @extends $TextDark
        &::before
            background-color: fg-1
.TeamEventRsvps-container
    --border-color: bg-0

.EventRsvpsHeader
    // See all link
    &-attendance-see-all
        @extends $TextThemeDull
    &-container-desktop:not(&-container-rsvps-disabled):hover &-attendance-see-all
        @extends $TextThemeBleached
    // Maybe, invited, declined
    &-container-desktop:not(&-container-rsvps-disabled):hover &-attendance .EventAttendanceHeader-status
        @extends $TextMedium

// Invite
.TeamEventInviteMembers
    &-title
        @extends $TextLight