/*
 * --- Calendar ---
 */
    
// Day cards
.FullSizedCalendar
    // Calendar days and weeks
    &-week
        background-color: $nihility-bg-4
    &-day
        border-width: 1px
        border-style: solid
        border-color: $nihility-bg-1
    // Event creation
    &Day-container-desktop.FullSizedCalendarDay-container-can-create
        @include nihility-transition(background-color)
        &:hover
            background-color: $nihility-bg-5
    &Day-new-event-icon
        fill: $nihility-fg-1
        @include nihility-transition(opacity)
    // Calendar special days
    &Day-container-different-month
        background-color: $nihility-bg-3
        color: $nihility-fg-1
        color: black
    &Day-container-today
        background-color: $nihility-bg-5
    // Day numbers
    &DayHeader-date
        color: $nihility-fg-2
    &DayHeader-date-different-month
        color: $nihility-fg-1
    &DayHeader-date-today
        background-color: $nihility-theme
        color: white
    // Event name
    &Event-name
        color: $nihility-fg-3


// Buttons
.ToggleControl-container
    border-color: $nihility-fg-1
.ToggleControlButton-container.ToggleControlButton-container
    &-desktop:hover, &-selected
        color: $nihility-theme
        background-color: $nihility-bg-1
    &-selected:focus, &-selected:active
        color: $nihility-theme

// Upcoming
.UpcomingCalendar
    &Day-container, &-container
        background-color: $nihility-bg-1
    &Event-container-desktop:hover
        background-color: $nihility-bg-3


/*
 * --- View ---
 */

// Header
.EventTemporalChannelDisplay-container
    background-color: $nihility-bg-1
    @include set-var(--border-color, $nihility-bg-0)
// Details
.TeamEventDetails
    &-post-metadata, &-status, &-item
        background-color: $nihility-bg-2
.EventCardMetadata
    // Container
    &-container-size-lg
        background-color: $nihility-bg-2
    // Icon
    &-icon
        fill: $nihility-fg-1
    // Server URL
    &-link
        &, &:visited, &:active, &:focus
            color: $nihility-fg-link
        &:hover
            color: $nihility-fg-link-hover

// Description
.TeamEventDescription
    // Icon
    &-icon
        fill: $nihility-fg-1
    // Text
    &-placeholder
        @include set-var(--nihility-local-fg, $nihility-fg-2)

.EventAttendanceHeader-status
    &-going
        color: $nihility-fg-2
    &:not(:first-child)
        color: $nihility-fg-1
        &::before
            background-color: $nihility-fg-1
    
.EventRsvpsHeader
    // See all link
    &-attendance-see-all
        color: $nihility-fg-link
    &-container-desktop:not(&-container-rsvps-disabled):hover &-attendance-see-all
        color: $nihility-fg-link-hover
    // Maybe, invited, declined
    &-container-desktop:not(&-container-rsvps-disabled):hover &-attendance .EventAttendanceHeader-status
        color: $nihility-fg-2