@require "../../variables"
@require "../../content"
@require "../guilded-variables"

/*
 * --- Forum post list ---
 */

.TeamPostRow
    &-container
        @extends $ContentLight
        // Re-layout
        display: grid
        // The last one/second one (we re-layout it to only be time) will be 10px in size
        grid-template-columns: 1fr spacing-6
        grid-gap: spacing-1 spacing-2

        &-unread
            @extends $ContentLightHighlighted
            SetNotification()
            & ^[0]-title
                color: mark-text
            &:hover ^[0]-title
                color: mark-text-hover
        // Forum post hover
        &-desktop::after
            @extends $ContentGlare
    // Relayout
    &-header
        grid-row: 1
    &-sticky ~ &-header &-title
        color: var(--accent-0)
    &-container:hover &-sticky ~ &-header &-title
        color: var(--accent-1)
    &-title-wrapper
        flex-direction: row
        gap: spacing-3
    &-sticky ~ &-header &-title-wrapper::after
        content: "(pinned)"
        @extends $TextDark
    &-creator
        grid-row: 2
        grid-column: 1
    &-comment-count-wrapper
        grid-row: 3
        grid-column: 1
        margin-top: spacing-1
    &-options-wrapper
        grid-row: 3
        grid-column: 2
        align-items: flex-start
        flex-direction: column-reverse
    &-last-participant
        display: none
    // Unread
    &-container-unread &-title
        @extends $TextNotification
    &-container&-container-unread:hover &-title
        @extends $TextNotificationHover
// Border-ify that
.VerticalSelectionIndicator-container
    &-orientation-vertical&-size-md.TeamPostRow-sticky
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        width: auto
        background-color: transparent
        border: solid 1px var(--accent-0)
        border-radius: spacing-0
        opacity: 50%
// Forum post list with the same layout look more cluttered
// But announcements with the same layout as forums look too big
.PinnedAnnouncement-container
    .TeamPostRow
        &-comment-count-wrapper
            grid-row: 2
            grid-column: 2
        &-options-wrapper
            grid-row: 1
            grid-column: 2
// Author and date
.TeamPostRow-options-wrapper
    @extends $TextDark

.TeamForumsThreadsDisplay-list
    & &-item
        margin-top: spacing-2
        .EnableAnimationsOnHover-hover-wrapper:first-child &
            margin-top: 0

.TeamWidgetCommentCount
    // Comment count icon
    &-icon
        @extends $SvgDark
    // Comment count text
    &-container-size-lg &-label
        @extends $TextDark

/*
 * --- Post view ---
 */

// Outer forum post
.TeamThreadPostPanel-container
    @extends $PanelTransparent

// Post editor background
.TeamThreadPostEditor-container,
// Forum post
.TeamThreadPostPanelDisplay-container
    @extends $ContentLight
    border-radius: radius-3
    --border-color: bg-colour[1]

// Reply SVG
.ReplyingToUserHeader-icon
    @extends $SvgDark

// Reply index
.ReplyPanel-reply-num
    @extends $TextDark
    // Hovered over
    .ReplyPanel-options-wrapper:hover &
        @extends $TextMedium


.Scrubber
    // Side handle rail
    &-rail
        @extends $PanelReallyDark
    // Unread side rail
    &-highlight-rail
        @extends $Notification

    &-handle
        // Side handle
        &-wrapper ^[1]
            @extends $Notification
        // Side handle hovered over
        &-wrapper:hover ^[1]
            @extends $PanelThemeDull
    // Reply x/y
    &Label
        // Side handle label post index/posts count
        &-value
            @extends $TextMedium
        // Side handle label date
        &-label
            @extends $TextDark