@require "../../variables"
@require "../../content"
@require "../guilded-variables"

/*
 * --- Forum post list ---
 */

.TeamPostRow
    &-container
        @extends $ContentLight
        &-unread
            @extends $ContentLightHighlighted
            SetNotification()
            & ^[0]-title
                color: mark-text
            &:hover ^[0]-title
                color: mark-text-hover
        // Forum post hover
        &-desktop::after
            @extends $ContentGlare
// Author and date
.TeamPostRow-options-wrapper
    @extends $TextDark

.TeamForumsThreadsDisplay-list
    & &-item
        margin-top: spacing-2
        .EnableAnimationsOnHover-hover-wrapper:first-child &
            margin-top: 0

.TeamWidgetCommentCount
    // Comment count icon
    &-icon
        @extends $SvgDark
    // Comment count text
    &-container-size-lg &-label
        @extends $TextDark



/*
 * --- Post view ---
 */

// Outer forum post
.TeamThreadPostPanel-container
    @extends $PanelTransparent

// Post editor background
.TeamThreadPostEditor-container,
// Forum post
.TeamThreadPostPanelDisplay-container
    @extends $ContentLight
    border-radius: radius-3
    --border-color: bg-colour[1]

// Reply SVG
.ReplyingToUserHeader-icon
    @extends $SvgDark

// Reply index
.ReplyPanel-reply-num
    @extends $TextDark
    // Hovered over
    .ReplyPanel-options-wrapper:hover &
        @extends $TextMedium


.Scrubber
    // Side handle rail
    &-rail
        @extends $PanelReallyDark
    // Unread side rail
    &-highlight-rail
        @extends $Notification

    &-handle
        // Side handle
        &-wrapper ^[1]
            @extends $Notification
        // Side handle hovered over
        &-wrapper:hover ^[1]
            @extends $PanelThemeDull
    // Reply x/y
    &Label
        // Side handle label post index/posts count
        &-value
            @extends $TextMedium
        // Side handle label date
        &-label
            @extends $TextDark