/*
 * --- Forum post list ---
 */

.TeamPostRow-container
    // Forum post hover
    &-desktop::after
        background-color: $bg-hover

.TeamWidgetCommentCount
    // Comment count icon
    &-icon
        fill: $fg-1
    // Comment count text
    &-container-size-lg &-label
        color: $fg-1

// Author and date
.TeamPostRow-options-wrapper
    color: $fg-1


/*
 * --- Post view ---
 */

// Outer forum post
.TeamThreadPostPanel-container
    background-color: transparent

// Post editor background
.TeamThreadPostEditor-container,
// Forum post
.TeamThreadPostPanelDisplay-container
    background-color: $bg-2
    border-radius: $radius-3

// Reply SVG
.ReplyingToUserHeader-icon
    fill: $fg-1

// Reply index
.ReplyPanel-reply-num
    color: $fg-1
    // Hovered over
    .ReplyPanel-options-wrapper:hover &
        color: $fg-2

// Side handle rail
.Scrubber-rail
    background-color: $bg-0

// Unread side rail
.Scrubber-highlight-rail
    background-color: $bg-2

.Scrubber-handle
    // Side handle
    &-wrapper &
        background-color: $mark
    // Side handle hovered over
    &-wrapper:hover &
        background-color: var(--NihilityTheme1)

.ScrubberLabel
    // Side handle label post index/posts count
    &-value
        color: $fg-2
    // Side handle label date
    &-label
        color: $fg-1