@use "../../variables"
@use "../../content"

/*
 * --- Forum post list ---
 */

.TeamPostRow-container
    @extend %PanelBordered-3
    &-unread
        @extend %Panel-4
    // Forum post hover
    &-desktop::after
        @extend %ContentGlare

.TeamWidgetCommentCount
    // Comment count icon
    &-icon
        @extend %SvgDark
    // Comment count text
    &-container-size-lg &-label
        @extend %TextDark

// Author and date
.TeamPostRow-options-wrapper
    @extend %TextDark


/*
 * --- Post view ---
 */

// Outer forum post
.TeamThreadPostPanel-container
    @extend %PanelTransparent

// Post editor background
.TeamThreadPostEditor-container,
// Forum post
.TeamThreadPostPanelDisplay-container
    @extend %PanelBordered-3
    border-radius: variables.$radius-3
    --border-color: #{variables.$bg-1}

// Reply SVG
.ReplyingToUserHeader-icon
    @extend %SvgDark

// Reply index
.ReplyPanel-reply-num
    @extend %TextDark
    // Hovered over
    .ReplyPanel-options-wrapper:hover &
        @extend %TextMedium

// Side handle rail
.Scrubber-rail
    @extend %Panel-5

// Unread side rail
.Scrubber-highlight-rail
    @extend %Panel-3

.Scrubber-handle
    // Side handle
    &-wrapper &
        background-color: variables.$mark
    // Side handle hovered over
    &-wrapper:hover &
        background-color: var(--NihilityTheme1)

.ScrubberLabel
    // Side handle label post index/posts count
    &-value
        @extend %TextMedium
    // Side handle label date
    &-label
        @extend %TextDark