@require "./any-channel"
@require "./announcement"
@require "./applications"
@require "./chat"
@require "./documents"
@require "./events"
@require "./forum"
@require "./list"
@require "./media"
@require "./members-audit"
@require "./overview"
@require "./schedule"
@require "./stream"
@require "./content-components"
@require "./voice"
@require "./subscriptions"
