@require "../../variables"
@require "../../set"
@require "../../content"
@require "../guilded-variables"

/*
 * --- Item list ---
 */

// Item
.TeamListItemIndentWrapper-container,
.TeamListItemWrapper-container
    // Item hover
    &-unfocused::after
        @extends $ContentGlare
.TeamListItemWrapper-container
    @extends $PanelMedium
    &-focused
        @extends $SetBorderThemeDull
// Item's indent
.TeamListItemIndentWrapper-container
    @extends $ContentLight
    &-unread
        SetNotification()
// Item creation
.TeamListItemsInput-container-new-item
    @extends $ContentLight
    // Item creation focused
    &.TeamListItemWrapper-container-focused
        @extends $SetBorderThemeDull
// Item handle
.TeamListItemControls-handle
    svg
        @extends $SvgDark
    &:hover svg
        @extends $SvgMedium
// Note and thread indicators
.TeamListItemAction-container-clickable
    svg
        @extends $SvgDark
    &:hover svg
        @extends $SvgMedium
// Note highlighted
.TeamListItemAction-container-highlight
    svg
        @extends $SvgImportant
    &:hover svg
        @extends $SvgLight
// Thread indicator
.TeamListItemAction-container
    @extends $TextDark
    &:hover
        @extends $TextMedium

.TeamListItemsInput
    // Add item slate
    &-editor.Editor-container
        @extends $PanelMedium
    // Add item icon
    &-icon
        svg
            @extends $SvgThemeDull
        &:hover svg
            @extends $SvgThemeBleached
// Editor in a list item being edited
.TeamListItem-message
    @extends $PanelMedium
    @extends $RemoveBorder

// Add item add note
.TeamListItemNoteEditor-button
    @extends $TextDark
    &:hover
        @extends $TextMedium
        // Icon hover
        svg
            @extends $SvgMedium
    // Icon
    svg
        @extends $SvgDark

// X completed
.TeamListItemsCompletedHeader-count
    @extends $TextDarkTransition
    // X completed hover
    .TeamListItemsCompletedHeader-container:hover &
        @extends $TextMedium

/*
 * --- Item note ---
 */

// Whole container
.TeamListItemNote-container
    @extends $SetBorderLight-0

.TeamListItemDetails
    // Timestamp dots
    &-message-count::before, &-created-at::before
        @extends $TextDarker
    // Timestamp
    &-created-at
        @extends $TextDarkTransition
        // Timestamp hover
        &:hover
            @extends $TextMedium

// Note timestamp
.ContentMetadataCreationInfo-from-now
    @extends $TextDarkTransition

// Fill background when the list is being dragged
.ReorderIndentable-blockout
    @extends $PanelReallyDark
// Note
.SingleContentEditor-display
    @extends $PanelLight
    &:hover .ContentMetadataCreationInfo-from-now
        @extends $TextMedium