@use "../../base"
@use "../../set"
@use "../../content"

/*
 * --- Item list ---
 */

// Item
.TeamListItemIndentWrapper-container,
.TeamListItemWrapper-container
    @extend %PanelBordered-3
    // Item hover
    &-unfocused::after
        @extend %ContentGlare
// Item handle
.TeamListItemControls-handle
    svg
        @extend %SvgDark
    &:hover svg
        @extend %SvgMedium
// Note and thread indicators
.TeamListItemAction-container-clickable
    svg
        @extend %SvgDark
    &:hover svg
        @extend %SvgMedium
// Note highlighted
.TeamListItemAction-container-highlight
    svg
        fill: base.$important
    &:hover svg
        @extend %SvgLight
// Thread indicator
.TeamListItemAction-container
    @extend %TextDark
    &:hover
        @extend %TextMedium

.TeamListItemsInput
    // Add item slate
    &-editor.Editor-container
        @extend %Panel-3
    // Add item icon
    &-icon
        svg
            @extend %SvgThemeDull
        &:hover svg
            @extend %SvgThemeBleached
// Editor in a list item being edited
.TeamListItem-message
    @extend %Panel-3
    border: none
// Note editor
.TeamListItemNoteEditor-editor
    @extend %Panel-2

// Add item add note
.TeamListItemNoteEditor-button
    @extend %TextDark
    &:hover
        @extend %TextMedium
        // Icon hover
        svg
            @extend %SvgMedium
    // Icon
    svg
        @extend %SvgDark

// X completed
.TeamListItemsCompletedHeader-count
    @extend %TextDark
    @include set.transition(color)
    // X completed hover
    .TeamListItemsCompletedHeader-container:hover &
        @extend %TextMedium

// Editor focused
.TeamListItemWrapper-container-focused
    border-color: var(--NihilityTheme1)
// Fill background when the list is being dragged
.ReorderIndentable-blockout
    @extend %Panel-4

/*
 * --- Item note ---
 */

// Whole container
.TeamListItemNote-container
    @extend %SetBorderDark-0

.TeamListItemDetails
    // Timestamp dots
    &-message-count::before, &-created-at::before
        @extend %TextDarker
    // Timestamp
    &-created-at
        @extend %TextDark
        @include set.transition(color)
        // Timestamp hover
        &:hover
            @extend %TextMedium
// Note
.SingleContentEditor-display
    @extend %Panel-0
    &:hover .ContentMetadataCreationInfo-from-now
        @extend %TextMedium
// Note timestamp
.ContentMetadataCreationInfo-from-now
    @extend %TextDark
    @include set.transition(color)
