@use "../../base"
@use "../../set"
@use "../../borders"

/*
 * --- Item list ---
 */

// Item
.TeamListItemIndentWrapper-container,
.TeamListItemWrapper-container
    @extend %PanelBordered-2
    // Item hover
    &-unfocused::after
        background-color: base.$bg-hover
// Item handle
.TeamListItemControls-handle
    svg
        fill: base.$fg-1
    &:hover svg
        fill: base.$fg-2
// Note and thread indicators
.TeamListItemAction-container-clickable
    svg
        fill: base.$fg-1
    &:hover svg
        fill: base.$fg-2
// Note highlighted
.TeamListItemAction-container-highlight
    svg
        fill: base.$important
    &:hover svg
        fill: base.$fg-3
// Thread indicator
.TeamListItemAction-container
    color: base.$fg-1
    &:hover
        color: base.$fg-2

.TeamListItemsInput
    // Add item slate
    &-editor.Editor-container
        background-color: base.$bg-2
    // Add item icon
    &-icon
        svg
            fill: var(--NihilityTheme1)
        &:hover svg
            fill: var(--NihilityTheme2)
// Editor in a list item being edited
.TeamListItem-message
    background-color: base.$bg-2
    border: none
// Note editor
.TeamListItemNoteEditor-editor
    background-color: base.$bg-3

// Add item add note
.TeamListItemNoteEditor-button
    color: base.$fg-1
    &:hover
        color: base.$fg-2
        // Icon hover
        svg
            fill: base.$fg-2
    // Icon
    svg
        fill: base.$fg-1

// X completed
.TeamListItemsCompletedHeader-count
    color: base.$fg-1
    @include set.transition(color)
    // X completed hover
    .TeamListItemsCompletedHeader-container:hover &
        color: base.$fg-2

// Editor focused
.TeamListItemWrapper-container-focused
    border-color: var(--NihilityTheme1)
// Fill background when the list is being dragged
.ReorderIndentable-blockout
    background-color: base.$bg-1

/*
 * --- Item note ---
 */

// Whole container
.TeamListItemNote-container
    border-color: base.$border-dark-0

.TeamListItemDetails
    // Timestamp dots
    &-message-count::before, &-created-at::before
        color: base.$fg-0
    // Timestamp
    &-created-at
        color: base.$fg-1
        @include set.transition(color)
        // Timestamp hover
        &:hover
            color: base.$fg-2
// Note
.SingleContentEditor-display
    background-color: base.$bg-5
    &:hover .ContentMetadataCreationInfo-from-now
        color: base.$fg-2
// Note timestamp
.ContentMetadataCreationInfo-from-now
    color: base.$fg-1
    @include set.transition(color)
