@require "../../variables"
@require "../../set"
@require "../../content"
@require "../guilded-variables"

+prefix-classes("Media")
    /*
     * --- Media list ---
     */

    // Media item
    .DisplayItemV3
        &-container
            @extends $PanelMedium
            // Media item hover
            &::after
                @extends $ContentGlare
        // Description
        &-meta-info-wrapper
            @extends $FullBorderLight-1
            border-top: none
            border-radius: 0px 0px 8px 8px
    .DisplayItemMetaInfo
        &-title
            @extends $TextLight
        &-description
            @extends $TextDark

    .DisplayIcons-play-icon
        @extends $VideoPlayerButton

    // Comment count
    .DisplayItemMetaInfo-comment-count
        @extends $TextMedium

    // Media modal background
    .Editor-container-desktop
        @extends $PanelMedium

    /*
     * --- Media view ---
     */

    // Image preview
    .SplitView-media
        @extends $PanelReallyDark

    // Media side panel
    .InfoPane-container
        @extends $PanelDark

    // Information
    .Title
        &Description-description
            @extends $TextDark

// Media view exit
+prefix-classes("BackLink")
    .-container-desktop
        // Exit icon
        .-icon
            @extends $SvgDark
            transition-duration: transition
        // Exit icon hover
        &:hover .-icon
            @extends $SvgMedium