@require "../../variables"
@require "../../set"
@require "../../content"
@require "../guilded-variables"

/*
 * --- Media list ---
 */

// Media item
.MediaDisplayItemV3
    &-container
        @extends $Panel-2
        // Media item hover
        &::after
            @extends $ContentGlare
    // Description
    &-meta-info-wrapper
        @extends $FullBorderLight-1
        border-top: none
        border-radius: 0px 0px 8px 8px

// Comment count
.MediaDisplayItemMetaInfo-comment-count
    @extends $TextMedium

// Media modal background
.MediaEditor-container-desktop
    @extends $Panel-2

/*
 * --- Media view ---
 */

// Image preview
.MediaSplitView-media
    @extends $Panel-5

// Media side panel
.MediaInfoPane-container
    @extends $Panel-4

// Media view exit
.BackLink
    &-container-desktop
        // Exit icon
        & ^[0]-icon
            @extends $SvgDark
            transition-duration: transition
        // Exit icon hover
        &:hover ^[0]-icon
            @extends $SvgMedium

// Information
.MediaTitle
    &Description-description
        @extends $TextDark