@import "../../base"
@import "../../borders"

/*
 * --- Media list ---
 */

// Media item
.MediaDisplayItemV3-container
    background-color: $bg-1
    // Media item hover
    &::after
        background-color: $bg-hover

// Comment count
.MediaDisplayItemMetaInfo-comment-count
    color: $fg-2

/*
 * --- Modal ---
 */

// Media modal background
.MediaEditor-container-desktop
    background-color: $bg-3
// Tag input
.GuildedTagCreator-container-input-border
    // Normally
    .Select-control
        border-bottom-color: $fg-1 !important
        @include set-transition(border-bottom)
    // Hover
    &:hover .Select-control
        border-bottom-color: $fg-2 !important
    // Focused
    .Select.is-focused .Select-control
        border-bottom-color: var(--NihilityTheme2) !important

// Tags
.GuildedTagCreator-container-dark .Select-value
    // Tag's background
    border-color: $border-dark-0
    background-color: $bg-1
    // Tag's text
    &-label
        color: $fg-2
// "Tags (optional)" label
.TextFieldLabel-container-size-sm
    color: $fg-1

/*
 * --- Media view ---
 */

// Image preview
.MediaSplitView-media
    background-color: $bg-0

// Media side panel
.MediaInfoPane-container
    background-color: $bg-3

// Media view exit
.BackLink-container-desktop
    // Exit icon
    .BackLink-icon
        fill: $fg-1
        transition-duration: $transition
    // Exit icon hover
    &:hover .BackLink-icon
        fill: $fg-2