@require "../../variables"
@require "../../set"
@require "../../fake"
@require "../../content"

/*
 * --- Content ---
 */

// Select all checkbox
.SelectToggleIcon
    &-container
        @extends $SetBorderLight-2
        // Select all checkbox hover
        &-clickable:hover
            @extends $SetBorderLight-3
            background-color: alpha(bg-hover, 0.1)

    &-checkmark
        @extends $SvgTheme

// Header
.ItemManagerColumnHeader
    &-container-sortable
        @extends $TextDarkTransition
    &-container-sortable:not(&-active):not(&-display):hover
        @extends $TextMedium
    // Selected sorting
    &-container-sortable^[0]-active
        @extends $TextTheme
        // Arrow
        & ^[0]-icon
            @extends $SvgTheme
.ItemManagerHeader-container
    border-bottom-color: border-light-0

.ItemManagerListItem
    &-container:not(:last-child)
        border-bottom-color: border-light-0
    // Selected member
    &-checkmark-icon
        @extends $SvgTheme
    &-container-selectable::after
        @extends $SetBorderTheme

/*
 * --- Filter ---
 */

// Filter icon
+prefix-classes("ItemManagerFilterButton")
    .-icon
        @extends $SvgDarkTransition
    .-container
        // Filter icon hover
        &:not(&-active):hover .-icon
            @extends $SvgMedium
        // Filter settings clicked
        &-open .-icon
            @extends $SvgLight
        // Text
        &-active
            @extends $TextTheme
            &:hover
                @extends $TextThemeDull
                .-icon
                    @extends $SvgThemeDull
            .-icon
                @extends $SvgTheme

.ItemManagerFilterWrapper
    &-header
        @extends $RemoveBorder
    // Filter settings
    &-container
        @extends $PanelDark
        @extends $RemoveBorder
    // Filter settings search
    &-search
        @extends $ContentLight
    // Clear hover
    &-clear:hover
        @extends $TextMedium

// Filter menu hover
.ItemManagerFilterOption
    &-container
        &:hover
            background-color: bg-lighter
        &-active
            @extends $ContentLight
    &-icon
        @extends $SvgDark


.SearchBarInput
    // Search bar
    &-input
        @extends $TextMedium
        // Placeholder
        &::placeholder
            @extends $TextDark
    // Filter settings search icon
    &-icon
        @extends $SvgMedium

/*
 * -=- Audit log -=-
 */

.TeamAuditLogAction-icon
    @extends $SvgDarker

.ChannelEntityNameDisplay
    &-container
        @extends $FakeMention
    &-icon
        @extends $SvgDark