/*
 * --- Content ---
 */

// Select all checkbox
.SelectToggleIcon-container
    border-color: $nihility-fg-1
    // Select all checkbox hover
    &-clickable:hover
        border-color: $nihility-fg-2
        background-color: rgba($nihility-bg-hover, 0.1)
// Select all checkmark
.SelectToggleIcon-checkmark
    fill: $nihility-theme

// Selected sorting
.ItemManagerColumnHeader-container-sortable.ItemManagerColumnHeader-active
    color: $nihility-theme
    // Arrow
    .ItemManagerColumnHeader-icon
        fill: $nihility-theme

/*
 * --- Filter ---
 */

// Filter icon
.ItemManagerFilterButton-icon
    fill: $nihility-fg-1
    @include nihility-transition(fill)

// Filter icon hover
.ItemManagerFilterButton-container:not(.ItemManagerFilterButton-container-active):hover .ItemManagerFilterButton-icon
    fill: $nihility-fg-2

// Filter settings clicked
.ItemManagerFilterButton-container-open .ItemManagerFilterButton-icon
    fill: $nihility-fg-3

.ItemManagerFilterWrapper-container
    // Filter settings
    &-container
        background-color: $nihility-bg-4
    // Filter settings search
    &-search
        background-color: $nihility-bg-5


.SearchBarInput
    // Search bar
    &-input
        color: $nihility-fg-2
        // Placeholder
        &::placeholder
            color: $nihility-fg-1
    // Filter settings search icon
    &-icon
        fill: $nihility-fg-2