@use "../../base"
@use "../../set"
@use "../../fake"
@use "../../borders"

/*
 * --- Content ---
 */

// Select all checkbox
.SelectToggleIcon-container
    border-color: base.$fg-0
    // Select all checkbox hover
    &-clickable:hover
        @extend %SetBorderLight-2
        background-color: rgba(base.$bg-hover, 0.1)
// Select all checkmark
.SelectToggleIcon-checkmark
    fill: var(--NihilityTheme0)

.ItemManagerListItem
    // Selected member
    &-checkmark-icon
        fill: var(--NihilityTheme0)
    &-container-selectable::after
        border-color: var(--NihilityTheme0)
// Selected sorting
.ItemManagerColumnHeader-container-sortable.ItemManagerColumnHeader-active
    color: var(--NihilityTheme0)
    // Arrow
    .ItemManagerColumnHeader-icon
        fill: var(--NihilityTheme0)

/*
 * --- Filter ---
 */

// Filter icon
.ItemManagerFilterButton-icon
    fill: base.$fg-1
    @include set.transition(fill)

.ItemManagerFilterButton-container
    // Filter icon hover
    &:not(&-active):hover .ItemManagerFilterButton-icon
        fill: base.$fg-2
    // Filter settings clicked
    &-open .ItemManagerFilterButton-icon
        fill: base.$fg-3

.ItemManagerFilterWrapper
    &-header
        @extend %OverrideContentBordered-3
    // Filter settings
    &-container
        background-color: base.$bg-3
        border: none
    // Filter settings search
    &-search
        @extend %ContentBordered-4
// Filter menu hover
.ItemManagerFilterOption-container:hover
    background-color: base.$bg-lighter


.SearchBarInput
    // Search bar
    &-input
        color: base.$fg-2
        // Placeholder
        &::placeholder
            color: base.$fg-1
    // Filter settings search icon
    &-icon
        fill: base.$fg-2

/*
 * -=- Audit log -=-
 */

.TeamAuditLogAction-icon
    fill: base.$fg-0

.ChannelEntityNameDisplay
    &-container
        @extend %FakeMention
    &-icon
        fill: base.$fg-1