@require "../../variables"
@require "../../set"
@require "../../content"
@require "../guilded-variables"

/*
 * --- Widget ---
 */

// About section hover
.OverviewWidgetItemWrapper-container-clickable::after
    @extends $ContentGlare

// Handle input focused
.OverviewWidgetItemEditable-container:focus.OverviewWidgetItemEditable-container
    @extends $SetBorderTheme

/*
 * --- Banner and header ---
 */

.TeamOverviewBanner
    // The whole container of it
    &-container
        border-bottom: none

.TeamOverviewRoot
    // Whole panel below the banner, including description
    &-container
        z-index: 2
    // Description below the name of the server
    &-description
        @extends $TextMedium

/*
 * --- Showcase ---
 */

// No announcements
.TabEmptyState-title
    // Title
    &-title
        @extends $TextMedium
    // Description
    &-subtitle
        @extends $TextDark

.ToggleControl-container.ToggleControl-container-highlighted
    @extends $SetBorderThemeDull
    .EventStatusToggle-container &
        @extends $SetBorderTransparent

.OverviewWidgetItemWrapper-container-type-filled,
.TeamOverviewContentItemCard-container
    @extends $ContentLight
    // Content showcase hover
    &::after
        @extends $ContentGlare

// Showcase text
.TeamOverviewContentItemCard
    // Content showcase title
    &-title
        font-weight: bold
    &-title, &-subtitle
        @extends $TextMedium
    // Content showcase sub-title
    &-subtitle2
        @extends $TextDark
    &-container-unread
        SetNotification()
    &-container-unread &-title
        @extends $TextNotification
    &-container-unread:hover &-title
        @extends $TextNotificationHover

// See all
.TeamOverviewSectionHeader-cta-text
    @extends $TextDarkTransition
    // See all hover
    &:hover
        @extends $TextMedium

// Showcase event buttons
.ToggleControlButton
    &-container, &-icon
        @extends $FontDark

// Manage games
.TeamGameCard
    &-banner
        opacity: 10%
    &-name
        @extends $TextLight

/*
 * --- Carousel/Scrollable list ---
 */

// Leaderboard
.TeamOverviewLeaderboardSection-leaderboard-container
    @extends $ContentLight
    border-radius: radius-2
// Leaderboard game name
.GameIconAndGameName-container-style-header .GameIconAndGameName-game-name
    @extends $TextLight
// Leaderboard header
.LeaderboardHeader
    &-title, &-name, &-stats-header
        @extends $TextLight
// Leaderboard stats and numbers
.LeaderboardRow-stat
    @extends $TextMedium

.TeamMemberBubble
    &-container
        &&-has-name::after
            @extends $ContentGlare