@require "../../variables"
@require "../../set"
@require "../../content"

/*
 * --- Widget ---
 */

// About section hover
.OverviewWidgetItemWrapper-container-clickable::after
    @extends $ContentGlare

// Info icon
.IconAndLabel-icon
    @extends $SvgDark
.SectionedIconLabel
    &-icon
        @extends $SvgDarkTransition
        ^[0]-container-desktop:hover &
            @extends $SvgMedium
    &-label
        @extends $TextDark
    // Division
    &-left, &-right
        background-color: border-light-1
    // Hover glare
    &-container-desktop::after
        @extends $ContentGlare

// Handle input focused
.OverviewWidgetItemEditable-container:focus.OverviewWidgetItemEditable-container
    @extends $SetBorderTheme

/*
 * --- Banner and header ---
 */

.TeamOverviewBanner
    // The whole container of it
    &-container
        border-bottom: none
    // The mask that makes it fade in
    &-banner
        mask-image: linear-gradient(to bottom, #000, #000 calc(100% - 40%), rgba(0, 0, 0, 0) calc(100% - 5px), rgba(0, 0, 0, 0))

.TeamOverviewRoot
    // Whole panel below the banner, including description
    &-container
        z-index: 2
    // Description below the name of the server
    &-description
        @extends $TextMedium

/*
 * --- Showcase ---
 */

// No announcements
.TabEmptyState-title
    // Title
    &-title
        @extends $TextMedium
    // Description
    &-subtitle
        @extends $TextDark

.ToggleControl-container.ToggleControl-container-highlighted
    border-color: fg-0

.OverviewWidgetItemWrapper-container-type-filled,
.TeamOverviewContentItemCard-container
    @extends $ContentMildlyBordered-2
    // Content showcase hover
    &::after
        @extends $ContentGlare

// Showcase text
.TeamOverviewContentItemCard
    // Content showcase title
    &-title
        font-weight: bold
    &-title, &-subtitle
        @extends $TextMedium
    // Content showcase sub-title
    &-subtitle2
        @extends $TextDark
    &-container-unread
        SetNotification()
    &-container-unread &-title
        @extends $TextMark
    &-container-unread:hover &-title
        @extends $TextMarkHover

// See all
.TeamOverviewSectionHeader-cta-text
    @extends $TextDarkTransition
    // See all hover
    &:hover
        @extends $TextMedium

// Showcase event buttons
.ToggleControlButton
    &-container, &-icon
        @extends $FontDark

.ToggleControlButton-container.ToggleControlButton-container
    // Showcase event buttons hover
    &-desktop:hover .ToggleControlButton-icon,
    &-selected .ToggleControlButton-icon
        @extends $SvgMedium

/*
 * --- Carousel/Scrollable list ---
 */

// Carousel blurs
.CarouselList
    for side in left right
        &-container-size-sm &-blur-light&-{side}-blur,
        &-blur-light&-{side}-blur
            background-gradient: to side, alpha(bg-1, 0), bg-1 100%
    // Carousel arrow
    &-controls-arrow
        transition: 1s
        @extends $SvgMedium

// Leaderboard
.TeamOverviewLeaderboardSection-leaderboard-container
    @extends $ContentMildlyBordered-2
// Leaderboard game name
.GameIconAndGameName-container-style-header .GameIconAndGameName-game-name
    @extends $TextLight
// Leaderboard header
.LeaderboardHeader
    &-title, &-name, &-stats-header
        @extends $TextLight
// Leaderboard stats and numbers
.LeaderboardRow-stat
    @extends $TextMedium
