@use "../../base"
@use "../../set"
@use "../../content"

/*
 * --- Widget ---
 */

// About section hover
.OverviewWidgetItemWrapper-container-clickable::after
    @extend %ContentGlare

// Info icon
.IconAndLabel-icon
    @extend %SvgDark

// Handle input focused
.OverviewWidgetItemEditable-container:focus.OverviewWidgetItemEditable-container
    border-color: var(--NihilityTheme1)

/*
 * --- Banner and header ---
 */

.TeamOverviewBanner
    // The whole container of it
    &-container
        border-bottom: none
    // The mask that makes it fade in
    &-banner
        mask-image: linear-gradient(to bottom, #000, #000 calc(100% - 40%), rgba(0, 0, 0, 0) calc(100% - 5px), rgba(0, 0, 0, 0))

.TeamOverviewRoot
    // Whole panel below the banner, including description
    &-container
        z-index: 2
    // Description below the name of the server
    &-description
        @extend %TextMedium

/*
 * --- Showcase ---
 */

// No announcements
.TabEmptyState-title
    // Title
    &-title
        @extend %TextMedium
    // Description
    &-subtitle
        @extend %TextDark

.ToggleControl-container.ToggleControl-container-highlighted
    border-color: base.$fg-0

.OverviewWidgetItemWrapper-container-type-filled,
.TeamOverviewContentItemCard-container
    @extend %PanelBordered-3
    // Content showcase hover
    &::after
        @extend %ContentGlare

// Showcase text
.TeamOverviewContentItemCard
    // Content showcase title
    &-title
        font-weight: bold
    &-title, &-subtitle
        @extend %TextMedium
    // Content showcase sub-title
    &-subtitle2
        @extend %TextDark

// See all
.TeamOverviewSectionHeader-cta-text
    @extend %TextDark
    @include set.transition(color)
    // See all hover
    &:hover
        @extend %TextMedium

// Showcase event buttons
.ToggleControlButton
    &-container, &-icon
        @extend %FontDark

.ToggleControlButton-container.ToggleControlButton-container
    // Showcase event buttons hover
    &-desktop:hover .ToggleControlButton-icon,
    &-selected .ToggleControlButton-icon
        @extend %SvgMedium

/*
 * --- Carousel/Scrollable list ---
 */

// Carousel blurs
.CarouselList-container-size-sm .CarouselList-blur-light.CarouselList-left-blur,
.CarouselList-blur-light.CarouselList-left-blur
    background-image: linear-gradient(to left, rgba(base.$bg-3, 0), base.$bg-3 100%)

.CarouselList-container-size-sm .CarouselList-blur-light.CarouselList-right-blur,
.CarouselList-blur-light.CarouselList-right-blur
    background-image: linear-gradient(to right, rgba(base.$bg-3, 0), base.$bg-3 100%)

// Carousel arrow
.CarouselList-controls-arrow
    transition: 1s
    @extend %SvgMedium

// Leaderboard
.TeamOverviewLeaderboardSection-leaderboard-container
    @extend %Panel-3
// Leaderboard game name
.GameIconAndGameName-container-style-header .GameIconAndGameName-game-name
    @extend %TextLight
// Leaderboard header
.LeaderboardHeader
    &-title, &-name, &-stats-header
        @extend %TextLight
// Leaderboard stats and numbers
.LeaderboardRow-stat
    @extend %TextMedium
