// Whole container
.AvailabilityDisplay-container
    background-color: $nihility-bg-2
// Container arrow
.AvailabilityDisplayHeader-button
    border-color: $nihility-bg-1
    background-color: $nihility-bg-2
    // Container arrow hover
    ::after
        background-color: $nihility-bg-hover
// Container arrow's icon
.AvailabilityDisplayHeader-button
    fill: $nihility-fg-2

// Current and other days
.AvailabilityDisplayHeader-day-today, .AvailabilityDisplayHeader-day
    background-color: $nihility-bg-3
// Tomorrow/alternative day
.AvailabilityDisplayHeader-day-alt
    background-color: $nihility-bg-2

// Day
.AvailabilityDisplayHeader-date
    color: $nihility-fg-3
// Timezone and date
.AvailabilityDisplayHeader-timezone,
.AvailabilityDisplayHeader-subtitle
    color: $nihility-fg-1
    @include nihility-transition(color)
    &:hover
        color: $nihility-fg-2
// Time
.AvailabilityDisplayTimeAxis-label
    color: $nihility-fg-2
// Current time line
.AvailabilityDayHour-now-line
    background-color: $nihility-active

// Others' area
.AvailabilityDisplayDaysPlaceholder-day,
.AvailabilityDisplayDaysPlaceholder-day-today
    background-color: $nihility-bg-3
// Others' area tomorrow/alternative day
.AvailabilityDisplayDaysPlaceholder-day-alt
    background-color: $nihility-bg-3
// Lighter/creation area
.AvailabilityDisplayDaysPlaceholder-create
    background-color: $nihility-bg-4
