@require "../../variables"
@require "../../content"

// Whole container
.StreamChannelDisplay-container,
.StreamsDisplayV2-container
    @extends $PanelReallyDark
// Stacked and unstacked streaming displays
.StreamChannel-display,
.StreamChannel-container-stacked .StreamChannel-display
    @extends $SetBorderDark-1

// Join streaming channel
.StreamsEmptyState-title
    @extends $TextMedium
.StreamsEmptyState-subtitle
    @extends $TextDark

.StreamDisplayActionButton-container
    // Mini buttons
    &-right, &-left
        & ^[0]-content
            @extends $SvgDark
    // Mini buttons active
    &:hover, &-active
        & ^[0]-content
            @extends $SvgMedium

// Hover outline
.StreamPlayer
    &-border-container:hover &-inset-border,
    &-inset-border:hover
        // border: solid 1px var(--accent-0)
        @extends $FullBorderTheme
    &-border-container&-container-speaking &-inset-border
        @extends $FullBorderGood
    // The user pill
    &MemberDisplay-pill
        @extends $PanelReallyDark
    // Muted or deaf icon
    &Indicators-button
        @extends $PanelReallyDark

// Livestream badge in groups and servers
.LiveStreamBadge-indicator
    // We have no way of selecting the live badge
    background: stream !important
// Livestream outline in the voice user list
.VoiceChannelGroupUser-avatar-streaming::after
    background: stream

/*
 * --- Modes ---
 */

// Fullscreen stream + chat modal
.StreamTheaterViewer-container
    width: 100%
    height: 100%
// Fullscreen stream + chat sidebar
.StreamTheaterViewer-sidebar,
// Fullscreen stream + chat member list
.PageSidebarWrapper-container
    height: 100%