@use "../../base"
@use "../../content"

// Whole container
.StreamChannelDisplay-container,
.StreamsDisplayV2-container
    @extend %Panel-5
// Stacked and unstacked streaming displays
.StreamChannel-display,
.StreamChannel-container-stacked .StreamChannel-display
    @extend %SetBorderDark-1

// Streaming button
.SVGIconWithTooltip-container-flavor-hover-bleach
    @extend %Panel-4
    // Streaming button icon
    .SVGIconWithTooltip-icon
        @extend %SvgDark
    // Streaming button icon hover
    &:hover .SVGIconWithTooltip-icon
        @extend %SvgMedium

// Join streaming channel
.StreamsEmptyState-title
    @extend %TextMedium
.StreamsEmptyState-subtitle
    @extend %TextDark

// Leave streaming channel
.SVGIconWithTooltip-container-flavor-filled-remove
    @extend %PanelBad
    .SVGIcon-icon
        fill: black

.StreamDisplayActionButton-container
    // Mini buttons
    &-right, &-left
        .StreamDisplayActionButton-container-content
            @extend %SvgDark
    // Mini buttons active
    &:hover, &-active
        .StreamDisplayActionButton-container-content
            @extend %SvgMedium

// Hover outline
.StreamPlayer-container:hover .StreamPlayer-inset-border
    border-color: base.$active
// The user pill
.StreamPlayerMemberDisplay-pill
    @extend %Panel-5
// Muted or deaf icon
.StreamPlayerIndicators-button
    @extend %Panel-5

// Livestream badge in groups and servers
.LiveStreamBadge-indicator
    // We have no way of selecting the live badge
    background: base.$stream !important
// Livestream outline in the voice user list
.VoiceChannelGroupUser-avatar-streaming::after
    background: base.$stream

/*
 * --- Modes ---
 */

// Fullscreen stream + chat modal
.StreamTheaterViewer-container
    width: 100%
    height: 100%
// Fullscreen stream + chat sidebar
.StreamTheaterViewer-sidebar
    height: 100%
// Fullscreen stream + chat member list
.PageSidebarWrapper-container
    height: 100%