@require "../../variables"
@require "../../set"

.ServerSubscriptions
    // "Support your server with subscriptions"
    &SectionMemberUpsell-container,
    // "Become the first subscriber"
    &RecentActivityFeed-empty-wrapper
        @extends $ContentLight
    // Copper, silver, gold
    &TierUpsellCard
        &-container
            @extends $FullBorderLight-0
        &-header
            @extends $PanelMedium
        &-icon-lock
            @extends $SvgDarker
        &-body
            @extends $PanelMild
    &RecentActivityItem
        &-subscribed-message
            @extends $BlockQuote
        &s-container
            @extends $ContentLight

// Points
.IconBulletedList
    &-icon
        @extends $SvgDark

