@require "../../variables"
@require "../../set"
@require "../../content"
@require "../guilded-variables"

// Whole container
.VoiceChannelDisplay-container
    @extends $PanelMedium
    &-child
        SetScrollbar()

/*
 * --- Voice room list ---
 */

.VoiceChannelGroupHeader
    // Voice room
    &-container-interactable
        @extends $TransitionBackground
    &-container.VoiceChannelGroupHeader-container-active
        @extends $PanelMild
    // Voice room icon
    &-icon
        @extends $SvgDark

// Voice room caret
.DropdownCaratV2-container
    @extends $SvgDark
    // Voice room caret hover
    &-desktop:hover
        @extends $SvgMedium

// Voice room hovered over
.VoiceChannelGroupHeader-container-interactable:hover
    @extends $PanelLight
    &:hover .VoiceChannelGroupHeader
        // Voice room name hover
        &-text
            @extends $TextMedium
        // Voice room icon hover
        &-icon
            @extends $SvgMedium

.VoiceChannelCreateGroupButton
    &-container:not(&-disabled):hover
        @extends $PanelLight
        .VoiceChannelCreateGroupButton-text
            @extends $TextMedium
        .VoiceChannelCreateGroupButton-icon
            @extends $SvgMedium

/*
 * --- Labels ---
 */

// X/Y allowed label
.LimitLabel-container
    @extends $PanelReallyDark

// Max user count
.LimitLabel-limit
    @extends $TextDark

/*
 * --- Voice settings ---
 */

// Hotkey label
.HotkeyDisplay
    &-container
        @extends $SetBorderDark-0
    &-key
        @extends $PanelTransparent
// + before the key
.HotkeysDisplay-key-wrapper:not(:first-child)::before
    @extends $TextDark
// Edit keybinds
.TextButton-container-type-light
    @extends $TextThemeDull
    transition: color
    &.TextButton-container-desktop:hover
        @extends $TextThemeBleached
// Keybind in the settings
.ItemKeybindInput-container
    @extends $PanelMild
// Keybind recorder
.HotkeyRecorder-container
    border-color: fg-colour[0]
    // Currently recording
    &.HotkeyRecorder-container-recording
        @extends $SetBorderLight-2
// Add another
.ItemKeybindInput-container-multiple-entities-allowed .ItemKeybindInput-subtext-wrapper
    // + Add keybind
    .ItemKeybindInput-plus-sign, .ItemKeybindInput-subtext
        @extends $FontDark
    // Hover
    &:hover .ItemKeybindInput-plus-sign, &:hover .ItemKeybindInput-subtext
        @extends $FontMedium

/*
 * --- Voice card ---
 */

.VoiceConnectionDisplayPanelContents
    // Whole container
    &-container
        @extends $PanelReallyDark
    // Voice header
    &-info-wrapper
        border-bottom: 0
        // Voice header hover
        &::after
            @extends $ContentGlare

.VoiceConnectionDisplayInfo
    // Voice header info display
    &-container
        @extends $PanelTransparent
    // Voice header info icon
    &-icon
        @extends $SvgDark

// Voice header toggle buttons
.VoiceConnectionDisplayButtons-button
    background-color: bg-colour[2]
    fill: fg-colour[2]

// Voice participant list
.VoiceConnectionDisplayPanelContents-participants
    @extends $PanelDark

// Voice participant
.VoiceChannelGroupUser-container
    // Hover
    &:hover
        @extends $PanelMedium
    // Right clicked
    &.VoiceChannelGroupUser-container-active
        @extends $PanelMild

// Voice participants icon
.VoiceConnectionDisplayParticipants-participants-icon
    @extends $SvgDarker

// Connection
.VoiceConnectionDisplayInfo
    &-connection
        // Good connection
        &-good &-icon
            @extends $SvgGood
        &-good .GuildedText-container
            color: good-1 !important
        // Not bad, but neither a good connection
        &-warn &-icon
            @extends $SvgNeutral
        &-warn .GuildedText-container
            color: neutral-1 !important
        // Bad connection
        &-bad &-icon
            @extends $SvgBad
        &-bad .GuildedText-container
            color: bad-1 !important
        // Transition
        &-icon
            @extends $TransitionFill
    &-container .GuildedText-container
        transition: color