@use "../../base"
@use "../../set"
@use "../../borders"

// Whole container
.VoiceChannelDisplay-container
    background-color: base.$bg-3

/*
 * --- Voice room list ---
 */

.VoiceChannelGroupHeader
    // Voice room
    &-container-interactable
        @include set.transition(background)
    // Voice room icon
    &-icon
        fill: base.$fg-1

// Voice room caret
.DropdownCaratV2-container
    fill: base.$fg-1
    // Voice room caret hover
    &-desktop:hover
        fill: base.$fg-2

// Voice room hovered over
.VoiceChannelGroupHeader-container-interactable:hover
    background-color: base.$bg-5
    &:hover .VoiceChannelGroupHeader
        // Voice room name hover
        &-text
            color: base.$fg-2
        // Voice room icon hover
        &-icon
            fill: base.$fg-2

/*
 * --- Labels ---
 */

// X/Y allowed label
.LimitLabel-container
    background-color: base.$bg-0

// Current user count
.GuildedText-container-type-heading6
    color: base.$fg-2

// Max user count
.LimitLabel-limit
    color: base.$fg-1

/*
 * --- Voice settings ---
 */

// Hotkey label
.HotkeyDisplay
    &-container
        border-color: base.$border-dark-0
    &-key
        background-color: transparent
// + before the key
.HotkeysDisplay-key-wrapper:not(:first-child)::before
    color: base.$fg-1
// Edit keybinds
.TextButton-container-type-light
    color: var(--NihilityLink)
    @include set.transition(color)
    &.TextButton-container-desktop:hover
        color: var(--NihilityLinkHover)
// Keybind in the settings
.ItemKeybindInput-container
    background-color: base.$bg-2
// Sub-text
.GuildedText-container-type-subtextHeading
    color: base.$fg-1
// Keybind recorder
.HotkeyRecorder-container
    border-color: base.$fg-0
    // Currently recording
    &.HotkeyRecorder-container-recording
        border-color: base.$border-light-2
// Add another
.ItemKeybindInput-container-multiple-entities-allowed .ItemKeybindInput-subtext-wrapper
    // + Add keybind
    .ItemKeybindInput-plus-sign, .ItemKeybindInput-subtext
        fill: base.$fg-1
        color: base.$fg-1
    // Hover
    &:hover .ItemKeybindInput-plus-sign, &:hover .ItemKeybindInput-subtext
        fill: base.$fg-2
        color: base.$fg-2

/*
 * --- Voice card ---
 */

.VoiceConnectionDisplayPanelContents
    // Whole container
    &-container
        background-color: base.$bg-0
    // Voice header
    &-info-wrapper
        border-bottom: 0
        // Voice header hover
        &::after
            background-color: base.$bg-hover

.VoiceConnectionDisplayInfo
    // Voice header info display
    &-container
        background-color: transparent
    // Voice header info icon
    &-icon
        fill: base.$fg-1

// Voice header toggle buttons
.VoiceConnectionDisplayButtons-button
    background-color: base.$bg-1
    fill: base.$fg-2

// Voice header toggle button hover
.SVGIconWithTooltip-container-clickable:hover
    fill: base.$fg-3

// Voice participant list
.VoiceConnectionDisplayPanelContents-participants
    background-color: base.$bg-1

// Voice participant
.VoiceChannelGroupUser-container
    // Hover
    &:hover
        background-color: base.$bg-3
    // Right clicked
    &.VoiceChannelGroupUser-container-active
        background-color: base.$bg-2

// Voice participants icon
.VoiceConnectionDisplayParticipants-participants-icon
    fill: base.$fg-0

// Invite icon
.SVGIconWithTooltip-container
    fill: base.$fg-1

// Connection
.VoiceConnectionDisplayInfo
    &-connection
        // Good connection
        &-good &-icon
            fill: base.$good-0
        &-good .GuildedText-container
            color: base.$good-1 !important
        // Not bad, but neither a good connection
        &-warn &-icon
            fill: base.$neutral-0
        &-warn .GuildedText-container
            color: base.$neutral-1 !important
        // Bad connection
        &-bad &-icon
            fill: base.$bad-0
        &-bad .GuildedText-container
            color: base.$bad-1 !important
        // Transition
        &-icon
            @include set.transition(fill)
    &-container .GuildedText-container
        @include set.transition(color)