body
    background-color: $nihility-bg-1

// Variable definition/redefinition
body,
.ChannelWrapper-container,
.ChatChannelMessagesList-container,
.SlateEditor-container-type-default
    @include set-var(--body-text-color, $nihility-fg-2)
    @include set-var(--nihility-local-fg, $nihility-fg-2)
    @include set-var(--game-color, $nihility-theme-3)
    @include set-var(--border-color, $nihility-bg-1)
    color: $nihility-fg-2
// Change selection
::selection
    background-color: rgba($nihility-theme, 0.6)
    color: white
// Change variables
.AppV2-container-minimal-nav
    @include set-var(--left-v4-nav-color, $nihility-bg-0)
    @include set-var(--nav-v4-sidebar-background-color, $nihility-bg-0)