@require "../variables"
@require "../content"

rgba-accent-0 = alpha(accent-0, 0.6)

:root
    --accent-0    : accent-0
    --accent-1    : accent-1
    --accent-2    : accent-2
    --accent-foreground   : accent-fg
    --accent-selection    : rgba-accent-0

body
    @extends $Panel-4

// Variable definition/redefinition
body,
.ChannelWrapper-container,
.ChatChannelMessagesList-container,
.SlateEditor-container-type-default
    --body-text-color: fg-2
    --game-color: var(--accent-0)
    --border-color: bg-1
    @extends $TextMedium
// Change selection
::selection
    background-color: var(--accent-selection)
    color: white
// Change variables
.AppV2-container-minimal-nav
    --left-v4-nav-color: bg-0
    --nav-v4-sidebar-background-color: bg-0