@require "../variables"
@require "../content"

rgba-accent-0 = alpha(accent-0, 0.6)
rgba-accent-1 = alpha(accent-0, 0.15)

:root
    --accent-0            : accent-0
    --accent-1            : accent-1
    --accent-2            : accent-2
    --accent-foreground   : accent-fg
    --accent-selection    : rgba-accent-0
    --accent-transparent  : rgba-accent-1

body
    @extends $PanelDark

// Variable definition/redefinition
body,
.ChannelWrapper-container,
.ChatChannelMessagesList-container,
.SlateEditor-container-type-default
    --body-text-color: fg-colour[2]
    --game-color: var(--accent-0)
    --border-color: bg-colour[2]
    @extends $TextMedium
// Change selection
::selection
    background-color: var(--accent-selection)
    color: white
// Change variables
.AppV2-container-minimal-nav
    --left-v4-nav-color: bg-colour[1]
    --nav-v4-sidebar-background-color: bg-colour[1]