/*
 * --========================--
 *    Channel content styles
 * --========================--
 */
    
    
/*
 *
 * -=- Misc -=-
 *
 */

.FormConfirmButtonV2-container
    // Button
    &.FormConfirmButtonV2-container-hollow
        border-color: $fg-0
        // Button hover glare
        &:not(.FormConfirmButtonV2-container-disabled)::after
            background-color: $bg-hover
    // Button hover
    &-desktop.FormConfirmButtonV2-container-hollow:hover
        border-color: $fg-0
    // Delete/remove buttons
    &.FormConfirmButtonV2-container-hollow.FormConfirmButtonV2-container-type-delete
        border-color: $bad-0

    // Bordered button
    &.FormConfirmButtonV2-container-type-white,
    &.FormConfirmButtonV2-container-type-white.FormConfirmButtonV2-container-hollow,
    &-desktop.FormConfirmButtonV2-container-type-white.FormConfirmButtonV2-container-hollow:hover
        border-color: $border-light-1
        // Content
        .FormConfirmButtonV2-button-content
            color: $fg-3

.GuildedText-container-type
    // For server invite titles,
    &-heading2
        color: $fg-3
    // For level titles, message thread pop up text
    &-subtext2
        color: $fg-1
    // Status messages
    &-subtext3
        color: $fg-2

// Not loaded
.LayeredPageContent-fetch-error
    background-color: $bg-3

// Not found/Not loaded
.NullStateV2
    &-title
        color: $fg-3
    &-container-size-md &-title,
    &-subtitle
        color: $fg-2

/*
 *
 * -=- Formatting -=-
 *
 */

/*
 * --- Paragraph ---
 */

// Paragraph with only emotes
.ParagraphRenderer-only-reaction
    font-size: 3rem
    // If there is only emote paragraph above, remove margin
    & + &
        margin-top: 0 !important
// Emote
.ReactionRenderer-child
    padding: 0
    border: 0
.ReactionRenderer-image
    top: 0

/*
 * --- Title ---
 */

.SlateHeadingRenderer
    color: $fg-3


/*
 * --- Quote block ---
 */

.BlockQuoteContainerRenderer
    background-color: $shading-0
    border-left-color: var(--NihilityTheme1)
    border-left-width: $radius-1 + 0.1rem
    border-radius: $radius-0
    overflow: hidden
    &.SlateContainerRenderer.slate-margin-lg
        padding: $spacing-1
        padding-left: $spacing-2

/*
 * --- Code block ---
 */

// Whole code block
.CodeContainerRenderer-container,
// Code block in Markdown plain text
.PrismTokenCodeBlockRenderer-container
    background-color: $bg-1
    border-radius: $radius-2
    // Make it darker in editor and embeds to not match background color
    .ChatChannelInput-editor &,
    .SlateEditor-editor &,
    // Embeds
    .ChatEmbed-container &,
    .OpenGraphEmbed-content &,
    .TeamEmbedCard-container &
        background-color: $bg-0
    // Make sure Markdown code block also gets it
    code
        font-family: 'Courier', monospace

// Code block line
.CodeLineRenderer
    background-color: transparent

// Code block language
.CodeContainerRenderer-language-indicator
    .CalloutBadge-container
        background-color: black
        color: $fg-code

.GuildedSelect-container-option-color-gray
    // Label in editor
    .GuildedSelect-default-option-wrapper
        color: $fg-1
    // Label's arrow in editor
    .Select-arrow
        border-top-color: $fg-1

// Label's arrow acitve in editor
.Select.is-open > .Select-control .Select-arrow
    border-top-color: $fg-2

/*
 * --- Lists ---
 */

.UnorderedListRenderer
    // Every odd nest
    &, & & &, & & & & &
        list-style-type: square
    // Every even nest
    & &, & & & &, & & & & & &
        list-style-type: circle

/*
 * --- Formatting marks ---
 */

.MarkRenderer
    // Bold text
    &-bold
        color: $fg-format
    // Inline code
    &-inline-code, &-inline-code-v2
        background-color: $bg-1
        color: $fg-code
        // Make it darker in the editor, block quotes and embeds to not match background color
        .BlockQuoteContainerRenderer &,
        .ChatChannelInput-editor &,
        .SlateEditor-editor &,
        // Embeds
        .ChatEmbed-container &,
        .OpenGraphEmbed-content &,
        .TeamEmbedCard-container &
            background-color: $bg-0

// Old inline code
.PrismTokenInlineRenderer-container-type-code
    background-color: $bg-1
    color: $fg-code
    // Make it darker in the editor, block quotes and embeds to not match background color
    .BlockQuoteContainerRenderer &,
    .ChatChannelInput-editor &,
    .SlateEditor-editor &,
    // Embeds
    .ChatEmbed-container &,
    .OpenGraphEmbed-content &,
    .TeamEmbedCard-container &
        background-color: $bg-0

// Template parameters
.TemplateParameter-container,
// Channel mentions
.ChannelPill-container
    color: $fg-3
    background-color: rgba($fg-3, 0.1)
// Template icon
.TemplateParameter-icon
    fill: $fg-1

// Spoilers
.SpoilerRenderer-container
    background-color: $bg-0
    border-radius: $radius-2
    padding: 0 $spacing-side $spacing-top $spacing-side

// Override bold/italic highlighting
.LinkRenderer
    &, &:visited, &:focus
        .MarkRenderer-read-only
            color: var(--NihilityLink)
    &:active, &:hover
        .MarkRenderer-read-only
            color: var(--NihilityLinkHover)

/*
 * --- Images ---
 */

// Images and videos
.MediaRenderer-content,
// Inner video
.RawVideoPlayer-video,
// Video overlay
.GradientOverlay-container.GradientOverlay-container-subtle-2
    border-radius: $radius-2

// Selected images and videos
.MediaRenderer-content-selected
    border-color: var(--NihilitySelect)

.RawVideoPlayer
    // Play arrow
    &-play-icon
        fill: $bg-1
        filter: drop-shadow($shadow)
// Video buttons
.TeamStreamPlayerButton-container,
.TeamStreamVolumeControl-volume-icon,
.TeamStreamVolumeControl-volume-icon-wrapper:hover .TeamStreamVolumeControl-volume-icon
    fill: $bg-1
    filter: drop-shadow($shadow)
// Volume rail
.RangeSlider
    &-rail,
    &-container-type-light &-rail,
    &-container-type-light:hover &-rail
        background-color: rgba($bg-2, 0.7)
    &-selected-rail,
    &-container-type-light &-selected-rail,
    &-container-type-light:hover &-selected-rail
        background-color: rgba($progress, 0.9)
// Volume knob
.SliderKnob-container
    background-color: $bg-1
    box-shadow: $shadow

// Image caption
.MediaCaptionLineRenderer
    color: $fg-1
// Caption itself
.MediaRenderer-caption
    border-color: $fg-0
// Image caption being edited
.MediaRenderer-caption-selected,
.MediaRenderer-caption-has-text,
.MediaRenderer-caption-placeholder
    background-color: $shading-1

// Don't show it on the image caption that isn't being edited
.MediaRenderer-read-only
    background-color: transparent
    border-color: transparent

// Formatting in caption
.MediaCaptionLineRenderer .MarkRenderer
    // Bold text
    &-bold
        color: color.adjust($fg-format, $blackness: 20%)
    // Inline code
    &-inline-code, &-inline-code-v2
        background-color: $bg-0
        color: color.adjust($fg-code, $blackness: 20%)


/*
 * --- Content info ---
 */

.ContentEmbed
    // Content info not loaded
    &CardError-container
        background-color: $shading-0
        border-radius: $radius-2
        color: $fg-1
        @include set-transition(color)
        &:active, &:focus, &:hover
            color: $fg-2
    // Container selected in editor
    &Renderer-container-selected
        border-color: var(--NihilitySelect)
    // Channel name
    &CardFooter-channel-name
        color: $fg-2

// Content info
.DefaultContentEmbedCard-content
    // Wrapper
    &-wrapper
        //background-color: $bg-2
        background-color: $shading-0
        border-radius: $radius-2
        // Removes white border
        border: 0
        // Hovered over
        &:not(&-disabled)::after
            background-color: $bg-hover
            border-radius: $radius-2
    // Fading
    &-fade-overflow
        mask-image: linear-gradient(to bottom, black, transparent 95%)
        &::after
            display: none
            //background: linear-gradient(to bottom, transparent, $bg-2 20px)

/*
 * --- Embeds ---
 */

// Embed itself
.ChatEmbed-container,
.OpenGraphEmbed-content,
.TeamEmbedCard-container
    background-color: $bg-2
    //background-color: $shading-0
    border-radius: $radius-2
    // Removes white border
    border-top: 0
    border-right: 0
    border-bottom: 0

// Embed
.ChatEmbed,
.OpenGraphEmbed
    &Content
        // Hovered over
        &-container::after
            background-color: $bg-hover
            border-radius: $radius-2
        // Domain name
        &-domain
            color: $fg-1
            // Domain icon
            &-icon
                fill: $fg-1
        // Description's text
        &-description
            color: $fg-2
    &-content:not([style])
        border-left: none

// Footer background
.ChatEmbedFooter-container,
.ContentEmbedCardFooter-container
    background-color: $bg-1
    color: $fg-0


/*
 * --- Server invites ---
 */

.TeamEmbedCard
    // Server's description
    &-description
        color: $fg-2
    // Server invite hover
    &-container::after
        background-color: $bg-hover

// Member and follower count
.EmphasizedLabel-container-type-subtle
    color: $fg-1

// Member and follower seperator dot
.TeamFollowerMemberCount-separator
    background-color: $fg-0

/*
 * --- Polls/Forms ---
 */

// Form
.FormsRenderer
    border-radius: $radius-2
    &-selected
        border-color: var(--NihilitySelect)
.CustomFormWrapper-container-standalone
    background-color: $shading-0
    // Form border
    &::after
        border: none

// Form's title
.FormSection-section-header,
.CustomFormHeader-title
    color: $fg-3
// Form's description
.CustomFormHeader-description
    color: $fg-2

// Form "Question X"
.FormSection-section-header-style-result
    color: $fg-1

// Form "(optional)"
.FormFieldLabel-optional
    color: $fg-0
    @include set-transition(color)
    // Hover
    &:hover
        color: $fg-2

.TextInputWithLabel
    // Form input
    &-container
        border-color: $fg-0
    &-container-has-value &-input-element
        -webkit-text-fill-color: $fg-2
        color: $fg-2
    // Hover
    &-container-desktop:hover
        border-color: $fg-0
    
    // Label
    &-typeahead-suggestion, &-floating-label
        color: $fg-1

    // Form input label invalid
    &-container.TextInputWithLabel-container-invalid
        border-color: $bad-0

        &:hover
            border-color: $bad-0
        
        .TextInputWithLabel-floating-label,
        &:hover
            .TextInputWithLabel-floating-label
                border-color: $bad-0

// Form input valid
.TextInputWithLabel-container-valid.TextInputWithLabel-container-focused
    border-color: $good-0

// Form input icon
.ValidityIndicator-container
    // Invalid
    &-invalid
        border-color: $bad-0
        fill: $bad-0
    // Valid
    &-valid
        fill: $good-0


// Big form input
.TextAreaInput-text-area
    border-color: $fg-0
    color: $fg-2
    @include set-transition(border-color)
    // Big form input hover
    &:hover
        border-color: $border-light-1
    // Big form input focus
    &:focus
        border-color: var(--NihilityTheme2)


// Form input word count
.CharacterCount
    // Circle
    &-circle
        // Background
        &-background
            stroke: $bg-1
        // Character count
        &-valid, &-invalid-min
            stroke: $good-0
        // Too many symbols
        &-invalid-max
            stroke: $bad-0
    // Label too many symbols
    &-container-invalid-max
        color: $bad-0


// Form checkbox
.CheckmarkIcon-container .CheckmarkIcon-circle,
.CheckboxV2-container-desktop .CheckboxV2-box
    border-color: $fg-0
// Form checkbox hover
.CheckmarkIcon-container:hover .CheckmarkIcon-circle,
.CheckboxV2-container-desktop:hover .CheckboxV2-box
    border-color: var(--NihilityTheme1)
// Form checkbox checked
.CheckmarkIcon-container-selected .CheckmarkIcon-circle,
.CheckboxV2-container-checked .CheckboxV2-box
    background-color: var(--NihilityTheme1)
    border-color: var(--NihilityTheme0)
// Form checkbox checked hover
.CheckmarkIcon-container-clickable:hover.CheckmarkIcon-container-selected .CheckmarkIcon-circle
    background-color: var(--NihilityTheme2)
    border-color: var(--NihilityTheme1)

// Form checkbox label
.CheckboxV2-label,
.RadioOptionPanel-label,
.CheckboxV2-label-wrapper
    color: $fg-1

.CheckboxV2-container-unchecked:hover .CheckboxV2-label,
.RadioInput-container-unselected:hover .CheckboxV2-label,
.RadioInput-container-unselected:hover .RadioOptionPanel-label,
.CheckboxV2-container-checked .CheckboxV2-label,
.RadioOptionPanel-container-selected .CheckboxV2-label,
.RadioOptionPanel-container-selected .RadioOptionPanel-label
    color: $fg-2
// Form checkbox description
.CheckboxV2-description
    color: $fg-1
.CheckboxV2-container-checked .CheckboxV2-description
    color: $fg-2

.GuildedSelect-container
    // Form selector hover
    &.GuildedSelect-container-dark:hover .Select .Select-control,
    &:hover .Select .Select-control
        border-color: $fg-0 !important
    // Form selector
    .Select-control
        border-color: $fg-0 !important

// Form selector focused
.GuildedSelect-container.GuildedSelect-container-dark .Select.is-focused .Select-control
    border-color: var(--NihilityTheme2) !important

// Form selector icon
.GuildedSelectIcon-container
    fill: $fg-1

.GuildedSelect-container
    // Form selector arrow
    .Select-arrow
        border-top-color: var(--NihilityTheme0)
    // Form selector placeholder
    .Select-placeholder
        color: $fg-1
    // Form selector value
    .Select-value-label
        color: $fg-2

.Select
    // Form selector options
    &-menu
        background-color: $bg-4
        &-outer
            opacity: $floating-opacity
            border-color: $border-dark-1 !important

    // Form selector option
    &-option
        color: $fg-2
        &.is-focused
            background-color: $bg-5
        &.is-selected,
        .GuildedSelect-container &.is-selected,
        .GuildedSelect-container.GuildedSelect-container-dark &.is-selected
            background-color: $bg-3
        // &.is-focused.is-selected
        //     background-color: $bg-3
    // No results found - code container/blocks
    .GuildedSelect-container.GuildedSelect-container-dark &-noresults,
    &-noresults
        background-color: $bg-4

/*
 * --- Misc ---
 */

.ReplyingToUserHeader-post-link
    color: $fg-0


/*
 *
 * -=- Rich Text Input -=-
 *
 */

// Whole container
.ChatChannelInput-container
    border-radius: $radius-3

// Editor
.ChatChannelInput-container .ChatChannelInput-editor,
.ChatV2MessageReplyTooltipInput-title-container,
.DocEditor-container .DocEditor-content-input,
.ChannelTitleInput-container,
.ChatChannelInput-editor,
.Editor-container
    background-color: $bg-1

// Border after +
.ChatV2MessageReplyTooltipInput-title-icon::after,
.SlateInsertToolbar-container::after,
.ChannelTitleInput-icon::after
    display: none

/*
 * --- Forums and Profile ---
 */

// Input
.TeamThreadReplyCreator-unexpanded-wrapper,
.DraftInputWithTitleV2-title-wrapper
    background-color: $bg-1

.TeamThreadReplyCreator-container-desktop .TeamThreadReplyCreator-unexpanded-wrapper,
.DraftInputWithTitleV2-container-desktop.DraftInputWithTitleV2-container-unexpanded
    // Input hover
    &::after
        background-color: $bg-hover

// Input text
.DraftInputWithTitleV2-input::placeholder
    color: $fg-2

// Write a reply
.TeamThreadReplyCreator-title
    color: $fg-3

// Cancel button
.CancelText-container
    color: $fg-1
    // Cancel button hovered
    &:hover
        color: $fg-2

.CollapsedInput
    // Comment input
    &-container
        background-color: $bg-1
        // Comment input hover
        &::after
            background-color: $bg-hover
    // Comment input small
    &-container-size-sm
        color: $fg-1

.PostReplyQuoteButtons-option
    // Quote/Reply buttons
    &:not(:first-child):not(:first-child)::before
        background-color: $fg-0
    // Quote/Reply buttons active
    &, &:hover, &:visited, &:active, &:focus
        color: var(--NihilityTheme1)


// Leave a comment/Share
.ShareContentTrigger-text,
.ContentMetadataReplyInfo-reply-text
    color: $fg-1
    @include set-transition(color)

.ShareContentTrigger-container-desktop:hover .ShareContentTrigger-text,
.ContentMetadataReplyInfo-repliers:hover .ContentMetadataReplyInfo-reply-text
    color: $fg-2

// Leave a comment/Share icon
.ShareContentTrigger-icon,
.ContentMetadataReplyInfo-icon
    fill: $fg-1
    @include set-transition(fill)

.ShareContentTrigger-container-desktop:hover .ShareContentTrigger-icon,
.ContentMetadataReplyInfo-repliers:hover .ContentMetadataReplyInfo-icon
    fill: $fg-2


/*
 * --- Toolbar ---
 */

// Selected text toolbar picker
.SlateSelectionToolbar-toolbar
    background-color: $bg-0
    box-shadow: 0rem 0rem 1rem 0.1rem black

// Selected text toolbar caret
.SlateSelectionToolbar-caret
    border-top-color: $bg-0

// Toolbar icons
.SlateEditor-send-icon.SlateEditor-send-icon-disabled,
.ReactionPickerButton-icon,
.SlateEditor-clear-icon,
.SlateToolbarIcon-icon,
.SlateToolbarMenuIcon
    fill: $fg-1
    @include set-transition(fill)

// Hovered over toolbar icon
.SlateToolbarIcon-wrapper:hover .SlateToolbarIcon-icon,
.SlateEditor-reactions-control:hover,
.ReactionPickerButton-icon:hover,
.SlateToolbarMenuIcon-container:hover,
.SlateToolbarMenuIcon:hover,
.SlateToolbarMenuIcon *:hover .SlateToolbarMenuIcon-carat,
.SlateToolbarMenuIcon *:hover .SlateToolbarMenuIcon-icon
    fill: $fg-3

// Active toolbar icon
.SlateEditor-send-icon,
.SlateToolbarIcon-icon-active
    fill: $fg-2

// Drop arrow for toolbar icons
.SlateToolbarMenuIcon-carat
    fill: $fg-1


/*
 * --- Mention/emote picker ---
 */

// The picker
.AbstractTypeaheadPlugin-container,
.TypeaheadDrawer-container
    opacity: $floating-opacity
    background-color: $bg-3
    border-color: $border-dark-1

.SlateTypeaheadMenuHeader
    // Picker's header
    &-container
        background-color: $bg-1
        color: $fg-1
    // Picker's search icon (@, #)
    &-searchTerm
        color: $fg-2

// Template parameter icon
.TemplateParameterMenuItem-icon
    fill: $fg-1

// Item hovered over
.MenuItemEnabled-container
    &::after
        background-color: $bg-hover
    &-highlighted
        background-color: rgba($bg-hover, 0.1)
        .TemplateParameterMenuItem-icon
            fill: $fg-2

.MentionMenuItem
    // Item's icon
    &-broadcast
        fill: $fg-1
        // Picked item's icon
        .MenuItemEnabled-container-highlighted &
            fill: $fg-2
    // Item's description
    &-description
        color: $fg-1
        // Picked item's description
        .MenuItemEnabled-container-highlighted &
            color: $fg-2