/*
 * --========================--
 *    Channel content styles
 * --========================--
 */

$pill-bg: rgba($fg-3, 0.1)
    
/*
 *
 * -=- Misc -=-
 *
 */

.GuildedText-container-type
    // For server invite titles,
    &-heading2
        color: $fg-3
    // For level titles, message thread pop up text
    &-subtext2
        color: $fg-1
    // Status messages
    &-subtext3
        color: $fg-2

// Not loaded
.LayeredPageContent-fetch-error
    background-color: $bg-3

// Not found/Not loaded
.NullStateV2
    &-title
        color: $fg-3
    &-container-size-md &-title,
    &-subtitle
        color: $fg-2

/*
 *
 * -=- Formatting -=-
 *
 */

/*
 * --- Paragraph ---
 */

// Paragraph with only emotes
.ParagraphRenderer-only-reaction
    font-size: 200%
    // If there is only emote paragraph above, remove margin
    & + &
        margin-top: 0 !important
// Emote
.ReactionRenderer-child
    padding: 0
    border: 0
.ReactionRenderer-image
    top: 0

/*
 * --- Title ---
 */

.SlateHeadingRenderer
    color: $fg-3


/*
 * --- Quote block ---
 */

.BlockQuoteContainerRenderer
    background-color: $shading-1
    border:
        left-color: var(--NihilityTheme1)
        left-width: $radius-1
        radius: $radius-0
    overflow: hidden
    &.SlateContainerRenderer.slate-margin-lg
        padding: $spacing-1
            left: $spacing-2

/*
 * --- Code block ---
 */

// Whole code block
.CodeContainerRenderer-container,
// Code block in Markdown plain text
.PrismTokenCodeBlockRenderer-container
    background-color: $bg-0
    // Make sure Markdown code block also gets it
    code
        font-family: 'Courier', monospace

// Code block line
.CodeLineRenderer
    background-color: transparent

// Code block
.CodeContainerRenderer
    &-language-indicator
        .CalloutBadge-container
            color: $fg-code
    &-header
        background-color: $bg-1

.GuildedSelect-container-option-color-gray
    // Label in editor
    .GuildedSelect-default-option-wrapper
        color: $fg-1
    // Label's arrow in editor
    .Select-arrow
        border-top-color: $fg-1

// Label's arrow acitve in editor
.Select.is-open > .Select-control .Select-arrow
    border-top-color: $fg-2

/*
 * --- Lists ---
 */

.UnorderedListRenderer
    // Every odd nest
    &, & & &, & & & & &
        list-style-type: square
    // Every even nest
    & &, & & & &, & & & & & &
        list-style-type: circle

/*
 * --- Formatting marks ---
 */

.MarkRenderer
    // Bold text
    &-bold
        color: $fg-format
    // Inline code
    &-inline-code, &-inline-code-v2
        background-color: $bg-0
        color: $fg-code

// Old inline code
.PrismTokenInlineRenderer-container-type-code
    @extend .MarkRenderer-inline-code

// Template parameters
.TemplateParameter-container,
// Channel mentions
.ChannelPill-container
    color: $fg-3
    background-color: $pill-bg
// Template icon
.TemplateParameter-icon
    fill: $fg-1

// Spoilers
.SpoilerRenderer-container
    background-color: $bg-0
    border-radius: $radius-2
    padding: 0 $spacing-side $spacing-top $spacing-side

// Override bold/italic highlighting
.LinkRenderer
    &, &:visited, &:focus
        .MarkRenderer-read-only
            color: var(--NihilityLink)
    &:active, &:hover
        .MarkRenderer-read-only
            color: var(--NihilityLinkHover)

/*
 * --- Images ---
 */

// Images and videos
.MediaRenderer-content,
// Inner video
.RawVideoPlayer-video,
// Video overlay
.GradientOverlay-container.GradientOverlay-container-subtle-2
    border-radius: $radius-2

// Selected images and videos
.MediaRenderer-content-selected
    border-color: var(--NihilitySelect)

.RawVideoPlayer
    // Play arrow
    &-play-icon
        fill: $bg-1
        filter: drop-shadow($shadow)
// Video buttons
.TeamStreamPlayerButton-container,
.TeamStreamVolumeControl-volume-icon,
.TeamStreamVolumeControl-volume-icon-wrapper:hover .TeamStreamVolumeControl-volume-icon
    fill: $bg-1
    filter: drop-shadow($shadow)
// Volume rail
.RangeSlider
    &-rail,
    &-container-type-light &-rail,
    &-container-type-light:hover &-rail
        background-color: rgba($bg-2, 0.7)
    &-selected-rail,
    &-container-type-light &-selected-rail,
    &-container-type-light:hover &-selected-rail
        background-color: rgba($progress, 0.9)
// Volume knob
.SliderKnob-container
    background-color: $bg-1
    box-shadow: $shadow

// Image caption
.MediaCaptionLineRenderer
    color: $fg-1
// Caption itself
.MediaRenderer-caption
    border-color: $fg-0
// Image caption being edited
.MediaRenderer-caption-selected,
.MediaRenderer-caption-has-text,
.MediaRenderer-caption-placeholder
    background-color: $shading-1

// Don't show it on the image caption that isn't being edited
.MediaRenderer-read-only
    background-color: transparent
    border-color: transparent

// Formatting in caption
.MediaCaptionLineRenderer .MarkRenderer
    // Bold text
    &-bold
        color: color.adjust($fg-format, $blackness: 20%)
    // Inline code
    &-inline-code, &-inline-code-v2
        background-color: $bg-0
        color: color.adjust($fg-code, $blackness: 20%)


/*
 * --- Content info ---
 */

.ContentEmbed
    // Content info not loaded
    &CardError-container
        background-color: $bg-3
        border-radius: $radius-2
        color: $fg-1
        @include set-transition(color)
        &:active, &:focus, &:hover
            color: $fg-2
    // Container selected in editor
    &Renderer-container-selected
        border-color: var(--NihilitySelect)
    // Channel name
    &CardFooter-channel-name
        background-color: $pill-bg
        color: $fg-3
        // Guilded native
        padding: 0 4px
        border-radius: 2px

// Content info
.DefaultContentEmbedCard-content
    // Wrapper
    &-wrapper
        background-color: $bg-3
        border-radius: $radius-2
        // Removes white border
        border-color: $border-light-1
        // Hovered over
        &:not(&-disabled)::after
            background-color: $bg-hover
            border-radius: $radius-2
    // Fading
    &-fade-overflow::after
        //mask-image: linear-gradient(to bottom, black, transparent 95%)
        //&::after
        //display: none
        background: linear-gradient(to bottom, transparent, $bg-3 20px)

/*
 * --- Embeds ---
 */

// Embed itself
.ChatEmbed-container,
.OpenGraphEmbed-content,
.TeamEmbedCard-container
    background-color: $bg-2
    border:
        radius: $radius-2
        color: $border-light-1
    overflow: hidden
    &:not([style])
        border-left: solid 1px $border-light-1

// Embed
.ChatEmbed,
.OpenGraphEmbed
    &Content
        // Hovered over
        &-container::after
            background-color: $bg-hover
            border-radius: $radius-2
        &-description
            color: $fg-2
    &-content:not([style])
        border-left: solid 1px $border-light-1

.OpenGraphEmbedContent-domain
    color: $fg-1
    // Domain icon
    &-icon
        fill: $fg-1

.ChatEmbedContent-image,
.OpenGraphEmbedImage-image,
.ChatEmbedContent-thumbnail-image
    border-radius: $radius-0

// Footer background
.ChatEmbedFooter-container,
.ContentEmbedCardFooter-container
    background-color: $bg-1
    color: $fg-0


/*
 * --- Server invites ---
 */

.TeamEmbedCard
    // Server's description
    &-description
        color: $fg-2
    // Server invite hover
    &-container::after
        background-color: $bg-hover

.TournamentInviteEmbedCard-container
    background-color: $bg-1
    &::after
        background-color: $bg-hover

// Member and follower count
.EmphasizedLabel-container-type-subtle
    color: $fg-1

// Member and follower seperator dot
.TeamFollowerMemberCount-separator
    background-color: $fg-0

/*
 * --- Polls/Forms ---
 */

// Form
.FormsRenderer
    border-radius: $radius-2
    &-selected
        border-color: var(--NihilitySelect)
.CustomFormWrapper-container-standalone
    background-color: $shading-0
    border-color: $border-light-1
    // Form border
    &::after
        border: none

// Form's title
.CustomFormHeader-title
    color: $fg-3
// Form's description
.CustomFormHeader-description
    color: $fg-2

/*
 * --- Misc ---
 */

.ReplyingToUserHeader-post-link
    color: $fg-0


/*
 *
 * -=- Rich Text Input -=-
 *
 */

// Whole container
.ChatChannelInput-container
    border-radius: $radius-3

// Forum editor
.Editor-container
    border: solid 1px $border-light-1
    background-color: $bg-2

// Chat input
.ChatChannelInput-container .ChatChannelInput-editor,
.ChatV2MessageReplyTooltipInput-title-container,
.ChannelTitleInput-container,
.ChatChannelInput-editor,
// No write editor
.ChatChannelInput-no-permissions,
.ChatChannelInputPublic-container
    border: solid 1px $border-light-1
    background-color: $bg-3

// Doc editor
.DocEditor-container .DocEditor-content-input,
// List item editor
.TeamListItemsInput-editor
    background-color: transparent
    border: none

// Editor toolbar
.SlateToolbarStrip
    border-color: $border-light-1
    border-top: none
    // In doc editor
    .DocEditor-container &
        border:
            top: solid 1px $border-light-1
            left: solid 1px $border-light-1
            right: solid 1px $border-light-1
        padding: 0 $spacing-0
        border-radius: $radius-1

// Border after +
.ChatV2MessageReplyTooltipInput-title-icon::after,
.SlateInsertToolbar-container::after,
.ChannelTitleInput-icon::after
    display: none

// Change text in no write allowed inputs
.ChatChannelInput-no-permissions,
.ChatChannelInputPublic-container
    color: $fg-1
.ChatChannelInputPublic-header
    color: $fg-2

/*
 * --- Forums and Profile ---
 */

// Input
.TeamThreadReplyCreator-unexpanded-wrapper,
.DraftInputWithTitleV2-title-wrapper,
.CollapsedInput-container
    background-color: transparent
    border: solid 1px $border-light-1

.TeamThreadReplyCreator-container-desktop .TeamThreadReplyCreator-unexpanded-wrapper,
.DraftInputWithTitleV2-container-desktop.DraftInputWithTitleV2-container-unexpanded,
.CollapsedInput-container
    // Input hover
    &::after
        background-color: $bg-hover

// Input text
.DraftInputWithTitleV2-input::placeholder
    color: $fg-2

// Write a reply
.TeamThreadReplyCreator-title
    color: $fg-3

// Cancel button
.CancelText-container
    color: $fg-1
    // Cancel button hovered
    &:hover
        color: $fg-2

// Comment input small
.CollapsedInput-container-size-sm
    color: $fg-1

.PostReplyQuoteButtons-option
    // Quote/Reply buttons
    &:not(:first-child):not(:first-child)::before
        background-color: $fg-0
    // Quote/Reply buttons active
    &, &:hover, &:visited, &:active, &:focus
        color: var(--NihilityTheme1)


// Leave a comment/Share
.ShareContentTrigger-text,
.ContentMetadataReplyInfo-reply-text
    color: $fg-1
    @include set-transition(color)

.ShareContentTrigger-container-desktop:hover .ShareContentTrigger-text,
.ContentMetadataReplyInfo-repliers:hover .ContentMetadataReplyInfo-reply-text
    color: $fg-2

// Leave a comment/Share icon
.ShareContentTrigger-icon,
.ContentMetadataReplyInfo-icon
    fill: $fg-1
    @include set-transition(fill)

.ShareContentTrigger-container-desktop:hover .ShareContentTrigger-icon,
.ContentMetadataReplyInfo-repliers:hover .ContentMetadataReplyInfo-icon
    fill: $fg-2


/*
 * --- Toolbar ---
 */

// Selected text toolbar picker
.SlateSelectionToolbar-toolbar
    background-color: $bg-0
    box-shadow: 0 0 16px 2px black

// Selected text toolbar caret
.SlateSelectionToolbar-caret
    border-top-color: $bg-0

// Toolbar icons
.SlateEditor-send-icon.SlateEditor-send-icon-disabled,
.ReactionPickerButton-icon,
.SlateEditor-clear-icon,
.SlateToolbarIcon-icon,
.SlateToolbarMenuIcon
    fill: $fg-1
    @include set-transition(fill)

// Hovered over toolbar icon
.SlateToolbarIcon-wrapper:hover .SlateToolbarIcon-icon,
.SlateEditor-reactions-control:hover,
.ReactionPickerButton-icon:hover,
.SlateToolbarMenuIcon-container:hover,
.SlateToolbarMenuIcon:hover,
.SlateToolbarMenuIcon *:hover .SlateToolbarMenuIcon-carat,
.SlateToolbarMenuIcon *:hover .SlateToolbarMenuIcon-icon
    fill: $fg-3

// Active toolbar icon
.SlateEditor-send-icon,
.SlateToolbarIcon-icon-active
    fill: $fg-2

// Drop arrow for toolbar icons
.SlateToolbarMenuIcon-carat
    fill: $fg-1


/*
 * --- Mention/emote picker ---
 */

// The picker
.AbstractTypeaheadPlugin-container,
.TypeaheadDrawer-container
    opacity: $floating-opacity
    background-color: $bg-3
    border-color: $border-dark-1

.SlateTypeaheadMenuHeader
    // Picker's header
    &-container
        background-color: $bg-1
        color: $fg-1
    // Picker's search icon (@, #)
    &-searchTerm
        color: $fg-2

// Template parameter icon
.TemplateParameterMenuItem-icon
    fill: $fg-1

// Item hovered over
.MenuItemEnabled-container
    &::after
        background-color: $bg-hover
    &-highlighted
        background-color: rgba($bg-hover, 0.1)
        .TemplateParameterMenuItem-icon
            fill: $fg-2

.MentionMenuItem
    // Item's icon
    &-broadcast
        fill: $fg-1
        // Picked item's icon
        .MenuItemEnabled-container-highlighted &
            fill: $fg-2
    // Item's description
    &-description
        color: $fg-1
        // Picked item's description
        .MenuItemEnabled-container-highlighted &
            color: $fg-2