@require "../variables"
@require "../set"
@require "../content"
@require "../fake"
@require "./guilded-variables"

@require "./channels/any-channel"
@require "./channels/announcement"
@require "./channels/applications"
@require "./channels/chat"
@require "./channels/documents"
@require "./channels/events"
@require "./channels/forum"
@require "./channels/list"
@require "./channels/media"
@require "./channels/members-audit"
@require "./channels/overview"
@require "./channels/schedule"
@require "./channels/stream"
@require "./channels/content-components"
@require "./channels/voice"
@require "./channels/subscriptions"

/*
 * --========================--
 *    Channel content styles
 * --========================--
 */

/*
 *
 * -=- Misc -=-
 *
 */

.GuildedText-container
    &-type
        // For server invite titles,
        &-title,
        &-heading1,
        &-heading2,
        &-heading3,
        &-heading4
            @extends $TextLight
        &-heading5,
        &-heading6
            @extends $TextMedium
        // For level titles, message thread pop up text
        &-subtext1,
        &-subtext2,
        &-subtext3,
        &-subtextHeading
            @extends $TextDark
        &-subtextBodyWhite
            @extends $TextMedium
        // Misc
        &-bigBody
            @extends $TextDark
    &-color-gilded1
        @extends $TextThemeDull
    &-color-gray
        @extends $TextDark

// Not loaded
.LayeredPageContent-fetch-error
    @extends $PanelMedium

// Not found/Not loaded
.NullStateV2,
.TabEmptyState
    &-image
        filter: guilded-null-image-transform
    &-title
        @extends $TextLight
    &-container-size-md &-title,
    &-subtitle
        @extends $TextMedium
/*
 *
 * -=- Formatting -=-
 *
 */

/*
 * --- Paragraph ---
 */

// Paragraph with only emotes
.ParagraphRenderer-only-reaction
    font-size: 200%
    // If there is only emote paragraph above, remove margin
    & + &
        margin-top: 0 !important
// Emote
.ReactionRenderer-child
    padding: 0
    border: 0
.ReactionRenderer-image
    top: 0

/*
 * --- Title ---
 */

.SlateHeadingRenderer
    @extends $TextLight


/*
 * --- Quote block ---
 */

.BlockQuoteContainerRenderer
    background-color: shading[0]
    border-left-color: var(--game-color)
    border-left-width: radius-1
    border-radius: radius-0
    overflow: hidden
    &.SlateContainerRenderer.slate-margin-lg
        padding: spacing-2 spacing-2 spacing-2 spacing-3
    // Darker
    .ChatMessageThread-thread-parent-message &
        background-color: shading[1]

/*
 * --- Code block ---
 */

// Whole code block
.CodeContainerRenderer-container,
// Code block in Markdown plain text
.PrismTokenCodeBlockRenderer-container
    @extends $ContentRoughDark
    SetScrollbar()
    // Make sure Markdown code block also gets it
    code
        font-family: 'Courier', monospace

// Code block line
.CodeLineRenderer
    @extends $PanelTransparent

// Code block
.CodeContainerRenderer
    &-language-indicator
        .CalloutBadge-container
            color: fg-code
    &-header
        @extends $PanelDark

// Highlighted tokens
.PrismTokenGenericLanguageRenderer
    &-punctuation, &-operator
        @extends $TextDark
    &-preprocessor, &-macro, &-comment, &-prolog, &-doctype, &-cdata
        @extends $TextDarker
    // DIFF
    &-coord
        @extends $TextDark
    // Markdown
    &-blockquote, &-list
        @extends $TextDark
    &-title
        font-weight: bolder
        color: fg-colour[3]
    &-bold, &-italic
        color: fg-colour[3]

/*
 * --- Lists ---
 */

.UnorderedListRenderer
    // Every odd nest
    &, & & &, & & & & &
        list-style-type: square
    // Every even nest
    & &, & & & &, & & & & & &
        list-style-type: circle

/*
 * --- Formatting marks ---
 */

.MarkRenderer
    // Bold text
    &-bold
        color: fg-format
    // Inline code
    &-inline-code, &-inline-code-v2
        @extends $PanelReallyDark
        color: fg-code

.PrismToken
    // Embed inline code
    &InlineRenderer-container-type-code
        @extends .MarkRenderer-inline-code
    // Embed link
    &UrlRenderer-link
        Link()

// Template parameters
.TemplateParameter-container,
// Channel mentions
.ChannelPill-container
    @extends $TextMedium
    background-color: alpha(bg-hover, 0.2)
// Template icon
.TemplateParameter-icon
    @extends $SvgDark

// Spoilers
.SpoilerRenderer-container
    @extends $PanelReallyDark
    border-radius: radius-2
    padding: 0 spacing-side spacing-top spacing-side

// Override bold/italic highlighting
.LinkRenderer
    &, &:visited, &:focus
        .MarkRenderer-read-only
            @extends $TextThemeDull
    &:active, &:hover
        .MarkRenderer-read-only
            @extends $TextThemeBleached

/*
 * --- Images ---
 */

// Images and videos
.MediaRenderer-content,
// Inner video
.RawVideoPlayer-video,
// Video overlay
.GradientOverlay-container.GradientOverlay-container-subtle-2
    @extends $RadiusSmall

// Selected images and videos
.MediaRenderer-content-selected
    @extends $SetBorderSelection

.RawVideoPlayer
    // Play arrow
    &-play-icon
        fill: bg-colour[2]
        filter: drop-shadow(shadow)
// Video buttons
.TeamStreamPlayerButton-container,
.TeamStreamVolumeControl-volume-icon,
.TeamStreamVolumeControl-volume-icon-wrapper:hover .TeamStreamVolumeControl-volume-icon
    fill: bg-colour[2]
    filter: drop-shadow(shadow)

// Image caption
.MediaCaptionLineRenderer
    @extends $TextDark
// Caption itself
.MediaRenderer-caption
    border-color: border-light[1]
// Image caption being edited
.MediaRenderer-caption-selected,
.MediaRenderer-caption-has-text,
.MediaRenderer-caption-placeholder
    background-color: shading[0]

// Don't show it on the image caption that isn't being edited
.MediaRenderer-read-only
    @extends $PanelTransparent
    @extends $SetBorderTransparent

// Formatting in caption
.MediaCaptionLineRenderer .MarkRenderer
    // Bold text
    &-bold
        color: shade(fg-colour[3], 20%)
    // Inline code
    &-inline-code, &-inline-code-v2
        @extends $PanelReallyDark
        color: shade(fg-code, 20%)


/*
 * --- Content info ---
 */

.ContentEmbed
    // Content info not loaded
    &CardError-container
        background-color: bg-colour[4]
        color: fg-colour[1]
    // Container selected in editor
    &Renderer-container-selected
        @extends $SetBorderSelection

    &CardHeader-icon
        @extends $SvgDark
    &CardHeader-container
        @extends $TextMedium
    &CardFooter-channel-name
        @extends $FakeMention

.ListItemEmbedCard-assigned-to-wrapper
    @extends $TextDark
.CalendarEventEmbedCard-time
    @extends $TextDark

// Content info
.DefaultContentEmbedCard-content
    // Wrapper
    &-wrapper
        @extends $SetContentLightHighlighted
        // Hovered over
        &:not(&-disabled)::after
            @extends $ContentGlare
    // Fading
    &-fade-overflow::after
        //mask-image: linear-gradient(to bottom, black, transparent 95%)
        //&::after
        //display: none
        background-gradient: to bottom, transparent, bg-colour[4] 20px

/*
 * --- Embeds ---
 */

// Embed itself
.ChatEmbed-container,
.OpenGraphEmbed-content,
.TeamEmbedCard-container
    background-color: bg-colour[3]
    border-color: border-light[1]
    border-radius: radius-2
    border-style: solid
    overflow: hidden
    &:not([style])
        border-left: solid 1px border-light[1]

// Embed
.ChatEmbed,
.OpenGraphEmbed
    &Content
        // Hovered over
        &-container::after
            background-color: bg-hover
            border-radius: radius-2
        &-description
            @extends $TextMedium
    &-content:not([style])
        border-left: solid 1px border-light[1]

.OpenGraphEmbedContent-domain
    @extends $TextDark
    // Domain icon
    &-icon
        @extends $SvgDark

.ChatEmbedContent-image,
.OpenGraphEmbedImage-image,
.ChatEmbedContent-thumbnail-image
    @extends $RadiusMinimal

// Footer background
.ChatEmbedFooter-container,
.ContentEmbedCardFooter-container
    border-top: solid 1px border-dark[1]
    background-color: bg-colour[2]
    color: fg-colour[0]


/*
 * --- Server invites ---
 */

.TeamEmbedCard
    // Server's description
    &-description
        @extends $TextMedium
    // Server invite hover
    &-container::after
        @extends $ContentGlare

.TournamentInviteEmbedCard-container
    @extends $PanelDark
    &::after
        @extends $ContentGlare

// Member and follower count
.EmphasizedLabel-container-type-subtle
    @extends $TextDark

// Member and follower seperator dot
.TeamFollowerMemberCount-separator
    background-color: fg-colour[0]

/*
 * --- Polls/Forms ---
 */

// Form
.FormsRenderer
    @extends $RadiusSmall
    SetScrollable()
    &-selected
        @extends $SetBorderSelection
.CustomFormWrapper-container-standalone
    @extends $MildContentLightHighlighted
    // Form border
    &::after
        @extends $RemoveBorder

// Form's title
.CustomFormHeader-title
    @extends $TextLight
// Form's description
.CustomFormHeader-description
    @extends $TextMedium

/*
 * --- Misc ---
 */

.ReplyingToUserHeader-post-link
    @extends $TextDarker


/*
 *
 * -=- Rich Text Input -=-
 *
 */

// Whole container
.ChatChannelInput-container
    @extends $RadiusMedium

// Forum editor
.Editor-container:not(.Editor-container-type-bare)
    @extends $ContentLight

.SlateEditor
    &-container-type-reaction,
    &-container-type-simple
        --body-text-color: fg-colour[2]
        & ^[0]-editor
            SetScrollbar()

// Chat input
.ChatChannelInput-container .ChatChannelInput-editor,
.Editor-container.ChatV2MessageContents-editor,
.ChannelTitleInput-container,
.ChatChannelInput-editor,
// No write editor
.ChatChannelInput-no-permissions,
.ChatChannelInputPublic-container
    @extends $SubContentLight

.ChatChannelArchivedControl-container
    PanelBordered(bg-colour[5], border-light[1])

// Doc editor
.DocEditor-container .DocEditor-content-input,
// List item message editor
.TeamListItemsInput-editor
    @extends $PanelTransparent
    @extends $RemoveBorder

// List item note editor
.Editor-container.TeamListItemNoteEditor-editor
    background-color: bg-colour[5]
    //@extends $SubContentLight

// Forum reply editor
.TeamThreadPostEditor-editor .Editor-container
    @extends $PanelMediumHighlighted

// Editor toolbar
.SlateToolbarStrip
    @extends $SetBorderLight-1
    border-top: none
    // In doc editor
    .DocEditor-container &
        border-top: solid 1px border-light[1]
        border-left: solid 1px border-light[1]
        border-right: solid 1px border-light[1]
        padding: 0 spacing-0
        border-radius: radius-1

// Thread pop-up
.ChatV2MessageReplyTooltipInput
    // Content editor
    &-container .Editor-container
        @extends $PanelMedium
    // Title editor
    &-title-container
        @extends $ContentLight

// Border after +
.ChatV2MessageReplyTooltipInput-title-icon::after,
.SlateInsertToolbar-container::after,
.ChannelTitleInput-icon::after
    display: none

// Change text in no write allowed inputs
.ChatChannelInput-no-permissions,
.ChatChannelInputPublic-container
    @extends $TextDark
.ChatChannelInputPublic-header
    @extends $TextMedium

/*
 * --- Forums and Profile ---
 */

// Input
.TeamThreadReplyCreator-unexpanded-wrapper,
.DraftInputWithTitleV2-title-wrapper,
.CollapsedInput-container
    @extends $ContentLight

// Make it stand-out less
.CollapsedInput-container.ContentMetadataInlineReplyDisplay-collapsed-input
    @extends $ContentLight

.TeamThreadReplyCreator-container-desktop .TeamThreadReplyCreator-unexpanded-wrapper,
.DraftInputWithTitleV2-container-desktop.DraftInputWithTitleV2-container-unexpanded,
.CollapsedInput-container
    // Input hover
    &::after
        @extends $ContentGlare

// Input text
.DraftInputWithTitleV2-input::placeholder
    @extends $TextMedium

// Write a reply
.TeamThreadReplyCreator-title
    @extends $TextLight

// Cancel button
.CancelText-container
    @extends $TextDark
    // Cancel button hovered
    &:hover
        @extends $TextMedium

// Comment input small
.CollapsedInput-container-size-sm
    @extends $TextDark

.PostReplyQuoteButtons-option
    // Quote/Reply buttons
    &:not(:first-child):not(:first-child)::before
        background-color: fg-colour[0]
    // Quote/Reply buttons active
    &, &:hover, &:visited, &:active, &:focus
        color: var(--game-color)


// Leave a comment/Share
.ShareContentTrigger-text,
.ContentMetadataReplyInfo-reply-text
    @extends $TextDarkTransition

.ShareContentTrigger-container-desktop:hover .ShareContentTrigger-text,
.ContentMetadataReplyInfo-repliers:hover .ContentMetadataReplyInfo-reply-text
    @extends $TextMedium

// Leave a comment/Share icon
.ShareContentTrigger-icon,
.ContentMetadataReplyInfo-icon
    @extends $SvgDarkTransition

.ShareContentTrigger-container-desktop:hover .ShareContentTrigger-icon,
.ContentMetadataReplyInfo-repliers:hover .ContentMetadataReplyInfo-icon
    @extends $SvgMedium


/*
 * --- Toolbar ---
 */

// Selected text toolbar picker
.SlateSelectionToolbar
    &-toolbar
        @extends $ContentRoughDark
        //box-shadow: 0 0 16px 2px black

// Selected text toolbar caret
.SlateSelectionToolbar-caret
    border-top-color: bg-colour[1]

// Toolbar icons
.SlateEditor-send-icon.SlateEditor-send-icon-disabled,
.ReactionPickerButton-icon,
.SlateEditor-clear-icon,
.SlateToolbarIcon-icon,
.SlateToolbarMenuIcon
    @extends $SvgDarkTransition

// Hovered over toolbar icon
.ReactionPickerButton-container:hover .ReactionPickerButton-icon,
.SlateToolbarMenuIcon *:hover .SlateToolbarMenuIcon-carat,
.SlateToolbarMenuIcon *:hover .SlateToolbarMenuIcon-icon,
.SlateToolbarIcon-wrapper:hover .SlateToolbarIcon-icon,
.SlateToolbarMenuIcon-container:hover,
.SlateEditor-reactions-control:hover,
.SlateToolbarMenuIcon:hover
    @extends $SvgMedium

// Active toolbar icon
.ReactionPickerButton-container-active .ReactionPickerButton-icon,
.SlateToolbarIcon-icon-active,
.SlateEditor-send-icon
    @extends $SvgLight

// Drop arrow for toolbar icons
.SlateToolbarMenuIcon-carat
    @extends $SvgDark


/*
 * --- Mention/emote picker ---
 */

// The picker
.AbstractTypeaheadPlugin-container,
.TypeaheadDrawer-container
    opacity: floating-opacity
    background-color: bg-colour[4]
    border-color: border-light[2]
    border-radius: radius-2

.SlateTypeaheadMenuHeader
    // Picker's header
    &-container
        background-color: bg-colour[3]
        //border-bottom: solid 1px border-light[2]
        color: fg-colour[1]
    // Picker's search icon (@, #)
    &-searchTerm
        @extends $FakeMention
.TypeaheadMenu-list
    padding: spacing-0
    SetScrollbar()

// Template parameter icon
.TemplateParameterMenuItem-icon
    @extends $SvgDark

// Item hovered over
.MenuItemEnabled-container
    border-radius: radius-1
    border: solid 1px transparent
    &::after
        @extends $ContentGlare
    &-highlighted
        background-color: alpha(bg-hover, 0.1)
        @extends $FullBorderLight-1
        .TemplateParameterMenuItem-icon
            @extends $SvgMedium

.MentionMenuItem
    // Item's icon
    &-broadcast
        @extends $SvgDark
        // Picked item's icon
        .MenuItemEnabled-container-highlighted &
            @extends $SvgMedium
    // Item's description
    &-description
        @extends $TextDark
        // Picked item's description
        .MenuItemEnabled-container-highlighted &
            @extends $TextMedium