@require "../variables"
@require "../set"

$CheckboxUnchecked
    border-color: border-light[2]
    transition: background, border-color
$CheckboxUncheckedHover
    border-color: var(--accent-1)
    background-color: var(--accent-transparent)
$CheckboxUncheckedDisabled
    border-color: fg-colour[1]

$CheckboxChecked
    //background-gradient: to bottom right, var(--accent-0), var(--accent-2) 130%
    background-color: var(--accent-0)
    border-color: var(--accent-1)
$CheckboxCheckedHover
    //background-gradient: to bottom right, var(--accent-0), var(--accent-2) 100%
    background-color: var(--accent-1)
    border-color: var(--accent-2)
$CheckboxCheckedDisabled
    background-color: fg-colour[2]
    border-color: fg-colour[1]

$CheckboxCheck
    fill: var(--accent-foreground)

$ContentGlare
    background-color: bg-hover

ServerSelectBorder(size)
    border: solid size alpha(mix(active, fg-colour[0], 50%), 70%)

SetNotification()
    &::before
        @extends $Notification

define-carousel-fade(colour, size = "sm")
    // Repeatition
    for side in left right
        .CarouselList-container-size-{sm} .CarouselList-blur-light.CarouselList-{side}-blur
            background-gradient: to side, alpha(colour, 0), colour 75%