/*
 * -=- Misc -=-
 */

/*
 * --- Text ---
 */

.GH1-container
    color: $nihility-fg-3
.GH2-container
    color: $nihility-fg-2
.GH3-container
    color: $nihility-fg-1

.GuildedText-container-type
    &-heading1
        color: $nihility-fg-3
    &-heading4
        color: $nihility-fg-3
    &-subtext
        color: $nihility-fg-1

/*
 * --- Upload ---
 */

// Upload image
.ImageUploaderButton
    // Container
    &-container
        background-color: $nihility-bg-1
        border-color: $nihility-bg-0
        // Hover
        &::after
            background-color: $nihility-bg-hover
    // Icon
    &-icon
        fill: $nihility-fg-2
    // Text
    &-text
        color: $nihility-fg-2

/*
 * --- Status ---
 */

// Status
.StatusMessage-container
    color: $nihility-fg-2
    // Status info
    &-type-info
        // No mic detected
        &.StatusMessage-container-ephemeral,
        // Published on
        &.StatusMessage-container-persistent
            border-color: $nihility-bg-0
            background-color: $nihility-bg-4
    // Status hover
    &-desktop.StatusMessage-container-clickable::after
        background-color: $nihility-bg-hover
    // Copy invite alert
    &-type-success.StatusMessage-container-ephemeral
        background-color: $nihility-bg-1
        color: $nihility-good
        // Icon
        .StatusMessage-icon
            fill: $nihility-good

// Status text
.StatusMessage
    // Icon
    &-icon
        fill: $nihility-fg-2
    // Link
    &-link
        color: $nihility-fg-link
        // Hover
        &:hover
            color: $nihility-fg-link-hover

/*
 * -=- Widget -=-
 */

// Wrapper
.TeamCardDisplay-container,
.CardWrapper-container
    background-color: $nihility-bg-3

// Server
.TeamCardHeader
    // Name
    &-team-name
        color: $nihility-fg-3
    // Description
    &-description
        color: $nihility-fg-2

// Info
.EmphasizedLabel-container
    color: $nihility-fg-1

.EmbedCardFooter
    // Footer
    &-container
        background-color: $nihility-bg-1
    // Guilded's icon
    &-logomark
        fill: $nihility-theme

/*
 * -=- Gilded Buttons -=-
 */

/*
 * --- Inactive ---
 */

.FormConfirmButtonV2-container
    // Normal button
    &.FormConfirmButtonV2-container-type-gilded
        border: 0
        box-shadow: none
        background: $nihility-theme
    // Normal button text
    &-hollow .FormConfirmButtonV2-button-content,
    &-type-delete .FormConfirmButtonV2-button-content
        color: $nihility-fg-3
    // Button hovered over
    &-desktop.FormConfirmButtonV2-container-filled:hover
        box-shadow: none
    
    // Inactive button
    &.FormConfirmButtonV2-container-filled.FormConfirmButtonV2-container-disabled
        // Container
        &, &.FormConfirmButtonV2-container-desktop:hover
            background-color: $nihility-bg-0 !important
            border-color: $nihility-bg-3
    // Inactive button content
    &.FormConfirmButtonV2-container-hollow.FormConfirmButtonV2-container-disabled
        // Text
        .FormConfirmButtonV2-button-content,
        &.FormConfirmButtonV2-container-desktop:hover .FormConfirmButtonV2-button-content
            color: $nihility-fg-0
// Text
.FormConfirmButtonV2-button-content
    color: $nihility-fg-3

/*
 * -=- Icons -=-
 */

/*
 * --- Team badges ---
 */

// Verified badge
#icon-verified-badge path:first-child
    fill: $nihility-theme

/*
 * --- User badges ---
 */

.UserBadge
    // If there is an icon in the badge, remove the name
    &-image ~ &-name
        display: none
    // Override all colours for badges
    &-container:not(.UserFlairRow-icon)
        background-color: $nihility-glow-0 !important