/*
 * --- Loading dots ---
 */

// Loading dot container
.LoadingAnimationMicro-container
    width: 2.5rem

// Loading dots
.LoadingAnimationMicro-bar
    // Increase its width
    background-color: $nihility-theme
    // Disable other 2 loading dots
    &:nth-child(2),
    &:nth-child(3)
        display: none
    // Animate the only one
    &:nth-child(1)
        animation-name: nihilityLoad
        position: relative
        opacity: 100%
// Loading animation
@keyframes nihilityLoad
    0%
        left: 0rem
        transform: scaleX(1)
    25%
        transform: scaleX(1.5)
    45%
        transform: scaleX(1)
    50%
        left: 2rem
    75%
        transform: scaleX(1.5)
    95%
        transform: scaleX(1)
    100%
        left: 0rem
    
/*
 * --- Loading/connecting bar ---
 */

.NetworkReconnectionDisplay
    // Loading bar
    &-container, &-container-reconnecting
        background-color: $nihility-bg-0
    // Connected
    &-container
        .NetworkReconnectionDisplay-icon
            fill: $nihility-good
        .NetworkReconnectionDisplay-text
            color: $nihility-good

// Loading hairline
.LoadingHairline-container-is-active
    background: linear-gradient(270deg, $nihility-theme, $nihility-theme-3, $nihility-theme, $nihility-theme-3, $nihility-theme, $nihility-theme-3, $nihility-theme, $nihility-theme-3, $nihility-theme, $nihility-theme-3, $nihility-theme, $nihility-theme-3, $nihility-theme, $nihility-theme-3, $nihility-theme, $nihility-theme-3, $nihility-theme, $nihility-theme-3, $nihility-theme, $nihility-theme-3, $nihility-theme, $nihility-theme-3, $nihility-theme, $nihility-theme-3)

/*
 * --- Loading/connecting content ---
 */

.Img-skeleton
    // Unloaded images
    &-rounded-square, &-circle, &-square
        opacity: $nihility-skeleton-opacity
// Loading team banner
.TeamPageBanner-skeleton
    background: $nihility-skeleton-1
// No-avatar group's icon
.GroupAvatar-container-non-base
    background-color: $nihility-bg-4
    border-color: $nihility-bg-5
    border-radius: 50%
// Loading group icon
.GroupSelectorSkeleton-group
    background: $nihility-skeleton-0

// Loading channel icon
.TeamChannelsListSkeleton-icon
    background: $nihility-skeleton-0
// Loading channel name
.SkeletonPlaceholder-container-no-children
    background: $nihility-skeleton-0

.OverviewWidgetSkeleton
    // Loading announcement
    &-container, &-container-type-filled, &-container-announcement
        background-color: $nihility-bg-2
    // Loading avatar
    &-profile-picture, &-icon,
    // Loading others
    &-box, &-feed-item,
    // Loading text
    &-text, &-subtitle, &-paragraph
        background: $nihility-skeleton-1

// Input skeletons(?)
.DraftInputSkeleton-container-type-simple,
.DraftInputSkeleton-container,
.DraftInputSkeleton-control,
.DraftInputSkeleton-text
    background: $nihility-skeleton-0

// Form skeletons(?)
.CustomFormSkeleton-question,
.CustomFormSkeleton-answer
    background: $nihility-skeleton-0

// Forum skeletons(?)
.TeamThreadPostPanelDisplay
    &-container, &-container-reply
        background: $nihility-skeleton-0

// Tournaments, explore servers, etc. cards and titles
.ExploreSkeleton
    &-title, &-card
        background: $nihility-skeleton-1

.ChannelActivityDisplay-item
    @include set-var(--border-color, $nihility-skeleton-0)