// Code line
.CodeLineRenderer
    font-family: monospace

// Code highlight
.PrismTokenGenericLanguageRenderer
    // Special
    &-punctuation, &-operator
        color: $nihility-fg-1
    &-keyword, &-tag
        color: $nihility-code-keyword
    &-comment, &-prolog, &-doctype, &-cdata
        color: $nihility-fg-0
    
    // Values
    &-template-string, &-string
        color: $nihility-code-string
    &-number, &-boolean
        color: $nihility-code-value

    // Named
    &-selector
        color: $nihility-code-name
    &-property
        color: $nihility-code-property
    &-class-name
        color: $nihility-code-class-name
    &-function
        color: $nihility-code-function

    // Formatting
    &-bold, &-italic
        color: $nihility-fg-format
    &-underline
        text-decoration: underline solid
    &-strike
        text-decoration: line-through solid

    // Code
    &-code, &-code-block
        background-color: $nihility-bg-0
    &-code
        color: $nihility-fg-code

    // Blocks
    &-blockquote
        color: $nihility-fg-1
    &-title
        font-weight: bolder
        color: $nihility-fg-3