@require "../../set"
@require "../../variables"
@require "../guilded-variables"

/*
 * -=- Channel content screen header -=-
 */

// Channel header
.ScreenHeader-container
    @extends $PanelDark
    border-bottom: 0

// Screen header icon
.ScreenHeader-icon,
.TeamChannelItemContents-action-icon,
.ScreenHeader-icon-wrapper-size-lg .ScreenHeader-icon
    @extends $SvgDark

// Sets PFP border
.ScreenHeader-icon-wrapper
    --border-color: bg-colour[1]

// Screen header
.ScreenHeader
    // Title
    &-name
        @extends $TextMedium
    // Description
    &-description-child
        @extends $TextDark
.ChannelHeaderActionButtons
    // Screen header more button
    &-menu-button, &-more-options-button
        @extends $SvgDark
    // Screen header more button hover
    &-menu-trigger:hover &-menu-button,
    &-menu-trigger:hover &-more-options-button,
    &-options-menu-trigger:hover &-menu-button,
    &-options-menu-trigger:hover &-more-options-button
        @extends $SvgLight
// Screen header more pressed title
.ChannelHeaderMoreOptionsMenu-header
    @extends $TextDark

/*
 * -=- Members and Threads -=-
 */

// Member list
.SidebarWrapper-container,
// Member list in group editing
.CreateGroupUsersListLivePreview-members-section
    @extends $PanelDark

// Member list
//.PageSidebarWrapper
.SidebarWrapper-container
    position: relative
    top: 0
// Also remove padding that was made for member list
.ChannelWrapper-container-with-sidebar .ChannelWrapper-contents
    padding-right: 0
.TournamentPageContent-content,
.TeamPageContent-content
    margin-right: 0
// When it's collapsed, don't take space
@media ( max-width: 1000px )
    .SidebarWrapper-container-collapsed
        width: 0
        padding: 0

.SidebarInfoItem-container
    @extends $RadiusMedium

/*
 * --- Member list ---
 */

.TeamPageSidebarMembersV2-row
    --border-color: bg-colour[2]
    &:hover
        --border-color: bg-colour[3]
    &::after
        @extends $ContentGlare
// Member list section (roles)
.TeamPageSidebarMembers-roles:not(:first-child)
    margin-top: spacing-7

.ChannelListHeader
    // Member list
    &-container-type-default
        // Member list icon
        .ChannelListHeader-display-icon
            @extends $SvgDark
        // Member list role name
        .ChannelListHeader-text
            @extends $TextMedium
    // Member list role amount
    &-amount
        color: fg-colour[1]
        padding: 0 spacing-2
        background-color: bg-colour[1]
        border-radius: radius-2

// Member list user hover
.SidebarUsersRoleInfo-user::after
    @extends $ContentGlare

.VoiceSidebarMembersDisplay-join-voice
    // Member list join voice icon
    &-icon
        @extends $SvgDark
        // Member list join voice button
        &-wrapper
            @extends $PanelLight
    // Member list join voice hover
    &:hover &-text,
    &:hover &-icon
        @extends $FontMedium

// Member list invite icon
.SidebarInviteButton-icon
    @extends $SvgDarkTransition
    // Member list invite button
    &-wrapper
        @extends $PanelLight
// Member list invite hover
.SidebarInviteButton-container:hover
    .SidebarInviteButton-text, .SidebarInviteButton-icon
        @extends $FontMedium

/*
 * --- Thread list ---
 */

.ChannelThreadsInfo
    // Thread list "None"
    &-none
        @extends $TextDark
    // Thread list more
    &-more
        @extends $TextDarkTransition
        // Thread list more hover
        &:hover
            @extends $TextMedium
// Thread card
.ChatChannelListItemInfo
    // Hover
    &-container-actionable::after
        @extends $ContentGlare

    // Last activity at
    &-last-at
        @extends $TextDark

    // Reply count
    &-reply-row &-num-replies
        @extends $TextDark
    // Last reply
    &-latest-message
        @extends $TextMedium