@require "../guilded-variables"

/*
 * -=- Titlebars -=-
 */

.WindowsTitleBar
    &-container
        @extends $PanelDarkest
    // Title
    &-logo
        .LogoAndWordmarkV2-container
            fill: var(--accent-0)
            opacity: 50%
    // Buttons
    &-maximize-button
        .WindowsTitleBar-button-content
            border-color: fg-colour[0]
        &:hover .WindowsTitleBar-button-content
            border-color: fg-colour[2]
    &-minimize-button
        .WindowsTitleBar-button-content
            background-color: fg-colour[0]
        &:hover .WindowsTitleBar-button-content
            background-color: fg-colour[2]
    &-button:hover
        @extends $PanelMild
    &-close-button
        &:hover
            @extends $PanelMild
        // Icon
        .WindowsTitleBar-button-content
            @extends $SvgDarker
        &:hover .WindowsTitleBar-button-content
            @extends $SvgBadHighlight

/*
 * -=- Widget -=-
 */

// Wrapper
.TeamCardDisplay-container,
.CardWrapper-container
    @extends $PanelMedium

// Server
.TeamCardHeader
    // Name
    &-container-layout-vertical &-team-name,
    &-team-name
        @extends $TextLight
    // Description
    &-description
        @extends $TextMedium

// Info
.EmphasizedLabel-container
    @extends $TextDark

.EmbedCardFooter
    // Footer
    &-container
        @extends $PanelDark
    // Guilded's icon
    &-logomark
        @extends $SvgTheme
