/* === Body ===
 * Credits:
 * Contributors:
 * - IdkGoodName
 */

/* Variable definition/redefinition */
body,
.ChannelWrapper-container,
.ChatChannelMessagesList-container,
.SlateEditor-container-type-default {
    /* Background */
    --nihility-bg-0: #090909;
    --nihility-bg-1: #0d0d0d;
    --nihility-bg-2: #111111;
    --nihility-bg-3: #171717;
    --nihility-bg-4: #212121;
    --nihility-bg-hover: #777777;
    /* Text */
    --nihility-fg-0: #494949;
    --nihility-fg-1: #696969;
    --nihility-fg-2: #AAAAAA;
    --nihility-fg-3: #DDDDDD;
    --nihility-mark: #AAAAAA;
    --body-text-color: #AAAAAA;
    --game-color: #848484;
    /* Misc */
    --border-color: #0d0d0d;
    --nihility-theme: #595959;
    --nihility-theme-2: #676767;
    --nihility-theme-3: #848484;
    --nihility-mention: #CC2222;
}
/* Change selection */
::selection {
    background-color: #848484;
    color: white;
}
/* Change variables */
.AppV2-container-minimal-nav {
    --left-v4-nav-color: var(--nihility-bg-0);
    --nav-v4-sidebar-background-color: var(--nihility-bg-0);
}
