/*
 *
 * === Icons ===
 *
 */

/*
 * --- Team badges ---
 */

/* Verified badge */
#icon-verified-badge path:first-child {
    fill: var(--nihility-theme);
}

/*
 * --- User badges ---
 */

/* If there is an icon in the badge, remove the name */
.UserBadge-image ~ .UserBadge-name {
    display: none;
}
/* Makes the badge go before the name */
.UserBasicInfoDisplay-name-and-status-wrapper {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-self: flex-end;
}
/* Changes the badge from having spacing before itself to after itself */
.UserBadges-container,
.UserBasicInfoDisplay-user-badge {
    margin-left: 0;
    margin-right: 0.5rem;
}

/*
 * --- Avatars ---
 */

/* Rounds every avatar by 0.5rem instead of making it a circle */
.RepliesAddon-reply-creator-header-pic,
.TeamThreadReplyCreator-creator-image,
.ScrubberLabel-icon-image,
.DraftInputWithTitleV2-creator-image,
.CollapsedInput-container-size-sm .CollapsedInput-profile-picture,
.CircleImageStack-image-circle,
.UserProfilePictureControl-picture,
.ProfilePictureSkeleton-picture-skeleton,
.ReplyingToUserHeader-image,
.TeamMemberBubbleStack-bubble,
.TeamMemberBubble-image,
.LoggedInUserAvatar-picture,
.PlayerCardProfilePicture-avatar,
.ChatV2MessageHeader-avatar-wrapper,
.ChatV2MessageHeader-avatar {
    border-radius: 0.7rem;
}

/*
 * --- Status ---
 */

/* Rounds every status by 0.3rem instead of it being round */
.OnlineStatusDisplay-container,
.OnlineStatusDisplay-container-size-xs,
.LoggedInUserAvatar-online-status {
    border-radius: 0.3rem;
}

/* Overview */
.ShareContentTrigger-text,
.ShareContentTrigger-icon,
.ContentMetadataReplyInfo-icon,
.GuildedText-container.ContentMetadataReplyInfo-reply-text {
    fill: var(--nihility-fg-2);
    color: var(--nihility-fg-2);
}
