/*
 *
 * === Layout ===
 *
 */

/*
 * --- Scrollbar ---
 */

/* Scrollbar's container */
.VoiceChannelDisplay-container-child,
.Scrollable-container:hover {
    scrollbar-color: var(--nihility-fg-1) transparent;
}

/*
 * --- Legacy nav bar ---
 */

/* Whole bar */
.Navbar-container {
    background-color: var(--nihility-bg-0);
}
/* Guilded logo */
.LogoAndWordmarkV2-container-theme-light {
    fill: var(--nihility-fg-1);
}
/* Guilded logo active */
.LogoAndWordmarkV2-container-theme-gilded {
    fill: var(--nihility-theme-3);
}

/* The buttons */
.ChatChannelIcon-icon-group, /* DM icon */
.NavbarNavExploreIcon-link .NavbarNavExploreIcon-icon /* Other buttons */ {
    fill: var(--nihility-fg-1);
}
/* Selected icons */
.ChatChannelIcon-container-selected .ChatChannelIcon-icon-group {
    fill: var(--nihility-fg-2);
}

/*
 * --- Group, server lists and user card ---
 */

/* Server list bottom card */
.ChatChannelInput-container .ChatChannelInput-editor,
.Editor-container,
.ChatChannelInput-editor {
    background-color: var(--nihility-bg-0);
}
/* Server list selected server */
.NavSelectorItem-container-active .NavSelectorItem-contents::after {
    border-color: var(--nihility-fg-2);
}
/* Server list add icon */
.InlineAddItemControl-container {
    --inline-add-icon-background-color: var(--nihility-bg-2);
}
.InlineAddItemControl-add-icon {
    fill: var(--nihility-fg-2);
}
/* Server list revealer */
.NavV4ItemIcon-icon {
    fill: var(--nihility-fg-1);
}


/* Group list */
.GroupSelector-container,
.NavV4Sidebar-container {
    background-color: var(--nihility-bg-1);
}
/* The border around status and group's emote */
.GroupAvatarBadge-container-reaction,
.LoggedInUserAvatar-online-status {
    background-color: var(--nihility-bg-1);
}

/*
 * --- Cards ---
 */

/* User card's name */
.LoggedInUserAvatar-name {
    color: var(--nihility-fg-2);
}
/* User card's status */
.LoggedInUserStatus-content-with-status {
    color: var(--nihility-fg-1);
}
/* User card */
.NavIcon-container-type-vertical-nav,
.TransientMenuTrigger-container {
    fill: var(--nihility-fg-1);
}
.NavV4Footer-footer-content,
.NavV4Footer-right,
.NavV4Sidebar-container {
    background-color: var(--nihility-bg-0);
}

/* Server card button */
.TeamNavHeaderRowButton-container {
    background-color: var(--nihility-bg-3);
}
/* Server card button hovered */
.TeamNavHeaderRowButton-container:not(.TeamNavHeaderRowButton-container-disabled)::after {
    background-color: var(--nihility-bg-hover);
}
/* Server card button icon */
.TeamNavHeaderRowButton-icon {
    fill: var(--nihility-fg-2);
}
/* Server card button text */
.TeamNavHeaderRowButton-text {
    color: var(--nihility-fg-2);
}

/*
 * --- Search ---
 */
.TeamSearchBar-search-bar-input,
.SearchBarV2-container.SearchBarV2-container-focused {
    background-color: var(--nihility-bg-3);
}
.SearchBarInput-container-bordered,
.SearchBarV2-container-unfocused::after,
.SearchBarV2-container {
    border-radius: 1rem;
    background-color: var(--nihility-bg-2);
    border-color: var(--nihility-bg-1);
}

/*
 * --- Channels & Members ---
 */
body,
.TeamPageNavV3-container,
.ScreenHeader-container,
.SidebarWrapper-container,
.TeamNavMenu-container {
    background-color: var(--nihility-bg-1);
    border-bottom: 0;
}

.ScreenHeader-name {
    color: var(--nihility-fg-3);
}
.ScreenHeader-description-child {
    color: var(--nihility-fg-2);
}
/* Channel card */
.TeamChannelItemContents-container-unread .TeamChannelItemContents-name, .TeamChannelItemContents-container-channel-content .TeamChannelItemContents-name,
.TeamChannelItemContents-container:not(.TeamChannelItemContents-container-selected):hover .TeamChannelItemContents-name {
    color: var(--nihility-fg-2);
}
/* Sub-icon/global icon */
.ChannelIcon-icon-selected .ChannelIcon-icon-background,
.ChannelIcon-icon-background {
    fill: var(--nihility-fg-1);
    background-color: var(--nihility-bg-0);
}
/* Selected channel */
.TeamChannelItemContents-container-selected,
.TeamNavSectionItem-container-selected {
    background-color: var(--nihility-bg-3);
}
/* Channel hovered */
.TeamChannelItemContents-container::after,
.TeamNavSectionItem-container::after {
    background-color: var(--nihility-bg-hover);
}
/* Selected channel icons */
.ChannelIcon-icon-selected,
.ChannelIcon-icon-selected .ChannelIcon-icon,
.TeamNavSectionItem-container-selected .TeamNavSectionItem-icon {
    fill: var(--nihility-fg-3);
    color: var(--nihility-fg-3);
}

/*
 * --- Notifications ---
 */
.TeamChannelItemContents-container-unread::before,
.NavV4ItemIcon-icon-unread::before,
.NavSelectorItem-container-orientation-horizontal.NavSelectorItem-container-unread::before,
.TeamOverviewContentItemCard-container-unread::before {
    background-color: var(--nihility-mark);
}
