@use "./base"

// Borders
%FullBorderLight-0
    border: solid 1px base.$border-light-0
%FullBorderLight-1
    border: solid 1px base.$border-light-1
%FullBorderLight-2
    border: solid 1px base.$border-light-2

%FullBorderDark-0
    border: solid 1px base.$border-dark-0
%FullBorderDark-1
    border: solid 1px base.$border-dark-1

// Panels with dark border
%PanelBordered-0
    background: base.$bg-4
    @extend %FullBorderDark-1
%PanelBordered-1
    background: base.$bg-3
    @extend %FullBorderDark-1
%PanelBordered-2
    background: base.$bg-2
    @extend %FullBorderDark-1
%PanelBordered-3
    background: base.$bg-1
    @extend %FullBorderDark-1
%PanelBordered-4
    background: base.$bg-0
    @extend %FullBorderDark-1
%OverridePanelBordered-0
    background: base.$bg-4
    border-color: base.$border-dark-1
%OverridePanelBordered-1
    background: base.$bg-3
    border-color: base.$border-dark-1
%OverridePanelBordered-2
    background: base.$bg-2
    border-color: base.$border-dark-1
%OverridePanelBordered-3
    background: base.$bg-1
    border-color: base.$border-dark-1
%OverridePanelBordered-4
    background: base.$bg-0
    border-color: base.$border-dark-1

// Content with rough border
%ContentBordered-0
    background: base.$bg-4
    @extend %FullBorderLight-1
%ContentBordered-1
    background: base.$bg-3
    @extend %FullBorderLight-1
%ContentBordered-2
    background: base.$bg-2
    @extend %FullBorderLight-1
%ContentBordered-3
    background: base.$bg-1
    @extend %FullBorderLight-1
%ContentBordered-4
    background: base.$bg-0
    @extend %FullBorderLight-1
%OverrideContentBordered-0
    background: base.$bg-4
    border-color: base.$border-light-1
%OverrideContentBordered-1
    background: base.$bg-3
    border-color: base.$border-light-1
%OverrideContentBordered-2
    background: base.$bg-2
    border-color: base.$border-light-1
%OverrideContentBordered-3
    background: base.$bg-1
    border-color: base.$border-light-1
%OverrideContentBordered-4
    background: base.$bg-0
    border-color: base.$border-light-1
%OverrideContentBordered-darker
    background: base.$bg-0
    border-color: base.$border-light-1

// Content with mild border
%ContentMildlyBordered-0
    background: base.$bg-4
    @extend %FullBorderLight-0
%ContentMildlyBordered-1
    background: base.$bg-3
    @extend %FullBorderLight-0
%ContentMildlyBordered-2
    background: base.$bg-2
    @extend %FullBorderLight-0
%ContentMildlyBordered-3
    background: base.$bg-1
    @extend %FullBorderLight-0
%ContentMildlyBordered-4
    background: base.$bg-0
    @extend %FullBorderLight-0