@import "./base"

%FullBorderLight-0
    border: solid 1px $border-light-0
%FullBorderLight-1
    border: solid 1px $border-light-1
%FullBorderLight-2
    border: solid 1px $border-light-2

%FullBorderDark-0
    border: solid 1px $border-dark-0
%FullBorderDark-1
    border: solid 1px $border-dark-1