@require "./variables"
@require "./set"
@require "./text-content"
@require "./solid-content"
@require "./formed-content"

/*
 * -=- Content -=-
 */

$Notification
    background-color: notification

SetScrollbar()
    @extends $Scrollbar
    &::-webkit-scrollbar-thumb
        @extends $ScrollbarWebkit
$Scrollbar
    scrollbar-color: bar transparent !important
$ScrollbarWebkit
    background: bar !important
