@require "./variables"
@require "./set"

notification-text = mix(notification, fg-colour[3], 45%)
notification-text-hover = mix(notification, fg-colour[3], 25%)
mention-text = mix(mention, fg-colour[3], 60%)
mention-text-hover = mix(mention, fg-colour[3], 40%)

/*
 * -=- Content -=-
 */


$Notification
    background-color: notification

BasicLink()
    @extends $TextThemeDull
    &:hover
        @extends $TextThemeBleached
Link()
    &, &:visited, &:focus
        @extends $TextThemeDull
    &:hover &:active
        @extends $TextThemeBleached
SetScrollbar()
    @extends $Scrollbar
    &::-webkit-scrollbar-thumb
        @extends $ScrollbarWebkit
$Scrollbar
    scrollbar-color: bar transparent !important
$ScrollbarWebkit
    background: bar !important

HasHighlightPill(spacing)
    margin-left: spacing
    position: relative
GiveHighlightPill(content-height, spacing)
    +cache("hp;" + content-height + ";" + spacing)
        &::before
            content: ""
            width: spacing - 3px
            height: content-height
            background-color: var(--accent-1)
            border-radius: radius-0

            position: absolute
            top: 50% - (content-height / 2)
            left: -(spacing)

/*
 * -=- Foreground & Background -=-
 */

// Text
$TextDarker
    color: fg-colour[0]
$TextDark
    color: fg-colour[1]
$TextDarkTransition
    color: fg-colour[1]
    transition: color
$TextMedium
    color: fg-colour[2]
$TextMediumTransition
    color: fg-colour[2]
    transition: color
$TextLight
    color: fg-colour[3]

$TextNotification
    color: notification-text
$TextNotificationHover
    color: notification-text-hover
$TextMention
    color: mention-text
$TextMentionHover
    color: mention-text-hover
$TextTheme
    color: var(--accent-0)
$TextThemeDull
    color: var(--accent-1)
$TextThemeBleached
    color: var(--accent-2)
$TextThemeContrast
    color: var(--accent-foreground)
$TextImportant
    color: important
$TextNormal
    color: normal-0
$TextNormalHighlight
    color: normal-1
$TextBad
    color: bad-0
$TextBadHighlight
    color: bad-1
$TextNeutral
    color: neutral-0
$TextNeutralHighlight
    color: neutral-1
$TextGood
    color: good-0
$TextGoodHighlight
    color: good-1
$TextWarning
    color: warning

// Svg
$SvgDarker
    fill: fg-colour[0]
$SvgDark
    fill: fg-colour[1]
$SvgDarkTransition
    fill: fg-colour[1]
    transition: fill
$SvgMedium
    fill: fg-colour[2]
$SvgLight
    fill: fg-colour[3]

$SvgNotification
    fill: shade(notification-text, 20%)
$SvgNotificationHover
    fill: shade(notification-text-hover, 20%)
$SvgMention
    fill: shade(mention-text, 20%)
$SvgMentionHover
    fill: shade(mention-text-hover, 20%)
$SvgTheme
    fill: var(--accent-0)
$SvgThemeDull
    fill: var(--accent-1)
$SvgThemeBleached
    fill: var(--accent-2)
$SvgThemeContrast
    fill: var(--accent-foreground)
$SvgImportant
    fill: important
$SvgNormal
    fill: normal-0
$SvgNormalHighlight
    fill: normal-1
$SvgBad
    fill: bad-0
$SvgBadHighlight
    fill: bad-1
$SvgNeutral
    fill: neutral-0
$SvgNeutralHighlight
    fill: neutral-1
$SvgGood
    fill: good-0
$SvgGoodHighlight
    fill: good-1
$SvgWarning
    fill: warning

// Text & SVG
$FontDarker
    font-color: fg-colour[0]
$FontDark
    font-color: fg-colour[1]
$FontMedium
    font-color: fg-colour[2]
$FontLight
    font-color: fg-colour[3]

$FontTheme
    font-color: var(--accent-0)
$FontThemeDull
    font-color: var(--accent-1)
$FontThemeBleached
    font-color: var(--accent-2)
$FontImportant
    font-color: important
$FontNormal
    font-color: normal-0
$FontNormalHighlight
    font-color: normal-1
$FontBad
    font-color: bad-0
$FontBadHighlight
    font-color: bad-1
$FontNeutral
    font-color: neutral-0
$FontNeutralHighlight
    font-color: neutral-1
$FontGood
    font-color: good-0
$FontGoodHighlight
    font-color: good-1

// Background
$PanelLight
    background-color: bg-colour[6]
$PanelMediumHighlighted
    background-color: bg-colour[5]
$PanelMedium
    background-color: bg-colour[4]
$PanelMild
    background-color: bg-colour[3]
$PanelDark
    background-color: bg-colour[2]
$PanelReallyDark
    background-color: bg-colour[1]
$PanelDarkest
    background-color: bg-colour[0]
$PanelTransparent
    background-color: transparent
$PanelImportant
    background-color: important
$PanelBad
    background-color: bad-0
$PanelGood
    background-color: good-0

/*
 * -=- Bordered -=-
 */

SetBorderOverlay(colour, radius)
    +cache("set-border;" + colour + ";" + radius)
        display: block
        content: ""
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        background: transparent
        border: solid 1px colour
        border-radius: radius
        z-index: 5
        pointer-events: none

$RemoveBorder
    border: none

// Borders
$FullBorderLight-0
    border: solid 1px border-light[0]
$FullBorderLight-1
    border: solid 1px border-light[1]
$FullBorderLight-2
    border: solid 1px border-light[2]
$FullBorderLight-3
    border: solid 1px border-light[3]
$SetBorderLight-0
    border-color: border-light[0]
$SetBorderLight-1
    border-color: border-light[1]
$SetBorderLight-2
    border-color: border-light[2]
$SetBorderLight-3
    border-color: border-light[3]

$FullBorderDark-0
    border: solid 1px border-dark[0]
$FullBorderDark-1
    border: solid 1px border-dark[1]
$SetBorderDark-0
    border-color: border-dark[0]
$SetBorderDark-1
    border-color: border-dark[1]

$FullBorderTransparent
    border: solid 1px transparent
$FullBorderTheme
    border: solid 1px var(--accent-0)
$SetBorderTheme
    border-color: var(--accent-0)
$SetBorderThemeDull
    border-color: var(--accent-1)
$SetBorderSelection
    border-color: var(--accent-selection)
$SetBorderThemeTransparent
    border-color: var(--accent-transparent)
$SetBorderGood
    border-color: good-0
$SetBorderBad
    border-color: bad-0
$SetBorderTransparent
    border-color: transparent

/*
 * --- Panels ---
 */

PanelBordered(bg-col, border-col)
    background-color: bg-col
    border: solid 1px border-col
SetPanelBordered(bg-col, border-col)
    background-color: bg-col
    border-color: border-col

$SubContentDark
    PanelBordered(bg-colour[3], border-dark[0])
$SetSubContentDark
    SetPanelBordered(bg-colour[3], border-dark[1])
$ContentDark
    PanelBordered(bg-colour[2], border-dark[1])
$SetContentDark
    SetPanelBordered(bg-colour[2], border-dark[1])
$ContentRoughDark
    PanelBordered(bg-colour[1], border-dark[1])
$SetContentRoughDark
    SetPanelBordered(bg-colour[1], border-dark[1])

$MildContentLight
    PanelBordered(bg-colour[3], border-light[0])
$SetMildContentLight
    SetPanelBordered(bg-colour[3], border-light[0])
$ContentLight
    PanelBordered(bg-colour[4], border-light[0])
$SetContentLight
    SetPanelBordered(bg-colour[4], border-light[0])
$SubContentLight
    PanelBordered(bg-colour[6], border-light[0])
$SetSubContentLight
    SetPanelBordered(bg-colour[6], border-light[0])

$MildContentLightHighlighted
    PanelBordered(bg-colour[3], border-light[1])
$SetMildContentLightHighlighted
    SetPanelBordered(bg-colour[3], border-light[1])
$ContentLightHighlighted
    PanelBordered(bg-colour[4], border-light[1])
$SetContentLightHighlighted
    SetPanelBordered(bg-colour[4], border-light[1])
$SubContentLightHighlighted
    PanelBordered(bg-colour[6], border-light[1])
$SetSubContentLightHighlighted
    SetPanelBordered(bg-colour[6], border-light[1])

$ContentGreyHighlight
    PanelBordered(bg-colour[6], border-light[1])

$ContentTransparent
    background-color: transparent
    border: none

/*
 * --- Content Type Panels ---
 */

PanelType(colour)
    background-color: bg-colour[2]
    border: solid 1px alpha(colour, 0.25)
    color: colour
    fill: colour
$PanelWarning
    PanelType(warning)
$PanelInfo
    PanelType(info)
$PanelCaution
    PanelType(bad-1)
$PanelSuccess
    PanelType(good-1)
$PanelTheme
    background-color: var(--accent-0)
$PanelThemeDull
    background-color: var(--accent-1)

/*
 * -=- Radius -=-
 */

$RadiusMinimal
    border-radius: radius-0
$RadiusLow
    border-radius: radius-1
$RadiusSmall
    border-radius: radius-2
$RadiusMedium
    border-radius: radius-3
$RadiusHigh
    border-radius: radius-4
$RadiusRounded
    border-radius: 100%