@require "./variables"
@require "./content"

$FakeMention
    background-color: alpha(bg-hover, 0.2)
    color: fg-2
    font-weight: bold
    // Guilded native
    padding: 0 4px
    border-radius: 2px
$FakeBadge
    display: inline-block

    margin-left: 5px
    padding: 0 5px
    border-radius: 2px

    line-height: 15px
    height: 15px

    -webkit-user-select: none
    user-select: none
    font-size: 10px
    font-weight: bold
    text-transform: uppercase
    background-color: bg-2
    border: solid 1px border-light-1