@use "./base"
@use "./borders"

$pill-bg: rgba(base.$fg-3, 0.1)

%FakeMention
    background-color: $pill-bg
    color: base.$fg-3
    font-weight: bold
    // Guilded native
    padding: 0 4px
    border-radius: 2px
%FakeBadge
    display: inline-block

    margin-left: 5px
    padding: 0 5px
    border-radius: 2px

    line-height: 15px
    height: 15px

    -webkit-user-select: none
    user-select: none
    font:
        size: 10px
        weight: bold
    text-transform: uppercase
    @extend %ContentBordered-3