@require "./variables"

$RemoveItem
    display: none

/*
 * -=- Radius -=-
 */

$RadiusMinimal
    border-radius: radius-0
$RadiusLow
    border-radius: radius-1
$RadiusSmall
    border-radius: radius-2
$RadiusMedium
    border-radius: radius-4
$RadiusHigh
    border-radius: radius-5
$RadiusRounded
    border-radius: 100%