@require "./variables"

// Custom properties
font-color(colour)
    color: colour
    fill: colour

background-gradient()
    background: linear-gradient(arguments)

transition()
    fn = @transition-timing-function || ease-out
    duration = @transition-duration || global-transition-period
    transition: arguments duration fn

// Functions
attribute-value(value)
    '"' + value + '"'

// Used mixins
$TransitionColour
    transition: color
$TransitionFill
    transition: fill
$TransitionBackground
    transition: background
$TransitionBounce
    transition: border-radius
    transition-timing-function: bounce