@require "./variables"

// Sets both color and fill
font-color(colour)
    color: colour
    fill: colour

transition(args..., duration = global-transition-period, fn = ease-out)
    transition: args duration fn

$TransitionColour
    transition(color)
$TransitionFill
    transition(fill)
$TransitionBackground
    transition(background)
$TransitionBounce
    transition(border-radius, fn: bounce)