@require "./variables"

// Sets both color and fill
font-color(colour)
    color: colour
    fill: colour
background-gradient()
    background: linear-gradient(arguments)

transition()
    fn = @transition-timing-function || ease-out
    duration = @transition-duration || global-transition-period
    transition: arguments duration fn

$TransitionColour
    transition: color
$TransitionFill
    transition: fill
$TransitionBackground
    transition: background
$TransitionBounce
    transition: border-radius
    transition-timing-function: bounce